html {
	font-size: $rem-font-size;
}
body {
	position: relative;

	font-family: $document-font-family;
	font-weight: $document-font-weight;
	font-size: $document-font-size;
	line-height: $document-line-height;
	color: $document-color;

	background-color: $document-background;
}

img {
	max-width: 100%;
	// height: auto;
}

a {
	color: #7D7AFF;
	text-decoration: none;
	&:hover {
		color: #7D7AFF;
		text-decoration: underline;
	}
}

.input-hidden {
	position: absolute;
	top: 0;
	left: -9999px;
	opacity: 0;
	visibility: hidden;
}
.list-unstyled {
	padding: 0;
	margin: 0;
	list-style: none;
}


.flex-grow-md-0 {
	@include md() {
		flex-grow: 0 !important;
	}
}
.flex-grow-md-1 {
	@include md() {
		flex-grow: 1 !important;
	}
}

.w-sm-75 {
	@include sm() {
		width: 75%;
	}
}

.negative-margins {
	position: relative;
	@include lg() {
		margin-top: -250px;
		.breadcrumbs {
			li {
				color: #E9E9E9 !important;
				a {
					color: #E9E9E9 !important;
				}
				&:last-child {
					a {
						color: #E9E9E9 !important;
					}
				}
			}
		}
	}
}


.input-hidden {
	position: absolute;
	top: 0;
	left: -9999px;
	opacity: 0;
	visibility: hidden;
}

[lazy="loading"] {
	// position: relative;
	background-color: #fff;
	z-index: 9999;
	background-position: 50% 50% !important;
	background-size: 100px 100px !important;
}
[lazy="error"] {
	// position: relative;
	background-color: #fff;
	z-index: 9999;
	background-position: 50% 50% !important;
	background-size: 100px 100px !important;

}

.hover-scale {
	transition: linear .1s;
	&:hover {
		transform: scale(1.1, 1.1);
	}
}

.flex-shrink-md-0 {
	@media only screen and (min-width: 768px) {
		flex-shrink: 0 !important;
	}
}

.bg-gray {
	background-color: #F5F5F5 !important;
}

.border-right {
	&_gray-fill {
		border-color: #969FA9;
	}
}