.container-fluid {
	max-width: 1330px;
}
.row {
	margin-left: -15px;
	margin-right: -15px;
	&_indents_m {
		margin-left: -10px;
		margin-right: -10px;
		& > .column, & > [class*='col-'], & > .col {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	&_indents_s {
		margin-left: -5px;
		margin-right: -5px;
		& > .column, & > [class*='col-'], & > .col {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}
.no-gutters {
	& > [class*='col-'], & > .column {
		padding: 0;
	}
}

.column {
	padding-left: 15px;
	padding-right: 15px;
}