/* ibm-plex-sans-100 - latin_cyrillic */
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 100;
	src: local('IBM Plex Sans Thin'), local('IBMPlexSans-Thin'),
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-100italic - latin_cyrillic */
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: italic;
	font-weight: 100;
	src: local('IBM Plex Sans Thin Italic'), local('IBMPlexSans-ThinItalic'),
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-100italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-100italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-200 - latin_cyrillic */
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 200;
	src: local('IBM Plex Sans ExtraLight'), local('IBMPlexSans-ExtraLight'),
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-200italic - latin_cyrillic */
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: italic;
	font-weight: 200;
	src: local('IBM Plex Sans ExtraLight Italic'), local('IBMPlexSans-ExtraLightItalic'),
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-200italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-200italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-300 - latin_cyrillic */
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 300;
	src: local('IBM Plex Sans Light'), local('IBMPlexSans-Light'),
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-300italic - latin_cyrillic */
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: italic;
	font-weight: 300;
	src: local('IBM Plex Sans Light Italic'), local('IBMPlexSans-LightItalic'),
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-regular - latin_cyrillic */
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 400;
	src: local('IBM Plex Sans'), local('IBMPlexSans'),
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-500 - latin_cyrillic */
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 500;
	src: local('IBM Plex Sans Medium'), local('IBMPlexSans-Medium'),
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-italic - latin_cyrillic */
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: italic;
	font-weight: 400;
	src: local('IBM Plex Sans Italic'), local('IBMPlexSans-Italic'),
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-500italic - latin_cyrillic */
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: italic;
	font-weight: 500;
	src: local('IBM Plex Sans Medium Italic'), local('IBMPlexSans-MediumItalic'),
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-600 - latin_cyrillic */
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 600;
	src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'),
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-600italic - latin_cyrillic */
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: italic;
	font-weight: 600;
	src: local('IBM Plex Sans SemiBold Italic'), local('IBMPlexSans-SemiBoldItalic'),
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-700 - latin_cyrillic */
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 700;
	src: local('IBM Plex Sans Bold'), local('IBMPlexSans-Bold'),
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-700italic - latin_cyrillic */
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: italic;
	font-weight: 700;
	src: local('IBM Plex Sans Bold Italic'), local('IBMPlexSans-BoldItalic'),
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			 url('../fonts/ibm-plex-sans-v7-latin_cyrillic-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}