// functions
// =============================
// =============================

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
	@return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function calcValues($v-min, $v-max, $w-min, $w-max, $units: px) {
  $v-min: strip-unit($v-min);
  $v-max: strip-unit($v-max);
  $w-min: strip-unit($w-min);
  $w-max: strip-unit($w-max);
  
	$k: ($v-max - $v-min)/($w-max - $w-min);
	$b: $v-min - $k * $w-min;

	$b: $b + $units;

	@return calc( #{$k} * 100vw + #{$b} );
}


// =============================================
// =============================================







// fonts
// ================================
// ================================

@mixin fz($v-min, $v-max, $w-min, $w-max, $fallback: false) {
  
  font-size: $v-min;
  
  @media (min-width: $w-min) {
	@if ($fallback) {
	  font-size: $fallback;
	}
	font-size: calcValues($v-min, $v-max, $w-min, $w-max, px);
  }
  @media (min-width: $w-max) {
	font-size: $v-max;
  }
}

// ================================





// placeholder
// ===============


@mixin iph() {
	&.placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
	&::-webkit-input-placeholder {
		@content;
	}
}

// =============================================
// =============================================

