$rem-font-size: 15px;
$font: 'IBM Plex Sans', sans-serif;

// values for body tag
$document-font-family: $font;
$document-font-weight: 400;
$document-font-size: 1rem;
$document-color: #383B49;
$document-line-height: 1.3;
$document-background: #E0E0E0;
// $document-background: #fff;
// $document-background: transparent;