<template>
	<div class="personal-company-card position-relative">
		<div class="container-fluid">
			<div class="pb-2 negative-margins">
				<router-link class="text-h4 text-lg-white mb-2 d-inline-block" :to="{name: 'Home'}">
					<svg-icon class="svg-icon_reverse_90_negative font-size-10" name="angle" />
					<span class="ml-2 align-middle">На главную</span>
				</router-link>
			</div>
			<div class="row">
				<div class="col-lg-3 mb-4">
					<div class="personal-nav-select personal-nav-select_sticky" v-click-outside="closeSelect">
						<div class="personal-nav-button" @click="openSelect">
							<span>О нас</span>
							<svg-icon name="carret" />
						</div>
						<div class="personal-nav-wrap wrap">
							<scrollactive
								class="personal-nav"
								active-class="active"
								:offset="100"
								:duration="350"
								bezier-easing-value=".5,0,.35,1">
								<li>
									<a class="scrollactive-item active" href="#about-us" @click="closeSelectFromLink">О нас</a>
								</li>
								<li>
									<a class="scrollactive-item" href="#stat" @click="closeSelectFromLink">Статистика</a>
								</li>
								<li>
									<a class="scrollactive-item" href="#reviews" @click="closeSelectFromLink">Отзывы</a>
								</li>
								<li>
									<a class="scrollactive-item" href="#conditions" @click="closeSelectFromLink">Условия использования</a>
								</li>
								<li>
									<a class="scrollactive-item" href="#contacts" @click="closeSelectFromLink">Контакты</a>
								</li>
							</scrollactive>
						</div>
					</div>
				</div>
				<div class="col-lg-9 mb-4">
					<div>
						<div class="wrap p-4 mb-4" id="about-us">
							<div class="pt-lg-3 pl-lg-4 pr-lg-4">
								<div class="news-content text-h4">
									<h2>О нас</h2>
									Не следует, однако забывать, что реализация намеченных плановых заданий играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры в значительной степени обуславливает создание направлений прогрессивного развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа существенных финансовых и административных условий.
									<br><br>
									Значимость этих проблем настолько очевидна, что новая модель организационной деятельности способствует подготовки и реализации новых предложений. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Равным образом реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации новых предложений.
									<br><br>
									<blockquote>Не следует, однако забывать, что реализация намеченных плановых заданий играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры в значительной степени обуславливает создание направлений прогрессивного развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа существенных финансовых и административных условий.</blockquote>
								</div>
							</div>
						</div>
						<div class="wrap p-4 mb-4" id="stat">
							<div class="pt-lg-3 pl-lg-4 pr-lg-4">
								<h2>Статистика</h2>
								<div class="row pt-4">
									<div class="col-sm-6 col-md-3 mb-4">
										<div class="text-center">
											<img class="mb-2" v-lazy="require('../assets/images/employees2.svg')" width="50" alt="">
											<div class="text-h2 color-blue mb-2">4,7 млн</div>
											<div class="text-h5 font-weight-semi">резюме на сайте</div>
										</div>
									</div>
									<div class="col-sm-6 col-md-3 mb-4">
										<div class="text-center">
											<img class="mb-2" v-lazy="require('../assets/images/headhunter.svg')" width="50" alt="">
											<div class="text-h2 color-blue mb-2">135 тыс.</div>
											<div class="text-h5 font-weight-semi">работодателей</div>
										</div>
									</div>
									<div class="col-sm-6 col-md-3 mb-4">
										<div class="text-center">
											<img class="mb-2" v-lazy="require('../assets/images/document.svg')" width="50" alt="">
											<div class="text-h2 color-blue mb-2">123 тыс.</div>
											<div class="text-h5 font-weight-semi">вакансий</div>
										</div>
									</div>
									<div class="col-sm-6 col-md-3 mb-4">
										<div class="text-center">
											<img class="mb-2" v-lazy="require('../assets/images/web-site.svg')" width="50" alt="">
											<div class="text-h2 color-blue mb-2">4,7 млн</div>
											<div class="text-h5 font-weight-semi">посетителей в день</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="wrap p-4 mb-4" id="reviews">
							<div class="pt-lg-3 pl-lg-4 pr-lg-4">
								<h2>Отзывы</h2>
								<div class="carousel pt-4">
									<hooper
										class="carousel-hooper"
										ref="carousel"
										:trimWhiteSpace="true"
										:settings="hooperSettings">
										<slide>
											<div class="pl-lg-3 pr-lg-3">
												<div class="text-h4">
													<img v-lazy="require('../assets/images/lukoil-logo.png')" width="155" height="40" alt="">
													<div class="pt-3">
														<div class="text-h5 mb-2 pb-1">
															<div class="font-weight-semi">Анна Игоревна,</div>
															<div>HR-ассистент Лукойл Лимитед</div>
														</div>
														<cite>Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.</cite>
													</div>
												</div>
											</div>
										</slide>
										<slide>
											<div class="pl-lg-3 pr-lg-3">
												<div class="text-h4">
													<img v-lazy="require('../assets/images/lukoil-logo.png')" width="155" height="40" alt="">
													<div class="pt-3">
														<div class="text-h5 mb-2 pb-1">
															<div class="font-weight-semi">Анна Игоревна,</div>
															<div>HR-ассистент Лукойл Лимитед</div>
														</div>
														<cite>Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.</cite>
													</div>
												</div>
											</div>
										</slide>
										<slide>
											<div class="pl-lg-3 pr-lg-3">
												<div class="text-h4">
													<img v-lazy="require('../assets/images/lukoil-logo.png')" width="155" height="40" alt="">
													<div class="pt-3">
														<div class="text-h5 mb-2 pb-1">
															<div class="font-weight-semi">Анна Игоревна,</div>
															<div>HR-ассистент Лукойл Лимитед</div>
														</div>
														<cite>Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.</cite>
													</div>
												</div>
											</div>
										</slide>
										<hooper-navigation class="carousel__nav" slot="hooper-addons">
										</hooper-navigation>
									</hooper>
								</div>
							</div>
						</div>
						<div class="wrap p-4 mb-4" id="conditions">
							<div class="pt-lg-3 pb-lg-3 pl-lg-4 pr-lg-4">
								<h2>Условия использования</h2>
								<div class="row">
									<div class="col-lg-10 ml-auto mr-auto">
										<div class="text-center">
											<div class="text-h3 color-gray-dark pt-4 pb-4">Условия использования и обработки персональных данных, а также вся юридическая информация необходимая пользователю находится на соответствующей странице. Нажмите, чтобы перейти на нее:</div>
											<router-link class="button button_blue" :to="{name: 'Home'}">Перейти на страницу</router-link>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="wrap p-4 mb-4" id="contacts">
							<div class="pt-lg-3 pl-lg-4 pr-lg-4">
								<h2>Контакты</h2>
								<div class="row pt-1">
									<div class="col-sm-6 col-md-4 col-lg-6 col-xl-4 d-flex flex-column mb-4">
										<div class="wrap wrap-border-gray flex-grow-1">
											<div class="pt-3 pb-3 pl-4 pr-4">Решение вопросов и проблем с платформой</div>
											<hr class="devider mt-0 mb-0">
											<div class="p-4">
												<div class="mb-2">
													<svg-icon class="color-gray-fill" name="phone" />
													<span class="text-h5 ml-2 pl-1 align-middle"><a class="color-dark-main" href="tel:+998981234567">+998 98 123 4567</a></span>
												</div>
												<div class="mb-2">
													<svg-icon class="color-gray-fill" name="envelope" />
													<span class="text-h5 ml-2 pl-1 align-middle"><a href="mailto:mail@mail.com">mail@mail.com</a></span>
												</div>
												<div class="mb-2">
													<div class="d-inline-block">
														<img v-lazy="require('../assets/images/tg.svg')" width="17px" alt="">
													</div>
													<span class="text-h5 ml-2 pl-1 align-middle"><a href="#">Написать нам в телеграм</a></span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6 col-md-4 col-lg-6 col-xl-4 d-flex flex-column mb-4">
										<div class="wrap wrap-border-gray flex-grow-1">
											<div class="pt-3 pb-3 pl-4 pr-4">По вопросам <br> сотрудничества</div>
											<hr class="devider mt-0 mb-0">
											<div class="p-4">
												<div class="mb-2">
													<svg-icon class="color-gray-fill" name="phone" />
													<span class="text-h5 ml-2 pl-1 align-middle"><a class="color-dark-main" href="tel:+998981234567">+998 98 123 4567</a></span>
												</div>
												<div class="mb-2">
													<svg-icon class="color-gray-fill" name="envelope" />
													<span class="text-h5 ml-2 pl-1 align-middle"><a href="mailto:mail@mail.com">mail@mail.com</a></span>
												</div>
												<div class="mb-2">
													<div class="d-inline-block">
														<img v-lazy="require('../assets/images/tg.svg')" width="17px" alt="">
													</div>
													<span class="text-h5 ml-2 pl-1 align-middle"><a href="#">Написать нам в телеграм</a></span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6 col-md-4 col-lg-6 col-xl-4 d-flex flex-column mb-4">
										<div class="wrap wrap-border-gray flex-grow-1">
											<div class="pt-3 pb-3 pl-4 pr-4">По финансовым вопросам  сотрудничества</div>
											<hr class="devider mt-0 mb-0">
											<div class="p-4">
												<div class="mb-2">
													<svg-icon class="color-gray-fill" name="phone" />
													<span class="text-h5 ml-2 pl-1 align-middle"><a class="color-dark-main" href="tel:+998981234567">+998 98 123 4567</a></span>
												</div>
												<div class="mb-2">
													<svg-icon class="color-gray-fill" name="envelope" />
													<span class="text-h5 ml-2 pl-1 align-middle"><a href="mailto:mail@mail.com">mail@mail.com</a></span>
												</div>
												<div class="mb-2">
													<div class="d-inline-block">
														<img v-lazy="require('../assets/images/tg.svg')" width="17px" alt="">
													</div>
													<span class="text-h5 ml-2 pl-1 align-middle"><a href="#">Написать нам в телеграм</a></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr class="devider devider_on_background_gray mt-4 mb-4">
					<div class="row row_indents_s justify-content-end">
						<div class="column">Поделиться</div>
						<div class="column">
							<a href="#"><img src="../assets/images/tg.svg" width="20" alt=""></a>
						</div>
						<div class="column">
							<a href="#"><img src="../assets/images/fb.svg" width="20" alt=""></a>
						</div>
						<div class="column">
							<a href="#"><img src="../assets/images/vk.svg" width="20" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import {
		Hooper,
		Slide,
		Navigation as HooperNavigation
	} from 'hooper';
	import '../../node_modules/hooper/dist/hooper.css';
	import'../assets/styles/common/_carousel.scss'
	import svgIcon from '../components/SvgIcon.vue'
	export default {

		name: 'Personal-company-card',
		meta: {title: 'Личный кабинет'},

		data () {
			return {
				inputTheme: '',
				inputEmail: '',
				inputMsg: '',
				hooperSettings: {
					breakpoints: {
						0: {
							itemsToShow: 1
						},
						992: {
							itemsToShow: 2
						}
					}
				}
			}
		},
		methods: {
			showModal (modalName) {
				this.$modal.show(modalName)
			},
			openSelect (e) {
				let btn = e.currentTarget
				let wrap = btn.nextElementSibling
				btn.classList.toggle('active')
				wrap.classList.toggle('opened')
			},
			closeSelectFromLink (e) {
				e.currentTarget.closest('.personal-nav-wrap').classList.remove('opened')
				e.currentTarget.closest('.personal-nav-wrap').previousElementSibling.classList.remove('active')
			},
			closeSelect () {
				document.querySelector('.personal-nav-button').classList.remove('active')
				document.querySelector('.personal-nav-wrap').classList.remove('opened')
			},
		},
		components: {
			Hooper,
			Slide,
			HooperNavigation,
			svgIcon,
		}
	}
</script>

<style lang="scss" scoped>
</style>