<template>
	<div class="personal-authenticate">
		<div class="container-fluid">
			<div class="pb-2 negative-margins">
				<router-link class="text-h4 text-lg-white mb-3 d-inline-block" :to="{name: 'Home'}">
					<svg-icon class="svg-icon_reverse_90_negative font-size-10" name="angle" />
					<span class="ml-2 align-middle">На главную</span>
				</router-link>
			</div>
			<div class="row">
				<div class="col-lg-9 mb-4">
					<div class="wrap pt-4 pb-4 pl-4 pr-4 pl-sm-5 pr-sm-5 mb-4">
						<div class="p-sm-3">
							<h2>Код ЄДРПОУ или ИНН</h2>
							<div class="text-h4 color-gray-dark mb-3 pb-2">Введите код ЄДРПОУ или ИНН. Ваши данные не будут размещены и мы не передадим их кому-либо. Они нужны нам только для проверки подлинности вашей компании.</div>
							<form>
								<div class="form-group mb-3 pb-1">
									<input
										class="form-control form-control_simple" type="text"
										placeholder="Пожалуйста, введите ЄДРПОУ для компаний или ИНН для ФЛП"
										v-model="inputData" />
								</div>
								<div class="row">
									<div class="column mb-2">
										<button class="button button_blue button-clr" type="submit">Подтвердить</button>
									</div>
									<div class="column mb-2">
										<button class="button button_gray button-clr" type="button" @click="inputData = ''">Очистить</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="wrap pt-4 pb-4 pl-4 pr-4 pl-sm-5 pr-sm-5">
						<div class="pt-sm-3 pb-sm-3">
							<h2>Как подтвердить подлинность компании?</h2>
							<div class="text-h4">
								<div class="color-gray-dark mb-3">Подтвердить подлинность вашей компании очень просто:</div>
								<div class="mb-2"><strong>1)</strong> Введите код ЄДРПОУ или ИНН</div>
								<div class="mb-2"><strong>2)</strong> <a href="#">Проверьте ваши контакты</a> и будьте готовы принять звонок</div>
								<div class="mb-2"><strong>3)</strong> Наш сотрудник проверит код и позвонит вам, чтобы сообщить результат.</div>
								<div class="mb-2"><strong>Ваши данные никому не покажем!</strong></div>
							</div>

						</div>
					</div>
				</div>
				<div class="col-lg-3 mb-4">
					<div class="wrap pt-4 pb-4 pl-3 pr-3 p-xl-4">
						<div class="pl-xl-2 pr-xl-2 text-center">
							<h2>Остались вопросы?</h2>
							<div class="text-h5 mb-4 pb-sm-3">Если у вас возник вопрос или предложение, напишите нам.</div>
							<a class="button button_blue" href="#" @click.prevent="showModal('feedback-form')">Задать вопрос</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<modal
			class="modal-box"
			name="feedback-form"
			:adaptive="true"
			:width="'100%'"
			:minWidth="280"
			:maxWidth="1000"
			:height="'auto'"
			:scrollable="true">
			<div class="modal-box__in p-4 position-relative">
				<div class="pt-1 pb-1 pl-sm-4 pr-sm-4">
					<div class="modal-box__body text-center">
						<button class="modal-box__close button-clr" type="button" @click="hideModal('feedback-form')">
							<svg-icon name="close" />
						</button>
						<form>
							<h2>Мы всегда к вашим услугам</h2>
							<div class="color-gray-dark mb-4">Если у вас возник вопрос или предложение, напишите нам. Расскажите подробнее о вашем опыте использования продукта. Обратите внимание на качество, удобство, ее соответствие Вашим ожиданиям.</div>
							<div class="row row_indents_m">
								<div class="col-md-6">
									<div class="form-group mb-3">
										<input class="form-control form-control_simple" v-model="inputTheme" type="text" placeholder="Введите тему своего сообщения">
									</div>
									<div class="form-group mb-3">
										<input class="form-control form-control_simple" v-model="inputEmail" type="text" placeholder="Введите свою почту">
									</div>
								</div>
								<div class="col-md-6 d-flex flex-column">
									<div class="form-group mb-3 flex-grow-1">
										<textarea class="form-control form-control_simple h-100" rows="3" v-model="inputMsg" placeholder="Ваше сообщение ..."></textarea>
									</div>
								</div>
							</div>
							<div class="row justify-content-end align-items-center">
								<div class="column">
									<input class="button button_blue button-clr" type="button" value="Отправить сообщение" @click="hideModal('feedback-form'), showModal('thnx-dialog')">
								</div>
								<div class="column">
									<a class="color-gray-fill text-decoration-underline" href="#" @click.prevent="clearForm">Очистить</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</modal>
	</div>
</template>

<script>
	import '../assets/styles/common/_modal.scss'
	import svgIcon from '../components/SvgIcon.vue'
	export default {

		name: 'Personal-authenticate',
		meta: {title: 'Подтверждение подлинности'},
		data () {
			return {
				inputData: '',
				inputTheme: '',
				inputEmail: '',
				inputMsg: '',
				thnxImg: require('../assets/images/accept.svg')
			}
		},
		methods: {
			showModal(modalName) {
				this.$modal.show(modalName)
			},
			hideModal(modalName) {
				this.$modal.hide(modalName)
			},
			clearForm () {
				this.inputTheme = ''
				this.inputEmail = ''
				this.inputMsg = ''
			}
		},
		components: {
			svgIcon
		}
	}
</script>

<style lang="css" scoped>
</style>