<template>
	<div class="wrap p-4">
		<div class="pt-sm-3 pb-sm-3 pl-md-4 pr-md-4">
			<div v-show="!changeTemplate">
				<h2 class="mb-4">Пользователи</h2>
				<div class="table-responsive mb-5">
					<table class="table table_side-paddings_none text-h4">
						<thead>
							<tr>
								<th>Имя пользователя</th>
								<th>Роли пользователя</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr
								v-for="(tr, trIdx) in usersTrs"
								:key="trIdx">
								<td><router-link :to="{name: tr.userLink}">{{ tr.name }}</router-link></td>
								<td>
									<multiselect
										class="multiselect_simple"
										v-model="tr.select.value"
										:options="tr.select.options"
										:searchable="true"
										:close-on-select="true"
										:show-labels="false"
										:preselect-first="true"
										@close="tr.select.isTouched = true"
										:placeholder="tr.selectPlaceholder" />
								</td>
								<td>
									<div class="text-center pl-5 pr-5">
										<button class="button-close-gray button-clr" type="button-clr">
											<svg-icon name="close" />
										</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="wrap wrap-border-gray pt-3 pb-2 pl-4 pr-4 pl-md-5 pr-md-5">
					<div class="pt-1">
						<div class="row align-items-center flex-md-nowrap">
							<div class="column mb-3">
								<h2>Добавление пользователя</h2>
								<div class="color-gray-dark">Пользователь будет иметь доступ ко всей информации из Вашего аккаунта, но не сможет ничего добавлять или изменять. Администратор - имеет полный доступ на редактирование.</div>
							</div>
							<div class="column flex-shrink-0 mb-3">
								<a class="button button_blue mt-4" href="#" @click.prevent="changeTemplate = !changeTemplate">Добавить пользователя</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div v-show="changeTemplate">
				<h2 class="mb-4">Информация о пользователе</h2>
				<div class="row mb-3">
					<div class="column mb-2">
						<checkbox
							class="checkbox-circle"
							:type="'radio'"
							:name="'roleUser'"
							:id="'user'"
							:content="'Пользователь'"
							:checked="true">
						</checkbox>
					</div>
					<div class="column mb-2">
						<checkbox
							class="checkbox-circle"
							:type="'radio'"
							:name="'roleUser'"
							:id="'admin'"
							:content="'Администратор'"
							:checked="false">
						</checkbox>
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-sm-6 form-group">
						<input class="form-control form-control_simple" type="email" placeholder="Email">
					</div>
					<div class="col-sm-6 form-group">
						<input class="form-control form-control_simple" type="text" placeholder="Имя и фамилия">
					</div>
					<div class="col-sm-6 form-group">
						<input class="form-control form-control_simple" type="password" placeholder="Пароль (не менее 8 символов)">
					</div>
					<div class="col-sm-6 form-group">
						<div class="position-relative">
							<input class="form-control form-control_simple" type="password" placeholder="Подтвердите пароль">
							<button
								class="form-group__btn-change-type button-clr"
								type="button"
								@click="$event.currentTarget.previousElementSibling.type == 'password' ?
										$event.currentTarget.previousElementSibling.type = 'text' :
										$event.currentTarget.previousElementSibling.type = 'password'">
								<svg-icon class="color-gray-fill" name="eye" />
							</button>
						</div>
					</div>
					<div class="col-sm-6 form-group">
						<input class="form-control form-control_simple" type="tel" placeholder="Телефон">
					</div>
					<div class="col-sm-6 form-group">
						<checkbox
							:class="'checkbox-label-indents-0'"
							:type="'checkbox'"
							:name="'agree'"
							:id="'agree'"
							:checked="true">
							<div class="text-h6">Получать все те же уведомления, <br> что и у основного аккаунта</div>
						</checkbox>
					</div>
				</div>
				<div class="row align-items-center justify-content-end">
					<div class="column mb-2">
						<a class="button button_blue" href="#" @click.prevent="changeTemplate = !changeTemplate">Сохранить</a>
					</div>
					<div class="column mb-2">
						<a class="color-gray-fill text-decoration-underline text-decoration-underline_hover_none" href="#" @click.prevent="changeTemplate = !changeTemplate">Отмена</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import svgIcon from '../components/SvgIcon.vue'
	import checkbox from '../components/Checkbox.vue'
	import Multiselect from 'vue-multiselect'
	export default {

		name: 'Company-users',

		data () {
			return {
				changeTemplate: false,
				usersTrs: [
					{
						name: 'Имя Фамилия',
						userLink: 'Home',
						select: {
							value: [],
							isTouched: false,
							options: ['Администратор', 'Пользователь']
						},
					},
					{
						name: 'Имя Фамилия',
						userLink: 'Home',
						select: {
							value: [],
							isTouched: false,
							options: ['Администратор', 'Пользователь']
						},
					},
					{
						name: 'Имя Фамилия',
						userLink: 'Home',
						select: {
							value: [],
							isTouched: false,
							options: ['Администратор', 'Пользователь']
						},
					},
					{
						name: 'Имя Фамилия',
						userLink: 'Home',
						select: {
							value: [],
							isTouched: false,
							options: ['Администратор', 'Пользователь']
						},
					}
				]
			}
		},
		components: {
			Multiselect,
			svgIcon,
			checkbox
		}
	}
</script>

<style lang="css" scoped>
</style>