<template>
	<div class="wrap p-4 pl-lg-5 pr-lg-5">
		<div class="pt-lg-3 pb-lg-3">
			<h2 class="mb-4 mb-lg-5">Отклики</h2>
			<div class="wrap p-3 p-sm-4">
				<div class="pl-sm-2 pr-sm-2">
					<div class="text-h3 mb-4">
						Senior Front End Developer
						<div class="color-blue">от 2 500 000 сум/мес.</div>
						<hr class="devider mb-0 mt-4">
					</div>
					<resume-feedback
						class="mb-4"
						v-for="(resume, resumeIdx) in resumes"
						:key="resumeIdx"
						:obj="resume" />
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import resumeFeedback from '../components/Resume-feedback.vue'
	export default {

		name: 'Company-feedback',

		data () {
			return {
				resumes: [
					{
						title: 'Контент-менеджер (реклама, SMM)',
						pro: true,
						jobSeekerHref: 'Home',
						jobSeekerName: 'Панченко Роман Владимирович',
						jobSeekerAge: '32 года',
						jobSeekerLocationHref: 'Home',
						jobSeekerLocationCity: 'Ташкент',
						jobSeekerAbout: [
							{
								txt: 'Высшее образование · Неполная занятость, удаленная работа',
							},
							{
								txt: 'Готов к коммандировкам · Возможна стажировка',
							}
						],
						jobSeekerLogoSrc: require('../assets/images/resume-main-avatar.png'),
						postDate: 'Сегодня',
						vacancyHref: 'resume-page',
						vacancyHrefDescr: 'Посмотреть резюме',
					},
					{
						title: 'Контент-менеджер (реклама, SMM)',
						pro: true,
						jobSeekerHref: 'Home',
						jobSeekerName: 'Панченко Роман Владимирович',
						jobSeekerAge: '32 года',
						jobSeekerLocationHref: 'Home',
						jobSeekerLocationCity: 'Ташкент',
						jobSeekerAbout: [
							{
								txt: 'Высшее образование · Неполная занятость, удаленная работа',
							},
							{
								txt: 'Готов к коммандировкам · Возможна стажировка',
							}
						],
						jobSeekerLogoSrc: require('../assets/images/resume-main-avatar.png'),
						postDate: 'Сегодня',
						vacancyHref: 'resume-page',
						vacancyHrefDescr: 'Посмотреть резюме',
					},
					{
						title: 'Контент-менеджер (реклама, SMM)',
						pro: true,
						jobSeekerHref: 'Home',
						jobSeekerName: 'Панченко Роман Владимирович',
						jobSeekerAge: '32 года',
						jobSeekerLocationHref: 'Home',
						jobSeekerLocationCity: 'Ташкент',
						jobSeekerAbout: [
							{
								txt: 'Высшее образование · Неполная занятость, удаленная работа',
							},
							{
								txt: 'Готов к коммандировкам · Возможна стажировка',
							}
						],
						jobSeekerLogoSrc: require('../assets/images/resume-main-avatar.png'),
						postDate: 'Сегодня',
						vacancyHref: 'resume-page',
						vacancyHrefDescr: 'Посмотреть резюме',
					},
				]
			}
		},
		components: {
			resumeFeedback
		}
	}
</script>

<style lang="scss" scoped></style>