<template>
	<div class="personal-vacancys-feedback">
		<template v-if="$route.name == 'company-vacancys-feedback'">
			<div class="wrap mb-4">
				<div class="pt-4 pb-4 pl-3 pr-3 pl-md-5 pr-md-5">
					<div class="pt-3">
						<div class="row align-items-center justify-content-between pb-3">
							<div class="column mb-2">
								<h2 class="mb-0">Размещенные вакансии</h2>
							</div>
							<div class="column mb-2">
								<a class="button button_blue" href="#"><span class="mr-2">+</span>Разместить вакансию</a>
							</div>
						</div>
						<vue-tabs class="tabs tabs_style-small">
							<v-tab title="Опубликованные вакансии">
								<div class="pt-4">
									<div class="pt-1 pb-1">
										<personal-card-vacancy
											class="mb-4"
											v-for="(card, cardIdx) in personalCards"
											:key="cardIdx"
											:data="card"
											@callModal="modalCall"/>
										<pagination class="pagination_on_background_white" />
									</div>
								</div>
							</v-tab>
						
							<v-tab title="Удаленные вакансии">
								<div class="pt-4 pb-4 p-md-4">
									<div class="p-md-1">
									</div>
								</div>
							</v-tab>
						</vue-tabs>
					</div>
				</div>
			</div>
		</template>
		<router-view/>
		<modal
			class="modal-box"
			name="confirm-deletion"
			:adaptive="true"
			:width="'100%'"
			:minWidth="280"
			:maxWidth="670"
			:height="'auto'"
			:scrollable="true">
			<div class="modal-box__in p-4 position-relative">
				<div class="pt-1 pb-1 pl-4 pr-4">
					<div class="modal-box__body text-center">
						<button class="modal-box__close button-clr" type="button" @click="hideModal('confirm-deletion')">
							<svg-icon name="close" />
						</button>
						<form>
							<div class="mb-4 pb-2">
								<img v-lazy="require('../assets/images/trash.svg')" width="66" alt="">
							</div>
							<h2>Вы действительно хотите удалить вакансию?</h2>
							<div class="text-h4 color-gray-dark mb-4 pb-2">Вакансии будут помещены в «Удаленные вакансии» и будут храниться на протяжении 3 месяцев. При этом, они не будут отображаться в списке вакансий.</div>
							<div class="row row_indents_m justify-content-center">
								<div class="column mb-2">
									<a class="button button_red" href="#" @click.prevent="hideModal('confirm-deletion')">Да, удалить</a>
								</div>
								<div class="column mb-2">
									<a class="button button_green" href="#" @click.prevent="hideModal('confirm-deletion')">Нет, не удалять</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</modal>
	</div>
</template>

<script>
	import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'
	import pagination from '../components/Pagination.vue'
	import personalCardVacancy from '../components/Personal-card-vacancy.vue'
	import svgIcon from '../components/SvgIcon.vue'
	import '../assets/styles/common/_tabs.scss'
	import '../assets/styles/common/_modal.scss'
	export default {

		name: 'Personal-vacancys-feedback',
		meta: {title: 'Вакансии и отклики'},

		data () {
			return {
				personalCards: [
					{
						title: 'Senior Front End Developer',
						payment: 'от 2 500 000 сум/мес',
						location: 'Ташкент',
						feedback: '7',
						feedbackLink: 'company-feedback',
						status: true,
						statusActiveTxt: 'Вакансия активна',
						statusUnActiveTxt: 'Вакансия скрыта'
					},
					{
						title: 'Senior Front End Developer',
						payment: 'от 2 500 000 сум/мес',
						location: 'Ташкент',
						feedback: '7',
						feedbackLink: 'company-feedback',
						status: false,
						statusActiveTxt: 'Вакансия активна',
						statusUnActiveTxt: 'Вакансия скрыта'
					},
					{
						title: 'Senior Front End Developer',
						payment: 'от 2 500 000 сум/мес',
						location: 'Ташкент',
						feedback: '7',
						feedbackLink: 'company-feedback',
						status: false,
						statusActiveTxt: 'Вакансия активна',
						statusUnActiveTxt: 'Вакансия скрыта'
					},
				],
			}
		},
		methods: {
			showModal (modalName) {
				this.$modal.show(modalName);
			},
			hideModal (modalName) {
				this.$modal.hide(modalName);
			},
			modalCall () {
				this.showModal('confirm-deletion')
			}
		},
		components: {
			VueTabs,
			VTab,
			svgIcon,
			personalCardVacancy,
			pagination
		}
	}
</script>

<style lang="css" scoped>
</style>