<template>
	<div class="company-page">
		<div class="container-fluid">
			<div class="pb-2 negative-margins">
				<router-link class="text-h4 text-lg-white mb-2 d-inline-block" :to="{name: 'Home'}">
					<svg-icon class="svg-icon_reverse_90_negative font-size-8" name="angle" />
					<span class="ml-2 align-middle">На главную</span>
				</router-link>
			</div>
			<div class="row">
				<div class="col-lg-8">
					<div class="wrap p-4 mb-4">
						<div class="pl-sm-3 pr-sm-3">
							<div class="content mb-4">
								<h2>О компании</h2>
								<strong>Retail Group</strong> — мультибрендова міжнародна компанія, управляє торговими мережами «Велмарт», «Велика Кишеня», «ВК Експрес» в Україні, а також мережами супермаркетів «Green Hills Market» та «Velmart» в Молдові. До складу бізнесу також входить регіональна мережа ТРЦ «Екватор», охоронна компанія «Баярд 9», боулінг клуби «Турбіна» та дитячий розважальний центр «Мультипарк».
							</div>
							<div class="row align-items-center justify-content-between mb-3">
								<div class="column mb-2">
									<h2 class="mb-0">
										<span>Вакансии</span>
										<span class="quantity-label ml-2">123</span>
									</h2>
								</div>
								<div class="column">
									<div class="row">
										<div class="column mb-2">
											<a href="#">
												<span>Все города</span>
												<svg-icon class="font-size-8 ml-2" name="carret" />
											</a>
										</div>
										<div class="column mb-2">
											<a href="#">
												<span>Все категории</span>
												<svg-icon class="font-size-8 ml-2" name="carret" />
											</a>
										</div>
									</div>
								</div>
							</div>
							<card-vacancy
								class="mb-4"
								v-for="(vacancy, vacancyIdx) in vacancys"
								:key="vacancyIdx"
								:obj="vacancy"/>
							<hr class="devider mt-5">
							<div class="row row_indents_s align-items-center justify-content-between">
								<div class="column ml-auto">
									<div class="row row_indents_s">
										<div class="column">Поделиться</div>
										<div class="column">
											<a href="#"><img src="../assets/images/tg.svg" width="20" alt=""></a>
										</div>
										<div class="column">
											<a href="#"><img src="../assets/images/fb.svg" width="20" alt=""></a>
										</div>
										<div class="column">
											<a href="#"><img src="../assets/images/vk.svg" width="20" alt=""></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="wrap p-4 mb-4">
						<div class="pl-2 pr-2 pt-3">
							<div class="mb-4">
								<img v-lazy="require('../assets/images/lukoil-logo.png')" width="340" height="80" alt="">
							</div>
							<div class="font-weight-500 mb-1">
								<a class="link-dashed" href="#">Нефтяная компания «Лукойл»</a>
							</div>
							<div>Оптовая торговля, дистрибуция, импорт, экспорт · 10–50 сотрудников</div>
							<hr class="devider">
							<div class="mb-3">
								<svg-icon class="color-gray-fill" name="loc" />
								<span class="text-h5 ml-2 pl-1 align-middle">Ташкент, Ташкентская область, <br> Чиланзарский район <br> <span class="color-gray-dark text-decoration-underline">6 км от центра</span> · <router-link :to="{name: 'Home'}">Показать на карте</router-link></span>
							</div>
							<div class="mb-3">
								<svg-icon class="color-gray-fill" name="envelope" />
								<span class="text-h5 ml-2 pl-1 align-middle"><a class="color-dark-main" href="mailto:mail@mail.com">mail@mail.com</a></span>
							</div>
							<div class="mb-3">
								<svg-icon class="color-gray-fill" name="earth" />
								<span class="text-h5 ml-2 pl-1 align-middle"><a class="color-dark-main" href="https://lukoil-international.uz/">lukoil-international.uz</a></span>
							</div>
						</div>
					</div>
					<div class="wrap mb-4">
						<div class="pl-4 pt-4 pr-4 pb-4">
							<form>
								<div class="text-center">
									<div class="text-h3 mb-4 mb-lg-5">Подпишитесь на рассылку вакансий от данного работодателя прямо в Telegram и получайте свежие вакансии первыми</div>
									<div class="pl-sm-4 pr-sm-4">
										<div class="pb-1">
											<div class="form-group mb-4">
												<input class="form-control" type="email" placeholder="Ваш email">
											</div>
										</div>
										<div class="mb-4">
											<button class="button-clr button button_blue">Подписаться на вакансии</button>
										</div>
										<div>
											<a href="#" class="d-inline-flex flex-nowrap align-items-center text-decoration-none">
												<div class="flex-shrink-0">
													<img v-lazy="require('../assets/images/tg.svg')" width="30" alt="">
												</div>
												<div class="ml-2 text-underline">Отправлять мне в Telegram</div>
											</a>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import svgIcon from '../components/SvgIcon.vue'
	import cardVacancy from '../components/Card-vacancy.vue'
	export default {

		name: 'Company-page',

		data () {
			return {
				vacancys: [
					{
						cardLarge: true,
						title: 'Senior Front End Developer',
						pro: true,
						hot: false,
						companyHref: 'Home',
						companyVacancy: 'Home',
						companyName: 'Sarkor telecom',
						companyLocationHref: 'Home',
						companyLocationCity: 'Ташкент',
						price: 'от 2 500 000 сум/мес.',
						companyLogoSrc: require('../assets/images/vacancy-card-large.png'),
						content: 'Darwin Global — Провайдер прозрачного SEO-сервиса. Мы можем профессионально настроить любую рекламу, разработать продающий сайт, настроить веб-аналитику. Но основное наше направление — SEO-оптимизация. Мы расширяем нашу команду и сейчас в поиске Менеджера по продажам IT-услуг.',
						postDate: 'Сегодня',
						vacancyHref: 'vacancy-page',
					},
					{
						cardLarge: true,
						title: 'Senior Front End Developer',
						pro: true,
						hot: false,
						companyHref: 'Home',
						companyVacancy: 'Home',
						companyName: 'Sarkor telecom',
						companyLocationHref: 'Home',
						companyLocationCity: 'Ташкент',
						price: 'от 2 500 000 сум/мес.',
						companyLogoSrc: require('../assets/images/vacancy-card-large.png'),
						content: 'Darwin Global — Провайдер прозрачного SEO-сервиса. Мы можем профессионально настроить любую рекламу, разработать продающий сайт, настроить веб-аналитику. Но основное наше направление — SEO-оптимизация. Мы расширяем нашу команду и сейчас в поиске Менеджера по продажам IT-услуг.',
						postDate: 'Сегодня',
						vacancyHref: 'vacancy-page',
					},
				],
			}
		},
		components: {
			svgIcon,
			cardVacancy
		}
	}
</script>

<style lang="css" scoped>
</style>