<template>
	<div class="company-services-accounts">
		<div class="wrap pt-4 pb-4 pl-4 pr-4 pl-sm-5 pr-sm-5">
			<div class="pt-2 pb-2">
				<div class="mb-4">
					<h2>Услуги и счета</h2>
				</div>
				<tabs class="tabs">
					<tab id="services-price" name="Услуги и цены">
						<div class="pt-4">
							<div class="pt-1 pb-1">
								<div class="accordion accordion_style_two mb-4">
									<div class="accordion-item mb-4">
										<div class="accordion-toggle text-h3 color-dark-main font-weight-medium" data-target="first-collapse" @click="accordion($event)">
											<div class="wrap wrap-border-gray-dark p-3 p-sm-4">
												<div class="row row_indents_m justify-content-center align-items-center flex-sm-nowrap">
													<div class="column flex-grow-1">
														<div class="row row_indents_m flex-sm-nowrap">
															<div class="column flex-shrink-0 mb-2">
																<img v-lazy="require('../assets/images/online-shop1.svg')" width="38" height="38" alt="">
															</div>
															<div class="column flex-grow-1 mb-2">
																<div class="text-h5 font-weight-semi mb-2">Наименование тарифа</div>
																<div class="text-h6">Кстати,  базовые сценарии поведения пользователей формируют глобальную экономическую сеть и при этом -  преданы социально-демократической анафеме. В рамках спецификации современных стандартов, сторонники тоталитаризма.</div>
															</div>
														</div>
													</div>
													<div class="column flex-shrink-0 mb-2 mt-3 mt-sm-0">
														<div class="circle-price text-h6 color-blue text-center">
															<div class="circle-price__in">
																<div class="text-h3">от 10 270</div>
																сум/месяц
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="accordion-collapse-content" data-id="first-collapse">
											<div class="pb-4">
												<div class="pl-2 pr-2 pl-sm-4 pr-sm-4">
													<div class="pl-lg-3 pr-lg-3">
														<div class="bg-gray p-3 p-sm-4">
															<div class="p-sm-2">
																<div class="table-responsive mb-3">
																	<table class="table table_side-paddings_none table_min_width_450 text-h4">
																		<tbody>
																			<tr>
																				<td class="align-top">
																					<div class="table-tag mb-2">1 неделя</div>
																					<div class="text-h5 pt-1">300 контактов</div>
																				</td>
																				<td class="align-top">
																					<div class="text-h4 font-weight-bold">9 900 сум</div>
																				</td>
																				<td class="align-top">
																					<a class="button button_blue pt-2 pb-2" href="#">В корзину</a>
																				</td>
																			</tr>
																			<tr>
																				<td class="align-top">
																					<div class="table-tag mb-2">1 неделя</div>
																					<div class="text-h5 pt-1">300 контактов</div>
																				</td>
																				<td class="align-top">
																					<div class="text-h4 font-weight-bold mb-2">
																						<span>9 900 сум</span>
																						<span class="table-label ml-2">-20%</span>
																					</div>
																					<div class="table-del">13 500 сум</div>
																				</td>
																				<td class="align-top">
																					<a class="button button_blue pt-2 pb-2" href="#">В корзину</a>
																				</td>
																			</tr>
																			<tr>
																				<td class="align-top">
																					<div class="table-tag mb-2">1 неделя</div>
																					<div class="text-h5 pt-1">300 контактов</div>
																				</td>
																				<td class="align-top">
																					<div class="text-h4 font-weight-bold mb-2">
																						<span>9 900 сум</span>
																						<span class="table-label ml-2">-20%</span>
																					</div>
																					<div class="table-del">13 500 сум</div>
																				</td>
																				<td class="align-top">
																					<a class="button button_blue pt-2 pb-2" href="#">В корзину</a>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="accordion-item mb-4">
										<div class="accordion-toggle text-h3 color-dark-main font-weight-medium" data-target="secondCollapse" @click="accordion($event)">
											<div class="wrap wrap-border-gray-dark p-3 p-sm-4">
												<div class="row row_indents_m justify-content-center align-items-center flex-sm-nowrap">
													<div class="column flex-grow-1">
														<div class="row row_indents_m flex-sm-nowrap">
															<div class="column flex-shrink-0 mb-2">
																<img v-lazy="require('../assets/images/online-shop1.svg')" width="38" height="38" alt="">
															</div>
															<div class="column flex-grow-1 mb-2">
																<div class="text-h5 font-weight-semi mb-2">Наименование тарифа</div>
																<div class="text-h6">Кстати,  базовые сценарии поведения пользователей формируют глобальную экономическую сеть и при этом -  преданы социально-демократической анафеме. В рамках спецификации современных стандартов, сторонники тоталитаризма.</div>
															</div>
														</div>
													</div>
													<div class="column flex-shrink-0 mb-2 mt-3 mt-sm-0">
														<div class="circle-price text-h6 color-blue text-center">
															<div class="circle-price__in">
																<div class="text-h3">от 10 270</div>
																сум/месяц
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="accordion-collapse-content" data-id="secondCollapse">
											<div class="pb-4">
												<div class="pl-2 pr-2 pl-sm-4 pr-sm-4">
													<div class="pl-lg-3 pr-lg-3">
														<div class="bg-gray p-3 p-sm-4">
															<div class="p-sm-2">
																<div class="table-responsive mb-3">
																	<table class="table table_side-paddings_none table_min_width_450 text-h4">
																		<tbody>
																			<tr>
																				<td class="align-top">
																					<div class="table-tag mb-2">1 неделя</div>
																					<div class="text-h5 pt-1">300 контактов</div>
																				</td>
																				<td class="align-top">
																					<div class="text-h4 font-weight-bold">9 900 сум</div>
																				</td>
																				<td class="align-top">
																					<a class="button button_blue pt-2 pb-2" href="#">В корзину</a>
																				</td>
																			</tr>
																			<tr>
																				<td class="align-top">
																					<div class="table-tag mb-2">1 неделя</div>
																					<div class="text-h5 pt-1">300 контактов</div>
																				</td>
																				<td class="align-top">
																					<div class="text-h4 font-weight-bold mb-2">
																						<span>9 900 сум</span>
																						<span class="table-label ml-2">-20%</span>
																					</div>
																					<div class="table-del">13 500 сум</div>
																				</td>
																				<td class="align-top">
																					<a class="button button_blue pt-2 pb-2" href="#">В корзину</a>
																				</td>
																			</tr>
																			<tr>
																				<td class="align-top">
																					<div class="table-tag mb-2">1 неделя</div>
																					<div class="text-h5 pt-1">300 контактов</div>
																				</td>
																				<td class="align-top">
																					<div class="text-h4 font-weight-bold mb-2">
																						<span>9 900 сум</span>
																						<span class="table-label ml-2">-20%</span>
																					</div>
																					<div class="table-del">13 500 сум</div>
																				</td>
																				<td class="align-top">
																					<a class="button button_blue pt-2 pb-2" href="#">В корзину</a>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="accordion-item mb-4">
										<div class="accordion-toggle text-h3 color-dark-main font-weight-medium" data-target="thirdCollapse" @click="accordion($event)">
											<div class="wrap wrap-border-gray-dark p-3 p-sm-4">
												<div class="row row_indents_m justify-content-center align-items-center flex-sm-nowrap">
													<div class="column flex-grow-1">
														<div class="row row_indents_m flex-sm-nowrap">
															<div class="column flex-shrink-0 mb-2">
																<img v-lazy="require('../assets/images/online-shop1.svg')" width="38" height="38" alt="">
															</div>
															<div class="column flex-grow-1 mb-2">
																<div class="text-h5 font-weight-semi mb-2">Наименование тарифа</div>
																<div class="text-h6">Кстати,  базовые сценарии поведения пользователей формируют глобальную экономическую сеть и при этом -  преданы социально-демократической анафеме. В рамках спецификации современных стандартов, сторонники тоталитаризма.</div>
															</div>
														</div>
													</div>
													<div class="column flex-shrink-0 mb-2 mt-3 mt-sm-0">
														<div class="circle-price text-h6 color-blue text-center">
															<div class="circle-price__in">
																<div class="text-h3">от 10 270</div>
																сум/месяц
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="accordion-collapse-content" data-id="thirdCollapse">
											<div class="pb-4">
												<div class="pl-2 pr-2 pl-sm-4 pr-sm-4">
													<div class="pl-lg-3 pr-lg-3">
														<div class="bg-gray p-3 p-sm-4">
															<div class="p-sm-2">
																<div class="table-responsive mb-3">
																	<table class="table table_side-paddings_none table_min_width_450 text-h4">
																		<tbody>
																			<tr>
																				<td class="align-top">
																					<div class="table-tag mb-2">1 неделя</div>
																					<div class="text-h5 pt-1">300 контактов</div>
																				</td>
																				<td class="align-top">
																					<div class="text-h4 font-weight-bold">9 900 сум</div>
																				</td>
																				<td class="align-top">
																					<a class="button button_blue pt-2 pb-2" href="#">В корзину</a>
																				</td>
																			</tr>
																			<tr>
																				<td class="align-top">
																					<div class="table-tag mb-2">1 неделя</div>
																					<div class="text-h5 pt-1">300 контактов</div>
																				</td>
																				<td class="align-top">
																					<div class="text-h4 font-weight-bold mb-2">
																						<span>9 900 сум</span>
																						<span class="table-label ml-2">-20%</span>
																					</div>
																					<div class="table-del">13 500 сум</div>
																				</td>
																				<td class="align-top">
																					<a class="button button_blue pt-2 pb-2" href="#">В корзину</a>
																				</td>
																			</tr>
																			<tr>
																				<td class="align-top">
																					<div class="table-tag mb-2">1 неделя</div>
																					<div class="text-h5 pt-1">300 контактов</div>
																				</td>
																				<td class="align-top">
																					<div class="text-h4 font-weight-bold mb-2">
																						<span>9 900 сум</span>
																						<span class="table-label ml-2">-20%</span>
																					</div>
																					<div class="table-del">13 500 сум</div>
																				</td>
																				<td class="align-top">
																					<a class="button button_blue pt-2 pb-2" href="#">В корзину</a>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</tab>
				
					<tab id="purchased-services" name="Приобритенные услуги">
						<div class="pt-4 pb-4">
							<div class="pt-1 pb-1">
								<div class="mb-4">
									<div class="text-h4 row flex-sm-nowrap">
										<div class="column mb-2">
											<div class="row row_indents_s">
												<div class="column mb-2">
													<div class="mb-0 font-weight-bold">Оплата услуги “Самый дешевый” (Неделя, 300 контактов)</div>
												</div>
												<div class="column mb-2">
													<div class="tag tag_red text-transform-normal">Списание</div>
												</div>
											</div>
											<div>Лучшее решение для бизнеса. Вы получите набор необходимых услуг на месяц по отличным ценам. А чтобы дополнительно сэкономить 20%, оформляйте годовую подписку.</div>
										</div>
										<div class="column flex-shrink-0 mb-2">
											<div class="text-sm-center">
												<div class="mb-2 mb-sm-3">25.03.2020  11:29</div>
												<div class="price-label">12 000 сум</div>
											</div>
										</div>
									</div>
									<hr class="devider mt-4">
								</div>
								<div class="mb-4">
									<div class="text-h4 row flex-sm-nowrap">
										<div class="column mb-2">
											<div class="row row_indents_s">
												<div class="column mb-2">
													<div class="mb-0 font-weight-bold">Оплата услуги “Самый дешевый” (Неделя, 300 контактов)</div>
												</div>
												<div class="column mb-2">
													<div class="tag tag_green text-transform-normal">Пополнение</div>
												</div>
											</div>
											<div>Лучшее решение для бизнеса. Вы получите набор необходимых услуг на месяц по отличным ценам. А чтобы дополнительно сэкономить 20%, оформляйте годовую подписку.</div>
										</div>
										<div class="column flex-shrink-0 mb-2">
											<div class="text-sm-center">
												<div class="mb-2 mb-sm-3">25.03.2020  11:29</div>
												<div class="price-label">12 000 сум</div>
											</div>
										</div>
									</div>
									<hr class="devider mt-4">
								</div>
								<pagination class="mt-5" />
							</div>
						</div>
					</tab>

					<tab id="counts" name="Счета">
						<div class="pt-4 pb-4">
							<div class="pt-sm-1 pb-sm-1">
								<div class="wrap bg-gray text-h4 p-4 mb-4">
									<div class="pt-sm-3 pl-lg-4 pr-lg-4">
										<div class="row flex-column flex-sm-row flex-sm-nowrap">
											<div class="column mb-2 border-right border-right_gray-fill">
												<div class="pr-lg-4">
													Для пополнения счета необходимо выбрать удобный для себя способ оплаты и в зависимости от выбранного способа оплаты либо сообщить оператору (в случае с Paynet), либо самим ввести в приложении платёжной системы ваш ID который доступен левее
												</div>
											</div>
											<div class="column flex-shrink-0 mb-2 mt-3 mt-sm-0">
												<div class="pl-lg-5">
													<div class="text-center mb-3">
														<div class="text-h2 color-blue">12 323 сум</div>
														<div>Баланс сейчас</div>
													</div>
													<div class="text-center">
														<div class="text-h2 color-blue">1311015</div>
														<div>Номер счета</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<h3>Способы оплаты</h3>
								<div class="d-flex flex-wrap justify-content-center">
									<a class="payment-item" href="#">
										<span class="payment-item__in">
											<img v-lazy="require('../assets/images/payme.png')" width="85" height="25" alt="">
										</span>
									</a>
									<a class="payment-item" href="#">
										<span class="payment-item__in">
											<img v-lazy="require('../assets/images/click.png')" width="85" height="32" alt="">
										</span>
									</a>
									<a class="payment-item" href="#">
										<span class="payment-item__in">
											<img v-lazy="require('../assets/images/uzcard.png')" width="112" height="22" alt="">
										</span>
									</a>
									<a class="payment-item" href="#">
										<span class="payment-item__in">
											<img v-lazy="require('../assets/images/visa.png')" width="67" height="22" alt="">
										</span>
									</a>
									<a class="payment-item" href="#">
										<span class="payment-item__in">
											<img v-lazy="require('../assets/images/master-card.png')" width="39" height="30" alt="">
										</span>
									</a>
								</div>
							</div>
						</div>
					</tab>

					<tab id="basket"  name="Корзина" suffix="<span class='tabs-component-suffix'>12</span>">
						<div class="pt-4 pb-4">
							<div class="pt-md-1 pb-md-1">
								<div class="wrap bg-gray p-3 p-sm-4 mb-4">
									<div class="p-sm-2">
										<div class="table-responsive">
											<table class="table table_side-paddings_none text-h4 mb-0">
												<tbody>
													<tr>
														<td><div class="text-h5">Услуга “Наименование тарифа” (Неделя, 300 контактов)</div></td>
														<td><count-control :value="1" /></td>
														<td><div class="text-h5 font-weight-semi text-nowrap">13 999 сум</div></td>
														<td>
															<div class="text-center">
																<button class="button-close-gray button-close-gray_border button-clr" type="button-clr">
																	<svg-icon name="close" />
																</button>
															</div>
														</td>
													</tr>
													<tr>
														<td><div class="text-h5">Услуга “Наименование тарифа” (Неделя, 300 контактов)</div></td>
														<td><count-control :value="1" /></td>
														<td><div class="text-h5 font-weight-semi text-nowrap">13 999 сум</div></td>
														<td>
															<div class="text-center">
																<button class="button-close-gray button-close-gray_border button-clr" type="button-clr">
																	<svg-icon name="close" />
																</button>
															</div>
														</td>
													</tr>
													<tr>
														<td><div class="text-h5">Услуга “Наименование тарифа” (Неделя, 300 контактов)</div></td>
														<td><count-control :value="1" /></td>
														<td><div class="text-h5 font-weight-semi text-nowrap">13 999 сум</div></td>
														<td>
															<div class="text-center">
																<button class="button-close-gray button-close-gray_border button-clr" type="button-clr">
																	<svg-icon name="close" />
																</button>
															</div>
														</td>
													</tr>
													<tr>
														<td>&nbsp;</td>
														<td><div class="text-h5 font-weight-semi text-nowrap text-right">Итого</div></td>
														<td><div class="text-h5 font-weight-semi text-nowrap">13 999 сум</div></td>
														<td>&nbsp;</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="row justify-content-end">
									<div class="column">
										<button class="button button_blue button-clr" type="button">Оформить заказ</button>
									</div>
									<div class="column">
										<a class="button button-gradient" href="#">Добавтиь еще услуги</a>
									</div>
								</div>
							</div>
						</div>
					</tab>
				</tabs>
			</div>
		</div>
	</div>
</template>

<script>
	import {Tabs, Tab} from 'vue-tabs-component';
	import svgIcon from '../components/SvgIcon.vue';
	import pagination from '../components/Pagination.vue';
	import countControl from '../components/count-control.vue';
	import '../assets/styles/common/_price-label.scss'
	import '../assets/styles/common/_circle-price.scss'
	import '../assets/styles/common/_accordion.scss'
	import '../assets/styles/common/_tabs-new.scss'
	import '../assets/styles/common/_payment-item.scss'
	export default {

		name: 'Company-services-accounts',

		data () {
			return {

			}
		},
		methods: {
			accordion (event) {
				let btn = event.currentTarget;
				let btnTarget = btn.getAttribute('data-target');
				let collapseItems = document.querySelectorAll('.accordion-collapse-content');
				let collapseBox = document.querySelector('[data-id="'+btnTarget+'"]')
				collapseItems.forEach(function(elem) {
					if ( elem.getAttribute('data-id') == btnTarget ) {
						elem.classList.toggle('expanded')
						elem.parentElement.querySelector('.accordion-toggle').classList.add('active')
						elem.style.maxHeight = elem.scrollHeight + "px";
						elem.classList.add('show')
					} else {
						elem.classList.remove('expanded')
						elem.style.maxHeight = null;
						elem.parentElement.querySelector('.accordion-toggle').classList.remove('active')
						elem.classList.remove('show')
					}
				})
				if ( !(collapseBox.classList.contains('expanded')) ) {
					collapseBox.style.maxHeight = null;
					collapseBox.classList.remove('show')
					collapseBox.parentElement.querySelector('.accordion-toggle').classList.remove('active')
				}
			}
		},
		components: {
			Tabs,
			Tab,
			svgIcon,
			countControl,
			pagination
		}
	}
</script>

<style lang="css" scoped>
</style>