<template>
	<div class="personal-company-card position-relative">
		<div class="container-fluid">
			<template v-if="checkRoute(['company-card'])">
				<div class="pb-2 negative-margins">
					<router-link class="text-h4 text-lg-white mb-2 d-inline-block" :to="{name: 'Home'}">
						<svg-icon class="svg-icon_reverse_90_negative font-size-10" name="angle" />
						<span class="ml-2 align-middle">На главную</span>
					</router-link>
				</div>
				<div class="row align-items-center justify-content-between text-lg-white mb-4 pb-3">
					<div class="column">
						<div class="row row_indents_m align-items-center">
							<div class="column">
								<h2 class="mb-0">Рады вас видеть, Фахрутдинов Руслан!</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 mb-4 d-flex flex-column">
						<div class="wrap pt-4 pb-4 pl-3 pr-3 p-sm-4 flex-grow-1">
							<div class="p-sm-1">
								<div class="row flex-md-nowrap">
									<div class="column flex-grow-1">
										<div class="row flex-xl-nowrap">
											<div class="column flex-shrink-0 d-flex flex-column mb-4 mb-xl-0">
												<div class="file flex-grow-1 d-flex flex-column">
													<div class="mt-auto mb-auto">
														<img v-lazy="require('../assets/images/credo-logo.png')" width="260" alt="">
													</div>
													<label class="file__label">
														<input class="input-hidden" type="file">
														<span class="file__btn">Заменить фото</span>
													</label>
												</div>
											</div>
											<div class="column flex-grow-1 mb-4 mb-xl-0">
												<h3 class="color-blue">Фахрутдинов Руслан</h3>
												<div class="color-gray-fill">Credo Creative Studio</div>
												<div class="pt-2 pb-2">Оптовая торговля, дистрибуция, импорт, экспорт · 10–50 сотрудников</div>
												<div class="mb-2 pb-1">
													<svg-icon class="color-gray-fill" name="loc" />
													<span class="ml-2 pl-1 align-middle">Ташкент, Ташкентская область, <br> Чиланзарский район, д. 1/2 <br> <a class="color-gray-dark text-decoration-underline" href="#">6 км от центра</a> · <a href="#">Отметить на карте</a></span>
												</div>
												<div class="mb-2 pb-1">
													<svg-icon class="color-gray-fill" name="envelope" />
													<span class="ml-2 pl-1 align-middle"><a href="mailto:mail@mail.com">mail@mail.com</a></span>
												</div>
												<div class="mb-2 pb-1">
													<svg-icon class="color-gray-fill" name="earth" />
													<span class="ml-2 pl-1 align-middle"><a href="https://lukoil-international.uz/">lukoil-international.uz</a></span>
												</div>
											</div>
										</div>
									</div>
									<div class="column flex-shrink-0">
										<router-link href="#" class="button button_transparent-gray" :to="{name: 'company-settings'}">
											<svg-icon class="font-size-20 color-gray-fill mr-2" name="cog" />
											<span class="d-inline-block align-middle">Редактировать</span>
										</router-link>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 mb-4 d-flex flex-column">
						<div class="wrap flex-grow-1">
							<div class="p-4">
								<div class="pl-sm-2 pr-sm-2">
									<h3 class="m-0">Информация по аккаунту</h3>
								</div>
							</div>
							<hr class="devider m-0">
							<div class="pt-4 pb-3 pl-4 pr-4">
								<div class="pl-sm-2 pr-sm-2">
									<div class="text-h4 row justify-content-between pb-1">
										<div class="column mb-1 color-gray-fill">На счету</div>
										<div class="column mb-1">123 456 сум</div>
									</div>
									<div class="text-h4 row justify-content-between pb-1">
										<div class="column mb-1 color-gray-fill">Зарезервировано</div>
										<div class="column mb-1">231 231 сум</div>
									</div>
									<div class="text-h4 row justify-content-between pb-1">
										<div class="column mb-1 color-gray-fill">Всего вакансий</div>
										<div class="column mb-1">3</div>
									</div>
									<div class="text-h4 row justify-content-between pb-1">
										<div class="column mb-1 color-gray-fill">Доступ к базе</div>
										<div class="column mb-1">2 дня</div>
									</div>
									<div class="text-h4 row flex-column justify-content-between mb-3">
										<div class="column mb-1 color-gray-fill">ID аккаунта</div>
										<div class="column mb-1">123 456 454</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="wrap mb-4">
					<collapse class="collapse-box_style-two" :collapseContentShow="true">
						<template v-slot:collapseToggle>
							<div class="p-4">
								<div class="pl-sm-2">
									<div class="row flex-nowrap justify-content-between align-items-md-center">
										<div class="column">
											<h3 class="mb-2">Профиль заполнен на 35%</h3>
											<div class="color-gray-dark">Чтобы как можно больше соискателей смогли Вас найти и заинтересоваться Вашим предложением, <br> рекомендуем заполнить весь свой профиль полностью</div>
										</div>
										<div class="column flex-shrink-0">
											<button class="collapse-box__toggle-btn button-clr" type="button">
												<svg-icon name="angle" />
											</button>
										</div>
									</div>
								</div>
							</div>
						</template>
						<template v-slot:collapseContent>
							<hr class="devider mt-0 mb-4">
							<div class="pt-2 pl-4 pr-4 pb-4">
								<div class="pl-2">
									<div class="row">
										<div
											class="profile-link-wrap column mb-4 text-center text-sm-left">
											<router-link class="profile-link profile-link_active" :to="{name: 'Home'}">
												<span class="profile-link__circle-wrap">
													<span class="profile-link__circle">
														<svg-icon name="file-contract" />
														<svg-icon name="badge-check" />
													</span>
												</span>
												<div class="profile-link__txt">Заполните информацию о компании</div>
											</router-link>
										</div>
										<div class="profile-link-wrap column mb-4 text-center text-sm-left">
											<router-link class="profile-link" :to="{name: 'personal-authenticate'}">
												<span class="profile-link__circle-wrap">
													<span class="profile-link__circle">
														<svg-icon name="sim-card-alert" />
														<svg-icon name="badge-check" />
													</span>
												</span>
												<div class="profile-link__txt">Подтвердите подлинность компании</div>
											</router-link>
										</div>
										<div class="profile-link-wrap column mb-4 text-center text-sm-left">
											<router-link class="profile-link" :to="{name: 'Home'}">
												<span class="profile-link__circle-wrap">
													<span class="profile-link__circle">
														<svg-icon name="cover-image" />
														<svg-icon name="badge-check" />
													</span>
												</span>
												<div class="profile-link__txt">Установите логотип</div>
											</router-link>
										</div>
										<div class="profile-link-wrap column mb-4 text-center text-sm-left">
											<router-link class="profile-link" :to="{name: 'Home'}">
												<span class="profile-link__circle-wrap">
													<span class="profile-link__circle">
														<svg-icon name="envelope" />
														<svg-icon name="badge-check" />
													</span>
												</span>
												<div class="profile-link__txt">Подписаться на рассылку соискателей</div>
											</router-link>
										</div>
										<div class="profile-link-wrap column mb-4 text-center text-sm-left">
											<router-link class="profile-link" :to="{name: 'Home'}">
												<span class="profile-link__circle-wrap">
													<span class="profile-link__circle">
														<svg-icon name="filter-frame" />
														<svg-icon name="badge-check" />
													</span>
												</span>
												<div class="profile-link__txt">Добавить сотрудника</div>
											</router-link>
										</div>
										<div class="profile-link-wrap column mb-4 text-center text-sm-left">
											<router-link class="profile-link" :to="{name: 'Home'}">
												<span class="profile-link__circle-wrap">
													<span class="profile-link__circle">
														<svg-icon name="filter-frame" />
														<svg-icon name="badge-check" />
													</span>
												</span>
												<div class="profile-link__txt">Связаться c cоискателем</div>
											</router-link>
										</div>
										<div class="profile-link-wrap column mb-4 text-center text-sm-left">
											<router-link class="profile-link" :to="{name: 'Home'}">
												<span class="profile-link__circle-wrap">
													<span class="profile-link__circle">
														<svg-icon name="fireplace" />
														<svg-icon name="badge-check" />
													</span>
												</span>
												<div class="profile-link__txt">Купить «Premium»-аккаунт</div>
											</router-link>
										</div>
									</div>
								</div>
							</div>
						</template>
					</collapse>
				</div>
				<div class="wrap pt-3 pb-3 pl-4 pr-4 mb-4">
					<div class="pl-sm-2">
						<h3 class="mb-1">Попробуйте бесплатно</h3>
						<div class="color-gray-dark text-h4 mb-3">Подтвердите подлинность вашей компании и получите пробную публикацию и доступ к 10 контактам резюме</div>
						<router-link :to="{name: 'company-authenticate'}" class="button button_blue">Подтвердить подлинность</router-link>
					</div>
				</div>
				<div class="wrap p-4 mb-4">
					<div class="pl-sm-2">
						<h2 class="mb-4">Навигация по кабинету</h2>
						<div class="row">
							<div
								class="col-sm-6 col-lg-4 col-xl-3 mb-4"
								v-for="(category, idx) in categorys"
								:key="idx">
								<card-category :obj="category" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-9 mb-4 d-flex flex-column">
						<div class="wrap p-4 flex-grow-1">
							<div class="pl-sm-2 pt-sm-4">
								<h2>Мы всегда к вашим услугам</h2>
								<div class="color-gray-dark mb-4">Если у вас возник вопрос или предложение, напишите нам. Расскажите подробнее о вашем опыте использования продукта. Обратите внимание на качество, удобство, ее соответствие Вашим ожиданиям.</div>
								<form>
									<div class="row row_indents_m">
										<div class="col-md-6">
											<div class="form-group mb-3">
												<input class="form-control form-control_simple" v-model="inputTheme" type="text" placeholder="Введите тему своего сообщения">
											</div>
											<div class="form-group mb-3">
												<input class="form-control form-control_simple" v-model="inputEmail" type="text" placeholder="Введите свою почту">
											</div>
										</div>
										<div class="col-md-6 d-flex flex-column">
											<div class="form-group mb-3 flex-grow-1">
												<textarea class="form-control form-control_simple h-100" rows="3" v-model="inputMsg" placeholder="Ваше сообщение ..."></textarea>
											</div>
										</div>
									</div>
									<div class="row justify-content-end align-items-center">
										<div class="column">
											<button class="button button_blue button-clr" type="button" @click="showModal('thnx-dialog')">Отправить сообщение</button>
										</div>
										<div class="column">
											<a class="color-gray-fill text-decoration-underline" href="#" @click.prevent="clearForm">Очистить</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-3 mb-4 d-flex flex-column">
						<div class="wrap flex-grow-1">
							<div class="p-4">
								<div class="pl-sm-2 pr-sm-2">
									<div class="text-center mb-4">
										<img v-lazy="require('../assets/images/admin-logo.svg')" width="240" alt="">
									</div>
									<div class="text-h5 text-center text-lg-left">Контакты администрации</div>
								</div>
							</div>
							<hr class="devider m-0">
							<div class="p-4">
								<div class="pl-sm-2 pr-sm-2 text-center text-lg-left">
									<div class="mb-2">
										<svg-icon class="color-gray-fill" name="phone" />
										<span class="text-h5 ml-2 pl-1 align-middle"><a class="color-dark-main" href="tel:+998981234567">+998 98 123 4567</a></span>
									</div>
									<div class="mb-2">
										<svg-icon class="color-gray-fill" name="envelope" />
										<span class="text-h5 ml-2 pl-1 align-middle"><a href="mailto:mail@mail.com">mail@mail.com</a></span>
									</div>
									<div class="mb-2">
										<div class="d-inline-block">
											<img v-lazy="require('../assets/images/tg.svg')" width="17px" alt="">
										</div>
										<span class="text-h5 ml-2 pl-1 align-middle"><a href="#">Написать нам в телеграм</a></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</template>
		</div>
		<template v-if="!checkRoute(['company-card'])">
			<div class="container-fluid">
				<div class="pb-2 negative-margins">
					<router-link class="text-h4 text-lg-white mb-4 d-inline-block" :to="{name: 'Home'}">
						<svg-icon class="svg-icon_reverse_90_negative font-size-8" name="angle" />
						<span class="ml-2 align-middle">На главную</span>
					</router-link>
				</div>
				<div class="row">
					<div class="col-lg-3 mb-4">
						<div class="personal-nav-select position-relative" v-click-outside="closeSelect">
							<div class="personal-nav-button" @click="openSelect">
								<span>Карточка компании</span>
								<svg-icon name="carret" />
							</div>
							<div class="personal-nav-wrap wrap">
								<ul class="personal-nav">
									<router-link
										v-for="(link, linkIdx) in personalCardNavLinks"
										:key="linkIdx"
										tag="li"
										:to="{name: link.href}"
										@click.native="closeSelectFromLink">
										<a>{{ link.text }}</a>
									</router-link>
									<li>
										<a href="#" @click.prevent="closeSelectFromLink">Выход</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div
						class="col-lg-9 mb-4">
							<router-view />
					</div>
				</div>
			</div>
		</template>
	</div>
</template>

<script>
	import svgIcon from '../components/SvgIcon.vue'
	import collapse from '../components/Collapse.vue'
	import cardCategory from '../components/Card-category.vue'
	export default {

		name: 'Personal-company-card',
		meta: {title: 'Личный кабинет'},

		data () {
			return {
				categorys: [
					{
						href: 'company-vacancys-feedback',
						imgSrc: require('../assets/images/category-1.svg'),
						imgWidth: '61px',
						txt: 'Вакансии и отклики'
					},
					{
						href: 'vacancy-city',
						imgSrc: require('../assets/images/calendar-event.svg'),
						imgWidth: '61px',
						txt: 'Вакансии по городам'
					},
					{
						href: '/',
						imgSrc: require('../assets/images/bill.svg'),
						imgWidth: '61px',
						txt: 'Услуги и счета'
					},
					{
						href: '/',
						imgSrc: require('../assets/images/paper-plane.svg'),
						imgWidth: '61px',
						txt: 'Мои рассылки'
					},
					{
						href: '/',
						imgSrc: require('../assets/images/employee.svg'),
						imgWidth: '61px',
						txt: 'Пользователи'
					},
					{
						href: '/',
						imgSrc: require('../assets/images/bookmark-image.svg'),
						imgWidth: '61px',
						txt: 'Сохраненные резюме'
					},
					{
						href: '/',
						imgSrc: require('../assets/images/data-image.svg'),
						imgWidth: '61px',
						txt: 'Личные данные'
					},
					{
						href: '/',
						imgSrc: require('../assets/images/logout.svg'),
						imgWidth: '61px',
						txt: 'Выход'
					},
				],
				personalCardNavLinks: [
					{
						href: 'company-settings',
						text: 'Карточка компании',
					},
					{
						href: 'company-vacancys-feedback',
						text: 'Вакансии и отклики',
					},
					{
						href: 'company-event-log',
						text: 'Журнал событий',
					},
					{
						href: 'company-services-accounts',
						text: 'Услуги и счета',
					},
					{
						href: 'company-mailing-list',
						text: 'Мои рассылки',
					},
					{
						href: 'company-users',
						text: 'Пользователи',
					},
					{
						href: 'company-account-settings',
						text: 'Настройки аккаунта',
					},
				],
				inputTheme: '',
				inputEmail: '',
				inputMsg: '',
			}
		},
		methods: {
			checkRoute (arr) {
				let result;
				arr.forEach((item) => {
					if ( this.$route.name == item ) {
						result = true
					}
				})
				return result
			},
			clearForm () {
				this.inputTheme = ''
				this.inputEmail = ''
				this.inputMsg = ''
			},
			showModal (modalName) {
				this.$modal.show(modalName)
			},
			openSelect (e) {
				let btn = e.currentTarget
				let wrap = btn.nextElementSibling
				btn.classList.toggle('active')
				wrap.classList.toggle('opened')
			},
			closeSelectFromLink (e) {
				e.currentTarget.closest('.personal-nav-wrap').classList.remove('opened')
				e.currentTarget.closest('.personal-nav-wrap').previousElementSibling.classList.remove('active')
			},
			closeSelect () {
				document.querySelector('.personal-nav-button').classList.remove('active')
				document.querySelector('.personal-nav-wrap').classList.remove('opened')
			},
		},
		components: {
			svgIcon,
			collapse,
			cardCategory
		}
	}
</script>

<style lang="scss" scoped>
	.file {

	}
	.file__label {
		margin: 0;
		display: block;
	}
	.file__btn {
		width: 100%;
		display: inline-block;
		padding: 14px 15px;
		text-align: center;
		font-size: 12px;
		line-height: 1;

		background: linear-gradient(180deg, #FFFFFF 0%, #F7F7F7 52.6%, #FFFFFF 100%);
		border-radius: 2px;
		cursor: pointer;
		transition: linear .1s;
		&:hover {
			box-shadow: 0px 12px 20px rgba(61, 58, 194, 0.08);
		}
	}


	.profile-link-wrap {
		@media only screen and (max-width: 575px) {
			width: 100%;
			flex: 0 0 100%;
			max-width: 100%;
			margin-bottom: 60px !important;
			&:last-child {
				margin-bottom: 20px !important;
			}
		}
		&:last-child {
			.profile-link__circle-wrap {
				&:after {
					display: none;
				}
			}
		}
	}
	.profile-link {
		min-width: 150px;
		max-width: 150px;
		text-align: center;
		display: inline-block;
		text-decoration: none !important;
		@media only screen and (max-width: 575px) {
			position: relative;
		}
		&_active {
			.profile-link__circle-wrap {
				&:after {
					border-color: #71A862;
				}
			}
			.profile-link__circle {
				background-color: rgba(#71A862, .2);
				color: #71A862;
				.svg-icon_badge-check {
					color: #71A862;
				}
				&:after {
					border-color: #71A862;
				}
			}
		}
	}
	.profile-link__circle-wrap {
		position: relative;
		@media only screen and (max-width: 575px) {
			position: static;
		}
		&:after {
			content: '';

			position: absolute;
			top: 50%;
			left: 100%;
			width: 100%;
			margin-left: 30px;
			border-bottom: 1px solid #F5F5F5;
			@media only screen and (max-width: 575px) {
				top: 100%;
				left: 50%;
				transform: translate(-50%, 0);
				width: auto;
				height: 40px;
				border-bottom-color: transparent;
				border-left: 1px solid #f5f5f5;
				margin: 10px 0 0;
			}
		}
	}
	.profile-link__circle {
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;

		width: 62px;
		height: 62px;
		margin-bottom: 12px;

		background-color: #F5F5F5;
		border-radius: 50%;

		font-size: 25px;
		color: #969FA9;
		.svg-icon_badge-check {
			position: absolute;
			top: 0;
			right: 0;
			transform: translate(25%, 0);

			color: #E9E9E9;
		}
	}
	.profile-link__txt {
		font-size: 12px;
		line-height: 16px;
		color: #383B49;
	}
	
</style>