<template>
	<div class="company-mailing-list">
		<div class="wrap">
			<div class="pt-4 pb-4 pl-3 pr-3 pl-md-5 pr-md-5">
				<div class="pt-3">
					<h2>Рассылка новых резюме</h2>
					<div class="table-responsive mb-3">
						<table class="table table_side-paddings_none text-h4">
							<thead>
								<tr>
									<th>Ключевые слова</th>
									<th>Категории</th>
									<th>Город</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="#">«Wp разработчик, php, HTML5»</a></td>
									<td>IT, компьютеры, интернет · полная занятость · мужчины</td>
									<td>
										<div class="text-nowrap">
											<span class="align-middle mr-4 pr-2">Ташкент</span>
											<button class="button-close-gray button-clr mr-3" type="button">
												<svg-icon name="close" />
											</button>
										</div>
									</td>
								</tr>
								<tr>
									<td><a href="#">«Wp разработчик, php, HTML5»</a></td>
									<td>IT, компьютеры, интернет · полная занятость · мужчины</td>
									<td>
										<div class="text-nowrap">
											<span class="align-middle mr-4 pr-2">Ташкент</span>
											<button class="button-close-gray button-clr mr-3" type="button">
												<svg-icon name="close" />
											</button>
										</div>
									</td>
								</tr>
								<tr>
									<td><a href="#">«Wp разработчик, php, HTML5»</a></td>
									<td>IT, компьютеры, интернет · полная занятость · мужчины</td>
									<td>
										<div class="text-nowrap">
											<span class="align-middle mr-4 pr-2">Ташкент</span>
											<button class="button-close-gray button-clr mr-3" type="button">
												<svg-icon name="close" />
											</button>
										</div>
									</td>
								</tr>
								<tr>
									<td><a href="#">«Wp разработчик, php, HTML5»</a></td>
									<td>IT, компьютеры, интернет · полная занятость · мужчины</td>
									<td>
										<div class="text-nowrap">
											<span class="align-middle mr-4 pr-2">Ташкент</span>
											<button class="button-close-gray button-clr mr-3" type="button">
												<svg-icon name="close" />
											</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<subscribe-wrap>
						<h2>Рассылка новых резюме</h2>
						<div class="color-grat-dark text-h5 mb-3">Чтобы получать новые резюме по вашему запросу на эл. почту, подпишитесь на рассылку резюме.</div>
						<form>
							<div class="row align-items-sm-center flex-column flex-sm-row">
								<div class="column flex-grow-1 mb-3 mb-lg-2">
									<multiselect
										class="multiselect_simple"
										v-model="categorys.value"
										:options="categorys.options"
										:searchable="true"
										:close-on-select="true"
										:show-labels="false"
										:preselect-first="true"
										:max-height="140"
										@close="categorys.isTouched = true"
										placeholder="Выберите город" />
								</div>
								<div class="column flex-shrink-0 mb-3 mb-lg-2">
									<a class="button button_blue w-100" href="#" @click.prevent="showModal('subscribed-dialog')">Подписаться на вакансии</a>
								</div>
								<div class="column flex-shrink-0 mb-3 mb-lg-2">
									<a href="#">
										<img v-lazy="require('../assets/images/tg.svg')" width="30" alt="">
										<span class="ml-2">Отправлять мне в Telegram</span>
									</a>
								</div>
							</div>
						</form>
					</subscribe-wrap>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import svgIcon from '../components/SvgIcon.vue'
	import Multiselect from 'vue-multiselect'
	import subscribeWrap from '../components/Subscribe-wrap.vue'
	import 'simplebar';
	import 'simplebar/dist/simplebar.css';
	import '../assets/styles/common/_simplebar.scss';
	export default {

		name: 'company-mailing-list',

		data () {
			return {
				categorys: {
					value: [],
					isTouched: false,
					options: ['IT, компьютеры, интернет', 'Администрация, руководство среднего звена', 'Гостинично-ресторанный бизнес, туризм']
				}
			}
		},
		methods: {
			showModal(modalName) {
				this.$modal.show(modalName)
			},
		},
		mounted () {
			let dropdowns = document.querySelectorAll('.multiselect__content-wrapper')
			dropdowns.forEach(function(item) {
				item.setAttribute('data-simplebar', '')
			})
		},
		components: {
			svgIcon,
			subscribeWrap,
			Multiselect,
		}
	}
</script>

<style lang="css" scoped>
</style>