<template>
	<div class="personal-event-log">
		<div class="wrap">
			<div class="pt-4 pb-4 pl-3 pr-3 pl-md-5 pr-md-5">
				<div class="pt-3">
					<div class="row align-items-center justify-content-between pb-3">
						<div class="column mb-2">
							<h2 class="mb-0">Журнал событий</h2>
						</div>
					</div>
					<div class="row">
						<div class="column mb-2"><h3 class="mb-0 pt-2">Фильтр:</h3></div>
						<div class="column">
							<div class="row align-items-center mb-2">
								<div class="column">
									<div class="row row_indents_s align-items-center">
										<div class="column color-gray-fill mb-2">c</div>
										<div class="column mb-2">
											<datepicker
												:input-class="'form-control form-control_simple'"
												:wrapper-class="'datepicker'"
												:calendar-class="'datepicker-wrap'"
												:format="'dd.MM.yyyy'"
												:placeholder="'дд.мм.гггг'"
												ref="startDate"
												:inline="false"
												:language="ru">
													<span
														slot="afterDateInput"
														class="datepicker__icon-wrap"
														@click="openPicker('startDate')">
														<svg-icon name="calendar" />
													</span>
											</datepicker>
										</div>
									</div>
								</div>
								<div class="column">
									<div class="row row_indents_s align-items-center">
										<div class="column color-gray-fill mb-2">до</div>
										<div class="column mb-2">
											<datepicker
												:input-class="'form-control form-control_simple'"
												:wrapper-class="'datepicker'"
												:calendar-class="'datepicker-wrap'"
												:format="'dd.MM.yyyy'"
												:placeholder="'дд.мм.гггг'"
												ref="endDate"
												:inline="false"
												:language="ru">
													<span
														slot="afterDateInput"
														class="datepicker__icon-wrap"
														@click="openPicker('endDate')">
														<svg-icon name="calendar" />
													</span>
											</datepicker>
											
										</div>
									</div>
								</div>
							</div>
							<div class="row align-items-center mb-2">
								<div class="column">
									<div class="row row_indents_s align-items-center">
										<div class="column color-gray-fill mb-2">Событие</div>
										<div class="column mb-2">
											<multiselect
												class="multiselect_simple multiselect_width_175"
												v-model="events.value"
												:options="events.options"
												:searchable="true"
												:close-on-select="true"
												:show-labels="false"
												:preselect-first="true"
												@close="events.isTouched = true"
												placeholder="Выберите город" />
										</div>
									</div>
								</div>
								<div class="column">
									<div class="row row_indents_s align-items-center">
										<div class="column color-gray-fill mb-2">Пользователь</div>
										<div class="column mb-2">
											<multiselect
												class="multiselect_simple multiselect_width_175"
												v-model="users.value"
												:options="users.options"
												:searchable="true"
												:close-on-select="true"
												:show-labels="false"
												:preselect-first="true"
												@close="users.isTouched = true"
												placeholder="Выберите город" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="table-responsive mb-3">
						<table class="table table_side-paddings_none text-h4">
							<tbody>
								<tr>
									<td>Вакансия <a href="#">«Wp разработчик, Киев»</a> отредактирована.</td>
									<td>25.03.2020  11:29</td>
								</tr>
								<tr>
									<td>Какое-то неважное действие</td>
									<td>25.03.2020  11:29</td>
								</tr>
								<tr>
									<td>Какое-то неважное действие</td>
									<td>25.03.2020  11:29</td>
								</tr>
								<tr>
									<td>Вакансия <a href="#">«Wp разработчик, Киев»</a> отредактировал <a href="#">Иван Иванович</a>.</td>
									<td>25.03.2020  11:29</td>
								</tr>
							</tbody>
						</table>
					</div>
					<pagination class="mb-4"></pagination>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Datepicker from 'vuejs-datepicker';
	import ru from '../../node_modules/vuejs-datepicker/dist/locale/translations/ru.js';
	// import '../assets/styles/common/_datepicker.scss';
	import svgIcon from '../components/SvgIcon.vue'
	import Multiselect from 'vue-multiselect'
	import Pagination from '../components/Pagination.vue'
	import '../assets/styles/common/_personal-nav.scss'
	export default {

		name: 'Personal-event-log',

		data () {
			return {
				ru: ru,
				personalCardNavLinks: [
					{
						href: 'personal-company-card',
						text: 'Карточка компании',
					},
					{
						href: 'personal-vacancys-feedback',
						text: 'Вакансии и отклики',
					},
					{
						href: 'personal-event-log',
						text: 'Журнал событий',
					},
					{
						href: '/',
						text: 'Услуги и счета',
					},
					{
						href: '/',
						text: 'Мои рассылки',
					},
					{
						href: '/',
						text: 'Пользователи',
					},
					{
						href: '/',
						text: 'Настройки пользователя',
					},
					{
						href: '/',
						text: 'Выход',
					},
				],
				events: {
					value: [],
					isTouched: false,
					options: ['Все', 'Все 1', 'Все 2', 'Все 3']
				},
				users: {
					value: [],
					isTouched: false,
					options: ['Пользователь', 'Пользователь 1', 'Пользователь 2', 'Пользователь 3']
				}
			}
		},
		methods: {
			openPicker (picker) {
				this.$refs[picker].showCalendar()
			},
		},
		components: {
			Datepicker,
			svgIcon,
			Multiselect,
			Pagination
		}
	}
</script>

<style lang="css" scoped>
</style>