<template>
	<div class="company-account-settings">
		<div class="wrap p-4 mb-4">
			<div class="pt-md-3 pl-md-3 pr-md-3">
				<h2 class="mb-4">Настройки аккаунта</h2>
				<div class="row mb-4">
					<div class="col-md-6">
						<div class="form-group mb-4">
							<label class="label text-h3 mb-2" for="login">Логин</label>
							<input
								class="form-control"
								id="login"
								value="Credo"
								type="text"
								disabled>
						</div>
						<div class="form-group mb-4">
							<label class="label text-h3 mb-2" for="regedEmail">Зарегистрированный email</label>
							<input
								class="form-control"
								id="regedEmail"
								value="credo@mail.ru"
								type="email"
								disabled>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="label text-h3 mb-2" for="changepass">Изменение пароля</label>
							<input class="form-control mb-3" type="password" placeholder="Старый пароль">
							<input class="form-control mb-3" type="password" placeholder="Новый пароль">
						</div>
					</div>
				</div>
				<div class="pt-5">
					<div class="font-weight-bold mb-4">
						<h4 class="mb-0">Контактная информация для сотрудников сайта <a href="#">UPWORK.UZ</a></h4>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group mb-4">
								<label class="label text-h3 mb-2" for="name">Имя и фамилия</label>
								<input
									class="form-control"
									id="name"
									type="text">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group mb-4">
								<label class="label text-h3 mb-2" for="tel">Номер телефона</label>
								<input
									class="form-control"
									id="tel"
									type="text">
							</div>
						</div>
					</div>
					<div class="row align-items-center justify-content-end pt-4">
						<div class="column mb-2">
							<a class="button button_gray_dark" href="#">Сохранить настройки</a>
						</div>
						<div class="column mb-2">
							<a class="color-gray-fill text-decoration-underline text-decoration-underline_hover_none" href="#">Сбросить настройки</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wrap p-4 mb-4">
			<div class="pt-md-3 pl-md-3 pr-md-3">
				<h2 class="mb-4">Рассылка по Email</h2>
				<div class="mb-4 pb-2">
					<h3>Вакансии, отклики и услуги</h3>
					<checkbox
						class="d-block mb-2"
						:type="'checkbox'"
						:name="'allService'"
						:id="'service1'"
						:content="'Еженедельный отчет о ваших вакансиях'"
						:checked="false" />
					<checkbox
						class="d-block mb-2"
						:type="'checkbox'"
						:name="'allService'"
						:id="'service2'"
						:content="'Отклики (резюме, которые отправляют на ваши вакансии)'"
						:checked="false" />
					<checkbox
						class="d-block mb-2"
						:type="'checkbox'"
						:name="'allService'"
						:id="'service3'"
						:content="'Ежедневный отчет об откликах на вакансии'"
						:checked="false" />
					<checkbox
						class="d-block mb-2"
						:type="'checkbox'"
						:name="'allService'"
						:id="'service4'"
						:content="'Еженедельный отчет об использовании услуг Work.ua'"
						:checked="false" />
				</div>
				<div class="mb-4 pb-2">
					<h3>Новости и обновления</h3>
					<checkbox
						class="d-block mb-2"
						:type="'checkbox'"
						:name="'news'"
						:id="'news1'"
						:content="'Новости об изменениях и новых возможностях сайта'"
						:checked="false" />
					<checkbox
						class="d-block mb-2"
						:type="'checkbox'"
						:name="'news'"
						:id="'news2'"
						:content="'Еженедельный дайджест с подборкой статей и новостей о трудоустройстве'"
						:checked="false" />
					<checkbox
						class="d-block mb-2"
						:type="'checkbox'"
						:name="'news'"
						:id="'news3'"
						:content="'Напоминания о профессиональных праздниках'"
						:checked="false" />
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import checkbox from '../components/Checkbox.vue'
	export default {

		name: 'Company-account-settings',

		data () {
			return {

			}
		},
		components: {
			checkbox
		}
	}
</script>

<style lang="scss" scoped>
</style>