<template>
	<div class="company-settings">
		<div class="wrap mb-4">
			<div class="pt-4 pb-4 pl-3 pr-3 pl-md-5 pr-md-5">
				<div class="pt-3">
					<h2>Настройки</h2>
					<div class="row">
						<div class="col-sm-6">
							<div class="mb-3 d-inline-block">
								<div class="mb-1">
									<img v-lazy="require('../assets/images/credo-logo.png')" width="265" alt="">
								</div>
								<div class="mb-1">
									<a class="button button_transparent_blue_light d-block" href="#">Заменить фото</a>
								</div>
								<div class="mb-1">
									<a class="button button_transparent_red_light d-block" href="#">Удалить фото</a>
								</div>
							</div>
							<div class="form-group mb-3 pb-2">
								<label class="label text-h4 font-weight-normal" for="companyName">Полное название компании</label>
								<input class="form-control form-control_simple" id="companyName" type="text" placeholder="Юридическое наименование">
							</div>
							<div class="form-group mb-3 pb-2">
								<label class="label text-h4 font-weight-normal" for="typeCompany">Тип</label>
								<div>
									<checkbox
										class="checkbox-circle"
										:type="'radio'"
										:name="'typeCompanyName'"
										:id="'typeCompanyCheckbox1'"
										:checked="true">
										<div class="text-h6">
											<div class="text-h5">Прямой работодатель</div>
										</div>
									</checkbox>
								</div>
								<div>
									<checkbox
										class="checkbox-circle"
										:type="'radio'"
										:name="'typeCompanyName'"
										:id="'typeCompanyCheckbox2'"
										:checked="false">
										<div class="text-h6">
											<div class="text-h5">HR-агенство</div>
										</div>
									</checkbox>
								</div>
							</div>
							<div class="form-group mb-3 pb-2">
								<label class="label text-h4 font-weight-normal" for="area-activity">Полное название компании</label>
								<multiselect
									class="multiselect_simple"
									v-model="categorys.value"
									:options="categorys.options"
									:searchable="true"
									:close-on-select="true"
									:show-labels="false"
									:preselect-first="true"
									@close="categorys.isTouched = true"
									:id="'area-activity'"
									placeholder="Выберите город" />
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group mb-3 pb-2">
								<label class="label text-h4 font-weight-normal" for="number-employees">Количество сотрудников</label>
								<div class="row">
									<div class="col-4">
										<input class="form-control form-control_simple" id="number-employees" type="number">
									</div>
								</div>
							</div>
							<div class="form-group mb-3 pb-2">
								<label class="label text-h4 font-weight-normal" for="site">Сайт</label>
								<input class="form-control form-control_simple" value="www.credo-studio.com" id="site" type="text">
							</div>
							<div class="form-group mb-3 pb-2">
								<label class="label text-h4 font-weight-normal" for="contact-person">Контактное лицо</label>
								<input class="form-control form-control_simple" value="Руслан Фахрутдинов" id="contact-person" type="text">
							</div>
							<div class="form-group mb-3 pb-2">
								<label class="label text-h4 font-weight-normal" for="person-email">Контактное лицо</label>
								<input class="form-control form-control_simple" value="mail@mail.ru" id="person-email" type="email">
							</div>
							<div class="form-group mb-3 pb-2">
								<label class="label text-h4 font-weight-normal" for="city">Контактное лицо</label>
								<input class="form-control form-control_simple mb-3" id="city" type="text" placeholder="Город">
								<input class="form-control form-control_simple mb-3" id="district" type="text" placeholder="Район">
								<input class="form-control form-control_simple mb-3" id="number-house" type="text" placeholder="Номера дома и офиса">
							</div>
						</div>
					</div>
					<div class="row align-items-center justify-content-sm-end">
						<div class="column mb-2">
							<a class="button button_gray_dark" href="#">Сохранить настройки</a>
						</div>
						<div class="column mb-2">
							<a class="color-gray-fill text-decoration-underline text-decoration-underline_hover_none" href="#">Сбросить настройки</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wrap mb-4">
			<div class="pt-4 pb-4 pl-3 pr-3 pl-md-5 pr-md-5">
				<div class="pt-3">
					<h2>О компании</h2>
					<div class="text-h4 color-gray-dark mb-4">Опишите вашу компанию подробнее для того, чтобы соискатели как можно подробнее узнали о компании, атмосфере, направлениях деятельности и т.д.</div>
					<div class="mb-4">
						<img v-lazy="require('../assets/images/text-redactor.png')" width="885" alt="">
					</div>
					<div class="row align-items-center justify-content-sm-end">
						<div class="column mb-2">
							<a class="button button_gray_dark" href="#">Сохранить настройки</a>
						</div>
						<div class="column mb-2">
							<a class="color-gray-fill text-decoration-underline text-decoration-underline_hover_none" href="#">Очистить</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import checkbox from '../components/Checkbox.vue'
	import Multiselect from 'vue-multiselect'
	export default {

		name: 'Company-settings',

		data () {
			return {
				categorys: {
					value: [],
					isTouched: false,
					options: ['IT, компьютеры, интернет', 'Администрация, руководство среднего звена', 'Гостинично-ресторанный бизнес, туризм']
				}
			}
		},
		components: {
			checkbox,
			Multiselect
		}
	}
</script>

<style lang="css" scoped>
</style>