<template>
	<div class="contact-page">
		<div class="container-fluid">
			<div class="pb-2 negative-margins">
				<router-link class="text-h4 text-lg-white mb-2 d-inline-block" :to="{name: 'Home'}">
					<svg-icon class="svg-icon_reverse_90_negative font-size-10" name="angle" />
					<span class="ml-2 align-middle">На главную</span>
				</router-link>
			</div>
			<div class="row">
					<div class="col-lg-9 mb-4 d-flex flex-column">
						<div class="wrap p-4 flex-grow-1">
							<div class="pl-sm-2 pt-sm-4">
								<h2>Мы всегда к вашим услугам</h2>
								<div class="color-gray-dark mb-4">Если у вас возник вопрос или предложение, напишите нам. Расскажите подробнее о вашем опыте использования продукта. Обратите внимание на качество, удобство, ее соответствие Вашим ожиданиям.</div>
								<form>
									<div class="row row_indents_m">
										<div class="col-md-6">
											<div class="form-group mb-3">
												<input class="form-control form-control_simple" v-model="inputTheme" type="text" placeholder="Введите тему своего сообщения">
											</div>
											<div class="form-group mb-3">
												<input class="form-control form-control_simple" v-model="inputEmail" type="text" placeholder="Введите свою почту">
											</div>
										</div>
										<div class="col-md-6 d-flex flex-column">
											<div class="form-group mb-3 flex-grow-1">
												<textarea class="form-control form-control_simple h-100" rows="3" v-model="inputMsg" placeholder="Ваше сообщение ..."></textarea>
											</div>
										</div>
									</div>
									<div class="row justify-content-end align-items-center">
										<div class="column">
											<button class="button button_blue button-clr" type="button" @click="showModal('thnx-dialog')">Отправить сообщение</button>
										</div>
										<div class="column">
											<a class="color-gray-fill text-decoration-underline" href="#" @click.prevent="clearForm">Очистить</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-3 mb-4 d-flex flex-column">
						<div class="wrap flex-grow-1">
							<div class="p-4">
								<div class="pl-sm-2 pr-sm-2">
									<div class="text-center mb-4">
										<img v-lazy="require('../assets/images/admin-logo.svg')" width="240" alt="">
									</div>
									<div class="text-h5 text-center text-lg-left">Контакты администрации</div>
								</div>
							</div>
							<hr class="devider m-0">
							<div class="p-4">
								<div class="pl-sm-2 pr-sm-2 text-center text-lg-left">
									<div class="mb-2">
										<svg-icon class="color-gray-fill" name="phone" />
										<span class="text-h5 ml-2 pl-1 align-middle"><a class="color-dark-main" href="tel:+998981234567">+998 98 123 4567</a></span>
									</div>
									<div class="mb-2">
										<svg-icon class="color-gray-fill" name="envelope" />
										<span class="text-h5 ml-2 pl-1 align-middle"><a href="mailto:mail@mail.com">mail@mail.com</a></span>
									</div>
									<div class="mb-2">
										<div class="d-inline-block">
											<img v-lazy="require('../assets/images/tg.svg')" width="17px" alt="">
										</div>
										<span class="text-h5 ml-2 pl-1 align-middle"><a href="#">Написать нам в телеграм</a></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</template>

<script>
	import svgIcon from '../components/SvgIcon.vue'
	export default {

		name: 'Contact-page',

		data () {
			return {
				inputTheme: '',
				inputEmail: '',
				inputMsg: '',
			}
		},
		methods: {
			clearForm () {
				this.inputTheme = ''
				this.inputEmail = ''
				this.inputMsg = ''
			},
			showModal (modalName) {
				this.$modal.show(modalName)
			}
		},
		components: {
			svgIcon
		}
	}
</script>

<style lang="css" scoped>
</style>