<template>
	<div class="Employers-speciality">
		<div class="banner-section mb-4 pb-1">
			<div class="container-fluid">
				<banner :img="bannerImgs.vacancyBanner">
					<div class="row">
						<div class="position-relative col-lg-6 offset-lg-6 offset-xl-5">
							<h2>Разместить вакансию</h2>
							<p>Разместите вакансию, чтобы Вас смогли найти соискатели. Наши шаблоны поэтапно проведут Вас по вопросам, которые интересны соискателю и привлекут его внимание. Вы сможете разместить получившуюся вакансию.</p>
							<router-link class="button button_blue" :to="{name: 'post-resume'}">Создать резюме</router-link>
						</div>
					</div>
				</banner>
			</div>
		</div>
		<div class="tabs-section mb-4 pb-1">
			<div class="container-fluid">
				<div class="wrap pl-4 pr-4 pb-4">
					<vue-tabs class="tabs">
						<v-tab title="Резюме по специальностям">
							<div class="pt-4 pb-4">
								<div class="pt-1 pb-1">
									<div class="row">
										<div class="col-10">
											<nav class="row">
												<sub-category-link
													class="subcategory-link-wrap_one-list col-lg-6 mb-1"
													v-for="(link, linkIdx) in subCategoryData"
													:key="linkIdx"
													:link-prop="link" />
											</nav>
										</div>
									</div>
								</div>
							</div>
						</v-tab>

						<v-tab title="Резюме по регионам">
							<div class="pt-4 pb-4 p-md-4">
								<div class="p-md-1">
									<country-map :data="UzbekistanData" />
								</div>
							</div>
						</v-tab>
					</vue-tabs>
				</div>
			</div>
		</div>
		<div class="resume-section mb-4 pb-1">
			<div class="container-fluid">
				<div class="regular-title regular-title_on_background_gray pl-4 mb-4">
					<h3>Вакансия дня</h3>
				</div>
				<card-resume-large
					class="mb-4"
					v-for="(vacancy, keyId) in vacancys"
					:key="keyId+10"
					:obj="vacancy" />
			</div>
		</div>
		<div class="banner-section mb-4 pb-1">
			<div class="container-fluid">
				<banner class="banner_bg-correction text-white" :img="bannerImgs.subscribeBanner">
					<div class="row">
						<div class="position-relative col-lg-6 offset-lg-6 offset-xl-5">
							<div class="pl-lg-5">
								<h2 class="font-weight-bold">Подпишитесь на интересные Вам вакансии</h2>
								<p>Каждый день мы можем Вам присылать вакансии по выбранным ключевым словам</p>
								<div class="row row_indents_m align-items-center">
									<div class="col-sm-6 mb-4 pb-1">
										<input class="form-control" placeholder="Укажите ключевые слова через запятую" type="text">
									</div>
									<div class="col-sm-6 mb-4 pb-1">
										<input class="form-control" placeholder="Email для подписки" type="email">
									</div>
									<div class="column mb-4 pb-1">
										<button class="button button_blue button-clr" type="button-clr">Подписаться на вакансии</button>
									</div>
									<div class="column mb-4 pb-1">
										<a class="d-flex flex-nowrap text-white align-items-center text-decoration-none" href="#">
											<div class="flex-shrink-0">
												<img src="../assets/images/tg.svg" alt="">
											</div>
											<div class="ml-2 text-underline">Отправлять мне в Telegram</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</banner>
			</div>
		</div>
		<div class="info-section mb-4 pb-1">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-6 mb-4">
							<div class="regular-title regular-title_on_background_gray mb-4">
								<h3>Работа в Узбекистане</h3>
							</div>
							<div class="info-card wrap pt-4 pl-4 pr-4 pb-3">
								<div class="pt-1 pl-lg-3 pr-lg-3">
									<p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>
									<p>По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 mb-4">
							<div class="regular-title regular-title_on_background_gray mb-4">
								<h3>Статьи и новости</h3>
							</div>
							<div class="info-card wrap pt-4 pl-4 pr-4 pb-3">
								<div class="pt-1 pl-lg-3 pr-lg-3">
									<a class="news-preview" v-for="(item, idx) in 3" :key="idx" href="#">
										<div class="row row_indents_m flex-nowrap">
											<div class="column flex-shrink-0">
												<div class="news-preview__data">
													<div>22</div>
													<div>авг.</div>
												</div>
											</div>
											<div class="column flex-grow-1">
												<h4 class="font-weight-semi mb-1">10 вакансий для работы удаленно</h4>
												Карантин внес правки в нашу повседневную жизнь. Поэтому Work.ua предлагает 10 вакансий, благодаря которым вы сможете работать, не выходя из дома.
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</template>

<script>
	import Banner from '../components/Banner.vue'
	import subCategoryLink from '../components/Subcategory-link.vue'
	import cardResumeLarge from '../components/Card-resume-large.vue'
	import countryMap from '../components/Country-map.vue'
	import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'
	import '../assets/styles/common/_tabs.scss'
	export default {
		meta: {title: 'Работадателям по специальности', employer: true},
		name: 'Employers-speciality',

		data () {
			return {
				bannerImgs: {
					vacancyBanner: require('../assets/images/banner-bg-3.png'),
					subscribeBanner: require('../assets/images/banner-bg-4.png')
				},
				subCategoryData: [

					{
						linkHref: 'resume-category-inside',
						linkName: 'IT, компьютеры, интернет',
						linkQuantity: '123'
					},
					{
						linkHref: 'resume-category-inside',
						linkName: 'Администрация, руководство среднего звена',
						linkQuantity: '23'
					},
					{
						linkHref: 'resume-category-inside',
						linkName: 'Бухгалтерия, аудит',
						linkQuantity: '16'
					},
					{
						linkHref: 'resume-category-inside',
						linkName: 'Гостинично-ресторанный бизнес, туризм',
						linkQuantity: '1'
					},
					{
						linkHref: 'resume-category-inside',
						linkName: 'Дизайн, творчество',
						linkQuantity: '76'
					},
					{
						linkHref: 'resume-category-inside',
						linkName: 'Красота, фитнес, спорт',
						linkQuantity: '84'
					},
					{
						linkHref: 'resume-category-inside',
						linkName: 'Культура, музыка, шоу-бизнес',
						linkQuantity: '64'
					},
					{
						linkHref: 'resume-category-inside',
						linkName: 'Логистика, склад, ВЭД',
						linkQuantity: '24'
					},
					{
						linkHref: 'resume-category-inside',
						linkName: 'Маркетинг, реклама, PR',
						linkQuantity: '54'
					},
					{
						linkHref: 'resume-category-inside',
						linkName: 'Медицина, фармацевтика',
						linkQuantity: '76'
					},
					{
						linkHref: 'resume-category-inside',
						linkName: 'Недвижимость',
						linkQuantity: '54'
					},
					{
						linkHref: 'resume-category-inside',
						linkName: 'Образование, наука',
						linkQuantity: '34'
					},
					{
						linkHref: 'resume-category-inside',
						linkName: 'Охрана, безопасность',
						linkQuantity: '54'
					},
					{
						linkHref: 'resume-category-inside',
						linkName: 'Продажи, закупки',
						linkQuantity: '65'
					},
					{
						linkHref: 'resume-category-inside',
						linkName: 'Рабочие специальности, производство',
						linkQuantity: '76'
					},
					{
						linkHref: 'resume-category-inside',
						linkName: 'Розничная торговля',
						linkQuantity: '65'
					},
					{
						linkHref: 'resume-category-inside',
						linkName: 'Секретариат, делопроизводство, АХО',
						linkQuantity: '43'
					},
				],
				vacancys: [
					{
						title: 'Контент-менеджер (реклама, SMM)',
						pro: true,
						jobSeekerHref: '/',
						jobSeekerVacancys: '/',
						jobSeekerName: 'Валерия Валериевна',
						jobSeekerAge: '32 года',
						jobSeekerLocationHref: '/',
						jobSeekerLocationCity: 'Ташкент',
						jobSeekerAbout: {
							education: 'Высшее образование',
							typeJob: 'Неполная занятость, удаленная работа',
							experience: [
								'SMM специалист в Dental Center, Одесса',
								'2 года 2 месяца • Project Coordinator, Whaleapp LTD · 1 год 6 месяцев'
							]
						},
						jobSeekerLogoSrc: require('../assets/images/job-seeker-avatar1.png'),
						postDate: 'Сегодня',
						vacancyHref: 'resume-page',
						vacancyHrefDescr: 'Показать детали »',
					},
					{
						title: 'Контент-менеджер (реклама, SMM)',
						tags: [],
						jobSeekerHref: '/',
						jobSeekerVacancys: '/',
						jobSeekerName: 'Валерия Валериевна',
						jobSeekerAge: '32 года',
						jobSeekerLocationHref: '/',
						jobSeekerLocationCity: 'Ташкент',
						jobSeekerAbout: {
							education: 'Высшее образование',
							typeJob: 'Неполная занятость, удаленная работа',
							experience: [
								'SMM специалист в Dental Center, Одесса',
								'2 года 2 месяца • Project Coordinator, Whaleapp LTD · 1 год 6 месяцев'
							]
						},
						jobSeekerLogoSrc: require('../assets/images/job-seeker-avatar2.png'),
						postDate: 'Сегодня',
						vacancyHref: 'resume-page',
						vacancyHrefDescr: 'Показать детали »',
					},
					{
						title: 'Контент-менеджер (реклама, SMM)',
						pro: true,
						jobSeekerHref: '/',
						jobSeekerVacancys: '/',
						jobSeekerName: 'Валерия Валериевна',
						jobSeekerAge: '32 года',
						jobSeekerLocationHref: '/',
						jobSeekerLocationCity: 'Ташкент',
						jobSeekerAbout: {
							education: 'Высшее образование',
							typeJob: 'Неполная занятость, удаленная работа',
							experience: [
								'SMM специалист в Dental Center, Одесса',
								'2 года 2 месяца • Project Coordinator, Whaleapp LTD · 1 год 6 месяцев'
							]
						},
						jobSeekerLogoSrc: require('../assets/images/job-seeker-avatar3.png'),
						postDate: 'Сегодня',
						vacancyHref: 'resume-page',
						vacancyHrefDescr: 'Показать детали »',
					},
					{
						title: 'Контент-менеджер (реклама, SMM)',
						tags: [],
						jobSeekerHref: '/',
						jobSeekerVacancys: '/',
						jobSeekerName: 'Валерия Валериевна',
						jobSeekerAge: '32 года',
						jobSeekerLocationHref: '/',
						jobSeekerLocationCity: 'Ташкент',
						jobSeekerAbout: {
							education: 'Высшее образование',
							typeJob: 'Неполная занятость, удаленная работа',
							experience: [
								'SMM специалист в Dental Center, Одесса',
								'2 года 2 месяца • Project Coordinator, Whaleapp LTD · 1 год 6 месяцев'
							]
						},
						jobSeekerLogoSrc: require('../assets/images/job-seeker-avatar4.png'),
						postDate: 'Сегодня',
						vacancyHref: 'resume-page',
						vacancyHrefDescr: 'Показать детали »',
					},
				],
				UzbekistanData: {
					allCitiesHref: '/',
					arrayCountry: [
						{
							link: {
								linkHref: 'xorazm-district',
								linkName: 'Хорезмская область',
								linkQuantity: '123'
							},
							map: {
								mapHref: 'xorazm-district',
								id: 'xorazm-district',
								path: 'M158.821 175.02L156.932 177.86L151.894 174.073H134.263L130.799 172.81L121.983 166.181L121.354 163.972L125.132 159.553L122.928 154.818L121.983 152.293L123.243 150.714L127.966 151.661L123.558 145.98L118.205 145.033L118.52 142.823H120.409V139.351L121.983 136.194L116.631 130.513H118.835L128.28 139.035L127.651 141.561L129.54 144.086L133.318 145.033V147.874L135.207 151.977L141.504 158.921L146.857 163.025L151.579 168.075H154.413L158.821 175.02Z',
								fill: '#9384EF',
								stroke: '#000',
							}
						},
						{
							link: {
								linkHref: 'buxoro-district',
								linkName: 'Бухарская область',
								linkQuantity: '123'
							},
							map: {
								mapHref: 'buxoro-district',
								id: 'buxoro-district',
								path: 'M194.709 167.074L182.747 171.183V171.238L188.728 182.286L176.453 186.691L178.335 194.593L180.864 202.162L187.787 207.214L189.356 220.798L190.943 223.315L206.357 236.88L221.789 246.355L227.142 254.572L241.319 263.714L246.986 263.084L250.438 258.976L253.594 258.032L257.378 258.347L259.889 257.403L260.202 252.036L264.614 248.576L268.712 246.04L270.281 243.523V242.82L264.614 241.562L266.811 239.045V236.824L263.045 236.195L259.575 237.139L257.692 235.566L252.339 227.367L253.594 225.147L257.692 223.888L259.889 217.892L258.947 215.986L260.83 213.784L260.202 209.676L262.399 207.788L266.497 210.638L269.34 207.473L271.85 207.159L272.478 204.309L276.576 201.163L277.204 197.998L274.693 197.683L272.478 196.425H270.909L266.183 199.257H263.359L260.83 197.683L255.791 191.058V185.062L254.535 182.212L252.653 182.86L251.379 185.377L246.044 186.006L244.143 186.321V191.687L243.201 192.946L234.692 193.908L233.437 192.317L235.024 189.8L234.064 186.95L231.24 187.264L226.514 191.687L226.2 194.223L228.711 197.998L227.456 199.257H224.318L222.102 197.369L222.416 192.946L206.357 183.175L204.16 187.264L201.65 187.579L200.69 184.433V180.639L198.807 178.752L196.61 175.587L195.983 170.535L194.709 167.074Z',
								fill: '#EFEB84',
								stroke: '#000',

							}
						},
						{
							link: {
								linkHref: 'qashqadaryo-district',
								linkName: 'Кашкадарьинская область',
								linkQuantity: '123'
							},
							map: {
								mapHref: 'qashqadaryo-district',
								id: 'qashqadaryo-district',
								path: 'M314.987 295.906L319.391 294.342L323.801 294.342L326.005 291.761L326.946 287.969L328.535 285.432L330.737 285.118L333.563 280.707L332.612 278.175L333.242 275.34L339.24 274.699L340.176 270.281L340.169 267.453L341.745 267.124L344.265 268.39L346.795 267.121L347.414 265.227L344.904 262.72L347.102 259.231L345.838 253.558L337.337 251.979L337.654 248.503L330.737 245.341L326.32 249.76L322.235 245.667L316.244 243.465L314.035 245.35L311.523 249.763L308.687 249.137L306.175 246.288L307.431 246.616L303.66 250.087L301.451 248.505L301.141 245.044L298.937 246.613L295.468 249.133L292.641 248.821L289.795 242.506L286.961 240.938L284.765 243.14L270.281 242.82L270.279 243.516L268.704 246.041L264.611 248.566L260.203 252.039L259.888 257.405L257.37 258.352L253.591 258.036L250.443 258.983L246.979 263.086L254.851 271.609L266.815 277.606L284.132 290.232L289.17 290.864L292.003 288.97L297.041 290.232L301.449 293.389L308.376 297.177L315.932 298.755L314.987 295.906Z',
								fill: '#84EFDC',
								stroke: '#000',

							}
						},
						{
							link: {
								linkHref: 'surxondaryo-district',
								linkName: 'Сурхандарьинская область',
								linkQuantity: '123'
							},
							map: {
								mapHref: 'surxondaryo-district',
								id: 'surxondaryo-district',
								path: 'M315.932 298.755L314.987 295.906L319.391 294.343L323.801 294.342L326.005 291.762L326.946 287.969L328.535 285.432L330.737 285.118L333.563 280.707L332.612 278.176L333.242 275.341L339.24 274.699L340.176 270.281L340.169 267.454L341.745 267.124L344.265 268.391L346.795 267.122L347.414 265.228L344.904 262.72L347.102 259.231L347.417 258.667L351.195 259.93L359.067 258.667L362.53 264.349L358.752 267.19V276.344L361.586 280.447L362.845 284.551L367.883 287.392L369.457 290.864L366.308 299.071L361.9 300.018L361.586 302.859L359.067 309.172L354.029 316.432L353.085 320.851L354.344 326.533L352.77 330.005L351.51 328.742L347.732 327.164L345.843 329.058L343.324 326.217L341.12 329.689L336.397 330.952L334.823 327.795L331.675 326.533V324.323L327.267 322.745L318.451 325.901L313.728 323.692L315.302 320.535L313.098 318.957L313.728 307.278L318.136 302.227L315.932 298.755Z',
								fill: '#84A2EF',
								stroke: '#000',

							}
						},
						{
							link: {
								linkHref: 'samarqand-district',
								linkName: 'Самаркандская область',
								linkQuantity: '123'
							},
							map: {
								mapHref: 'samarqand-district',
								id: 'samarqand-district',
								path: 'M337.658 248.502L330.735 245.337L326.323 249.76L322.226 245.67L316.245 243.468L314.03 245.356L311.519 249.76L308.695 249.131L306.904 247.114L303.655 250.093L301.459 248.502L301.145 245.041L298.93 246.614L295.46 249.131L292.635 248.816L289.793 242.506L286.968 240.933L284.772 243.135L270.281 242.82L271.536 236.824L270.909 234.307L268.066 232.716L267.125 230.514L269.026 229.884H271.85L272.478 226.72L275.007 228.311L277.831 227.997L278.145 225.461L277.517 222.315L279.4 219.151L285.713 222.945L287.282 220.409L291.694 222.63L293.577 221.686L295.46 222.315L298.302 219.465L295.773 216.634L297.988 211.896L298.302 203.994L300.185 199.904H302.714L303.655 203.68H305.538L308.695 200.219L310.892 201.163L311.205 203.994H313.107L314.676 202.107L315.303 197.998L319.715 197.369L319.395 196.8L319.08 201.219L319.71 204.375L321.599 205.322L322.859 207.532L320.655 209.742V213.214L322.229 215.108L326.322 215.423L328.211 219.211H330.1L331.045 221.105L330.1 223.946L332.304 226.155H333.879L337.027 224.893L343.009 227.418V229.312L340.805 230.575L339.231 233.415L341.12 239.097L339.231 240.675L337.658 248.502ZM306.904 247.114L307.44 246.614L306.166 246.281L306.904 247.114Z',
								fill: '#9384EF',
								stroke: '#84C2EF',

							}
						},
						{
							link: {
								linkHref: 'jizzax-district',
								linkName: 'Джизакская область',
								linkQuantity: '123'
							},
							map: {
								mapHref: 'jizzax-district',
								id: 'jizzax-district',
								path: 'M341.128 239.1L339.227 233.419L340.814 230.569L343.011 229.311V227.423L337.03 224.888L333.874 226.165H332.305L330.108 223.944L331.049 221.112L330.108 219.206H328.207L326.324 215.431L322.226 215.116L320.657 213.21V209.75L322.853 207.529L321.598 205.327L319.715 204.383L319.088 201.218L319.365 197.424L319.715 197.369L319.088 195.167L315.931 185.062L316.245 181.583L319.402 180.325L318.774 177.179L319.081 176.914L327.582 178.176L345.528 174.704L348.362 175.967L350.566 174.704L353.4 180.07L356.548 179.123L355.289 186.383L354.029 187.961V189.54L362.53 194.59V200.903L356.233 207.848L356.863 211.951L360.956 212.267L368.512 210.057L370.716 212.267L369.142 214.476L369.457 217.317L372.291 218.264L373.55 219.842L369.457 221.736L371.976 224.577L373.55 225.524L374.18 233.1L371.031 237.203H367.568L347.103 235.625H344.899L341.128 239.1Z',
								fill: '#84C2EF',
								stroke: '#000',

							}
						},
						{
							link: {
								linkHref: 'sirdaryo-district',
								linkName: 'Сырдарьинская область',
								linkQuantity: '123'
							},
							map: {
								mapHref: 'sirdaryo-district',
								id: 'sirdaryo-district',
								path: 'M378.28 216.373L379.842 217.321L384.578 215.733L383.312 213.528L374.181 214.797L372.608 212.261L384.564 210.382L386.143 206.211L387.401 208.413L389.298 208.733L389.93 206.85L386.774 203.428L387.088 200.272L385.829 196.168L373.865 184.805L373.55 181.648L369.772 183.858L370.401 191.749H371.975V196.168L369.772 195.853L367.253 196.8L362.53 194.59V200.903L356.233 207.848L356.863 211.951L360.956 212.267L368.512 210.057L370.716 212.267L369.142 214.476L369.457 217.317L372.29 218.264L373.55 219.842L369.457 221.736L371.975 224.577L373.55 225.524L377.328 226.155L376.069 220.474L379.217 223.63L381.736 223.314L377.328 217.001L378.28 216.373Z',
								fill: '#EFEB84',
								stroke: '#000',

							}
						},
						{
							link: {
								linkHref: 'tashkent-district',
								linkName: 'Ташентская область',
								linkQuantity: '123'
							},
							map: {
								mapHref: 'tashkent-district',
								id: 'tashkent-district',
								path: 'M389.93 206.85L386.774 203.428L387.088 200.272L385.829 196.168L373.865 184.805L373.55 181.648L374.809 177.545L382.995 172.81L383.31 164.919L392.126 161.447L395.589 155.765L400.627 152.293L409.128 150.083L411.017 148.821L416.999 140.614L417.314 137.142L422.352 134.616L427.075 137.457L429.593 131.46L435.576 127.356L437.78 125.462L444.077 128.619V131.46L433.057 136.51V141.876H428.334L423.926 148.821L420.778 151.346L414.795 155.134V157.975L422.037 158.29L423.296 161.131L422.037 165.866L425.815 171.548L427.075 175.967L425.815 177.861L423.926 175.651L422.667 176.914L422.352 181.333L417.314 185.436L407.554 189.224L405.665 192.381L402.201 192.696L395.904 186.383L392.756 188.593L392.441 191.118V195.537L388.978 197.747L391.496 201.219L392.441 204.375L389.93 206.85Z',
								fill: '#84A2EF',
								stroke: '#000',

							}
						},
						{
							link: {
								linkHref: 'namangan-district',
								linkName: 'Наманганская область',
								linkQuantity: '123'
							},
							map: {
								mapHref: 'namangan-district',
								id: 'namangan-district',
								path: 'M423.297 161.131L422.037 165.866L425.815 171.548L427.075 175.967L426.76 175.02L428.649 175.335L429.908 177.861L428.649 179.754L434.316 187.33L439.984 186.067L445.966 186.383L448.8 188.277L452.578 188.593L456.356 184.805L459.819 179.123L465.487 177.861L471.469 178.176L474.617 175.967L475.562 172.81L473.358 163.972L470.839 166.813L465.802 163.656L465.487 161.762L462.653 157.659H459.819L458.875 152.608H457.301L456.986 155.765L457.301 158.921L456.041 163.656L452.893 162.078L452.263 163.341L452.578 171.232L450.059 169.022L449.429 170.916L446.281 168.391V171.548L445.336 171.863L439.984 168.075L433.372 167.444V163.025L430.853 158.606L423.297 161.131Z',
								fill: '#EFEB84',
								stroke: '#000',

							}
						},
						{
							link: {
								linkHref: 'andijon-district',
								linkName: 'Андижанская область',
								linkQuantity: '123'
							},
							map: {
								mapHref: 'andijon-district',
								id: 'andijon-district',
								path: 'M456.356 184.805L459.819 179.123L465.487 177.861L471.469 178.176L474.617 175.967L475.562 172.81L479.025 172.179L479.34 169.338L484.378 171.863L485.007 174.073L488.471 175.335L503.269 175.967L505.473 177.861L494.453 183.858L493.823 188.277H491.619L491.304 190.487H488.786L483.748 187.33L482.174 188.593L485.322 193.959L483.748 196.168L480.285 194.59V192.065L475.877 188.277L466.431 185.12L456.356 184.805Z',
								fill: '#84EFDC',
								stroke: '#000',

							}
						},
						{
							link: {
								linkHref: 'fargona-district',
								linkName: 'Ферганская область',
								linkQuantity: '123'
							},
							map: {
								mapHref: 'fargona-district',
								id: 'fargona-district',
								path: 'M434.31 187.339L439.977 186.062L445.958 186.376L448.801 188.282L452.585 188.597L456.351 184.803L466.43 185.118L475.881 188.282L480.292 192.058V194.593L475.562 194.59V197.747L471.783 199.641V201.535L467.69 203.744L466.431 206.269L463.912 208.163L461.393 202.797L460.449 204.691L457.615 205.322L452.263 202.166L434.001 207.848H432.112L429.278 202.166H426.13L422.981 200.272L423.611 198.378L429.278 194.275L432.742 190.802L434.31 187.339ZM444.706 217.948L447.54 218.58H451.003L450.688 215.423V211.635H446.91L444.077 208.479L442.817 210.373L443.762 212.898L442.817 214.161L445.651 215.423L444.706 217.948ZM464.227 216.055H466.116L468.32 215.423L467.69 212.898L464.227 216.055Z',
								fill: '#9384EF',
								stroke: '#000',

							}
						},
						{
							link: {
								linkHref: 'qoraqalpogiston-respublikasi',
								linkName: 'Республика Каракалпакстан',
								linkQuantity: '123'
							},
							map: {
								mapHref: 'qoraqalpogiston-respublikasi',
								id: 'qoraqalpogiston-respublikasi',
								path: 'M87.9771 2.66504L15.8751 19.3946L2.6582 161.134L32.5623 166.186L37.6017 162.707L34.4636 160.819L32.5623 156.711L31.9347 149.142L32.5623 141.554L44.2101 132.097L46.739 131.468L52.7198 133.041L59.3283 132.727V130.821L61.2111 129.877L61.8387 125.787V122.937L62.4848 121.364L66.2505 119.772L69.407 122.622L74.1326 127.36L74.4464 129.562H79.172L74.1326 121.364L73.1727 119.143L69.407 116.626V115.053L74.1326 113.776L79.7996 115.368L82.3101 110.001L91.1336 120.105L97.4283 121.364L100.566 129.562L109.445 129.247L116.626 130.506H118.841L128.274 139.037L127.646 141.554L129.547 144.089L133.313 145.033V147.865L135.214 151.973L141.509 158.913L146.862 163.021L151.588 168.074H154.412L158.824 175.013L160.707 172.811L163.236 172.496L167.315 173.755L172.355 177.863L175.825 182.915L176.453 186.691L188.728 182.286L182.747 171.238L171.727 155.138L169.53 150.4L176.766 145.977L177.394 144.404L174.883 136.502L174.256 126.416L176.766 122.622L181.178 118.199L184.962 110.63L191.885 104.634L195.65 99.8966L194.709 98.6382L189.983 97.3613L184.63 93.2714L180.55 87.9046L156.609 59.183L154.726 54.4454V50.9662L148.431 46.7468L147.435 46.0251L144.859 43.7828L138.616 42.8293L132.059 39.1357L128.02 35.9818L122.211 30.1579L98.41 10.5574L95.758 12.9099C87.1016 24.145 87.3428 62.4444 89.474 53.6741L88.7156 56.8611L84.839 57.9061L81.9963 49.0786L84.5252 37.4012L84.5767 29.4076L90.6996 13.9768L92.4812 5.95914L87.9771 2.66504Z',
								fill: '#84C2EF',
								stroke: '#000',

							}
						},
						{
							link: {
								linkHref: '',
								linkName: '',
								linkQuantity: '',
								hideLink: true
							},
							map: {
								mapHref: '',
								id: '',
								path: 'M96.4039 38.9119L93.3001 43.4842L91.2489 45.8562C90.2105 46.2215 93.3298 39.0797 89.3822 57.9856L84.8307 57.9128L81.9971 49.0746L84.5159 37.3955L83.018 27.8493L90.9275 13.9831L92.702 5.51465L98.5068 9.98295L96.1026 12.3101C94.5063 14.0323 94.9134 11.3043 95.2093 20.5105L98.0021 24.4001C96.4176 27.2724 94.7095 27.1423 94.399 30.1874L94.5966 34.1798L96.4039 38.9119Z',
								fill: '#0000FF',
								stroke: '#969300',

							}
						},
						{
							link: {
								linkHref: 'navoiy-district',
								linkName: 'Навоийская область',
								linkQuantity: '55'
							},
							map: {
								mapHref: 'navoiy-district',
								id: 'navoiy-district',
								path: 'M182.747 171.179L171.727 155.078L169.53 150.341L176.766 145.918L177.394 144.345L174.883 136.443L174.256 126.357L176.766 122.563L181.178 118.14L184.962 110.571L191.884 104.575L195.65 99.8374L194.709 98.579L189.983 97.3021L184.63 93.2122L180.55 87.8454L197.233 84.9998L214.55 82.4746L248.239 85.9467L261.778 78.3711L270.593 89.4189L278.78 94.4693L286.966 110.883L295.782 106.148L294.837 127.928L293.578 130.138L294.837 144.974L308.061 144.658L310.265 154.443L315.617 176.223L318.766 177.17L319.395 180.327L316.247 181.589L315.932 185.061L319.081 195.162L319.71 197.372L315.302 198.003L314.673 202.107L313.098 204H311.209L310.894 201.16L308.691 200.213L305.542 203.685H303.653L302.708 199.897H300.189L298.3 204L297.986 211.892L295.782 216.627L298.3 219.467L295.467 222.308L293.578 221.677L291.689 222.624L287.281 220.414L285.706 222.94L279.409 219.152L277.52 222.308L278.15 225.465L277.835 227.99L275.001 228.306L272.483 226.727L271.853 229.884H269.019L267.13 230.515L268.075 232.725L270.908 234.303L271.538 236.828L270.279 242.826L264.611 241.563L266.815 239.038V236.828L263.037 236.197L259.574 237.144L257.684 235.566L252.332 227.359L253.591 225.149L257.684 223.887L259.888 217.889L258.944 215.995L260.833 213.786L260.203 209.682L262.407 207.788L266.5 210.629L269.334 207.473L271.853 207.157L272.483 204.316L276.576 201.16L277.205 198.003L274.687 197.687L272.483 196.425H270.908L266.185 199.266H263.352L260.833 197.687L255.795 191.059V185.061L254.536 182.221L252.647 182.852L251.387 185.377L246.035 186.008L244.146 186.324V191.69L243.201 192.953L234.7 193.9L233.441 192.321L235.015 189.796L234.071 186.955L231.237 187.271L226.514 191.69L226.199 194.215L228.718 198.003L227.459 199.266H224.31L222.106 197.372L222.421 192.953L206.364 183.167L204.16 187.271L201.641 187.587L200.696 184.43V180.642L198.807 178.748L196.603 175.592L195.974 170.541L194.714 167.069L182.747 171.179Z',
								fill: '#1D3B95',
								stroke: '#000',

							}
						}
					]
				}
			}
		},
		components: {
			Banner,
			subCategoryLink,
			cardResumeLarge,
			countryMap,
			VueTabs,
			VTab,
		}
	}
</script>

<style lang="css" scoped>
</style>