<template>
	<div class="Guide pt-5 pb-5">
		<div class="container-fluid">
			<div class="wrap p-4">
				<div class="row">
					<div class="col-sm-6">
						<h1>This is an about page</h1>
						<h2>This is an about page</h2>
						<h3>This is an about page</h3>
						<h4>This is an about page</h4>
						<div class="font-weight-bold">
							<h4>This is an about page</h4>
						</div>
						<h5>This is an about page</h5>
						<div class="font-weight-semi">
							<h5>This is an about page</h5>
						</div>
						<h6>This is an about page</h6>
					</div>
					<div class="col-sm-6">
						<div class="text-h1 mb-2">Class: text-h1</div>
						<div class="text-h2 mb-2">Class: text-h2</div>
						<div class="text-h3 mb-2">Class: text-h3</div>
						<div class="text-h4 mb-2">Class: text-h4</div>
						<div class="text-h4 font-weight-bold mb-2">Class: text-h4 font-weight-bold</div>
						<div class="text-h5 mb-2">Class: text-h5</div>
						<div class="text-h5 font-weight-semi mb-2">Class: text-h5 font-weight-semi</div>
						<div class="text-h6 mb-2">Class: text-h6</div>
					</div>
				</div>
			</div>

			<br><br>

			<div class="wrap p-4">
				<h2>Forms</h2>
				<form @submit.prevent="submit">
					<div class="row">
						<div class="col-sm-6">
							<div class="pb-1">
								<div
									class="form-group mb-4"
									:class="{ 'form-group_error': $v.name.$error }">
									<label class="label text-h3 mb-2" for="input1">Текстовое поле</label>
									<input
										class="form-control"
										type="text"
										id="input1"
										v-model.trim="$v.name.$model"/>
								</div>
								<div class="form-group__error text-h6 color-blue pl-3" v-if="!$v.name.required">Поле необходимо заполнить</div>
								<div class="form-group__error text-h6 color-blue pl-3" v-if="!$v.name.minLength">Поле должно содержать не менее {{$v.name.$params.minLength.min}} символов.</div>
							</div>
							<div class="pb-1">
								<div class="form-group">
									<label class="text-h3 mb-1" for="input2">Текстовое поле</label>
									<input class="form-control" type="text" id="input2" disabled>
								</div>
							</div>
							<div class="pb-1">
								<div
									class="form-group mb-4"
									:class="{ 'form-group_error': $v.pass.$error }">
									<label class="label text-h3 mb-2" for="pass">Пароль</label>
									<div class="position-relative">
										<input
											class="form-control"
											type="password"
											placeholder="Пароль"
											id="pass"
											v-model.trim="$v.pass.$model"/>
										<button
											class="form-group__btn-change-type button-clr"
											type="button"
											@click="$event.currentTarget.previousElementSibling.type == 'password' ?
													$event.currentTarget.previousElementSibling.type = 'text' :
													$event.currentTarget.previousElementSibling.type = 'password'">
											<svg-icon name="eye" />
										</button>
									</div>
								</div>
								<div class="form-group__error text-h6 color-blue pl-3" v-if="!$v.pass.required">Введите пароль</div>
								<div class="form-group__error text-h6 color-blue pl-3" v-if="!$v.pass.minLength">Поле должно содержать не менее {{$v.pass.$params.minLength.min}} символов.</div>
								<div class="form-group__error text-h6 color-blue pl-3" v-if="!$v.pass.maxLength">Поле должно содержать не более {{$v.pass.$params.maxLength.max}} символов.</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="pb-1">
								<div
									class="form-group mb-4"
									:class="{'form-group_error': $v.option.$error}">
									<label class="label text-h3 mb-2" for="select1">Список опций</label>
									<multiselect
										v-model="option"
										:options="options"
										:searchable="true"
										:closeOnSelect="true"
										:show-labels="false"
										:max-height="140"
										:id="'select1'"
										placeholder="Выберите опцию" />
								</div>
								<div class="form-group__error text-h6 color-blue pl-3" v-if="!$v.option.required">Выберите опцию</div>
							</div>
							<div class="pb-1">
								<div
									class="form-group mb-4"
									:class="{'form-group_error': $v.optionSecond.$error}">
									<label class="label text-h3 mb-2" for="select2">Список опций 2</label>
									<multiselect
										v-model="optionSecond"
										:options="options"
										:searchable="true"
										:closeOnSelect="true"
										:show-labels="false"
										:max-height="140"
										:id="'select2'"
										placeholder="Выберите опцию" />
								</div>
								<div class="form-group__error text-h6 color-blue pl-3" v-if="!$v.optionSecond.required">Выберите опцию</div>
							</div>
						</div>
					</div>
					<div class="text-right pt-4">
						<input class="button button_blue button-clr" type="submit" value="Отправить" :disabled="submitStatus === 'PENDING'">
					</div>
				</form>
			</div>

			<br><br>

			<div class="wrap p-4">
				<div class="row align-items-center">
					<div class="column mb-2">
						<a class="button button_blue" href="#">Кнопка</a>
					</div>
					<div class="column mb-2">
						<a class="button button_gray" href="#">Кнопка</a>
					</div>
					<div class="column mb-2">
						<a class="button button_red" href="#">Кнопка</a>
					</div>
					<div class="column mb-2">
						<a class="button button_green" href="#">Кнопка</a>
					</div>
					<div class="column mb-2">
						<a class="button button_gray_dark" href="#">Кнопка</a>
					</div>
					<div class="column mb-2">
						<a class="button button_transparent-blue" href="#">Кнопка</a>
					</div>
					<div class="column mb-2">
						<a class="button button_transparent_blue_light" href="#">Кнопка</a>
					</div>
					<div class="column mb-2">
						<a class="button button_transparent_red_light" href="#">Кнопка</a>
					</div>
					<div class="column mb-2">
						<a class="button button_transparent-blue button_transparent-blue_dark" href="#">Кнопка</a>
					</div>
					<div class="column mb-2">
						<a class="button button_transparent-gray" href="#">Кнопка</a>
					</div>
					<div class="column mb-2">
						<a class="button-close-gray button-clr" href="#">
							<svg-icon name="close" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { required, minLength, maxLength } from 'vuelidate/lib/validators'
	import Multiselect from 'vue-multiselect'
	import 'simplebar';
	import 'simplebar/dist/simplebar.css';
	import '../assets/styles/common/_simplebar.scss';
	import svgIcon from '../components/SvgIcon.vue'
	export default {
		data () {
			return {
				submitStatus: null,
				name: '',
				pass: '',
				option: '',
				optionSecond: '',
				options: ['Текст 1', 'Текст 2', 'Текст 3', 'Текст 4'],
			}
		},
		validations: {
			name: {
				required,
				minLength: minLength(4)
			},
			pass: {
				required,
				minLength: minLength(4),
				maxLength: maxLength(16)
			},
			option: {
				required
			},
			optionSecond: {
				required
			},
		},
		methods: {
			submit() {
				this.$v.$touch()
				if (this.$v.$invalid) {
					this.submitStatus = 'ERROR'
				} else {
					this.submitStatus = 'PENDING'
					setTimeout(() => {
						this.submitStatus = 'OK'
					}, 500)
				}
			}
		},
		mounted () {
			let dropdowns = document.querySelectorAll('.multiselect__content-wrapper')
			dropdowns.forEach(function(item) {
				item.setAttribute('data-simplebar', '')
			})
		},
		components: {
			Multiselect,
			svgIcon
		}
	}
</script>
