<template>
	<div class="help-page">
		<div class="container-fluid">
			<div class="pb-2 negative-margins">
				<router-link class="text-h4 text-lg-white mb-2 d-inline-block" :to="{name: 'Home'}">
					<svg-icon class="svg-icon_reverse_90_negative font-size-10" name="angle" />
					<span class="ml-2 align-middle">На главную</span>
				</router-link>
			</div>
			<div class="wrap pt-4 pb-4 pl-3 pr-3 p-sm-4 mb-4 position-relative">
				<div class="pt-sm-2 pb-sm-2 pl-sm-4 pr-sm-4">
					<div class="row flex-column flex-lg-row align-items-lg-center justify-content-lg-between mb-4 mb-sm-5">
						<div class="column mb-3">
							<h2 class="mb-0">Все статьи</h2>
						</div>
						<div class="column ml-lg-auto">
							<div class="sort-input-box">
								<div class="row flex-column flex-sm-row">
									<div class="column mb-2">
										<div class="pb-1">
											<div class="formm-group mb-0">
												<input class="form-control" type="text" placeholder="Введите запрос для поиска">
											</div>
										</div>
									</div>
									<div class="column mb-3">
										<button class="button button_gray_dark button-clr" type="button">Найти</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row row_indents_s justify-content-center">
						<div class="column mb-3">
							<a class="news-tag news-tag_large news-tag_red" href="#">Образование</a>
						</div>
						<div class="column mb-3">
							<a class="news-tag news-tag_large news-tag_blue" href="#">Поиск работы</a>
						</div>
						<div class="column mb-3">
							<a class="news-tag news-tag_large news-tag_blue_light" href="#">Премиум аккаунт</a>
						</div>
						<div class="column mb-3">
							<a class="news-tag news-tag_large news-tag_red" href="#">Образование</a>
						</div>
						<div class="column mb-3">
							<a class="news-tag news-tag_large news-tag_blue" href="#">Поиск работы</a>
						</div>
						<div class="column mb-3">
							<a class="news-tag news-tag_large news-tag_blue_light" href="#">Премиум аккаунт</a>
						</div>
					</div>
					<div class="row pt-5 pb-5">
						<div class="col-lg-8 col-xl-7 ml-auto mr-auto">
							<div class="accordion accordion_style_two mb-4">
								<div class="accordion-item mb-3">
									<div class="accordion-toggle text-h3 font-weight-medium" data-target="first-collapse" @click="accordion($event)">
										<div class="row align-items-center flex-nowrap">
											<div class="column flex-grow-1">
												<div class="text-h5">Есть над чем задуматься: сознание наших соотечественников не замутнено пропагандой!</div>
											</div>
											<div class="column flex-shrink-0">
												<div class="accordion-toggle-btn button-gradient p-2">
													<svg-icon class="font-size-8 flex-shrink-0" name="double-angle" />
												</div>
											</div>
										</div>
										<hr class="devider mt-3 mb-0">
									</div>
									<div class="accordion-collapse-content" data-id="first-collapse">
										<div class="pb-4">
											<div class="pt-3 pb-3 pl-4 pr-4 bg-gray">
												<div class="pl-lg-3 pr-lg-3">
													Господа, высококачественный прототип будущего проекта напрямую зависит от инновационных методов управления процессами. В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации как самодостаточных, так и внешне зависимых концептуальных решений.
													<br><br>
													В частности, постоянный количественный рост и сфера нашей активности требует от нас анализа анализа существующих паттернов поведения. С другой стороны, существующая теория обеспечивает широкому кругу (специалистов) участие в формировании экспериментов, поражающих по своей масштабности и грандиозности. Предприниматели в сети интернет ограничены исключительно образом мышления.
													<br><br>
													Есть над чем задуматься: сделанные на базе интернет-аналитики выводы обнародованы. А ещё предприниматели в сети интернет лишь добавляют фракционных разногласий и превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="accordion-item mb-3">
									<div class="accordion-toggle text-h3 font-weight-medium" data-target="secondCollapse" @click="accordion($event)">
										<div class="row align-items-center flex-nowrap">
											<div class="column flex-grow-1">
												<div class="text-h5">Идейные соображения высшего порядка, а также новая модель организационной деятельности выявляет срочную потребность своевременного выполнения сверхзадачи.</div>
											</div>
											<div class="column flex-shrink-0">
												<div class="accordion-toggle-btn button-gradient p-2">
													<svg-icon class="font-size-8 flex-shrink-0" name="double-angle" />
												</div>
											</div>
										</div>
										<hr class="devider mt-3 mb-0">
									</div>
									<div class="accordion-collapse-content" data-id="secondCollapse">
										<div class="pb-4">
											<div class="pt-3 pb-3 pl-4 pr-4 bg-gray">
												<div class="pl-lg-3 pr-lg-3">
													Господа, высококачественный прототип будущего проекта напрямую зависит от инновационных методов управления процессами. В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации как самодостаточных, так и внешне зависимых концептуальных решений.
													<br><br>
													В частности, постоянный количественный рост и сфера нашей активности требует от нас анализа анализа существующих паттернов поведения. С другой стороны, существующая теория обеспечивает широкому кругу (специалистов) участие в формировании экспериментов, поражающих по своей масштабности и грандиозности. Предприниматели в сети интернет ограничены исключительно образом мышления.
													<br><br>
													Есть над чем задуматься: сделанные на базе интернет-аналитики выводы обнародованы. А ещё предприниматели в сети интернет лишь добавляют фракционных разногласий и превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="accordion-item mb-3">
									<div class="accordion-toggle text-h3 font-weight-medium" data-target="thirdCollapse" @click="accordion($event)">
										<div class="row align-items-center flex-nowrap">
											<div class="column flex-grow-1">
												<div class="text-h5">Таким образом, понимание сути ресурсосберегающих технологий влечет за собой процесс внедрения и модернизации поставленных обществом задач!</div>
											</div>
											<div class="column flex-shrink-0">
												<div class="accordion-toggle-btn button-gradient p-2">
													<svg-icon class="font-size-8 flex-shrink-0" name="double-angle" />
												</div>
											</div>
										</div>
										<hr class="devider mt-3 mb-0">
									</div>
									<div class="accordion-collapse-content" data-id="thirdCollapse">
										<div class="pb-4">
											<div class="pt-3 pb-3 pl-4 pr-4 bg-gray">
												<div class="pl-lg-3 pr-lg-3">
													Господа, высококачественный прототип будущего проекта напрямую зависит от инновационных методов управления процессами. В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации как самодостаточных, так и внешне зависимых концептуальных решений.
													<br><br>
													В частности, постоянный количественный рост и сфера нашей активности требует от нас анализа анализа существующих паттернов поведения. С другой стороны, существующая теория обеспечивает широкому кругу (специалистов) участие в формировании экспериментов, поражающих по своей масштабности и грандиозности. Предприниматели в сети интернет ограничены исключительно образом мышления.
													<br><br>
													Есть над чем задуматься: сделанные на базе интернет-аналитики выводы обнародованы. А ещё предприниматели в сети интернет лишь добавляют фракционных разногласий и превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="accordion-item mb-3">
									<div class="accordion-toggle text-h3 font-weight-medium" data-target="fourthCollapse" @click="accordion($event)">
										<div class="row align-items-center flex-nowrap">
											<div class="column flex-grow-1">
												<div class="text-h5">А также тщательные исследования конкурентов, инициированные исключительно синтетически, обнародованы.</div>
											</div>
											<div class="column flex-shrink-0">
												<div class="accordion-toggle-btn button-gradient p-2">
													<svg-icon class="font-size-8 flex-shrink-0" name="double-angle" />
												</div>
											</div>
										</div>
										<hr class="devider mt-3 mb-0">
									</div>
									<div class="accordion-collapse-content" data-id="fourthCollapse">
										<div class="pb-4">
											<div class="pt-3 pb-3 pl-4 pr-4 bg-gray">
												<div class="pl-lg-3 pr-lg-3">
													Господа, высококачественный прототип будущего проекта напрямую зависит от инновационных методов управления процессами. В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации как самодостаточных, так и внешне зависимых концептуальных решений.
													<br><br>
													В частности, постоянный количественный рост и сфера нашей активности требует от нас анализа анализа существующих паттернов поведения. С другой стороны, существующая теория обеспечивает широкому кругу (специалистов) участие в формировании экспериментов, поражающих по своей масштабности и грандиозности. Предприниматели в сети интернет ограничены исключительно образом мышления.
													<br><br>
													Есть над чем задуматься: сделанные на базе интернет-аналитики выводы обнародованы. А ещё предприниматели в сети интернет лишь добавляют фракционных разногласий и превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="accordion-item mb-3">
									<div class="accordion-toggle text-h3 font-weight-medium" data-target="fifthCollapse" @click="accordion($event)">
										<div class="row align-items-center flex-nowrap">
											<div class="column flex-grow-1">
												<div class="text-h5">В рамках спецификации современных стандартов, стремящиеся вытеснить традиционное производство, нанотехнологии, инициированные исключительно синтетически, объективно рассмотрены соответствующими инстанциями.</div>
											</div>
											<div class="column flex-shrink-0">
												<div class="accordion-toggle-btn button-gradient p-2">
													<svg-icon class="font-size-8 flex-shrink-0" name="double-angle" />
												</div>
											</div>
										</div>
										<hr class="devider mt-3 mb-0">
									</div>
									<div class="accordion-collapse-content" data-id="fifthCollapse">
										<div class="pb-4">
											<div class="pt-3 pb-3 pl-4 pr-4 bg-gray">
												<div class="pl-lg-3 pr-lg-3">
													Господа, высококачественный прототип будущего проекта напрямую зависит от инновационных методов управления процессами. В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации как самодостаточных, так и внешне зависимых концептуальных решений.
													<br><br>
													В частности, постоянный количественный рост и сфера нашей активности требует от нас анализа анализа существующих паттернов поведения. С другой стороны, существующая теория обеспечивает широкому кругу (специалистов) участие в формировании экспериментов, поражающих по своей масштабности и грандиозности. Предприниматели в сети интернет ограничены исключительно образом мышления.
													<br><br>
													Есть над чем задуматься: сделанные на базе интернет-аналитики выводы обнародованы. А ещё предприниматели в сети интернет лишь добавляют фракционных разногласий и превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="accordion-item mb-3">
									<div class="accordion-toggle text-h3 font-weight-medium" data-target="sixthCollapse" @click="accordion($event)">
										<div class="row align-items-center flex-nowrap">
											<div class="column flex-grow-1">
												<div class="text-h5">Таким образом, понимание сути ресурсосберегающих технологий влечет за собой процесс внедрения и модернизации поставленных обществом задач!</div>
											</div>
											<div class="column flex-shrink-0">
												<div class="accordion-toggle-btn button-gradient p-2">
													<svg-icon class="font-size-8 flex-shrink-0" name="double-angle" />
												</div>
											</div>
										</div>
										<hr class="devider mt-3 mb-0">
									</div>
									<div class="accordion-collapse-content" data-id="sixthCollapse">
										<div class="pb-4">
											<div class="pt-3 pb-3 pl-4 pr-4 bg-gray">
												<div class="pl-lg-3 pr-lg-3">
													Господа, высококачественный прототип будущего проекта напрямую зависит от инновационных методов управления процессами. В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации как самодостаточных, так и внешне зависимых концептуальных решений.
													<br><br>
													В частности, постоянный количественный рост и сфера нашей активности требует от нас анализа анализа существующих паттернов поведения. С другой стороны, существующая теория обеспечивает широкому кругу (специалистов) участие в формировании экспериментов, поражающих по своей масштабности и грандиозности. Предприниматели в сети интернет ограничены исключительно образом мышления.
													<br><br>
													Есть над чем задуматься: сделанные на базе интернет-аналитики выводы обнародованы. А ещё предприниматели в сети интернет лишь добавляют фракционных разногласий и превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="accordion-item mb-3">
									<div class="accordion-toggle text-h3 font-weight-medium" data-target="seventhCollapse" @click="accordion($event)">
										<div class="row align-items-center flex-nowrap">
											<div class="column flex-grow-1">
												<div class="text-h5">А также тщательные исследования конкурентов, инициированные исключительно синтетически, обнародованы.</div>
											</div>
											<div class="column flex-shrink-0">
												<div class="accordion-toggle-btn button-gradient p-2">
													<svg-icon class="font-size-8 flex-shrink-0" name="double-angle" />
												</div>
											</div>
										</div>
										<hr class="devider mt-3 mb-0">
									</div>
									<div class="accordion-collapse-content" data-id="seventhCollapse">
										<div class="pb-4">
											<div class="pt-3 pb-3 pl-4 pr-4 bg-gray">
												<div class="pl-lg-3 pr-lg-3">
													Господа, высококачественный прототип будущего проекта напрямую зависит от инновационных методов управления процессами. В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации как самодостаточных, так и внешне зависимых концептуальных решений.
													<br><br>
													В частности, постоянный количественный рост и сфера нашей активности требует от нас анализа анализа существующих паттернов поведения. С другой стороны, существующая теория обеспечивает широкому кругу (специалистов) участие в формировании экспериментов, поражающих по своей масштабности и грандиозности. Предприниматели в сети интернет ограничены исключительно образом мышления.
													<br><br>
													Есть над чем задуматься: сделанные на базе интернет-аналитики выводы обнародованы. А ещё предприниматели в сети интернет лишь добавляют фракционных разногласий и превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="accordion-item mb-3">
									<div class="accordion-toggle text-h3 font-weight-medium" data-target="eighthCollapse" @click="accordion($event)">
										<div class="row align-items-center flex-nowrap">
											<div class="column flex-grow-1">
												<div class="text-h5">В рамках спецификации современных стандартов, стремящиеся вытеснить традиционное производство, нанотехнологии, инициированные исключительно синтетически, объективно рассмотрены соответствующими инстанциями.</div>
											</div>
											<div class="column flex-shrink-0">
												<div class="accordion-toggle-btn button-gradient p-2">
													<svg-icon class="font-size-8 flex-shrink-0" name="double-angle" />
												</div>
											</div>
										</div>
										<hr class="devider mt-3 mb-0">
									</div>
									<div class="accordion-collapse-content" data-id="eighthCollapse">
										<div class="pb-4">
											<div class="pt-3 pb-3 pl-4 pr-4 bg-gray">
												<div class="pl-lg-3 pr-lg-3">
													Господа, высококачественный прототип будущего проекта напрямую зависит от инновационных методов управления процессами. В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации как самодостаточных, так и внешне зависимых концептуальных решений.
													<br><br>
													В частности, постоянный количественный рост и сфера нашей активности требует от нас анализа анализа существующих паттернов поведения. С другой стороны, существующая теория обеспечивает широкому кругу (специалистов) участие в формировании экспериментов, поражающих по своей масштабности и грандиозности. Предприниматели в сети интернет ограничены исключительно образом мышления.
													<br><br>
													Есть над чем задуматься: сделанные на базе интернет-аналитики выводы обнародованы. А ещё предприниматели в сети интернет лишь добавляют фракционных разногласий и превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<pagination class="mt-5" />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
					<div class="col-lg-9 mb-4 d-flex flex-column">
						<div class="wrap p-4 flex-grow-1">
							<div class="pl-sm-2 pt-sm-4">
								<h2>Мы всегда к вашим услугам</h2>
								<div class="color-gray-dark mb-4">Если у вас возник вопрос или предложение, напишите нам. Расскажите подробнее о вашем опыте использования продукта. Обратите внимание на качество, удобство, ее соответствие Вашим ожиданиям.</div>
								<form>
									<div class="row row_indents_m">
										<div class="col-md-6">
											<div class="form-group mb-3">
												<input class="form-control form-control_simple" v-model="inputTheme" type="text" placeholder="Введите тему своего сообщения">
											</div>
											<div class="form-group mb-3">
												<input class="form-control form-control_simple" v-model="inputEmail" type="text" placeholder="Введите свою почту">
											</div>
										</div>
										<div class="col-md-6 d-flex flex-column">
											<div class="form-group mb-3 flex-grow-1">
												<textarea class="form-control form-control_simple h-100" rows="3" v-model="inputMsg" placeholder="Ваше сообщение ..."></textarea>
											</div>
										</div>
									</div>
									<div class="row justify-content-end align-items-center">
										<div class="column">
											<button class="button button_blue button-clr" type="button" @click="showModal('thnx-dialog')">Отправить сообщение</button>
										</div>
										<div class="column">
											<a class="color-gray-fill text-decoration-underline" href="#" @click.prevent="clearForm">Очистить</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-3 mb-4 d-flex flex-column">
						<div class="wrap flex-grow-1">
							<div class="p-4">
								<div class="pl-sm-2 pr-sm-2">
									<div class="text-center mb-4">
										<img v-lazy="require('../assets/images/admin-logo.svg')" width="240" alt="">
									</div>
									<div class="text-h5 text-center text-lg-left">Контакты администрации</div>
								</div>
							</div>
							<hr class="devider m-0">
							<div class="p-4">
								<div class="pl-sm-2 pr-sm-2 text-center text-lg-left">
									<div class="mb-2">
										<svg-icon class="color-gray-fill" name="phone" />
										<span class="text-h5 ml-2 pl-1 align-middle"><a class="color-dark-main" href="tel:+998981234567">+998 98 123 4567</a></span>
									</div>
									<div class="mb-2">
										<svg-icon class="color-gray-fill" name="envelope" />
										<span class="text-h5 ml-2 pl-1 align-middle"><a href="mailto:mail@mail.com">mail@mail.com</a></span>
									</div>
									<div class="mb-2">
										<div class="d-inline-block">
											<img v-lazy="require('../assets/images/tg.svg')" width="17px" alt="">
										</div>
										<span class="text-h5 ml-2 pl-1 align-middle"><a href="#">Написать нам в телеграм</a></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</template>

<script>
	import svgIcon from '../components/SvgIcon.vue'
	import pagination from '../components/Pagination.vue'
	import '../assets/styles/common/_accordion.scss'
	export default {

		name: 'Help-page',

		data () {
			return {
				inputTheme: '',
				inputEmail: '',
				inputMsg: '',
			}
		},
		methods: {
			clearForm () {
				this.inputTheme = ''
				this.inputEmail = ''
				this.inputMsg = ''
			},
			showModal (modalName) {
				this.$modal.show(modalName)
			},
			accordion (event) {
				let btn = event.currentTarget;
				let btnTarget = btn.getAttribute('data-target');
				let collapseItems = document.querySelectorAll('.accordion-collapse-content');
				let collapseBox = document.querySelector('[data-id="'+btnTarget+'"]')
				collapseItems.forEach(function(elem) {
					if ( elem.getAttribute('data-id') == btnTarget ) {
						elem.classList.toggle('expanded')
						elem.parentElement.querySelector('.accordion-toggle').classList.add('active')
						elem.style.maxHeight = elem.scrollHeight + "px";
						elem.classList.add('show')
					} else {
						elem.classList.remove('expanded')
						elem.style.maxHeight = null;
						elem.parentElement.querySelector('.accordion-toggle').classList.remove('active')
						elem.classList.remove('show')
					}
				})
				if ( !(collapseBox.classList.contains('expanded')) ) {
					collapseBox.style.maxHeight = null;
					collapseBox.classList.remove('show')
					collapseBox.parentElement.querySelector('.accordion-toggle').classList.remove('active')
				}
			}
		},
		components: {
			svgIcon,
			pagination
		}
	}
</script>

<style lang="css" scoped>
</style>