<template>
	<div class="home pt-5 pb-5">
		<template
			v-if="this.$route.name == 'Home'">
			<div class="categrys-section mb-2">
				<div class="container-fluid">
					<div class="row">
						<div
							class="col-sm-6 col-lg-4 col-xl-3 mb-4"
							v-for="(category, idx) in categorys"
							:key="idx">
							<card-category :obj="category" />
						</div>
					</div>
				</div>
			</div>
			<div class="banner-section mb-4 pb-1">
				<div class="container-fluid">
					<banner :img="require('../assets/images/banner-bg.jpg')">
						<div class="row">
							<div class="position-relative col-lg-6 offset-lg-6 offset-xl-5">
								<h2>Разместить резюме</h2>
								<p>Разместите резюме, чтобы Вас смогли найти работодатели. Наши шаблоны поэтапно проведут Вас по вопросам, которые интересны работодателю и привлекут его внимание.</p>
								<router-link class="button button_blue" :to="{name: 'post-resume'}">Создать резюме</router-link>
							</div>
						</div>
					</banner>
				</div>
			</div>
			<div class="popular-companys-section mb-4 pb-1">
				<div class="container-fluid">
					<div class="popular-companys wrap p-4">
						<div class="regular-title pl-lg-4">
							<h3>Популярные компании среди соискателей</h3>
						</div>
						<div class="pl-lg-4 pt-4">
							<div class="row justify-content-center justify-content-lg-start">
								<div
									class="column mb-4 pb-1"
									v-for="(img, idx) in companysImg"
									:key="idx">
									<div
										class="popular-companys__company">
										<a class="popular-companys__company-link d-block" href="#">
											<img class="popular-companys__company-img mb-2" v-lazy="img.src" width="82">
											<div class="popular-companys__company-name">{{img.companyName}}</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="day-vacancy-section mb-4 pb-1">
				<div class="container-fluid">
					<div class="regular-title regular-title_on_background_gray pl-4 mb-4">
						<h3>Вакансия дня</h3>
					</div>
					<div class="row row_indents_s">
						<div
							class="col-md-6 mb-3 d-flex flex-column"
							v-for="(vacancy, idx) in vacancys"
							:key="idx">
							<card-vacancy class="flex-grow-1 d-flex flex-column" :obj="vacancy" />
						</div>
					</div>
				</div>
			</div>
			<div class="banner-section mb-4 pb-1">
				<div class="container-fluid">
					<banner class="banner_bg-correction text-white" :img="require('../assets/images/banner-bg-2.png')">
						<div class="row">
							<div class="position-relative col-lg-6 offset-lg-6 offset-xl-5">
								<div class="pl-lg-5">
									<h2 class="font-weight-bold">Подпишитесь на интересные Вам вакансии</h2>
									<p>Каждый день мы можем Вам присылать вакансии по выбранным ключевым словам</p>
									<div class="row row_indents_m align-items-center">
										<div class="col-sm-6 mb-4 pb-1">
											<input class="form-control" placeholder="Укажите ключевые слова через запятую" type="text">
										</div>
										<div class="col-sm-6 mb-4 pb-1">
											<input class="form-control" placeholder="Email для подписки" type="email">
										</div>
										<div class="column mb-4 pb-1">
											<button class="button button_blue button-clr" type="button" @click="showModal('subscribed-dialog')">Подписаться на вакансии</button>
										</div>
										<div class="column mb-4 pb-1">
											<a class="d-flex flex-nowrap text-white align-items-center text-decoration-none" href="#">
												<div class="flex-shrink-0">
													<img src="../assets/images/tg.svg" alt="">
												</div>
												<div class="ml-2 text-underline">Отправлять мне в Telegram</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</banner>
				</div>
			</div>
			<div class="info-section mb-4 pb-1">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-6 mb-4">
							<div class="regular-title regular-title_on_background_gray mb-4">
								<h3>Работа в Узбекистане</h3>
							</div>
							<div class="info-card wrap pt-4 pl-4 pr-4 pb-3">
								<div class="pt-1 pl-lg-3 pr-lg-3">
									<p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>
									<p>По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 mb-4">
							<div class="regular-title regular-title_on_background_gray mb-4">
								<h3>Статьи и новости</h3>
							</div>
							<div class="info-card wrap pt-4 pl-4 pr-4 pb-3">
								<div class="pt-1 pl-lg-3 pr-lg-3">
									<router-link class="news-preview" v-for="(item, idx) in 3" :key="idx" :to="{name: 'Home'}">
										<div class="row row_indents_m flex-nowrap">
											<div class="column flex-shrink-0">
												<div class="news-preview__data">
													<div>22</div>
													<div>авг.</div>
												</div>
											</div>
											<div class="column flex-grow-1">
												<h4 class="font-weight-semi mb-1">10 вакансий для работы удаленно</h4>
												Карантин внес правки в нашу повседневную жизнь. Поэтому Work.ua предлагает 10 вакансий, благодаря которым вы сможете работать, не выходя из дома.
											</div>
										</div>
									</router-link>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</template>
		<modal
			class="modal-box"
			name="thnx-dialog"
			:adaptive="true"
			:width="'100%'"
			:minWidth="280"
			:maxWidth="380"
			:height="'auto'"
			:scrollable="true">
			<div class="modal-box__in p-4 position-relative">
				<div class="pt-2 pb-2 pl-4 pr-4">
					<div class="modal-box__body text-center">
						<button class="modal-box__close button-clr" type="button" @click="hideModal('thnx-dialog')">
							<svg-icon name="close" />
						</button>
						<form>
							<div class="text-center">
								<img v-lazy="require('../assets/images/accept.svg')" alt="" width="258" height="140">
								<h2 class="mb-5">Ваше сообщение успешно отправлено</h2>
								<button class="button-clr button button_blue" type="button" @click="hideModal('thnx-dialog')">Отправить сообщение</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</modal>
		<modal
			class="modal-box"
			name="subscribed-dialog"
			:adaptive="true"
			:width="'100%'"
			:minWidth="280"
			:maxWidth="465"
			:height="'auto'"
			:scrollable="true">
			<div class="modal-box__in p-4 position-relative">
				<div class="pt-4 pb-2">
					<div class="modal-box__body text-center">
						<button class="modal-box__close button-clr" type="button" @click="hideModal('subscribed-dialog')">
							<svg-icon name="close" />
						</button>
						<form>
							<div class="text-center">
								<img v-lazy="require('../assets/images/accept.svg')" alt="" width="360">
								<h2 class="mb-5">Вы успешно подписались на рассылку вакансий</h2>
							</div>
						</form>
					</div>
				</div>
			</div>
		</modal>
		<modal
			class="modal-box"
			name="subscribed-dialog-resume"
			:adaptive="true"
			:width="'100%'"
			:minWidth="280"
			:maxWidth="465"
			:height="'auto'"
			:scrollable="true">
			<div class="modal-box__in p-4 position-relative">
				<div class="pt-4 pb-2">
					<div class="modal-box__body text-center">
						<button class="modal-box__close button-clr" type="button" @click="hideModal('subscribed-dialog-resume')">
							<svg-icon name="close" />
						</button>
						<form>
							<div class="text-center">
								<img v-lazy="require('../assets/images/accept.svg')" alt="" width="360">
								<h2 class="mb-5">Вы успешно подписались на рассылку резюме</h2>
							</div>
						</form>
					</div>
				</div>
			</div>
		</modal>
		<router-view/>
	</div>
</template>

<script>
	import banner from '@/components/Banner.vue'
	import svgIcon from '@/components/SvgIcon.vue'
	import cardCategory from '@/components/Card-category.vue'
	import cardVacancy from '@/components/Card-vacancy.vue'
	// import breadcrumbs from '../components/breadcrumbs.vue'
	import '../assets/styles/common/_modal.scss'
	export default {
		name: 'Home',
		meta: {title: 'Главная'},
		data () {
			return {
				vacancys: [
					{
						title: 'Middle Full Stack Web Developer',
						tags: [
							{ bgColorClass: '', text: 'PRO' }
						],
						companyHref: 'Home',
						companyName: 'Sarkor telecom',
						companyLocationHref: 'Home',
						companyLocationCity: 'Ташкент',
						price: 'от 2 500 000 сум/мес.',
						companyLogoSrc: require('../assets/images/st.png'),
						content: 'Полная занятость, удаленная работа. Опыт работы от 2 лет. Высшее образование. AutoBidMaster is a dynamically growing US-based company with global ambitions...',
						postDate: 'Сегодня',
						vacancyHref: 'vacancy-page',
					},
					{
						title: 'Middle Full Stack Web Developer',
						tags: [],
						companyHref: 'Home',
						companyName: 'Sarkor telecom',
						companyLocationHref: 'Home',
						companyLocationCity: 'Ташкент',
						price: 'от 2 500 000 сум/мес.',
						companyLogoSrc: require('../assets/images/st.png'),
						content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, obcaecati.',
						postDate: 'Сегодня',
						vacancyHref: 'vacancy-page',
					}
				],
				categorys: [
					{
						href: 'vacancy-category',
						imgSrc: require('../assets/images/category-1.svg'),
						imgWidth: '61px',
						txt: 'Вакансии по категориям'
					},
					{
						href: 'vacancy-city',
						imgSrc: require('../assets/images/category-2.svg'),
						imgWidth: '61px',
						txt: 'Вакансии по городам'
					},
					{
						href: 'vacancy-category',
						imgSrc: require('../assets/images/category-3.svg'),
						imgWidth: '61px',
						txt: 'Работа для студентов'
					},
					{
						href: 'vacancy-category',
						imgSrc: require('../assets/images/category-4.svg'),
						imgWidth: '61px',
						txt: 'Работа для фрилансеров'
					},
				],
				companysImg: [
					{ src: require('../assets/images/popular-company1.png'), companyName: 'Raiffeisen' },
					{ src: require('../assets/images/popular-company2.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company3.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company4.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company5.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company6.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company7.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company8.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company9.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company10.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company11.png'), companyName: 'Raiffeisen' },

					{ src: require('../assets/images/popular-company1.png'), companyName: 'Raiffeisen' },
					{ src: require('../assets/images/popular-company2.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company3.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company4.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company5.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company6.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company7.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company8.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company9.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company10.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company11.png'), companyName: 'Raiffeisen' },

					{ src: require('../assets/images/popular-company1.png'), companyName: 'Raiffeisen' },
					{ src: require('../assets/images/popular-company2.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company3.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company4.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company5.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company6.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company7.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company8.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company9.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company10.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company11.png'), companyName: 'Raiffeisen' },

					{ src: require('../assets/images/popular-company1.png'), companyName: 'Raiffeisen' },
					{ src: require('../assets/images/popular-company2.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company3.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company4.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company5.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company6.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company7.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company8.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company9.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company10.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company11.png'), companyName: 'Raiffeisen' },
				]
			}
		},
		methods: {
			showModal (modalName) {
				this.$modal.show(modalName)
			},
			hideModal (modalName) {
				this.$modal.hide(modalName)
			},
		},
		components: {
			banner,
			svgIcon,
			cardCategory,
			cardVacancy,
			// breadcrumbs,
		}
	}
</script>
<style lang='scss'>
	.popular-companys__company {

	}
	.popular-companys__company-img {
		width: 82px;
		transition: linear .1s;
	}
	.popular-companys__company-name {
		font-weight: 500;
		font-size: 14px;
		line-height: 125%;
		text-align: center;
		color: #364051;
	}
	.popular-companys__company-link {
		text-decoration: none !important;
		&:hover {
			.popular-companys__company-img {
				transform: scale(1.1, 1.1);
			}
		}
	}
</style>