<template>
	<div class="container-fluid">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aut voluptatem repudiandae, consectetur adipisci, vel veniam repellendus sequi labore hic tenetur necessitatibus? In doloribus minima neque voluptates sit, deleniti voluptatem ab saepe iusto, accusamus odio dignissimos veritatis eveniet. Inventore rem quas necessitatibus, ad magni nemo aliquid reprehenderit quod iste nesciunt tenetur sint saepe aliquam dolorem voluptas! Possimus aliquid nostrum culpa nobis nulla! Possimus necessitatibus debitis corporis quos veniam officia cum reiciendis minima deleniti ut nam, velit sint pariatur, perferendis repellat. Recusandae dolores aspernatur, suscipit voluptas facilis ex perspiciatis perferendis! Voluptatibus iste optio, error animi inventore. Alias, atque impedit facere reiciendis.
	</div>
</template>

<script>
	export default {
		name: 'Navoiy-district',
		meta: {title: 'Навоийская область'},
		data () {
			return {

			}
		}
	}
</script>

<style lang="scss" scoped>
</style>