<template>
	<div class="news-page">
		<div class="container-fluid">
			<div class="pb-2 negative-margins">
				<router-link class="text-h4 text-lg-white mb-2 d-inline-block" :to="{name: 'Home'}">
					<svg-icon class="svg-icon_reverse_90_negative font-size-8" name="angle" />
					<span class="ml-2 align-middle">На главную</span>
				</router-link>
			</div>
			<div class="row">
				<div class="col-lg-8 mb-4">
					<div class="wrap pt-4 pb-4 pl-3 pr-3 pl-lg-5 pr-lg-5 mb-4 position-relative">
						<div class="pt-sm-2 pb-sm-2">
							<div class="row flex-column flex-lg-row align-items-lg-center justify-content-lg-between mb-3">
								<div class="column mb-3">
									<h2 class="mb-0">Ваш шедевр готов!</h2>
								</div>
								<div class="column mb-3 ml-lg-auto">
									<a class="color-gray-fill text-decoration-underline text-decoration-underline_hover_none" href="#">Статья от 22 августа</a>
								</div>
							</div>
							<div class="row align-items-center">
								<div class="column">
									<div class="row row_indents_s">
										<div class="column mb-3">
											<div class="text-h6 color-gray-fill">
												<svg-icon class="font-size-14" name="eye" />
												<span class="align-middle ml-2">1232</span>
											</div>
										</div>
										<div class="column mb-3">
											<div class="text-h6 color-gray-fill">
												<svg-icon class="font-size-14" name="chat" />
												<span class="align-middle ml-2">1232</span>
											</div>
										</div>
									</div>
								</div>
								<div class="column">
									<div class="row row_indents_s">
										<div class="column mb-3">
											<a class="news-tag news-tag_red" href="#">образование</a>
										</div>
										<div class="column mb-3">
											<a class="news-tag news-tag_blue" href="#">финансы</a>
										</div>
										<div class="column mb-3">
											<a class="news-tag news-tag_blue_light" href="#">медицина</a>
										</div>
									</div>
								</div>
							</div>
							<div class="news-content text-h4">
								Не следует, однако забывать, что реализация намеченных плановых заданий играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры в значительной степени обуславливает создание направлений прогрессивного развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа существенных финансовых и административных условий. 
								<br><br>
								Значимость этих проблем настолько очевидна, что новая модель организационной деятельности способствует подготовки и реализации новых предложений. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Равным образом реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации новых предложений.
								<figure>
									<img v-lazy="require('../assets/images/figure-img.jpg')" alt="">
									<figcaption>График работы среднего персонала в средней компании</figcaption>
								</figure>
								<ul>
									<li>Таким образом новая модель организационной деятельности влечет за собой процесс внедрения и модернизации форм развития. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание существенных финансовых и административных условий. </li>
									<li>Не следует, однако забывать, что начало повседневной работы по формированию позиции позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. </li>
									<li>Равным образом постоянный количественный рост и сфера нашей активности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.</li>
								</ul>
								<blockquote>Не следует, однако забывать, что реализация намеченных плановых заданий играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры в значительной степени обуславливает создание направлений прогрессивного развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа существенных финансовых и административных условий.</blockquote>
								<h3>Реализация намеченных плановых заданий</h3>
								Не следует, однако забывать, что реализация намеченных плановых заданий играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры в значительной степени обуславливает создание направлений прогрессивного развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа существенных финансовых и административных условий.
							</div>
							<hr class="devider mt-5 mb-4">
							<div class="row row_indents_s align-items-center justify-content-between">
								<div class="column ml-auto">
									<div class="row row_indents_s">
										<div class="column">Поделиться</div>
										<div class="column">
											<a href="#">
												<img v-lazy="require('../assets/images/tg.svg')" width="20" alt="">
											</a>
										</div>
										<div class="column">
											<a href="#">
												<img v-lazy="require('../assets/images/fb.svg')" width="20" alt="">
											</a>
										</div>
										<div class="column">
											<a href="#">
												<img v-lazy="require('../assets/images/vk.svg')" width="20" alt="">
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="wrap pt-4 pb-4 pl-3 pr-3 pl-lg-5 pr-lg-5 position-relative">
						<div class="pt-sm-2 pb-sm-2">
							<div class="mb-4 pb-3">
								<h2 class="mb-0">
									<span>Комментарии</span>
									<span class="quantity-label ml-2">123</span>
								</h2>
							</div>
							<div class="comment-box text-h4">
								<div class="row align-items-center justify-content-between">
									<div class="column mb-3">
										<h3 class="mb-0">Иванов Иван</h3>
									</div>
									<div class="column mb-3">
										<div class="color-gray-dark">25.03.2020  11:29</div>
									</div>
								</div>
								Не следует, однако забывать, что реализация намеченных плановых заданий играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры в значительной степени обуславливает создание
								<div class="pt-2"><a href="#">Ответить »</a></div>
								<hr class="devider mt-3 mb-4">
							</div>
							<div class="comment-box text-h4">
								<div class="row align-items-center justify-content-between">
									<div class="column mb-3">
										<h3 class="mb-0">Иванов Иван</h3>
									</div>
									<div class="column mb-3">
										<div class="color-gray-dark">25.03.2020  11:29</div>
									</div>
								</div>
								Не следует, однако забывать, что реализация намеченных плановых заданий играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры в значительной степени обуславливает создание
								<div class="pt-2"><a href="#">Ответить »</a></div>
								<hr class="devider mt-3 mb-4">
							</div>
							<div class="comment-box text-h4">
								<div class="row align-items-center justify-content-between">
									<div class="column mb-3">
										<h3 class="mb-0">Иванов Иван</h3>
									</div>
									<div class="column mb-3">
										<div class="color-gray-dark">25.03.2020  11:29</div>
									</div>
								</div>
								Не следует, однако забывать, что реализация намеченных плановых заданий играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры в значительной степени обуславливает создание
								<div class="pt-2"><a href="#">Ответить »</a></div>
								<hr class="devider mt-3 mb-4">
							</div>
							<form class="pt-5">
								<div class="form-group mb-4 pb-1">
									<textarea class="form-control" rows="10" placeholder="Ваше сообщение"></textarea>
								</div>
								<div class="row align-items-center justify-content-end">
									<div class="column">
										<checkbox
											class="checkbox-label-indents-0 pt-1"
											:type="'checkbox'"
											:name="'subscribeCom'"
											:id="'comment[0]'"
											:content="'Подписаться на новые комментарии в этой статье'"
											:checked="false" />
									</div>
									<div class="column">
										<button class="button button_blue button-clr" type="button">Оставить комментарий</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mb-4">
					<div class="wrap mb-4">
						<div class="pt-4 pl-4 pr-4 pb-3">
							<div class="pl-3 pr-3">
								<h3 class="mb-0">Похожие статьи</h3>
							</div>
						</div>
						<hr class="devider mt-0 mb-4">
						<div class="pb-3">
							<router-link class="news-preview pl-4 pr-4" v-for="(item, idx) in 3" :key="idx" :to="{name: 'Home'}">
								<div class="row row_indents_m flex-nowrap">
									<div class="column flex-shrink-0">
										<div class="news-preview__data">
											<div>22</div>
											<div>авг.</div>
										</div>
									</div>
									<div class="column flex-grow-1">
										<h4 class="font-weight-semi mb-1">10 вакансий для работы удаленно</h4>
										Карантин внес правки в нашу повседневную жизнь. Поэтому Work.ua предлагает 10 вакансий, благодаря 
									</div>
								</div>
							</router-link>
						</div>
						<div class="pb-4 pl-4 pr-4">
							<router-link :to="{name: 'Home'}">Все статьи</router-link> · <router-link :to="{name: 'Home'}">Все новости</router-link>
						</div>
					</div>
					<div class="wrap mb-4">
						<div class="pl-4 pt-4 pr-4 pb-4">
							<form>
								<div class="text-center">
									<div class="text-h3 mb-4 mb-lg-5">Подпишитесь на рассылку статей о рынке работы в Узбекистане прямо в Telegram и получайте свежие статьи первыми</div>
									<div class="pl-sm-4 pr-sm-4">
										<div class="pb-1">
											<div class="form-group mb-4">
												<input class="form-control" type="email" placeholder="Ваш email">
											</div>
										</div>
										<div class="mb-4">
											<button class="button-clr button button_blue">Подписаться на статьи</button>
										</div>
										<div>
											<a href="#" class="d-inline-flex flex-nowrap align-items-center text-decoration-none">
												<div class="flex-shrink-0">
													<img v-lazy="require('../assets/images/tg.svg')" width="30" alt="">
												</div>
												<div class="ml-2 text-underline">Отправлять мне в Telegram</div>
											</a>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import svgIcon from '../components/SvgIcon.vue'
	import checkbox from '../components/Checkbox.vue'
	export default {

		name: 'News-page-inside',

		data () {
			return {

			}
		},
		components: {
			svgIcon,
			checkbox
		}
	}
</script>

<style lang="css" scoped>
</style>