<template>
	<div class="news-page">
		<div class="container-fluid">
			<div class="pb-2 negative-margins">
				<router-link class="text-h4 text-lg-white mb-2 d-inline-block" :to="{name: 'Home'}">
					<svg-icon class="svg-icon_reverse_90_negative font-size-8" name="angle" />
					<span class="ml-2 align-middle">На главную</span>
				</router-link>
			</div>
			<div class="wrap pt-4 pb-4 pl-3 pr-3 p-sm-4 position-relative">
				<div class="pt-sm-2 pb-sm-2">
					<div class="row flex-column flex-lg-row align-items-lg-center justify-content-lg-between mb-5">
						<div class="column mb-3">
							<h2 class="mb-0">Все статьи</h2>
						</div>
						<div class="column ml-lg-auto">
							<div class="sort-input-box">
								<div class="row flex-column flex-sm-row">
									<div class="column mb-2">
										<div class="pb-1">
											<div class="formm-group mb-0">
												<input class="form-control" type="text" placeholder="Введите запрос для поиска">
											</div>
										</div>
									</div>
									<div class="column mb-3">
										<button class="button button_gray_dark button-clr" type="button">Найти</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="news-preview-list row">
						<div class="news-preview-column column mb-4">
							<router-link
								class="news-preview-card"
								:to="{name: 'Home'}">
								<div class="news-preview-card__img-wrap mb-3">
									<img
										class="news-preview-card__img"
										v-lazy="require('../assets/images/news-card0.jpg')"
										alt="">
								</div>
								<div class="news-preview-card__body">
									<div class="text-h6 color-gray-fill mb-2">
										<svg-icon class="mr-2" name="eye" />
										<span>1232</span>
									</div>
									<h3>4 способа пережить самоизоляцию, если вы экстраверт</h3>
									<div>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей.</div>
								</div>
							</router-link>
						</div>
						<div class="news-preview-column column mb-4">
							<router-link
								class="news-preview-card"
								:to="{name: 'Home'}">
								<div class="news-preview-card__img-wrap mb-3">
									<img
										class="news-preview-card__img"
										v-lazy="require('../assets/images/news-card1.jpg')"
										alt="">
								</div>
								<div class="news-preview-card__body">
									<div class="text-h6 color-gray-fill mb-2">
										<svg-icon class="font-size-15 mr-2" name="eye" />
										<span class="align-middle">1232</span>
									</div>
									<h3>4 способа пережить самоизоляцию, если вы экстраверт</h3>
									<div>Как не полезть на стену, сдержаться от похода в гости к соседям, в общем, соблюсти самоизоляцию и остаться в своем уме, если вы экстраверт</div>
								</div>
							</router-link>
						</div>
						<div class="news-preview-column column mb-4">
							<router-link
								class="news-preview-card"
								:to="{name: 'Home'}">
								<div class="news-preview-card__img-wrap mb-3">
									<img
										class="news-preview-card__img"
										v-lazy="require('../assets/images/news-card2.jpg')"
										alt="">
								</div>
								<div class="news-preview-card__body">
									<div class="text-h6 color-gray-fill mb-2">
										<svg-icon class="font-size-15 mr-2" name="eye" />
										<span class="align-middle">1232</span>
									</div>
									<h3>4 способа пережить самоизоляцию, если вы экстраверт</h3>
									<div>Как не полезть на стену, сдержаться от похода в гости к соседям, в общем, соблюсти самоизоляцию и остаться в своем уме, если вы экстраверт</div>
								</div>
							</router-link>
						</div>
						<div class="news-preview-column column mb-4">
							<router-link
								class="news-preview-card"
								:to="{name: 'Home'}">
								<div class="news-preview-card__img-wrap mb-3">
									<img
										class="news-preview-card__img"
										v-lazy="require('../assets/images/news-card3.jpg')"
										alt="">
								</div>
								<div class="news-preview-card__body">
									<div class="text-h6 color-gray-fill mb-2">
										<svg-icon class="font-size-15 mr-2" name="eye" />
										<span class="align-middle">1232</span>
									</div>
									<h3>4 способа пережить самоизоляцию, если вы экстраверт</h3>
									<div>Как не полезть на стену, сдержаться от похода в гости к соседям, в общем, соблюсти самоизоляцию и остаться в своем уме, если вы экстраверт</div>
								</div>
							</router-link>
						</div>
						<div class="news-preview-column column mb-4">
							<router-link
								class="news-preview-card"
								:to="{name: 'Home'}">
								<div class="news-preview-card__img-wrap mb-3">
									<img
										class="news-preview-card__img"
										v-lazy="require('../assets/images/news-card4.jpg')"
										alt="">
								</div>
								<div class="news-preview-card__body">
									<div class="text-h6 color-gray-fill mb-2">
										<svg-icon class="font-size-15 mr-2" name="eye" />
										<span class="align-middle">1232</span>
									</div>
									<h3>4 способа пережить самоизоляцию, если вы экстраверт</h3>
									<div>Как не полезть на стену, сдержаться от похода в гости к соседям, в общем, соблюсти самоизоляцию и остаться в своем уме, если вы экстраверт</div>
								</div>
							</router-link>
						</div>
					</div>
					<div class="news-preview-list wrap wrap-border-gray pt-4 pb-4 pl-3 pr-3 p-sm-4">
						<router-link
							class="news-preview-card news-preview-card_line"
							:to="{name: 'Home'}">
							<div class="row row_indents_s flex-column flex-md-row flex-md-nowrap">
								<div class="news-preview-card__img-wrap flex-shrink-0 column mb-3 mb-md-0">
									<img
										class="news-preview-card__img"
										v-lazy="require('../assets/images/news-card-line0.jpg')"
										alt="">
								</div>
								<div class="column">
									<div class="news-preview-card__body">
										<div class="text-h6 color-gray-fill mb-2">
											<svg-icon class="font-size-15 mr-2" name="eye" />
											<span class="align-middle">1232</span>
										</div>
										<h3>4 способа пережить самоизоляцию, если вы экстраверт</h3>
										<div>По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</div>
									</div>
								</div>
							</div>
						</router-link>
						<router-link
							class="news-preview-card news-preview-card_line"
							:to="{name: 'Home'}">
							<div class="row row_indents_s flex-column flex-md-row flex-md-nowrap">
								<div class="news-preview-card__img-wrap flex-shrink-0 column mb-3 mb-md-0">
									<img
										class="news-preview-card__img"
										v-lazy="require('../assets/images/news-card-line1.jpg')"
										alt="">
								</div>
								<div class="column">
									<div class="news-preview-card__body">
										<div class="text-h6 color-gray-fill mb-2">
											<svg-icon class="font-size-15 mr-2" name="eye" />
											<span class="align-middle">1232</span>
										</div>
										<h3>4 способа пережить самоизоляцию, если вы экстраверт</h3>
										<div>По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</div>
									</div>
								</div>
							</div>
						</router-link>
						<router-link
							class="news-preview-card news-preview-card_line"
							:to="{name: 'Home'}">
							<div class="row row_indents_s flex-column flex-md-row flex-md-nowrap">
								<div class="news-preview-card__img-wrap flex-shrink-0 column mb-3 mb-md-0">
									<img
										class="news-preview-card__img"
										v-lazy="require('../assets/images/news-card-line2.jpg')"
										alt="">
								</div>
								<div class="column">
									<div class="news-preview-card__body">
										<div class="text-h6 color-gray-fill mb-2">
											<svg-icon class="font-size-15 mr-2" name="eye" />
											<span class="align-middle">1232</span>
										</div>
										<h3>4 способа пережить самоизоляцию, если вы экстраверт</h3>
										<div>По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</div>
									</div>
								</div>
							</div>
						</router-link>
					</div>
					<pagination class="mt-4" />
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import svgIcon from '../components/SvgIcon.vue'
	import pagination from '../components/Pagination.vue'
	import '../assets/styles/common/_news-preview-card.scss'
	export default {

		name: 'News-page',

		data () {
			return {

			}
		},
		components: {
			svgIcon,
			pagination
		}
	}
</script>

<style lang="css" scoped>
</style>