<template>
	<div class="personal-event-log">
		<div class="wrap mb-4">
			<div class="pt-4 pb-4 pl-3 pr-3 pl-md-5 pr-md-5">
				<div class="pt-3">
					<h2>Настройки</h2>
					<div class="row">
						<div class="col-sm-6">
							<div class="mb-3 d-inline-block">
								<div class="mb-1">
									<img v-lazy="require('../assets/images/personal-avatar.png')" width="265" alt="">
								</div>
								<div class="mb-1">
									<a class="button button_transparent_blue_light d-block" href="#">Заменить фото</a>
								</div>
								<div class="mb-1">
									<a class="button button_transparent_red_light d-block" href="#">Удалить фото</a>
								</div>
							</div>
							<div class="form-group mb-3 pb-2">
								<label class="label text-h3" for="personalName">Ф.И.О.</label>
								<input class="form-control form-control_simple" id="personalName" type="text" placeholder="Юридическое наименование">
							</div>
							<label class="label text-h3" for="date-borth">Дата рождение</label>
							<div class="date-selects row row_indents_s">
								<div class="column pb-1">
									<div class="form-group mb-1">
										<multiselect
											class="multiselect_simple"
											v-model="days.value"
											:options="days.options"
											:searchable="true"
											:close-on-select="true"
											:show-labels="false"
											:preselect-first="true"
											:id="'area-activity'"
											:max-height="140"
											placeholder="Выберите город" />
									</div>
								</div>
								<div class="column pb-1">
									<div class="form-group mb-1">
										<multiselect
											class="multiselect_simple"
											v-model="month.value"
											:options="month.options"
											:searchable="true"
											:close-on-select="true"
											:show-labels="false"
											:preselect-first="true"
											:max-height="140"
											placeholder="Выберите город" />
									</div>
								</div>
								<div class="column pb-1">
									<div class="form-group mb-1">
										<multiselect
											class="multiselect_simple"
											v-model="years.value"
											:options="years.options"
											:searchable="true"
											:close-on-select="true"
											:show-labels="false"
											:preselect-first="true"
											:max-height="140"
											placeholder="Выберите город" />
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="pb-1">
								<div class="form-group mb-4">
									<label class="text-h3 mb-1" for="cityLive">Город проживания</label>
									<multiselect
										class="multiselect_simple"
										v-model="cityLive.value"
										:options="cityLive.options"
										:searchable="true"
										:close-on-select="true"
										:show-labels="false"
										:preselect-first="true"
										:id="'cityLive'"
										:max-height="140"
										placeholder="Выберите город" />
								</div>
							</div>
							<div class="form-group mb-3 pb-2">
								<label class="label text-h3" for="email">E-mail</label>
								<input class="form-control form-control_simple" value="www.credo-studio.com" id="email" type="email">
							</div>
							<div class="form-group mb-3 pb-2">
								<label class="label text-h3" for="tel">Телефон</label>
								<div class="row row_indents_m align-items-center flex-nowrap">
									<div class="column flex-grow-1 mb-2">
										<input class="form-control form-control_simple" value="+998 98 988 9898" id="tel" type="tel">
									</div>
									<div class="column flex-shrink-0 mb-2">
										<a class="color-gray-fill text-decoration-underline text-decoration-underline_hover_none" href="#">Подтвердить</a>
									</div>
								</div>
							</div>
							<div class="form-group mb-3 pb-2">
								<label class="label text-h3" for="facebook">Социальные сети</label>
								<div class="row row_indents_m align-items-center flex-nowrap">
									<div class="column flex-grow-1 mb-2">
										<input class="form-control form-control_simple" placeholder="facebook" id="facebook" type="fb">
									</div>
									<div class="column flex-shrink-0 mb-2">
										<img v-lazy="require('../assets/images/fb.svg')" width="20" alt="">
									</div>
								</div>
								<div class="row row_indents_m align-items-center flex-nowrap">
									<div class="column flex-grow-1 mb-2">
										<input class="form-control form-control_simple" placeholder="vkontakte" id="vkontakte" type="fb">
									</div>
									<div class="column flex-shrink-0 mb-2">
										<img v-lazy="require('../assets/images/vk.svg')" width="20" alt="">
									</div>
								</div>
								<div class="row row_indents_m align-items-center flex-nowrap">
									<div class="column flex-grow-1 mb-2">
										<input class="form-control form-control_simple" placeholder="linkedIn" id="linkedIn" type="fb">
									</div>
									<div class="column flex-shrink-0 mb-2">
										<img v-lazy="require('../assets/images/Linkedin.svg')" width="20" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row align-items-center justify-content-sm-end">
						<div class="column mb-2">
							<a class="button button_gray_dark" href="#">Сохранить настройки</a>
						</div>
						<div class="column mb-2">
							<a class="color-gray-fill text-decoration-underline text-decoration-underline_hover_none" href="#">Сбросить настройки</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wrap mb-4">
			<div class="pt-4 pb-4 pl-3 pr-3 pl-md-5 pr-md-5">
				<div class="pt-3">
					<h2>Обо мне</h2>
					<div class="text-h4 color-gray-dark mb-4">Опишите себя подробнее для того, чтобы работодатель как можно подробнее узнал о Вас, Вашем опыте, направлениях деятельности и т.д.</div>
					<div class="mb-4">
						<img v-lazy="require('../assets/images/text-redactor.png')" width="885" alt="">
					</div>
					<div class="row align-items-center justify-content-sm-end">
						<div class="column mb-2">
							<a class="button button_gray_dark" href="#">Сохранить настройки</a>
						</div>
						<div class="column mb-2">
							<a class="color-gray-fill text-decoration-underline text-decoration-underline_hover_none" href="#">Очистить</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	// import checkbox from '../components/Checkbox.vue'
	import Multiselect from 'vue-multiselect'
	import 'simplebar';
	import 'simplebar/dist/simplebar.css';
	import '../assets/styles/common/_simplebar.scss';
	export default {

		name: 'Personal-settings',

		data () {
			return {
				days: {
					value: [],
					options: ['01', '02', '03', '04']
				},
				month: {
					value: [],
					options: ['Январь', 'Февраль', 'Март', 'Апрель', 'Сентябрь']
				},
				years: {
					value: [],
					options: ['1990', '1991', '1992', '1993', '1994',]
				},
				cityLive: {
					value: [],
					options: ['Ташкент', 'Самарканд', 'Бухара', 'Хива']
				}
			}
		},
		mounted () {
			let dropdowns = document.querySelectorAll('.multiselect__content-wrapper')
			dropdowns.forEach(function(item) {
				item.setAttribute('data-simplebar', '')
			})
		},
		components: {
			// checkbox,
			Multiselect
		}
	}
</script>

<style lang="css" scoped>
</style>