<template>
	<div class="personal-resumes">
		<div class="wrap">
			<div class="pt-4 pb-4 pl-3 pr-3 pl-md-5 pr-md-5">
				<div class="pt-3">
					<div class="row align-items-center justify-content-between pb-3">
						<div class="column mb-2">
							<h2 class="mb-0">Мои резюме</h2>
						</div>
					</div>
					<card-resume
						class="mb-4"
						v-for="(item, itemIdx) in resumes"
						:key="itemIdx"
						:obj="item"
						:favourBtn="false"
						:deleteBtn="true" />
					<div class="text-right">
						<router-link class="button button_blue" :to="{name: 'post-resume'}">Добавить резюме</router-link>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import cardResume from '../components/Card-resume.vue'
	export default {

		name: 'Personal-resumes',

		data () {
			return {
				resumes: [
					{
						title: 'Контент-менеджер (реклама, SMM)',
						pro: true,
						jobSeekerHref: 'Home',
						jobSeekerName: 'Валерия Валериевна',
						jobSeekerAge: '32 года',
						jobSeekerLocationHref: 'Home',
						jobSeekerLocationCity: 'Ташкент',
						jobSeekerAbout: {
							education: 'Высшее образование',
							typeJob: 'Неполная занятость, удаленная работа',
							experience: [
								'SMM специалист в Dental Center, Одесса',
								'2 года 2 месяца • Project Coordinator, Whaleapp LTD · 1 год 6 месяцев'
							]
						},
						jobSeekerLogoSrc: require('../assets/images/job-seeker-avatar1.png'),
						postDate: '2 минуты назад',
						vacancyHref: 'resume-page',
						vacancyHrefDescr: 'Редактировать »'
					},
				]
			}
		},
		methods: {
		},
		components: {
			cardResume
		}
	}
</script>

<style lang="css" scoped>
</style>