<template>
	<div class="personal-response-history">
		<div class="wrap p-4 pl-lg-5 pr-lg-5">
			<div class="pt-lg-3 pb-lg-3">
				<h2 class="mb-3 mb-lg-4">История откликов</h2>
				<router-link class="card-vacancy d-block wrap pt-4 pb-4 pl-3 pr-3 p-lg-4 mb-2" :to="{name: 'vacancy-page'}">
					<div class="pl-lg-2 pr-lg-2">
						<div class="row row_indents_s">
							<div class="column mb-1">
								<div class="text-h3">Senior Front End Developer</div>
							</div>
							<div class="column mb-1">
								<div class="tag tag_green">Pro</div>
							</div>
						</div>
						<ul class="card-vacancy__company-data list-unstyled row align-items-center">
							<li class="column mb-1">
								<router-link
									class="color-gray-fill text-decoration-underline text-decoration-underline_hover_none text-h3 font-weight-normal d-block"
									:to="{name: 'Home'}"
									@click.stop.native="">
									<span>Darwin Global</span>
							</router-link>
							</li>
							<li class="column mb-1">
								<router-link
									class="card-vacancy__company-loc d-flex flex-nowrap align-items-center text-decoration_hover_underline"
									:to="{name: 'Home'}"
									@click.stop.native="">
									<svg-icon class="flex-shrink-0" name="loc" />
									<div class="ml-1">Ташкент</div>
								</router-link>
							</li>
						</ul>
						<div class="row align-items-center justify-content-between">
							<div class="column">
								<div class="text-h3 color-blue">от 2 500 000 сум/мес.</div>
							</div>
							<div class="column">
								<div class="text-h5 color-gray-dark">2 минуты назад</div>
							</div>
						</div>
					</div>
				</router-link>
				<router-link class="card-vacancy d-block wrap pt-4 pb-4 pl-3 pr-3 p-lg-4 mb-2" :to="{name: 'vacancy-page'}">
					<div class="pl-lg-2 pr-lg-2">
						<div class="row row_indents_s">
							<div class="column">
								<div class="text-h3">Senior Front End Developer</div>
							</div>
							<div class="column">
								<div class="tag tag_green">Pro</div>
							</div>
						</div>
						<ul class="card-vacancy__company-data list-unstyled row align-items-center">
							<li class="column mb-1">
								<router-link
									class="color-gray-fill text-decoration-underline text-decoration-underline_hover_none text-h3 font-weight-normal d-block"
									:to="{name: 'Home'}"
									@click.stop.native="">
									<span>Darwin Global</span>
							</router-link>
							</li>
							<li class="column mb-1">
								<router-link
									class="card-vacancy__company-loc d-flex flex-nowrap align-items-center text-decoration_hover_underline"
									:to="{name: 'Home'}"
									@click.stop.native="">
									<svg-icon class="flex-shrink-0" name="loc" />
									<div class="ml-1">Ташкент</div>
								</router-link>
							</li>
						</ul>
						<div class="row align-items-center justify-content-between">
							<div class="column">
								<div class="text-h3 color-blue">от 2 500 000 сум/мес.</div>
							</div>
							<div class="column">
								<div class="text-h5 color-gray-dark">Сегодня</div>
							</div>
						</div>
					</div>
				</router-link>
				<router-link class="card-vacancy d-block wrap pt-4 pb-4 pl-3 pr-3 p-lg-4 mb-2" :to="{name: 'vacancy-page'}">
					<div class="pl-lg-2 pr-lg-2">
						<div class="row row_indents_s">
							<div class="column">
								<div class="text-h3">Senior Front End Developer</div>
							</div>
							<div class="column">
								<div class="tag tag_green">Pro</div>
							</div>
						</div>
						<ul class="card-vacancy__company-data list-unstyled row align-items-center">
							<li class="column mb-1">
								<router-link
									class="color-gray-fill text-decoration-underline text-decoration-underline_hover_none text-h3 font-weight-normal d-block"
									:to="{name: 'Home'}"
									@click.stop.native="">
									<span>Darwin Global</span>
							</router-link>
							</li>
							<li class="column mb-1">
								<router-link
									class="card-vacancy__company-loc d-flex flex-nowrap align-items-center text-decoration_hover_underline"
									:to="{name: 'Home'}"
									@click.stop.native="">
									<svg-icon class="flex-shrink-0" name="loc" />
									<div class="ml-1">Ташкент</div>
								</router-link>
							</li>
						</ul>
						<div class="row align-items-center justify-content-between">
							<div class="column">
								<div class="text-h3 color-blue">от 2 500 000 сум/мес.</div>
							</div>
							<div class="column">
								<div class="text-h5 color-gray-dark">Вчера</div>
							</div>
						</div>
					</div>
				</router-link>
			</div>
		</div>
	</div>
</template>

<script>
	import svgIcon from '../components/SvgIcon.vue'
	export default {

		name: 'Personal-response-history',

		data () {
			return {

			}
		},
		components: {
			svgIcon
		}
	}
</script>

<style lang="scss" scoped>
	.card-vacancy {
		font-size: 15px;
		line-height: 140%;
		color: #383B49;
		cursor: pointer;
		text-decoration: none !important;
		&:hover {
			box-shadow: 0px 12px 20px rgba(61, 58, 194, 0.08);
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 5px;
			color: #383B49;
		}
	}
	.card-vacancy__company-data {
		// margin-bottom: 5px;
		@media only screen and (max-width: 991px) {
			margin-left: -5px;
			margin-right: -5px;
		}
		li {
			position: relative;
			@media only screen and (max-width: 991px) {
				padding-left: 5px;
				padding-right: 5px;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
			&:after {
				@media only screen and (min-width: 992px) {
					content: '·';

					position: absolute;
					top: 0;
					left: 100%;
					margin-left: -2px;
					margin-top: -1px;
					transform: transform(0, -50%);

					font-size: 18px;
					color: #BFBFBF;
				}
			}
		}
		a {
			text-decoration: none;
		}
	}
	.card-vacancy__company-loc {
		font-size: 17px;
		line-height: 140%;
		color: #686E7D;
		.svg-icon {
			color: #BFBFBF;
			font-size: 14px;
		}
		&:hover {

		}
	}
</style>