<template>
	<div class="post-resume-vacancy">
		<div class="container-fluid">
			<div class="pb-2 negative-margins">
				<router-link class="text-h4 text-lg-white mb-3 d-inline-block" :to="{name: 'Home'}">
					<svg-icon class="svg-icon_reverse_90_negative font-size-8" name="angle" />
					<span class="ml-2 align-middle">На главную</span>
				</router-link>
			</div>
			<div class="position-relative">
				<h2 class="text-lg-white mb-4 pb-2">Создание резюме</h2>
				<div class="wrap pt-4 pb-4 pl-3 pr-3 p-md-4">
					<div class="pt-lg-4 pb-lg-4 pl-lg-3 pr-lg-3">
						<vue-tabs class="tabs tabs_style_steps" v-model="tabName">
							<v-tab id="first" title="1">
								<div class="pt-lg-5 pb-4">
									<div class="pt-md-5">
										<h2 class="mb-4">Общая информация</h2>
										<div class="row mb-4">
											<div class="col-lg-6">
												<div class="pb-1">
													<div
														class="form-group mb-4"
														:class="{ 'form-group_error': $v.perspectivePosition.$error }">
														<label class="label text-h3 mb-2" for="input1">Желаемая должность</label>
														<input
															class="form-control"
															type="text"
															id="input1"
															placeholder="Например, видеомонтажер"
															v-model.trim="$v.perspectivePosition.$model"/>
													</div>
													<div class="form-group__error text-h6 color-blue pl-3" v-if="!$v.perspectivePosition.required">Поле необходимо заполнить</div>
													<div class="form-group__error text-h6 color-blue pl-3" v-if="!$v.perspectivePosition.minLength">Поле должно содержать не менее {{$v.perspectivePosition.$params.minLength.min}} символов.</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-9">
												<div class="regular-title regular-title_on_background_gray pl-4 mb-4">
													<h3>Категории вакансии</h3>
												</div>
												<div class="row">
													<div class="col-lg-6"
														v-for="(item, itemIdx) in categorys"
														:key="itemIdx">
														<checkbox
															:type="'checkbox'"
															:name="'categoryCheckbox'"
															:id="'categoryCheckbox'+itemIdx"
															:checked="item.checkboxChecked">
																<sub-category-link
																	class="subcategory-link-wrap_style_link"
																	:link-prop="item"
																	:its-link="false" />
														</checkbox>
													</div>
												</div>
											</div>
										</div>
										<div class="row pt-4">
											<div class="col-md-6 col-lg-4">
												<div class="pb-1">
													<div
														class="form-group mb-4"
														:class="{'form-group_error': $v.jobCitySelect.$error}">
														<label class="label text-h3 mb-2" for="jobCitySelect">Город работы</label>
														<multiselect
															v-model="jobCitySelect"
															:options="cityOptions"
															:searchable="true"
															:closeOnSelect="true"
															:show-labels="false"
															:max-height="140"
															:id="'jobCitySelect'"
															placeholder="Выберите город" />
													</div>
													<div class="form-group__error text-h6 color-blue pl-3" v-if="!$v.jobCitySelect.required">Выберите город</div>
													<div class="text-right form-group__link-wrap">
														<a href="#" @click.prevent="jobCityToggle = !jobCityToggle">Добавить город</a>
													</div>
												</div>
												<div
													class="pb-1"
													v-show="jobCityToggle">
													<div
														class="form-group mb-4"
														:class="{ 'form-group_error': $v.jobCityInput.$error }">
														<label class="label text-h3 mb-2" for="jobCityInput">Город</label>
														<input
															class="form-control"
															type="text"
															id="jobCityInput"
															placeholder="Впишите ваш город"
															v-model.trim="$v.jobCityInput.$model"/>
													</div>
													<div class="form-group__error text-h6 color-blue pl-3" v-if="!$v.jobCityInput.required">Поле необходимо заполнить</div>
												</div>
											</div>
											<div class="col-md-6 pl-lg-5 ml-lg-4">
												<div class="form-group mb-0 mt-md-5">
													<checkbox
														:type="'checkbox'"
														:name="'bussines-trip'"
														:id="'bussines-trip1'"
														:content="'Возможны коммандировки'"
														:checked="true">
													</checkbox>
												</div>
											</div>
										</div>
										<div class="row pt-4">
											<div class="col-lg-6">
												<div class="row">
													<div class="col-lg-9">
														<div class="mb-4">
															<label class="label text-h3 mb-2" for="typeEmployement1">Вид занятости</label>
															<div class="row">
																<div class="col-lg-6">
																	<div class="form-group mb-0">
																		<checkbox
																			:type="'checkbox'"
																			:name="'typeEmployement'"
																			:id="'typeEmployement1'"
																			:content="'Полная занятость'"
																			:checked="true">
																		</checkbox>
																	</div>
																</div>
																<div class="col-lg-6">
																	<div class="form-group mb-0">
																		<checkbox
																			:type="'checkbox'"
																			:name="'typeEmployement'"
																			:id="'typeEmployement1'"
																			:content="'Проектная работа'"
																			:checked="false">
																		</checkbox>
																	</div>
																</div>
																<div class="col-lg-6">
																	<div class="form-group mb-0">
																		<checkbox
																			:type="'checkbox'"
																			:name="'typeEmployement'"
																			:id="'typeEmployement1'"
																			:content="'Неполная занятость'"
																			:checked="false">
																		</checkbox>
																	</div>
																</div>
																<div class="col-lg-6">
																	<div class="form-group mb-0">
																		<checkbox
																			:type="'checkbox'"
																			:name="'typeEmployement'"
																			:id="'typeEmployement1'"
																			:content="'Удаленная работа'"
																			:checked="false">
																		</checkbox>
																	</div>
																</div>
															</div>
														</div>
														<div class="mb-4">
															<label class="label text-h3 mb-2" for="paymentStart">Зарплата от</label>
															<div class="row row_indents_m align-items-center">
																<div class="col-md-6">
																	<div class="form-group mb-0">
																		<input
																			class="form-control"
																			type="text"
																			id="paymentStart" />
																	</div>
																</div>
																<div class="col-md-6 text-right text-md-left pt-2 pt-lg-0">
																	<div class="text-h4 color-gray-fill">сум/месяц</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row mt-5">
											<div class="column mb-3">
												<a class="button button_blue pl-5 pr-5" href="#" @click.prevent="changeTab('2')">Далее</a>
											</div>
										</div>
									</div>
								</div>
							</v-tab>
							<v-tab id="second" title="2">
								<div class="pt-lg-5 pb-4">
									<div class="pt-md-5">
										<h2 class="mb-4">Опыт работы</h2>
										<div class="form-group mb-4">
											<checkbox
												:type="'checkbox'"
												:name="'jobExperience'"
												:id="'jobExperience'"
												:content="'У меня нет опыта работы'"
												:checked="false">
											</checkbox>
										</div>
										<div
											class="mb-4"
											v-for="(item, itemIdx) in jobPlaceFormCounter"
											:key="itemIdx">
											<hr class="devirder mt-5 mb-5" v-show="itemIdx >= 1">
											<div class="row">
												<div class="col-lg-11">
													<div class="row">
														<div class="col-lg-6">
															<div class="form-group mb-4">
																<label class="label text-h3 mb-2" :for="'companyName'+itemIdx">Название компании</label>
																<input class="form-control" type="text" :id="'companyName'+itemIdx">
															</div>
															<div class="form-group mb-4">
																<label class="label text-h3 mb-2" :for="jobExperienceCitySelect+itemIdx">Город работы</label>
																<multiselect
																	v-model="jobExperienceCitySelect"
																	:options="cityOptions"
																	:searchable="true"
																	:closeOnSelect="true"
																	:show-labels="false"
																	:max-height="140"
																	:id="'jobExperienceCitySelect'+itemIdx"
																	placeholder="Выберите город" />
															</div>
															<div class="form-group mb-4">
																<label class="label text-h3 mb-2" :for="'jobExperiencePosition'+itemIdx">Город работы</label>
																<input class="form-control" :id="'jobExperiencePosition'+itemIdx" type="text">
															</div>
															<div class="form-group mb-4">
																<label class="label text-h3 mb-2" :for="'jobExperienceCompanyScope'+itemIdx">Должность</label>
																<input class="form-control" :id="'jobExperienceCompanyScope'+itemIdx" type="text">
															</div>
														</div>
														<div class="col-lg-6">
															<div class="form-group">
																<label class="label text-h3 mb-2" :for="'jobTimePeriod'+itemIdx">Период работы</label>
																<div class="row">
																	<div class="col-sm-5 col-lg-8">
																		<div class="row row_indents_s flex-column flex-sm-row align-items-sm-center flex-sm-nowrap mb-3">
																			<div class="column mb-2"><div class="color-gray-fill" style="min-width: 18px;">от</div></div>
																			<div class="column mb-2 flex-grow-1">
																				<div class="form-group mb-0">
																					<multiselect
																						:style="{'min-width': '216px'}"
																						v-model="jobTimePeriodStartMonth"
																						:options="yearsOptions"
																						:searchable="true"
																						:closeOnSelect="true"
																						:show-labels="false"
																						:max-height="140"
																						:id="'jobTimePeriod'+itemIdx"
																						placeholder="Месяц" />
																				</div>
																			</div>
																			<div class="column mb-2 flex-shrink-0">
																				<div class="form-group mb-0">
																					<multiselect
																						:style="{'min-width': '100px'}"
																						v-model="jobTimePeriodStartYears"
																						:options="yearsOptions"
																						:searchable="true"
																						:closeOnSelect="true"
																						:show-labels="false"
																						:max-height="140"
																						:id="'jobTimePeriodYear'+itemIdx"
																						placeholder="Год" />
																				</div>
																			</div>
																		</div>
																		<div class="row row_indents_s flex-column flex-sm-row align-items-sm-center flex-sm-nowrap mb-3">
																			<div class="column mb-2"><div class="color-gray-fill" style="min-width: 18px;">до</div></div>
																			<div class="column mb-2 flex-grow-1">
																				<div class="form-group mb-0">
																					<multiselect
																						:style="{'min-width': '216px'}"
																						v-model="jobTimePeriodEndMonth"
																						:options="monthsOptions"
																						:searchable="true"
																						:closeOnSelect="true"
																						:show-labels="false"
																						:max-height="140"
																						:id="'jobTimePeriodEnd'+itemIdx"
																						placeholder="Месяц" />
																				</div>
																			</div>
																			<div class="column mb-2 flex-shrink-0">
																				<div class="form-group mb-0">
																					<multiselect
																						:style="{'min-width': '100px'}"
																						v-model="jobTimePeriodEndYears"
																						:options="yearsOptions"
																						:searchable="true"
																						:closeOnSelect="true"
																						:show-labels="false"
																						:max-height="140"
																						:id="'jobTimePeriodYearEnd'+itemIdx"
																						placeholder="Год" />
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="form-group mb-4">
																<label class="label text-h3 mb-2" :for="'jobExperienceMoreInfo'+itemIdx">Дополнительная информация</label>
																<textarea
																	class="form-control"
																	:id="'jobExperienceMoreInfo'+itemIdx"
																	type="text"
																	rows="9"
																	placeholder="Вы можете вписать сюда дополнительную информацию, которая была бы интересна работодателю - заслуги, сертификаты, наработанные навыки и т.д." />
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="d-flex flex-wrap overflow-hidden">
											<div class="button-gradient-wrap pl-sm-3 pr-sm-3 ml-auto mr-auto">
												<a class="button button-gradient" href="#" @click.prevent="jobPlaceFormCounter++">Добавить еще одно место работы</a>
											</div>
										</div>
										<div class="row mt-5">
											<div class="column mb-3">
												<a class="button button_blue pl-5 pr-5" href="#" @click.prevent="changeTab('3')">Далее</a>
											</div>
											<div class="column mb-3">
												<a class="button button-gradient button-regular-padding" href="#" @click.prevent="changeTab('1')">Назад</a>
											</div>
										</div>
									</div>
								</div>
							</v-tab>
							<v-tab id="third" title="3">
								<div class="pt-lg-5 pb-4">
									<div class="pt-md-5">
										<h2 class="mb-4">Образование</h2>
										<div class="form-group mb-4">
											<checkbox
												:type="'checkbox'"
												:name="'jobExperience'"
												:id="'jobExperience'"
												:content="'Отказаться от заполнения образования'"
												:checked="false">
											</checkbox>
										</div>
										<div
											class="mb-4"
											v-for="(item, itemIdx) in eduFormCounter"
											:key="itemIdx">
											<hr class="devirder mt-5 mb-5" v-show="itemIdx >= 1">
											<div class="row">
												<div class="col-lg-11">
													<div class="row">
														<div class="col-lg-6">
															<div class="form-group mb-4">
																<label class="label text-h3 mb-2" :for="'eduLevel'+itemIdx">Уровень образования</label>
																<multiselect
																	v-model="eduLevelSelect"
																	:options="eduLevelSelectOptions"
																	:searchable="true"
																	:closeOnSelect="true"
																	:show-labels="false"
																	:max-height="140"
																	:id="'eduLevel'+itemIdx"
																	placeholder="Выберите образование" />
															</div>
															<div class="form-group mb-4">
																<label class="label text-h3 mb-2" :for="eduCitySelect+itemIdx">Город работы</label>
																<multiselect
																	v-model="eduCitySelect"
																	:options="cityOptions"
																	:searchable="true"
																	:closeOnSelect="true"
																	:show-labels="false"
																	:max-height="140"
																	:id="'eduCitySelect'+itemIdx"
																	placeholder="Выберите город" />
															</div>
															<div class="form-group mb-4">
																<label class="label text-h3 mb-2" :for="'eduInstitution'+itemIdx">Учебное заведение</label>
																<input class="form-control" :id="'eduInstitution'+itemIdx" type="text">
															</div>
															<div class="form-group mb-4">
																<label class="label text-h3 mb-2" :for="'eduFaculty'+itemIdx">Факультет, специальность</label>
																<input class="form-control" :id="'eduFaculty'+itemIdx" type="text">
															</div>
														</div>
														<div class="col-lg-6">
															<div class="form-group">
																<label class="label text-h3 mb-2" :for="'eduPeriodStartMonth'+itemIdx">Период обучения</label>
																<div class="row">
																	<div class="col-sm-8">
																		<div class="row row_indents_s flex-column flex-sm-row align-items-sm-center flex-sm-nowrap mb-3">
																			<div class="column mb-2"><div class="color-gray-fill" style="min-width: 18px;">от</div></div>
																			<div class="column mb-2 flex-grow-1">
																				<div class="form-group mb-0">
																					<multiselect
																						:style="{'min-width': '216px'}"
																						v-model="eduPeriodStartMonth"
																						:options="yearsOptions"
																						:searchable="true"
																						:closeOnSelect="true"
																						:show-labels="false"
																						:max-height="140"
																						:id="'eduPeriodStartMonth'+itemIdx"
																						placeholder="Месяц" />
																				</div>
																			</div>
																			<div class="column mb-2 flex-shrink-0">
																				<div class="form-group mb-0">
																					<multiselect
																						:style="{'min-width': '100px'}"
																						v-model="eduPeriodStartYear"
																						:options="yearsOptions"
																						:searchable="true"
																						:closeOnSelect="true"
																						:show-labels="false"
																						:max-height="140"
																						:id="'eduPeriodStartYear'+itemIdx"
																						placeholder="Год" />
																				</div>
																			</div>
																		</div>
																		<div class="row row_indents_s flex-column flex-sm-row align-items-sm-center flex-sm-nowrap mb-3">
																			<div class="column mb-2"><div class="color-gray-fill" style="min-width: 18px;">до</div></div>
																			<div class="column mb-2 flex-grow-1">
																				<div class="form-group mb-0">
																					<multiselect
																						:style="{'min-width': '216px'}"
																						v-model="eduPeriodEndMonth"
																						:options="monthsOptions"
																						:searchable="true"
																						:closeOnSelect="true"
																						:show-labels="false"
																						:max-height="140"
																						:id="'eduPeriodEndMonth'+itemIdx"
																						placeholder="Месяц" />
																				</div>
																			</div>
																			<div class="column mb-2 flex-shrink-0">
																				<div class="form-group mb-0">
																					<multiselect
																						:style="{'min-width': '100px'}"
																						v-model="eduPeriodEndYear"
																						:options="yearsOptions"
																						:searchable="true"
																						:closeOnSelect="true"
																						:show-labels="false"
																						:max-height="140"
																						:id="'eduPeriodEndYear'+itemIdx"
																						placeholder="Год" />
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="form-group mb-4">
																<label class="label text-h3 mb-2" :for="'eduMoreInfo'+itemIdx">Дополнительная информация</label>
																<textarea
																	class="form-control"
																	:id="'eduMoreInfo'+itemIdx"
																	type="text"
																	rows="9"
																	placeholder="Вы можете вписать сюда дополнительную информацию, которая была бы интересна работодателю - заслуги, сертификаты, наработанные навыки и т.д." />
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="d-flex flex-wrap overflow-hidden">
											<div class="button-gradient-wrap pl-sm-3 pr-sm-3 ml-auto mr-auto">
												<a class="button button-gradient" href="#" @click.prevent="eduFormCounter++">Добавить еще одно место работы</a>
											</div>
										</div>
										<div class="row mt-5">
											<div class="column mb-3">
												<a class="button button_blue pl-5 pr-5" href="#" @click.prevent="changeTab('4')">Далее</a>
											</div>
											<div class="column mb-3">
												<a class="button button-gradient button-regular-padding" href="#" @click.prevent="changeTab('2')">Назад</a>
											</div>
										</div>

									</div>
								</div>
							</v-tab>
							<v-tab id="fourth" title="4">
								<div class="pt-lg-5 pb-4">
									<div class="pt-md-5">
										<h2 class="mb-4">Настройка видимости резюме</h2>
										<div class="row">
											<div class="col-lg-10">
												<div class="row">
													<div class="col-md-6">
														<div class="form-group mb-3">
															<checkbox
																:class="'checkbox-circle'"
																:type="'radio'"
																:name="'viewOption'"
																:id="'viewOptionTrue'"
																:checked="true">
																<span class="d-block">Разместить на сайте</span>
																<span class="d-block color-gray-fill">Будет размещено резюме, заполненное выше. Также вся дополнительная информация профиля, включая контактную — телефон, email и социальные сети.</span>
															</checkbox>
														</div>
														<div class="form-group mb-3">
															<checkbox
																:class="'checkbox-circle'"
																:type="'radio'"
																:name="'viewOption'"
																:id="'viewOptionFalse'"
																:checked="false">
																<span class="d-block">Скрыть резюме</span>
															</checkbox>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group mb-4">
															<label class="label text-h3 mb-2" :for="'viewMoreInfo'">Дополнительная информация</label>
															<textarea
																class="form-control"
																:id="'viewMoreInfo'"
																type="text"
																rows="7"
																placeholder="Вы можете вписать сюда дополнительную информацию, которая была бы интересна работодателю - заслуги, сертификаты, наработанные навыки и т.д." />
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row mt-5">
											<div class="column mb-3">
												<router-link class="button button_blue pl-5 pr-5" :to="{name: 'company-vacancys-feedback'}">Готово</router-link>
											</div>
											<div class="column mb-3">
												<a class="button button-gradient button-regular-padding" href="#" @click.prevent="changeTab('3')">Назад</a>
											</div>
										</div>
									</div>
								</div>
							</v-tab>
						</vue-tabs>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { required, minLength } from 'vuelidate/lib/validators'
	import 'simplebar';
	import 'simplebar/dist/simplebar.css';
	import '../assets/styles/common/_simplebar.scss';
	import checkbox from '../components/Checkbox.vue'
	import subCategoryLink from '../components/Subcategory-link.vue'
	import svgIcon from '../components/SvgIcon.vue'
	import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'
	import '../assets/styles/common/_tabs.scss'
	import Multiselect from 'vue-multiselect'
	import '../assets/styles/common/_accordion.scss'
	import '../assets/styles/common/_variant-card.scss'
	// import collapse from '../components/Collapse.vue'
	export default {

		name: 'Post-resume',
		meta: {title: 'Разместить резюме'},
		data () {
			return {
				tabName: '',

				submitStatus: '',

				perspectivePosition: '',

				jobCityToggle: false,
				jobCitySelect: '',

				inputsJobInput: '',
				eduCitySelect: '',

				cityOptions: ['Ташкент', 'Самарканд', 'Коканд', 'Джизах'],

				jobExperienceCitySelect: '',

				jobTimePeriodStartMonth: '',
				jobTimePeriodStartYears: '',
				jobTimePeriodEndMonth: '',
				jobTimePeriodEndYears: '',

				eduPeriodStartMonth: '',
				eduPeriodStartYear: '',
				eduPeriodEndMonth: '',
				eduPeriodEndYear: '',

				monthsOptions: ['Январь', 'Февраль', 'Март', 'Апрель'],
				yearsOptions: ['2020', '2021', '2022', '2023'],

				eduLevelSelect: '',
				eduLevelSelectOptions: ['Оконченное высшее', 'Неоконченное высшее', 'Среднее-специальное', 'Среднее'],

				jobPlaceFormCounter: 1,
				eduFormCounter: 1,


				categorys: [
					{
						linkName: 'IT, компьютеры, интернет',
						checkboxChecked: true
					},
					{
						linkName: 'Администрация, руководство среднего звена',
						checkboxChecked: false
					},
					{
						linkName: 'Бухгалтерия, аудит',
						checkboxChecked: false
					},
					{
						linkName: 'Гостинично-ресторанный бизнес, туризм',
						checkboxChecked: false
					},
					{
						linkName: 'Дизайн, творчество',
						checkboxChecked: false
					},
					{
						linkName: 'Красота, фитнес, спорт',
						checkboxChecked: false
					},
					{
						linkName: 'Культура, музыка, шоу-бизнес',
						checkboxChecked: false
					},
					{
						linkName: 'Логистика, склад, ВЭД',
						checkboxChecked: false
					},
					{
						linkName: 'Маркетинг, реклама, PR',
						checkboxChecked: false
					},
					{
						linkName: 'Медицина, фармацевтика',
						checkboxChecked: false
					},
					{
						linkName: 'Недвижимость',
						checkboxChecked: false
					},
					{
						linkName: 'Образование, наука',
						checkboxChecked: false
					},
					{
						linkName: 'Охрана, безопасность',
						checkboxChecked: false
					},
					{
						linkName: 'Продажи, закупки',
						checkboxChecked: false
					},
					{
						linkName: 'Рабочие специальности, производство',
						checkboxChecked: false
					},
					{
						linkName: 'Розничная торговля',
						checkboxChecked: false
					},
					{
						linkName: 'Секретариат, делопроизводство, АХО',
						checkboxChecked: false
					},
				],
				jobCity: {
					value: [],
					isTouched: false,
					options: ['Ташкент', 'Самарканд', 'Коканд', 'Джизах']
				},
				jobCitySearch: {
					value: [],
					isTouched: false,
					options: ['Ташкент', 'Самарканд', 'Коканд', 'Джизах']
				},
				paymentStart: {
					value: [],
					isTouched: false,
					options: ['1 000 000', '2 000 000', '3 000 000', '4 000 000']
				},
				paymentEnd: {
					value: [],
					isTouched: false,
					options: ['1 000 000', '2 000 000', '3 000 000', '4 000 000']
				},
				typeEmployment: {
					value: [],
					isTouched: false,
					options: ['Полный рабочий день', 'Удалённая работа']
				},
				workDays: {
					value: [],
					isTouched: false,
					options: ['Понедельник — Пятница', 'Понедельник — Суббота']
				},
				jobExpirience: {
					value: [],
					isTouched: false,
					options: ['Готовы взять без опыта', 'от 1 года', 'от 2 года']
				},
				education: {
					value: [],
					isTouched: false,
					options: ['Высшее образование', 'Незаконченное высшее образование', 'Среднее специальное образование']
				},
				keySkills: [
					{
						value: 'Английский — A1 — Начальный',
					},
					{
						value: 'Анализ текущих финансовых показателей',
					},
					{
						value: 'Финансовый анализ',
					},
				],
			}
		},
		validations: {
			perspectivePosition: {
				required,
				minLength: minLength(4)
			},
			jobCitySelect: {
				required,
			},
			jobCityInput: {
				required,
			},
		},
		methods: {
			changeTab(tabToChange){
				this.tabName = tabToChange
			},
			accordion (event) {
				let btn = event.currentTarget;
				let btnTarget = btn.getAttribute('data-target');
				let collapseItems = document.querySelectorAll('.accordion-collapse-content');
				let collapseBox = document.querySelector('[data-id="'+btnTarget+'"]')
				collapseItems.forEach(function(elem) {
					if ( elem.getAttribute('data-id') == btnTarget ) {
						elem.classList.toggle('expanded')
						elem.parentElement.querySelector('.accordion-toggle').classList.add('active')
						elem.style.maxHeight = elem.scrollHeight + "px";
						elem.classList.add('show')
					} else {
						elem.classList.remove('expanded')
						elem.style.maxHeight = null;
						elem.parentElement.querySelector('.accordion-toggle').classList.remove('active')
						elem.classList.remove('show')
					}
				})
				if ( !(collapseBox.classList.contains('expanded')) ) {
					collapseBox.style.maxHeight = null;
					collapseBox.classList.remove('show')
					collapseBox.parentElement.querySelector('.accordion-toggle').classList.remove('active')
				}
			},
			submit() {
				this.$v.$touch()
				if (this.$v.$invalid) {
					this.submitStatus = 'ERROR'
				} else {
					this.submitStatus = 'PENDING'
					setTimeout(() => {
						this.submitStatus = 'OK'
					}, 500)
				}
			}
		},
		mounted () {
			let dropdowns = document.querySelectorAll('.multiselect__content-wrapper')
			dropdowns.forEach(function(item) {
				item.setAttribute('data-simplebar', '')
			})
		},
		updated () {
			let dropdowns = document.querySelectorAll('.multiselect__content-wrapper')
			dropdowns.forEach(function(item) {
				item.setAttribute('data-simplebar', '')
			})
		},
		components: {
			svgIcon,
			VueTabs,
			VTab,
			checkbox,
			subCategoryLink,
			Multiselect,
			// collapse
		}
	}
</script>

<style lang="css" scoped>
</style>