<template>
	<div class="post-resume-vacancy">
		<div class="container-fluid">
			<div class="pb-2 negative-margins">
				<router-link class="text-h4 text-lg-white mb-3 d-inline-block" :to="{name: 'Home'}">
					<svg-icon class="svg-icon_reverse_90_negative font-size-8" name="angle" />
					<span class="ml-2 align-middle">На главную</span>
				</router-link>
			</div>
			<div class="position-relative">
				<h2 class="text-lg-white mb-4 pb-2">Создание вакансии</h2>
				<div class="wrap pt-4 pb-4 pl-3 pr-3 p-md-4">
					<div class="pt-lg-4 pb-lg-4 pl-lg-3 pr-lg-3">
						<vue-tabs class="tabs tabs_style_steps" v-model="tabName">
							<v-tab id="first" title="1">
								<div class="pt-lg-5 pb-4">
									<div class="pt-md-5">
										<h2 class="mb-4">Информация о должности</h2>
										<div class="row mb-4">
											<div class="col-lg-6">
												<div class="form-group">
													<label class="text-h3" for="vacancyName">Название должности</label>
													<input class="form-control form-control_simple" id="vacancyName" type="text" placeholder="Название будет отображаться в заголовке вакансии">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-9">
												<div class="regular-title regular-title_on_background_gray pl-4 mb-4">
													<h3>Категории вакансии</h3>
												</div>
												<div class="row">
													<div class="col-lg-6"
														v-for="(item, itemIdx) in categorys"
														:key="itemIdx">
														<checkbox
															class="checkbox_style_gradient"
															:type="'checkbox'"
															:name="'categoryCheckbox'"
															:id="'categoryCheckbox'+itemIdx"
															:checked="item.checkboxChecked">
																<sub-category-link
																	class="subcategory-link-wrap_style_link"
																	:link-prop="item"
																	:its-link="false" />
														</checkbox>
													</div>
												</div>
											</div>
										</div>
										<div class="row mt-5">
											<div class="column mb-3">
												<a class="button button_blue pl-5 pr-5" href="#" @click.prevent="changeTab('2')">Далее</a>
											</div>
										</div>
									</div>
								</div>
							</v-tab>
							<v-tab title="2">
								<div class="pt-lg-5 pb-4">
									<div class="pt-md-5">
										<h2 class="mb-4">Условия работы</h2>
										<div class="row">
											<div class="col-lg-9">
												<div class="row">
													<div class="col-lg-6">
														<div class="form-group mb-4">
															<label class="text-h3" for="jobCity">Город работы</label>
															<multiselect
																class="multiselect_simple mb-2"
																v-model="jobCity.value"
																:options="jobCity.options"
																:searchable="true"
																:close-on-select="true"
																:show-labels="false"
																:preselect-first="true"
																:max-height="140"
																@close="jobCity.isTouched = true"
																placeholder="Выберите город" />
															<checkbox
																:type="'checkbox'"
																:name="'categoryCheckbox'"
																:id="'jobAnotherCity'"
																:checked="false"
																:content="'Искать работников из другого города'" />
														</div>
														<div class="form-group mb-4">
															<label class="text-h3" for="jobCitySearch">Город для поиска</label>
															<multiselect
																class="multiselect_simple"
																v-model="jobCitySearch.value"
																:options="jobCitySearch.options"
																:searchable="true"
																:close-on-select="true"
																:show-labels="false"
																:preselect-first="true"
																:max-height="140"
																@close="jobCitySearch.isTouched = true"
																:disabled="true"
																placeholder="Ташкент" />
														</div>
														<div class="form-group mb-4">
															<label class="text-h3" for="paymnet">Зарплата в <span class="color-gray-fill">сумах/месяц</span></label>
															<div class="row row_indents_m flex-column flex-sm-row align-items-sm-center flex-sm-nowrap mb-2">
																<div class="column flex-grow-1">
																	<multiselect
																		class="multiselect_simple"
																		v-model="paymentStart.value"
																		:options="paymentStart.options"
																		:searchable="true"
																		:close-on-select="true"
																		:show-labels="false"
																		:preselect-first="true"
																		:max-height="140"
																		@close="paymentStart.isTouched = true" />
																</div>
																<div class="column flex-shrink-0 text-center text-sm-left">
																	<div class="text-h4 color-gray-fill">—</div>
																</div>
																<div class="column flex-grow-1">
																	<multiselect
																		class="multiselect_simple"
																		v-model="paymentEnd.value"
																		:options="paymentEnd.options"
																		:searchable="true"
																		:close-on-select="true"
																		:show-labels="false"
																		:preselect-first="true"
																		:max-height="140"
																		@close="paymentEnd.isTouched = true" />
																</div>
															</div>
															<checkbox
																:type="'checkbox'"
																:name="'interviewResult'"
																:id="'interviewResult'"
																:checked="true"
																:content="'По результатам собеседования'" />
														</div>
													</div>
													<div class="col-lg-5">
														<div class="accordion">
															<div class="accordion-item mb-3">
																<div class="accordion-toggle text-h3 font-weight-medium d-inline-block" data-target="adresCollapse" @click="accordion($event)">
																	Адрес работы <span class="color-blue text-decoration-none text-decoration_hover_underline">Добавить</span>
																</div>
																<div class="accordion-collapse-content" data-id="adresCollapse">
																	<div class="pt-3">
																		<div class="form-group mb-0">
																			<input class="form-control form-control_simple" type="text" placeholder="Ташкент">
																		</div>
																	</div>
																</div>
															</div>
															<div class="accordion-item mb-3">
																<div class="accordion-toggle text-h3 font-weight-medium d-inline-block" data-target="typeEmployeeCollapse" @click="accordion($event)">
																	Вид занятости <span class="color-blue text-decoration-none text-decoration_hover_underline">Добавить</span>
																</div>
																<div class="accordion-collapse-content" data-id="typeEmployeeCollapse">
																	<div class="pt-3">
																		<div class="row">
																			<div class="form-group column mb-1">
																				<checkbox
																					:type="'checkbox'"
																					:name="'typeEmployee'"
																					:id="'typeEmployee1'"
																					:checked="true"
																					:content="'Полная занятость'" />
																			</div>
																			<div class="form-group column mb-1">
																				<checkbox
																					:type="'checkbox'"
																					:name="'typeEmployee'"
																					:id="'typeEmployee2'"
																					:checked="true"
																					:content="'Проектная работа'" />
																			</div>
																			<div class="form-group column mb-1">
																				<checkbox
																					:type="'checkbox'"
																					:name="'typeEmployee'"
																					:id="'typeEmployee3'"
																					:checked="false"
																					:content="'Неполная занятость'" />
																			</div>
																			<div class="form-group column mb-1">
																				<checkbox
																					:type="'checkbox'"
																					:name="'typeEmployee'"
																					:id="'typeEmployee4'"
																					:checked="false"
																					:content="'Удаленная работа'" />
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="accordion-item mb-3">
																<div class="accordion-toggle text-h3 font-weight-medium d-inline-block" data-target="workDaysCollapse" @click="accordion($event)">
																	Рабочие дни <span class="color-blue text-decoration-none text-decoration_hover_underline">Добавить</span>
																</div>
																<div class="accordion-collapse-content" data-id="workDaysCollapse">
																	<div class="pt-3">
																		<multiselect
																			class="multiselect_simple mb-2"
																			v-model="workDays.value"
																			:options="workDays.options"
																			:searchable="true"
																			:close-on-select="true"
																			:show-labels="false"
																			:preselect-first="true"
																			:max-height="140"
																			@close="workDays.isTouched = true"
																			placeholder="Выберите город" />
																	</div>
																</div>
															</div>
															<div class="accordion-item mb-3">
																<div class="accordion-toggle text-h3 font-weight-medium d-inline-block" data-target="paymentCommentCollapse" @click="accordion($event)">
																	Комментарий к зарплате <span class="color-blue text-decoration-none text-decoration_hover_underline">Добавить</span>
																</div>
																<div class="accordion-collapse-content" data-id="paymentCommentCollapse">
																	<div class="pt-3">
																		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga enim quam pariatur, nobis quia excepturi veniam aut voluptates et id.
																	</div>
																</div>
															</div>
															<div class="accordion-item mb-3">
																<div class="accordion-toggle text-h3 font-weight-medium d-inline-block" data-target="workTimeCollapse" @click="accordion($event)">
																	Время работы <span class="color-blue text-decoration-none text-decoration_hover_underline">Добавить</span>
																</div>
																<div class="accordion-collapse-content" data-id="workTimeCollapse">
																	<div class="pt-3">
																		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga enim quam pariatur, nobis quia excepturi veniam aut voluptates et id.
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row align-items-center mt-5">
													<div class="column mb-3">
														<a class="button button_blue pl-5 pr-5" href="#" @click.prevent="changeTab('3')">Далее</a>
													</div>
													<div class="column mb-3">
														<a class="color-gray-fill text-decoration-underline text-decoration-underline_hover_none" href="#" @click.prevent="changeTab('1')">Назад</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</v-tab>
							<v-tab title="3">
								<div class="pt-lg-5 pb-4">
									<div class="pt-md-5">
										<h2 class="mb-4">Требование к соискателю</h2>
										<div class="row align-items-center">
											<div class="form-group col-sm-6 col-lg-3 mb-4">
												<label class="text-h3 mb-1" for="jobExpirience">Опыт работы</label>
												<multiselect
													class="multiselect_simple"
													v-model="jobExpirience.value"
													:options="jobExpirience.options"
													:searchable="true"
													:close-on-select="true"
													:show-labels="false"
													:preselect-first="true"
													:max-height="140"
													id="jobExpirience"
													@close="jobExpirience.isTouched = true" />
											</div>
											<div class="form-group col-sm-6 col-lg-3 mb-4">
												<label class="text-h3 mb-1" for="education">Образование</label>
												<multiselect
													class="multiselect_simple"
													v-model="education.value"
													:options="education.options"
													:searchable="true"
													:close-on-select="true"
													:show-labels="false"
													:preselect-first="true"
													:max-height="140"
													id="education"
													@close="education.isTouched = true" />
											</div>
											<div class="form-group col-sm-6 col-lg-3 mb-4">
												<div class="pt-lg-4">
													<checkbox
														class="mt-lg-3"
														:type="'checkbox'"
														:name="'student'"
														:id="'studentTrue'"
														:checked="false"
														:content="'Готовы взять студента'" />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-8">
												<label class="text-h3 font-weight-medium mb-1" for="keySkillInput-0">Ключевые навыки</label>
												<div class="row">
													<div
														class="col-sm-6 mb-4"
														v-for="(skill, skillIndex) in keySkills"
														:key="skillIndex">
														<input
															class="form-control form-control_simple"
															type="text"
															:id="'keySkillInput-'+skillIndex"
															v-model="skill.value">
													</div>
													<div class="col-sm-6 mb-4">
														<a class="button button_gray_dark" href="#" @click.prevent="keySkills.push({value: ''})">+ Добавить ключевой навык</a>
													</div>
												</div>
											</div>
										</div>
										<div class="mb-4">
											<label class="text-h3 font-weight-medium mb-3" for="withResume">Кто может откликаться?</label>
											<div class="mb-1">
												<checkbox
													:type="'checkbox'"
													:name="'whoRespond'"
													:id="'withResume'"
													:checked="true"
													:content="'Только соискатели резюме'" />
											</div>
											<div class="mb-1">
												<checkbox
													:type="'checkbox'"
													:name="'whoRespond'"
													:id="'withoutResume'"
													:checked="false"
													:content="'Можно и без рещюме'" />
											</div>
										</div>
										<div class="row align-items-center mt-5">
											<div class="column mb-3">
												<a class="button button_blue pl-5 pr-5" href="#" @click.prevent="changeTab('4')">Далее</a>
											</div>
											<div class="column mb-3">
												<a class="color-gray-fill text-decoration-underline text-decoration-underline_hover_none" href="#" @click.prevent="changeTab('2')">Назад</a>
											</div>
										</div>
									</div>
								</div>
							</v-tab>
							<v-tab title="4">
								<div class="pt-lg-5 pb-4">
									<div class="pt-md-5">
										<div class="row">
											<div class="col-lg-8">
												<h2 class="mb-4 mb-lg-5">Описание вакансии</h2>
												<div class="mb-4 mb-lg-5">
													<img v-lazy="require('../assets/images/text-redactor.png')" width="807" alt="">
												</div>
												<div class="row mb-4 pb-lg-3">
													<div class="col-lg-7">
														<div class="row align-items-center">
															<div class="col-sm-6">
																<div class="form-group">
																	<checkbox
																		class="checkbox-label-indents-0"
																		:type="'checkbox'"
																		:name="'showEmail'"
																		:id="'showEmail'"
																		:checked="true"
																		:content="'Показывать мою почту'" />
																</div>
															</div>
															<div class="col-sm-6">
																<div class="form-group">
																	<input class="form-control form-control_simple" type="email" value="mail@mail.ru">
																</div>
															</div>
														</div>
														<div class="row align-items-center">
															<div class="col-sm-6">
																<div class="form-group">
																	<checkbox
																		class="checkbox-label-indents-0"
																		:type="'checkbox'"
																		:name="'showSite'"
																		:id="'showSite'"
																		:checked="false"
																		:content="'Показывать мой сайт'" />
																</div>
															</div>
															<div class="col-sm-6">
																<div class="form-group">
																	<input class="form-control form-control_simple" type="text" value="my-site.com">
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="wrap wrap-border-gray">
													<div class="pt-4 pb-2 pr-3 pl-3 pl-lg-5 pr-lg-5">
														<h2 class="mb-4">Вариант размещения</h2>
														<div class="row">
															<div class="col-sm-6 col-md-4 mb-4 d-flex flex-column">
																<div class="variant-card d-flex flex-column flex-grow-1">
																	<label class="variant-card-label d-flex flex-column flex-grow-1">
																		<input class="variant-card-input input-hidden" type="radio" name="variants" checked>
																		<span class="variant-card-body text-center d-block p-3 d-flex flex-column flex-grow-1">
																			<span class="variant-card-check">
																				<svg-icon class="variant-card-check-icon" name="check" />
																			</span>
																			<span class="d-block mb-2">
																				<span class="variant-card-img">
																					<svg-icon name="free" />
																				</span>
																			</span>
																			<span class="font-weight-semi d-block">Бесплатно</span>
																			<span class="font-size-12 d-block">Объявление устанавливается в общую очередь</span>
																		</span>
																	</label>
																</div>
															</div>
															<div class="col-sm-6 col-md-4 mb-4 d-flex flex-column">
																<div class="variant-card d-flex flex-column flex-grow-1">
																	<label class="variant-card-label d-flex flex-column flex-grow-1">
																		<input class="variant-card-input input-hidden" type="radio" name="variants">
																		<span class="variant-card-body text-center d-block p-3 d-flex flex-column flex-grow-1">
																			<span class="variant-card-check">
																				<svg-icon class="variant-card-check-icon" name="check" />
																			</span>
																			<span class="d-block mb-2">
																				<span class="variant-card-img">
																					<svg-icon name="case" />
																				</span>
																			</span>
																			<span class="font-weight-semi d-block">Стендарт-размещение</span>
																			<span class="font-size-12 d-block">Объявление устанавливается в общую очередь</span>
																		</span>
																	</label>
																</div>
															</div>
															<div class="col-sm-6 col-md-4 mb-4 d-flex flex-column">
																<div class="variant-card d-flex flex-column flex-grow-1">
																	<label class="variant-card-label d-flex flex-column flex-grow-1">
																		<input class="variant-card-input input-hidden" type="radio" name="variants">
																		<span class="variant-card-body text-center d-block p-3 d-flex flex-column flex-grow-1">
																			<span class="variant-card-check">
																				<svg-icon class="variant-card-check-icon" name="check" />
																			</span>
																			<span class="d-block mb-2">
																				<span class="variant-card-img">
																					<svg-icon name="diamond" />
																				</span>
																			</span>
																			<span class="font-weight-semi d-block">Бизнес-размещение</span>
																			<span class="font-size-12 d-block">Объявление устанавливается в общую очередь</span>
																		</span>
																	</label>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row align-items-center mt-5">
													<div class="column mb-3">
														<button class="button button_blue pl-5 pr-5 button-clr" type="button" href="#">Разместить вакансию</button>
													</div>
													<div class="column mb-3">
														<a class="color-gray-fill text-decoration-underline text-decoration-underline_hover_none" href="#" @click.prevent="changeTab('3')">Назад</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</v-tab>
						</vue-tabs>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import checkbox from '../components/Checkbox.vue'
	import subCategoryLink from '../components/Subcategory-link.vue'
	import svgIcon from '../components/SvgIcon.vue'
	import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'
	import '../assets/styles/common/_tabs.scss'
	import Multiselect from 'vue-multiselect'
	import 'simplebar';
	import 'simplebar/dist/simplebar.css';
	import '../assets/styles/common/_simplebar.scss';
	import '../assets/styles/common/_accordion.scss'
	import '../assets/styles/common/_variant-card.scss'
	// import collapse from '../components/Collapse.vue'
	export default {

		name: 'Post-resume',
		meta: {title: 'Разместить резюме'},
		data () {
			return {
				tabName: '',
				categorys: [
					{
						linkName: 'IT, компьютеры, интернет',
						checkboxChecked: true
					},
					{
						linkName: 'Администрация, руководство среднего звена',
						checkboxChecked: false
					},
					{
						linkName: 'Бухгалтерия, аудит',
						checkboxChecked: false
					},
					{
						linkName: 'Гостинично-ресторанный бизнес, туризм',
						checkboxChecked: false
					},
					{
						linkName: 'Дизайн, творчество',
						checkboxChecked: false
					},
					{
						linkName: 'Красота, фитнес, спорт',
						checkboxChecked: false
					},
					{
						linkName: 'Культура, музыка, шоу-бизнес',
						checkboxChecked: false
					},
					{
						linkName: 'Логистика, склад, ВЭД',
						checkboxChecked: false
					},
					{
						linkName: 'Маркетинг, реклама, PR',
						checkboxChecked: false
					},
					{
						linkName: 'Медицина, фармацевтика',
						checkboxChecked: false
					},
					{
						linkName: 'Недвижимость',
						checkboxChecked: false
					},
					{
						linkName: 'Образование, наука',
						checkboxChecked: false
					},
					{
						linkName: 'Охрана, безопасность',
						checkboxChecked: false
					},
					{
						linkName: 'Продажи, закупки',
						checkboxChecked: false
					},
					{
						linkName: 'Рабочие специальности, производство',
						checkboxChecked: false
					},
					{
						linkName: 'Розничная торговля',
						checkboxChecked: false
					},
					{
						linkName: 'Секретариат, делопроизводство, АХО',
						checkboxChecked: false
					},
				],
				jobCity: {
					value: [],
					isTouched: false,
					options: ['Ташкент', 'Самарканд', 'Коканд', 'Джизах']
				},
				jobCitySearch: {
					value: [],
					isTouched: false,
					options: ['Ташкент', 'Самарканд', 'Коканд', 'Джизах']
				},
				paymentStart: {
					value: [],
					isTouched: false,
					options: ['1 000 000', '2 000 000', '3 000 000', '4 000 000']
				},
				paymentEnd: {
					value: [],
					isTouched: false,
					options: ['1 000 000', '2 000 000', '3 000 000', '4 000 000']
				},
				typeEmployment: {
					value: [],
					isTouched: false,
					options: ['Полный рабочий день', 'Удалённая работа']
				},
				workDays: {
					value: [],
					isTouched: false,
					options: ['Понедельник — Пятница', 'Понедельник — Суббота']
				},
				jobExpirience: {
					value: [],
					isTouched: false,
					options: ['Готовы взять без опыта', 'от 1 года', 'от 2 года']
				},
				education: {
					value: [],
					isTouched: false,
					options: ['Высшее образование', 'Незаконченное высшее образование', 'Среднее специальное образование']
				},
				keySkills: [
					{
						value: 'Английский — A1 — Начальный',
					},
					{
						value: 'Анализ текущих финансовых показателей',
					},
					{
						value: 'Финансовый анализ',
					},
				],
			}
		},
		methods: {
			changeTab(tabToChange){
				this.tabName = tabToChange
			},
			accordion (event) {
				let btn = event.currentTarget;
				let btnTarget = btn.getAttribute('data-target');
				let collapseItems = document.querySelectorAll('.accordion-collapse-content');
				let collapseBox = document.querySelector('[data-id="'+btnTarget+'"]')
				collapseItems.forEach(function(elem) {
					if ( elem.getAttribute('data-id') == btnTarget ) {
						elem.classList.toggle('expanded')
						elem.parentElement.querySelector('.accordion-toggle').classList.add('active')
						elem.style.maxHeight = elem.scrollHeight + "px";
						elem.classList.add('show')
					} else {
						elem.classList.remove('expanded')
						elem.style.maxHeight = null;
						elem.parentElement.querySelector('.accordion-toggle').classList.remove('active')
						elem.classList.remove('show')
					}
				})
				if ( !(collapseBox.classList.contains('expanded')) ) {
					collapseBox.style.maxHeight = null;
					collapseBox.classList.remove('show')
					collapseBox.parentElement.querySelector('.accordion-toggle').classList.remove('active')
				}
			}
		},
		mounted () {
			let dropdowns = document.querySelectorAll('.multiselect__content-wrapper')
			dropdowns.forEach(function(item) {
				item.setAttribute('data-simplebar', '')
			})
		},
		components: {
			svgIcon,
			VueTabs,
			VTab,
			checkbox,
			subCategoryLink,
			Multiselect,
			// collapse
		}
	}
</script>

<style lang="css" scoped>
</style>