<template>
	<div class="resume-page position-relative">
		<div class="container-fluid">
			<div class="pb-2 negative-margins">
				<router-link class="text-h4 text-lg-white mb-2 d-inline-block" :to="{name: 'Home'}">
					<svg-icon class="svg-icon_reverse_90_negative font-size-8" name="angle" />
					<span class="ml-2 align-middle">На главную</span>
				</router-link>
			</div>
			<div class="row align-items-center justify-content-between text-lg-white mb-4 pb-3">
				<div class="column">
					<div class="row row_indents_m align-items-center">
						<div class="column">
							<h1 class="mb-0">IT-специалист, картограф, топограф (CAD-системы) </h1>
						</div>
						<div class="column mt-1">
							<tooltip>
								<template v-slot:tooltipToggle>
									<div class="tag tag_green">PRO</div>
								</template>
								<template v-slot:tooltipContent>
									<div class="pt-2 pb-2 pl-3 pr-3">
										<div class="pl-1 pr-1">
											<div class="mb-3">Профессиональное резюме — это резюме, в котором соискатель указал опыт работы, образование и подтвердил свою эл. почту.</div>
											<router-link :to="{name: 'Home'}">Подробнее »</router-link>
										</div>
									</div>
								</template>
							</tooltip>
						</div>
					</div>
				</div>
				<div class="column"><div class="text-h4">Вакансия от 12 апреля 2020</div></div>
			</div>
			<div class="row">
				<div class="col-lg-8">
					<div class="wrap p-4 mb-4">
						<div class="pl-sm-3 pr-sm-3">
							<div class="row justify-content-between align-items-center pb-3">
								<div class="column">
									<h3 class="mb-2">Об отклике</h3>
								</div>
								<div class="column">
									<favourite-btn
										class="mb-2"
										:text="'Сохранить отклик'" />
								</div>
							</div>
							<div class="wrap wrap_gray pt-4 pb-2 pr-4 pl-4">
								<div class="row">
									<div class="col-sm-6 mb-3">
										<div class="mb-2">
											<svg-icon class="color-gray-fill" name="moneybag" />
											<span class="text-h3 color-blue-dark ml-2 pl-1 align-middle">от 1 230 000 сум </span>
										</div>
										<div class="mb-2">
											<svg-icon class="color-gray-fill" name="building-house" />
											<span class="text-h5 ml-2 pl-1 align-middle">Готов к командировкам</span>
										</div>
										<div class="mb-2">
											<svg-icon class="color-gray-fill" name="clock-circle" />
											<span class="text-h5 ml-2 pl-1 align-middle">Полная занятость, удаленная работа</span>
										</div>
										<div class="mb-2">
											<svg-icon class="color-gray-fill" name="badge-check" />
											<span class="text-h5 ml-2 pl-1 align-middle">Возможно трудоустройство с периодом стажировки</span>
										</div>
									</div>
									<div class="col-sm-6 mb-3">
										<div class="content">
											<h3>Ключевые навыки</h3>
											<ul>
												<li>Английский — A1 — Начальный</li>
												<li>Финансовый анализ</li>
												<li>Анализ текущих финансовых показателей</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<hr class="devider">
							<div class="content">
								<h2>Опыт работы</h2>
								<div class="mb-3">
									<h3>Топограф, камеральный работник</h3>
									<div class="mb-1">
										<svg-icon class="color-gray-fill" name="calendar" />
										<span class="text-h5 ml-2 pl-1 align-middle">с 01.2016 по наст. время <span class="color-gray-fill">(4 года 3 месяца)</span></span>
									</div>
									<div class="mb-1">
										<svg-icon class="color-gray-fill" name="loc" />
										<span class="text-h5 ml-2 pl-1 align-middle">Востокгеология, Луганск <span class="color-gray-fill">(Инженерно-изыскательские, гидрогеологические, геологоразведочные работы)</span></span>
									</div>
									<div class="color-gray-dark pt-1">Камеральная обработка полевых измерений, создание картографических приложений к геолого-изыскательским работам. Векторизация карт и графических данных для создания ГИС.</div>
								</div>
								<div class="mb-3">
									<h3>Инженер-проектировщик</h3>
									<div class="mb-1">
										<svg-icon class="color-gray-fill" name="calendar" />
										<span class="text-h5 ml-2 pl-1 align-middle">с 04.2015 по 12.2015 <span class="color-gray-fill">(8 месяцев)</span></span>
									</div>
									<div class="mb-1">
										<svg-icon class="color-gray-fill" name="loc" />
										<span class="text-h5 ml-2 pl-1 align-middle">ЛенинградскаяРайгаз, Краснодарский край, ст. Ленинградская <span class="color-gray-fill">(Проектирование, постройка и техническое обслуживание газораспределительного оборудования)</span></span>
									</div>
									<div class="color-gray-dark pt-1">Составление аварийных и технических схем-планшетов газопроводов. Работа с картографическими данными. Создание картографических материалов на основе различных данных.</div>
								</div>
								<div class="mb-3">
									<h3>Техник-геодезист</h3>
									<div class="mb-1">
										<svg-icon class="color-gray-fill" name="calendar" />
										<span class="text-h5 ml-2 pl-1 align-middle">с 11.2014 по 02.2015 <span class="color-gray-fill">(3 месяца)</span></span>
									</div>
									<div class="mb-1">
										<svg-icon class="color-gray-fill" name="loc" />
										<span class="text-h5 ml-2 pl-1 align-middle">ООО Экоземпроект, Ялта <span class="color-gray-fill">(Инженерно-изыскательские, гидрогеологические, геологоразведочные работы)</span></span>
									</div>
									<div class="color-gray-dark pt-1">Составление аварийных и технических схем-планшетов газопроводов. Работа с картографическими данными. Создание картографических материалов на основе различных данных.</div>
								</div>
								<hr class="devider mt-5 mb-4">
								<h2>Образование</h2>
								<div class="mb-3">
									<div class="mb-3">
										<h3>Колледж при Восточно-украинском Национальном университете им. В. Даля</h3>
										<div class="mb-1">
											<svg-icon class="color-gray-fill" name="calendar" />
											<span class="text-h5 ml-2 pl-1 align-middle">с 09.1998 по 06.2002 <span class="color-gray-fill">(3 года 9 месяцев)</span></span>
										</div>
										<div class="mb-1">
											<svg-icon class="color-gray-fill" name="loc" />
											<span class="text-h5 ml-2 pl-1 align-middle">Электротехнический, Монтаж и эксплуатация электрооборудования пром. предприятий и гражданских сооружений, Луганск</span>
										</div>
									</div>
									<div class="mb-3">
										<h3>Восточно-украинский Национальный университет им. В. Даля</h3>
										<div class="mb-1">
											<svg-icon class="color-gray-fill" name="calendar" />
											<span class="text-h5 ml-2 pl-1 align-middle">с 09.2003 по 07.2007 <span class="color-gray-fill">(3 года 10 месяцев)</span></span>
										</div>
										<div class="mb-1">
											<svg-icon class="color-gray-fill" name="loc" />
											<span class="text-h5 ml-2 pl-1 align-middle">Электромеханический. Электрические машины и аппараты., Луганск</span>
										</div>
									</div>
								</div>
								<hr class="devider mt-5 mb-4">
								<h2>Профессиональные и другие навыки</h2>
								<div class="mb-3">
									<h3>Навыки работы с компьютером <span class="color-gray-fill">(3 года 9 месяцев)</span></h3>
									Опытный пользователь. Пользуюсь компьютерной техникой 13 лет. Уверенно пользуюсь офисными приложениями, программами для работы с графикой (CorelDraw, Photoshop, 3D max и др.), а также инженерными программами (Mapinfo, Autocad Map и др.).
									<br><br>
									Навыки работы с GPS ровером и обработки полученных данных для землеустроительных работ.
								</div>
								<div class="mb-3">
									<h3 class="mb-1">Autocad Civil 3D <span class="color-gray-fill">(3 года 9 месяцев)</span></h3>
									ОПродвинутый, использую в настоящее время
								</div>
								<div class="mb-3">
									<h3 class="mb-1">Mapinfo <span class="color-gray-fill">(3 года опыта)</span></h3>
									Средний, 1 год назад
								</div>
								<div class="mb-3">
									<h3 class="mb-1">AutocadMap3D <span class="color-gray-fill">(3 года опыта)</span></h3>
									Средний, 1 год назад
								</div>
								<div class="mb-3">
									<h3 class="mb-1">Камеральная обработка <span class="color-gray-fill">(5 лет опыта)</span></h3>
									Продвинутый, использую в настоящее время
								</div>
								<div class="mb-3">
									<h3 class="mb-1">Оцифровка бумажных карт <span class="color-gray-fill">(5 лет опыта)</span></h3>
									Продвинутый, использую в настоящее время
								</div>
								<div class="mb-3">
									<h3 class="mb-1">Создание чертежей <span class="color-gray-fill">(5 лет опыта)</span></h3>
									Средний, использую в настоящее время
								</div>
								<hr class="devider mt-5 mb-4">
								<h2>Дополнительное образование</h2>
								<div class="mb-3">
									<div class="mb-3">
										<h3>Колледж при Восточно-украинском Национальном университете им. В. Даля</h3>
										<div class="mb-1">
											<svg-icon class="color-gray-fill" name="calendar" />
											<span class="text-h5 ml-2 pl-1 align-middle">с 09.1998 по 06.2002 <span class="color-gray-fill">(3 года 9 месяцев)</span></span>
										</div>
										<div class="mb-1">
											<svg-icon class="color-gray-fill" name="loc" />
											<span class="text-h5 ml-2 pl-1 align-middle">Cisco CCNA</span>
										</div>
									</div>
									<div class="mb-3">
										<h3>Восточно-украинский Национальный университет им. В. Даля</h3>
										<div class="mb-1">
											<svg-icon class="color-gray-fill" name="calendar" />
											<span class="text-h5 ml-2 pl-1 align-middle">с 09.2003 по 07.2007 <span class="color-gray-fill">(3 года 10 месяцев)</span></span>
										</div>
										<div class="mb-1">
											<svg-icon class="color-gray-fill" name="loc" />
											<span class="text-h5 ml-2 pl-1 align-middle">1с битрикс управление порталом</span>
										</div>
									</div>
								</div>
								<hr class="devider mt-5 mb-4">
								<h2>Дополнительная информация</h2>
								<div class="mb-3">
									Работаю через ИП 1500 за 1 рабочее место в месяц. Сервера - начиная от 8000.
									<br><br>
									Огромный опыт в сфере администрирования как клиентского оборудования так и различных серверов и активного сетевого оборудования, так же огромный опыт в проектировании, построении, запуске и обслуживании СКС, систем видео наблюдения.
									<br><br>
									Наличие сертификата Cisco CCNA средний балл 95.4%.

								</div>
							</div>
							<hr class="devider mt-5 mb-4">
							<div class="row row_indents_s align-items-center justify-content-between">
								<div class="column">
									Чтобы открыть контакты, <router-link :to="{name: 'Home'}">войдите</router-link> как <br> <router-link :to="{name: 'Home'}">работодатель</router-link> или зарегистрируйтесь.
								</div>
								<div class="column">
									<div class="row row_indents_s">
										<div class="column">Поделиться</div>
										<div class="column">
											<a href="#"><img v-lazy="require('../assets/images/tg.svg')" width="20" alt=""></a>
										</div>
										<div class="column">
											<a href="#"><img v-lazy="require('../assets/images/fb.svg')" width="20" alt=""></a>
										</div>
										<div class="column">
											<a href="#"><img v-lazy="require('../assets/images/vk.svg')" width="20" alt=""></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="wrap pt-4 pb-4 pl-3 pr-3 p-sm-4 mb-4">
						<div class="pl-sm-2 pr-sm-2 pt-3">
							<div class="mb-4 text-lg-center">
								<img v-lazy="require('../assets/images/resume-main-avatar.png')" width="150" height="200" alt="">
							</div>
							<div class="text-h3 mb-1 text-lg-center">
								<a class="link-dashed" href="#">Панченко Роман Владимирович</a>
							</div>
							<hr class="devider">
							<div class="mb-3">
								<svg-icon class="color-gray-fill" name="loc" />
								<span class="text-h5 ml-2 pl-1 align-middle">Ташкент</span>
							</div>
							<div class="mb-3">
								<svg-icon class="color-gray-fill" name="calendar" />
								<span class="text-h5 ml-2 pl-1 align-middle">36 лет</span>
							</div>
							<div class="mb-3">
								<svg-icon class="color-gray-fill" name="badge-check" />
								<span class="text-h5 ml-2 pl-1 align-middle">
									Соискатель указал
									<tooltip class="d-inline-block">
										<template v-slot:tooltipToggle>
											<img src="../assets/images/check-mark.svg" width="12" alt="">
										</template>
										<template v-slot:tooltipContent>
											<div class="pt-2 pb-2 pl-3 pr-3">
												<div class="pl-1 pr-1">
													<div class="mb-3">Соискатель подтвердил телефон с помощью SMS.</div>
													<router-link :to="{name: 'Home'}">Подробнее »</router-link>
												</div>
											</div>
										</template>
									</tooltip>
									телефон и эл. почту
								</span>
							</div>
							<div>Чтобы открыть контакты, <router-link :to="{name: 'Home'}">войдите</router-link> как работодатель или <router-link :to="{name: 'Home'}">зарегистрируйтесь</router-link>.</div>
							<div class="row row_indents_s pt-4">
								<div class="column mb-2">
									<a class="button button_blue" href="#" @click.prevent="showModal('respondToVacancy')">Предложить</a>
								</div>
								<div class="column mb-2">
									<a class="button button_transparent-blue" href="#">Все резюме автора</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="wrap p-4 mb-4">
				<div class="row">
					<div class="col-xl-4">
						<div class="regular-title pb-1 mb-3">
							<h3>Похожие вакансии</h3>
						</div>
					</div>
				</div>
				<vacancy-carousel :obj="vacancyPreviews" />
			</div>
			<div class="row">
				<div class="col-lg-4 mb-4">
					<h3>Похожие резюме в Ташкенте</h3>
					<div class="content content_style_two">
						<ul>
							<li><a href="#">Химик</a></li>
							<li><a href="#">Учитель химии</a></li>
							<li><a href="#">Преподаватель химии</a></li>
							<li><a href="#">Технолог</a></li>
							<li><a href="#">Помощник технолога</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 mb-4">
					<h3>Резюме в категориях</h3>
					<div class="content content_style_two">
						<ul>
							<li><a href="#">Медицина, фармацевтика</a></li>
							<li><a href="#">Образование, наука</a></li>
							<li><a href="#">Рабочие специальности, производство</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 mb-4">
					<h3>Статистика</h3>
					<div class="content content_style_two">
						<ul>
							<li><a href="#">Сколько получает IT-специалист в Узбекистане?</a></li>
							<li><a href="#">Какая средняя ЗП в Узбекистане?</a></li>
							<li><a href="#">Статистика критериев к IT-специалисту в Узбекистане</a></li>
						</ul>
					</div>
				</div>
			</div>
			<subscribe-wrap>
				<h2>Подпишитесь на интересные Вам вакансии</h2>
				<ul class="list-unstyled d-flex flex-wrap">
					<li>
						<a href="#">IT, компьютеры, интернет</a>
					</li>
					<li>
						<a href="#">полная занятость</a>
					</li>
					<li>
						<a href="#">мужчины</a>
					</li>
				</ul>
				<form>
					<div class="row align-items-sm-center flex-column flex-sm-row">
						<div class="column flex-grow-1 mb-3 mb-lg-2">
							<input class="form-control" type="email" placeholder="Ваш email">
						</div>
						<div class="column flex-shrink-0 mb-3 mb-lg-2">
							<a class="button button_blue w-100" href="#">Подписаться на вакансии</a>
						</div>
						<div class="column flex-shrink-0 mb-3 mb-lg-2">
							<a href="#">
								<img src="../assets/images/tg.svg" alt="">
								<span class="ml-2">Отправлять мне в Telegram</span>
							</a>
						</div>
					</div>
				</form>
			</subscribe-wrap>
		</div>
		<modal
			class="modal-box"
			name="respondToVacancy"
			:adaptive="true"
			:width="'100%'"
			:minWidth="280"
			:maxWidth="752"
			:height="'auto'"
			:scrollable="true">
			<div class="modal-box__in pl-3 pr-3 pt-4 pb-4 pl-sm-4 pr-sm-4 position-relative">
				<div class="pt-1 pb-1 pl-sm-4 pr-sm-4">
					<div class="modal-box__body">
						<button class="modal-box__close button-clr" type="button" @click="hideModal('respondToVacancy')">
							<svg-icon name="close" />
						</button>
						<h2 class="mb-4">Выберите вакансию для предложения</h2>
						<form>
							<card-vacancy-feedback
								class="mb-4"
								v-for="(vacancyFeedback, rfIdx) in vacancys"
								:key="rfIdx"
								:obj="vacancyFeedback" />
							<div class="wrap wrap-border-gray pt-3 pb-4 pl-4 pr-4 pl-md-5 pr-md-5 mb-4">
								<div class="pt-1 pb-1">
									<h2 class="mb-3">Дополните свое предложение</h2>
									<div class="text-h5 color-gray-dark mb-4">Если у вас возник вопрос или предложение, напишите работодателю. Расскажите подробнее о вашем опыте работы. Обратите его внимание на Ваши положительные качества</div>
									<textarea class="form-control" rows="3" placeholder="Ваше сообщение ..."></textarea>
								</div>
							</div>
							<div class="row align-items-center justify-content-end pt-3">
								<div class="column mb-2">
									<button class="button button_blue button-clr" type="button" @click="hideModal('respondToVacancy'), showModal('thnx-dialog')">Отправить</button>
								</div>
								<div class="column mb-2">
									<a class="color-gray-fill text-decoration-none" href="#" @click="hideModal('respondToVacancy')">Отмена</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</modal>
	</div>
</template>

<script>
	import tooltip from '../components/Tooltip.vue'
	import favouriteBtn from '../components/Favourite-toggle.vue'
	import svgIcon from '../components/SvgIcon.vue'
	// import cardVacancySmall from '../components/Card-vacancy-small.vue'
	import vacancyCarousel from '../components/Vacancy-carousel.vue'
	import cardVacancyFeedback from '../components/Card-vacancy-feedback.vue'
	import subscribeWrap from '../components/Subscribe-wrap.vue'
	export default {

		name: 'Resume-page',
		meta: { title: 'IT, компьютеры, интернет' },
		data () {
			return {
				inputData: '',
				vacancyPreviews: [
					{
						vacancyHref: 'Home',
						title: 'Начальник IT-отдела, системный администратор',
						price: 'от 2 500 000 сум/мес.',
						companyName: 'Конюх Екатерина',
						companyLoc: 'Житомир',
						companyImgSrc: require('../assets/images/resume-avatar.png'),
						companyImgWidth: '115'
					},
					{
						vacancyHref: 'Home',
						title: 'Начальник IT-отдела, системный администратор',
						price: 'от 2 500 000 сум/мес.',
						companyName: 'Конюх Екатерина',
						companyLoc: 'Житомир',
						companyImgSrc: require('../assets/images/resume-avatar.png'),
						companyImgWidth: '115'
					},
					{
						vacancyHref: 'Home',
						title: 'Начальник IT-отдела, системный администратор',
						price: 'от 2 500 000 сум/мес.',
						companyName: 'Конюх Екатерина',
						companyLoc: 'Житомир',
						companyImgSrc: require('../assets/images/resume-avatar.png'),
						companyImgWidth: '115'
					},
					{
						vacancyHref: 'Home',
						title: 'Начальник IT-отдела, системный администратор',
						price: 'от 2 500 000 сум/мес.',
						companyName: 'Конюх Екатерина',
						companyLoc: 'Житомир',
						companyImgSrc: require('../assets/images/resume-avatar.png'),
						companyImgWidth: '115'
					},
				],
				vacancys: [
					{
						title: 'Senior Front End Developer',
						formCheckboxName: 'vacancy-feedback-list',
						formCheckboxId: 'vacancy-feedback[0]',
						pro: true,
						companyHref: 'Home',
						companyName: 'Darwin Global',
						companyLocationHref: 'Home',
						companyLocationCity: 'Ташкент',
						price: 'от 2 500 000 сум/мес.',
						content: 'Darwin Global — Провайдер прозрачного SEO-сервиса. Мы можем профессионально настроить любую рекламу, разработать ...',
					},
					{
						title: 'Контент-менеджер (реклама, SMM)',
						formCheckboxName: 'vacancy-feedback-list',
						formCheckboxId: 'vacancy-feedback[1]',
						pro: true,
						companyHref: 'Home',
						companyName: 'Darwin Global',
						companyLocationHref: 'Home',
						companyLocationCity: 'Ташкент',
						price: 'от 2 500 000 сум/мес.',
						content: 'Darwin Global — Провайдер прозрачного SEO-сервиса. Мы можем профессионально настроить любую рекламу, разработать ...',
					},
				],
			}
		},
		methods: {
			showModal(modalName) {
				this.$modal.show(modalName)
			},
			hideModal(modalName) {
				this.$modal.hide(modalName)
			},
		},
		components: {
			tooltip,
			svgIcon,
			favouriteBtn,
			// cardVacancySmall,
			vacancyCarousel,
			subscribeWrap,
			cardVacancyFeedback
		}
	}
</script>

<style lang="scss" scoped>
	.vacancy-page {
		margin-top: -10px;
	}
</style>