<template>
	<div class="resume-category-inside">
		<div class="container-fluid">
			<div class="pb-2">
				<router-link class="text-h4 mb-3 d-inline-block" :to="{name: 'Home'}">
					<svg-icon class="svg-icon_reverse_90_negative font-size-8" name="angle" />
					<span class="ml-2 align-middle">На главную</span>
				</router-link>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<div class="mb-4 pb-2">
						<div class="title-regular regular-title_on_background_gray pb-1 mb-4">
							<h3>Категории</h3>
						</div>
						<div
							v-for="(item, itemIdx) in categorys"
							:key="itemIdx">
							<checkbox
								:type="'checkbox'"
								:name="'category'"
								:id="'category'+itemIdx"
								:checked="item.checkboxChecked">
									<sub-category-link
										class="subcategory-link-wrap_checkbox"
										:link-prop="item"
										:its-link="false" />
							</checkbox>
						</div>
						<collapse>
							<template v-slot:collapseToggle>
								<span>Полный  список »</span>
							</template>
							<template v-slot:collapseContent>
								<div class="pt-3">
									<div
										v-for="(item, itemIdx) in categorys"
										:key="itemIdx+10">
										<checkbox
											:type="'checkbox'"
											:name="'category'"
											:id="'category'+itemIdx"
											:checked="item.checkboxChecked">
												<sub-category-link
													class="subcategory-link-wrap_checkbox"
													:link-prop="item"
													:its-link="false" />
										</checkbox>
									</div>
								</div>
							</template>
						</collapse>
					</div>
					<div class="mb-4 pb-2">
						<div>
							<checkbox
								:type="'checkbox'"
								:name="'typeOthers'"
								:id="'typePro'"
								:checked="false">
									<div class="row row_indents_s align-items-center checkbox__row checkbox__row_top_2">
										<div class="column text-h3 color-dark-main">Только PRO</div>
										<div class="tag tag_green">PRO</div>
									</div>
							</checkbox>
						</div>
					</div>
					<div class="mb-4 pb-2">
						<div class="title-regular regular-title_on_background_gray pb-1 mb-4">
							<h3>Вид занятости</h3>
						</div>
						<div
							v-for="(item, itemIdx) in typeEmployment"
							:key="itemIdx">
							<checkbox
								:type="'checkbox'"
								:name="'typeEmployement'"
								:id="'typeEmployement'+itemIdx"
								:checked="item.checkboxChecked">
									<sub-category-link
										class="subcategory-link-wrap_checkbox"
										:link-prop="item"
										:its-link="false" />
							</checkbox>
						</div>
					</div>
					<div class="mb-4 pb-2">
						<div class="title-regular regular-title_on_background_gray pb-1 mb-4">
							<h3>Заработная плата</h3>
						</div>
						<div class="pb-2">
							<div class="row row_indents_s flex-nowrap align-items-center font-size-15 color-gray-dark mb-2">
								<div class="column">от</div>
								<div class="column">
									<input class="form-control" type="number" placeholder="минимальная сумма ЗП">
								</div>
								<div class="column flex-shrink-0">сум/мес.</div>
							</div>
							<div class="row row_indents_s flex-nowrap align-items-center font-size-15 color-gray-dark mb-2">
								<div class="column">до</div>
								<div class="column">
									<input class="form-control" type="number" placeholder="максимальная сумма ЗП">
								</div>
								<div class="column flex-shrink-0">сум/мес.</div>
							</div>
						</div>
						<div
							v-for="(item, itemIdx) in payment"
							:key="itemIdx">
							<checkbox
								:type="'checkbox'"
								:name="'typeEmployement'"
								:id="'typeEmployement'+itemIdx"
								:checked="item.checkboxChecked"
								>
									<sub-category-link
										class="subcategory-link-wrap_checkbox"
										:link-prop="item"
										:its-link="false" />
							</checkbox>
						</div>
					</div>
					<div class="mb-4 pb-2">
						<div class="title-regular regular-title_on_background_gray pb-1 mb-4">
							<h3>Другое</h3>
						</div>
						<div
							v-for="(item, itemIdx) in another"
							:key="itemIdx">
							<checkbox
								:type="'checkbox'"
								:name="'another'"
								:id="'another'+itemIdx"
								:checked="item.checkboxChecked">
									<sub-category-link
										class="subcategory-link-wrap_checkbox"
										:link-prop="item"
										:its-link="false" />
							</checkbox>
						</div>
					</div>
					<div class="mb-4 pb-2">
						<div class="title-regular regular-title_on_background_gray pb-1 mb-4">
							<h3>Знание языков</h3>
						</div>
						<div
							v-for="(item, itemIdx) in languages"
							:key="itemIdx">
							<checkbox
								:type="'checkbox'"
								:name="'another'"
								:id="'another'+itemIdx"
								:checked="item.checkboxChecked">
									<sub-category-link
										class="subcategory-link-wrap_checkbox"
										:link-prop="item"
										:its-link="false" />
							</checkbox>
						</div>
						<collapse>
							<template v-slot:collapseToggle>
								<span>Полный  список »</span>
							</template>
							<template v-slot:collapseContent>
								<div class="pt-3">
									<div
										v-for="(item, itemIdx) in languages"
										:key="itemIdx+10">
										<checkbox
											:type="'checkbox'"
											:name="'another'"
											:id="'another'+itemIdx"
											:checked="item.checkboxChecked">
												<sub-category-link
													class="subcategory-link-wrap_checkbox"
													:link-prop="item"
													:its-link="false" />
										</checkbox>
									</div>
								</div>
							</template>
						</collapse>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="regular-title regular-title_on_background_gray mb-3">
						<div class="row row_inents_s flex-sm-nowrap">
							<div class="column">
								<div class="row row_indents_s">
									<div class="column mb-2">
										<div class="button-tag d-flex flex-nowrap align-items-center">
											<button class="button-tag__close button-clr" type="button">
												<svg-icon name="close" />
											</button>
											<span class="ml-2">IT, компьютеры, интернет</span>
										</div>
									</div>
									<div class="column mb-2">
										<div class="button-tag d-flex flex-nowrap align-items-center">
											<button class="button-tag__close button-clr" type="button">
												<svg-icon name="close" />
											</button>
											<span class="ml-2">полная занятость</span>
										</div>
									</div>
									<div class="column mb-2">
										<div class="button-tag d-flex flex-nowrap align-items-center">
											<button class="button-tag__close button-clr" type="button">
												<svg-icon name="close" />
											</button>
											<span class="ml-2">мужчины</span>
										</div>
									</div>
								</div>
							</div>
							<div class="column flex-shrink-0 ml-sm-auto">
								<div class="row">
									<div class="column flex-shrink-0 mb-2">
										<a class="sort-link" href="#">
											<span>По дате</span>
											<svg-icon class="ml-2" name="carret" />
										</a>
									</div>
									<div class="column flex-shrink-0 mb-2">
										<a class="sort-link" href="#">
											<span>За 3 месяца</span>
											<svg-icon class="ml-2" name="carret" />
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<card-resume-large
						class="mb-4"
						v-for="(vacancy, keyId) in vacancys"
						:key="keyId"
						:obj="vacancy" />
					<subscribe-wrap>
						<h2>Подпишитесь на интересные Вам резюме</h2>
							<ul class="list-unstyled d-flex flex-wrap">
								<li>
									<a href="#">IT, компьютеры, интернет</a>
								</li>
								<li>
									<a href="#">полная занятость</a>
								</li>
								<li>
									<a href="#">мужчины</a>
								</li>
							</ul>
							<form>
								<div class="row align-items-sm-center flex-column flex-sm-row">
									<div class="column flex-grow-1 mb-3 mb-lg-2">
										<input class="form-control" type="email" placeholder="Ваш email">
									</div>
									<div class="column flex-shrink-0 mb-3 mb-lg-2">
										<a class="button button_blue w-100" href="#" @click.prevent="showModal('subscribed-dialog-resume')">Подписаться на резюме</a>
									</div>
									<div class="column flex-shrink-0 mb-3 mb-lg-2">
										<a href="#">
											<img src="../assets/images/tg.svg" alt="">
											<span class="ml-2">Отправлять мне в Telegram</span>
										</a>
									</div>
								</div>
							</form>
					</subscribe-wrap>
					<card-resume-large
						class="mb-4"
						v-for="(vacancy, keyId) in vacancys"
						:key="keyId+10"
						:obj="vacancy" />
					<pagination />
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Checkbox from '../components/Checkbox.vue'
	import subCategoryLink from '../components/Subcategory-link.vue'
	import svgIcon from '../components/SvgIcon.vue'
	import cardResumeLarge from '../components/Card-resume-large.vue'
	import Pagination from '../components/Pagination.vue'
	import Collapse from '../components/Collapse.vue'
	import subscribeWrap from '../components/Subscribe-wrap.vue'
	export default {

		name: 'resume-category-inside',
		meta: {title: 'Резюме по категориям'},

		data () {
			return {
				categorys: [
					{
						linkName: 'IT, компьютеры, интернет',
						linkQuantity: '123',
						checkboxChecked: true
					},
					{
						linkName: 'Администрация, руководство среднего звена',
						linkQuantity: '23',
						checkboxChecked: false
					},
					{
						linkName: 'Бухгалтерия, аудит',
						linkQuantity: '16',
						checkboxChecked: false
					},
					{
						linkName: 'Гостинично-ресторанный бизнес, туризм',
						linkQuantity: '1',
						checkboxChecked: false
					},
					{
						linkName: 'Дизайн, творчество',
						linkQuantity: '76',
						checkboxChecked: false
					},
					{
						linkName: 'Красота, фитнес, спорт',
						linkQuantity: '84',
						checkboxChecked: false
					},
					{
						linkName: 'Культура, музыка, шоу-бизнес',
						linkQuantity: '64',
						checkboxChecked: false
					},
					{
						linkName: 'Логистика, склад, ВЭД',
						linkQuantity: '24',
						checkboxChecked: false
					},
					{
						linkName: 'Маркетинг, реклама, PR',
						linkQuantity: '54',
						checkboxChecked: false
					},
					{
						linkName: 'Медицина, фармацевтика',
						linkQuantity: '76',
						checkboxChecked: false
					},
					{
						linkName: 'Недвижимость',
						linkQuantity: '54',
						checkboxChecked: false
					},
					{
						linkName: 'Образование, наука',
						linkQuantity: '34',
						checkboxChecked: false
					},
					{
						linkName: 'Охрана, безопасность',
						linkQuantity: '54',
						checkboxChecked: false
					},
					{
						linkName: 'Продажи, закупки',
						linkQuantity: '65',
						checkboxChecked: false
					},
					{
						linkName: 'Рабочие специальности, производство',
						linkQuantity: '76',
						checkboxChecked: false
					},
					{
						linkName: 'Розничная торговля',
						linkQuantity: '65',
						checkboxChecked: false
					},
					{
						linkName: 'Секретариат, делопроизводство, АХО',
						linkQuantity: '43',
						checkboxChecked: false
					},
				],
				typeEmployment: [
					{
						linkName: 'Полная занятость',
						linkQuantity: '76',
						checkboxChecked: true
					},
					{
						linkName: 'Неполная занятость',
						linkQuantity: '412',
						checkboxChecked: false
					},
					{
						linkName: 'Удаленная работа',
						linkQuantity: '231',
						checkboxChecked: false
					},
				],
				another: [
					{
						linkName: 'Без опыта',
						linkQuantity: '76',
						checkboxChecked: true
					},
					{
						linkName: 'Студентам',
						linkQuantity: '412',
						checkboxChecked: false
					},
					{
						linkName: 'Людям с инвалидностью',
						linkQuantity: '231',
						checkboxChecked: false
					},
					{
						linkName: 'Отклик без резюме',
						linkQuantity: '231',
						checkboxChecked: false
					},
				],
				languages: [
					{
						linkName: 'Русский',
						linkQuantity: '76',
						checkboxChecked: true
					},
					{
						linkName: 'Узбекский',
						linkQuantity: '412',
						checkboxChecked: false
					},
					{
						linkName: 'Английский',
						linkQuantity: '231',
						checkboxChecked: false
					},
					{
						linkName: 'Немецкий',
						linkQuantity: '231',
						checkboxChecked: false
					},
					{
						linkName: 'Китайский',
						linkQuantity: '231',
						checkboxChecked: false
					},
					{
						linkName: 'Турецкий',
						linkQuantity: '231',
						checkboxChecked: false
					},
				],
				payment: [
					{
						linkName: 'Не указана',
						linkQuantity: '76',
						checkboxChecked: true
					},
				],
				vacancys: [
					{
						title: 'Контент-менеджер (реклама, SMM)',
						pro: true,
						jobSeekerHref: 'Home',
						jobSeekerName: 'Валерия Валериевна',
						jobSeekerAge: '32 года',
						jobSeekerLocationHref: 'Home',
						jobSeekerLocationCity: 'Ташкент',
						jobSeekerAbout: {
							education: 'Высшее образование',
							typeJob: 'Неполная занятость, удаленная работа',
							experience: [
								'SMM специалист в Dental Center, Одесса',
								'2 года 2 месяца • Project Coordinator, Whaleapp LTD · 1 год 6 месяцев'
							]
						},
						jobSeekerLogoSrc: require('../assets/images/job-seeker-avatar1.png'),
						postDate: 'Сегодня',
						vacancyHref: 'resume-page',
						vacancyHrefDescr: 'Показать детали',
					},
					{
						title: 'Контент-менеджер (реклама, SMM)',
						pro: true,
						jobSeekerHref: 'Home',
						jobSeekerName: 'Валерия Валериевна',
						jobSeekerAge: '32 года',
						jobSeekerLocationHref: 'Home',
						jobSeekerLocationCity: 'Ташкент',
						jobSeekerAbout: {
							education: 'Высшее образование',
							typeJob: 'Неполная занятость, удаленная работа',
							experience: [
								'SMM специалист в Dental Center, Одесса',
								'2 года 2 месяца • Project Coordinator, Whaleapp LTD · 1 год 6 месяцев'
							]
						},
						jobSeekerLogoSrc: require('../assets/images/job-seeker-avatar2.png'),
						postDate: 'Сегодня',
						vacancyHref: 'resume-page',
						vacancyHrefDescr: 'Показать детали',
					},
					{
						title: 'Контент-менеджер (реклама, SMM)',
						jobSeekerHref: 'Home',
						jobSeekerName: 'Валерия Валериевна',
						jobSeekerAge: '32 года',
						jobSeekerLocationHref: 'Home',
						jobSeekerLocationCity: 'Ташкент',
						jobSeekerAbout: {
							education: 'Высшее образование',
							typeJob: 'Неполная занятость, удаленная работа',
							experience: [
								'SMM специалист в Dental Center, Одесса',
								'2 года 2 месяца • Project Coordinator, Whaleapp LTD · 1 год 6 месяцев'
							]
						},
						jobSeekerLogoSrc: require('../assets/images/job-seeker-avatar3.png'),
						postDate: 'Сегодня',
						vacancyHref: 'resume-page',
						vacancyHrefDescr: 'Показать детали',
					},
					{
						title: 'Контент-менеджер (реклама, SMM)',
						jobSeekerHref: 'Home',
						jobSeekerName: 'Валерия Валериевна',
						jobSeekerAge: '32 года',
						jobSeekerLocationHref: 'Home',
						jobSeekerLocationCity: 'Ташкент',
						jobSeekerAbout: {
							education: 'Высшее образование',
							typeJob: 'Неполная занятость, удаленная работа',
							experience: [
								'SMM специалист в Dental Center, Одесса',
								'2 года 2 месяца • Project Coordinator, Whaleapp LTD · 1 год 6 месяцев'
							]
						},
						jobSeekerLogoSrc: require('../assets/images/job-seeker-avatar4.png'),
						postDate: 'Сегодня',
						vacancyHref: 'resume-page',
						vacancyHrefDescr: 'Показать детали',
					},
				],
			}
		},
		methods: {
			showModal (modalName) {
				this.$modal.show(modalName)
			}
		},
		components: {
			Checkbox,
			subCategoryLink,
			svgIcon,
			cardResumeLarge,
			Pagination,
			Collapse,
			subscribeWrap,
		}
	}
</script>

<style lang="scss" scoped>
</style>