<template>
	<div class="user-page">
		<div class="container-fluid">
			<div class="pb-2 negative-margins">
				<router-link class="text-h4 text-lg-white mb-2 d-inline-block" :to="{name: 'Home'}">
					<svg-icon class="svg-icon_reverse_90_negative font-size-8" name="angle" />
					<span class="ml-2 align-middle">На главную</span>
				</router-link>
			</div>
			<div class="row">
				<div class="col-xl-8">
					<div class="wrap p-4 mb-4">
						<div class="pl-sm-3 pr-sm-3">
							<div class="content mb-4">
								<h2>О соискателе</h2>
								<strong>Retail Group</strong> — мультибрендова міжнародна компанія, управляє торговими мережами «Велмарт», «Велика Кишеня», «ВК Експрес» в Україні, а також мережами супермаркетів «Green Hills Market» та «Velmart» в Молдові. До складу бізнесу також входить регіональна мережа ТРЦ «Екватор», охоронна компанія «Баярд 9», боулінг клуби «Турбіна» та дитячий розважальний центр «Мультипарк».
							</div>
							<div class="row align-items-center justify-content-between mb-3">
								<div class="column mb-2">
									<h2 class="mb-0">
										<span>Резюме</span>
										<span class="quantity-label ml-2">2</span>
									</h2>
								</div>
							</div>
							<card-resume-large
								class="mb-4"
								v-for="(resume, keyId) in resumes"
								:key="keyId"
								:favourBtnTxt="false"
								:obj="resume" />
							<hr class="devider mt-5">
							<div class="row row_indents_s align-items-center justify-content-between">
								<div class="column ml-auto">
									<div class="row row_indents_s">
										<div class="column">Поделиться</div>
										<div class="column">
											<a href="#"><img src="../assets/images/tg.svg" width="20" alt=""></a>
										</div>
										<div class="column">
											<a href="#"><img src="../assets/images/fb.svg" width="20" alt=""></a>
										</div>
										<div class="column">
											<a href="#"><img src="../assets/images/vk.svg" width="20" alt=""></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="wrap pt-4 pb-4 pl-3 pr-3 p-sm-4 mb-4">
						<div class="pl-sm-2 pr-sm-2 pt-3">
							<div class="mb-4 text-xl-center">
								<img v-lazy="require('../assets/images/resume-main-avatar.png')" width="150" height="200" alt="">
							</div>
							<div class="text-h3 mb-1 text-xl-center">
								<a class="link-dashed" href="#">Панченко Роман Владимирович</a>
							</div>
							<hr class="devider">
							<div class="mb-3">
								<svg-icon class="color-gray-fill" name="loc" />
								<span class="text-h5 ml-2 pl-1 align-middle">Ташкент</span>
							</div>
							<div class="mb-3">
								<svg-icon class="color-gray-fill" name="calendar" />
								<span class="text-h5 ml-2 pl-1 align-middle">36 лет</span>
							</div>
							<div class="mb-3">
								<svg-icon class="color-gray-fill" name="badge-check" />
								<span class="text-h5 ml-2 pl-1 align-middle">
									Соискатель указал
									<tooltip class="d-inline-block">
										<template v-slot:tooltipToggle>
											<img src="../assets/images/check-mark.svg" width="12" alt="">
										</template>
										<template v-slot:tooltipContent>
											<div class="pt-2 pb-2 pl-3 pr-3">
												<div class="pl-1 pr-1">
													<div class="mb-3">Соискатель подтвердил телефон с помощью SMS.</div>
													<router-link :to="{name: 'Home'}">Подробнее »</router-link>
												</div>
											</div>
										</template>
									</tooltip>
									телефон и эл. почту
								</span>
							</div>
							<div>Чтобы открыть контакты, <router-link :to="{name: 'Home'}">войдите</router-link> как работодатель или <router-link :to="{name: 'Home'}">зарегистрируйтесь</router-link>.</div>
							<div class="row row_indents_s pt-4">
								<div class="column mb-2">
									<a class="button button_blue" href="#" @click.prevent="showModal('respondToVacancy')">Предложить</a>
								</div>
								<div class="column mb-2">
									<a class="button button_transparent-blue" href="#">Все резюме автора</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<modal
			class="modal-box"
			name="respondToVacancy"
			:adaptive="true"
			:width="'100%'"
			:minWidth="280"
			:maxWidth="752"
			:height="'auto'"
			:scrollable="true">
			<div class="modal-box__in pl-3 pr-3 pt-4 pb-4 pl-sm-4 pr-sm-4 position-relative">
				<div class="pt-1 pb-1 pl-sm-4 pr-sm-4">
					<div class="modal-box__body">
						<button class="modal-box__close button-clr" type="button" @click="hideModal('respondToVacancy')">
							<svg-icon name="close" />
						</button>
						<h2 class="mb-4">Выберите вакансию для предложения</h2>
						<form>
							<card-vacancy-feedback
								class="mb-4"
								v-for="(vacancyFeedback, rfIdx) in vacancys"
								:key="rfIdx"
								:obj="vacancyFeedback" />
							<div class="wrap wrap-border-gray pt-3 pb-4 pl-4 pr-4 pl-md-5 pr-md-5 mb-4">
								<div class="pt-1 pb-1">
									<h2 class="mb-3">Дополните свое предложение</h2>
									<div class="text-h5 color-gray-dark mb-4">Если у вас возник вопрос или предложение, напишите работодателю. Расскажите подробнее о вашем опыте работы. Обратите его внимание на Ваши положительные качества</div>
									<textarea class="form-control" rows="3" placeholder="Ваше сообщение ..."></textarea>
								</div>
							</div>
							<div class="row align-items-center justify-content-end pt-3">
								<div class="column mb-2">
									<button class="button button_blue button-clr" type="button" @click="hideModal('respondToVacancy'), showModal('thnx-dialog')">Отправить</button>
								</div>
								<div class="column mb-2">
									<a class="color-gray-fill text-decoration-none" href="#" @click="hideModal('respondToVacancy')">Отмена</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</modal>
	</div>
</template>

<script>
	import svgIcon from '../components/SvgIcon.vue'
	import cardResumeLarge from '../components/Card-resume-large.vue'
	import cardVacancyFeedback from '../components/Card-vacancy-feedback.vue'
	import tooltip from '../components/Tooltip.vue'
	export default {

		name: 'User-page',

		data () {
			return {
				vacancys: [
					{
						title: 'Senior Front End Developer',
						formCheckboxName: 'vacancy-feedback-list',
						formCheckboxId: 'vacancy-feedback[0]',
						pro: true,
						companyHref: 'Home',
						companyName: 'Darwin Global',
						companyLocationHref: 'Home',
						companyLocationCity: 'Ташкент',
						price: 'от 2 500 000 сум/мес.',
						content: 'Darwin Global — Провайдер прозрачного SEO-сервиса. Мы можем профессионально настроить любую рекламу, разработать ...',
					},
					{
						title: 'Контент-менеджер (реклама, SMM)',
						formCheckboxName: 'vacancy-feedback-list',
						formCheckboxId: 'vacancy-feedback[1]',
						pro: true,
						companyHref: 'Home',
						companyName: 'Darwin Global',
						companyLocationHref: 'Home',
						companyLocationCity: 'Ташкент',
						price: 'от 2 500 000 сум/мес.',
						content: 'Darwin Global — Провайдер прозрачного SEO-сервиса. Мы можем профессионально настроить любую рекламу, разработать ...',
					},
				],
				resumes: [
					{
						title: 'Контент-менеджер (реклама, SMM)',
						pro: false,
						jobSeekerHref: 'Home',
						jobSeekerName: 'Валерия Валериевна',
						jobSeekerAge: '32 года',
						jobSeekerLocationHref: 'Home',
						jobSeekerLocationCity: 'Ташкент',
						jobSeekerAbout: {
							education: 'Высшее образование',
							typeJob: 'Неполная занятость, удаленная работа',
							experience: [
								'SMM специалист в Dental Center, Одесса · 2 года 2 месяца',
								'Project Coordinator, Whaleapp LTD · 1 год 6 месяцев'
							]
						},
						jobSeekerLogoSrc: require('../assets/images/job-seeker-avatar1.png'),
						postDate: 'Сегодня',
						vacancyHref: 'resume-page',
						vacancyHrefDescr: 'Показать детали »',
					},
					{
						title: 'Контент-менеджер (реклама, SMM)',
						pro: true,
						jobSeekerHref: 'Home',
						jobSeekerName: 'Валерия Валериевна',
						jobSeekerAge: '32 года',
						jobSeekerLocationHref: 'Home',
						jobSeekerLocationCity: 'Ташкент',
						jobSeekerAbout: {
							education: 'Высшее образование',
							typeJob: 'Неполная занятость, удаленная работа',
							experience: [
								'SMM специалист в Dental Center, Одесса · 2 года 2 месяца',
								'Project Coordinator, Whaleapp LTD · 1 год 6 месяцев'
							]
						},
						jobSeekerLogoSrc: require('../assets/images/job-seeker-avatar1.png'),
						postDate: 'Сегодня',
						vacancyHref: 'resume-page',
						vacancyHrefDescr: 'Показать детали »',
					},
				],
			}
		},
		methods: {
			showModal(modalName) {
				this.$modal.show(modalName)
			},
			hideModal(modalName) {
				this.$modal.hide(modalName)
			},
		},
		components: {
			svgIcon,
			cardResumeLarge,
			cardVacancyFeedback,
			tooltip
		}
	}
</script>

<style lang="css" scoped>
</style>