<template>
	<div class="vacancys-by-company">
		<div class="popular-companys-section mb-4 pb-1">
			<div class="container-fluid">
				<div class="pb-2">
					<router-link class="text-h4 mb-2 d-inline-block" :to="{name: 'Home'}">
						<svg-icon class="svg-icon_reverse_90_negative font-size-10" name="angle" />
						<span class="ml-2 align-middle">На главную</span>
					</router-link>
				</div>
				<div class="popular-companys wrap p-4">
					<div class="regular-title pl-lg-4">
						<h3>Популярные компании среди соискателей</h3>
					</div>
					<div class="pl-lg-4 pt-4">
						<div class="row justify-content-center justify-content-lg-start">
							<div
								class="column mb-4 pb-1"
								v-for="(img, idx) in companysImg"
								:key="idx">
								<div
									class="popular-companys__company">
									<a class="popular-companys__company-link d-block" href="#">
										<img class="popular-companys__company-img mb-2" v-lazy="img.src" width="82">
										<div class="popular-companys__company-name">{{img.companyName}}</div>
									</a>
								</div>
							</div>
						</div>
						<div class="text-center pt-3 pb-1">
							<a class="button button_transparent-blue button_transparent-blue_dark" href="#">Смотреть все компании</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="categrys-section mb-2">
			<div class="container-fluid">
				<div class="row">
					<div
						class="col-sm-6 col-lg-4 mb-4"
						v-for="(category, idx) in categorys"
						:key="idx">
						<card-category :obj="category" />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import cardCategory from '../components/Card-category.vue'
	import svgIcon from '../components/SvgIcon.vue'
	export default {

		name: 'vacancys-by-company',
		meta: {title: 'Вакансии по компаниям'},

		data () {
			return {
				companysImg: [
					{ src: require('../assets/images/popular-company1.png'), companyName: 'Raiffeisen' },
					{ src: require('../assets/images/popular-company2.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company3.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company4.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company5.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company6.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company7.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company8.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company9.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company10.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company11.png'), companyName: 'Raiffeisen' },

					{ src: require('../assets/images/popular-company1.png'), companyName: 'Raiffeisen' },
					{ src: require('../assets/images/popular-company2.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company3.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company4.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company5.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company6.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company7.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company8.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company9.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company10.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company11.png'), companyName: 'Raiffeisen' },

					{ src: require('../assets/images/popular-company1.png'), companyName: 'Raiffeisen' },
					{ src: require('../assets/images/popular-company2.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company3.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company4.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company5.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company6.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company7.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company8.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company9.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company10.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company11.png'), companyName: 'Raiffeisen' },

					{ src: require('../assets/images/popular-company1.png'), companyName: 'Raiffeisen' },
					{ src: require('../assets/images/popular-company2.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company3.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company4.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company5.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company6.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company7.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company8.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company9.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company10.png'), companyName: 'Yandex' },
					{ src: require('../assets/images/popular-company11.png'), companyName: 'Raiffeisen' },
				],
				categorys: [
					{
						href: 'vacancy-city',
						imgSrc: require('../assets/images/category-2.svg'),
						imgWidth: '61px',
						txt: 'Вакансии по городам'
					},
					{
						href: 'vacancys-by-company',
						imgSrc: require('../assets/images/category-company.svg'),
						imgWidth: '61px',
						txt: 'Вакансии по компаниям'
					},
					{
						href: 'vacancy-category',
						imgSrc: require('../assets/images/category-employee.svg'),
						imgWidth: '61px',
						txt: 'Работа по должностям'
					},
				],
			}
		},
		components: {
			cardCategory,
			svgIcon
		}
	}
</script>

<style lang="css" scoped>
</style>