<template>
	<div class="vacancy-city">
		<div class="container-fluid">
			<div class="pb-2">
				<router-link class="text-h4 mb-3 d-inline-block" :to="{name: 'Home'}">
					<svg-icon class="svg-icon_reverse_90_negative font-size-8" name="angle" />
					<span class="ml-2 align-middle">На главную</span>
				</router-link>
			</div>
			<div class="wrap pt-4 pl-3 pr-3 pl-sm-4 pr-sm-4 pb-1 mb-4">
				<div class="pl-lg-3 pr-lg-3">
					<div
						class="mb-4 mb-sm-5"
						v-for="(district, districtIdx) in subCategoryData"
						:key="districtIdx">
						<div class="wrap__border-bottom pl-sm-3 pr-sm-3 pb-2 mb-4">
							<h2 class="mb-1">{{ district.title }}</h2>
						</div>
						<div class="pl-sm-3 pr-sm-3 w-sm-75">
							<div class="row">
								<div
									class="col-md-6 col-lg-4 col-xl-3"
									v-for="(link, linkIdx) in district.list"
									:key="linkIdx">
									<sub-category-link :link-prop="link" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="categrys-section mb-2">
				<div class="row">
					<div
						class="col-sm-6 col-lg-4 mb-4"
						v-for="(category, idx) in categorys"
						:key="idx">
						<card-category :obj="category" />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import subCategoryLink from '../components/Subcategory-link.vue'
	import cardCategory from '../components/Card-category.vue'
	import svgIcon from '../components/SvgIcon.vue'
	export default {
		meta: {title: 'Вакансии по городам'},
		name: 'vacancy-city',

		data () {
			return {
				subCategoryData: [
					{
						title: 'Республика Каракалпакстан',
						list: [
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Бируний',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Мангит',
								linkQuantity: '23'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Тахиаташ',
								linkQuantity: '16'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Ходжейли',
								linkQuantity: '1'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Бустан',
								linkQuantity: '76'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Муйнак',
								linkQuantity: '84'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Турткуль',
								linkQuantity: '64'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Чимбай',
								linkQuantity: '24'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Кунград',
								linkQuantity: '54'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Нукус',
								linkQuantity: '76'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Халкабад',
								linkQuantity: '54'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Шуманай',
								linkQuantity: '34'
							},
						]
					},
					{
						title: 'Андижанская область',
						list: [
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Андижан',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Карасу',
								linkQuantity: '23'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Пайтуг',
								linkQuantity: '16'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Ходжаабад',
								linkQuantity: '1'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Асака',
								linkQuantity: '76'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Кургантепа',
								linkQuantity: '84'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Пахтаабад',
								linkQuantity: '64'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Шахрихан',
								linkQuantity: '24'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Джалакудук',
								linkQuantity: '54'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Мархамат',
								linkQuantity: '76'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Ханабад',
								linkQuantity: '54'
							},
						]
					},
					{
						title: 'Бухарская область',
						list: [
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Алат',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Газли',
								linkQuantity: '23'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Каган',
								linkQuantity: '16'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Ромитан',
								linkQuantity: '1'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Бухара',
								linkQuantity: '76'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Галаасия',
								linkQuantity: '84'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Каракуль',
								linkQuantity: '64'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Шафиркан',
								linkQuantity: '24'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Вабкент',
								linkQuantity: '54'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Гиждуван',
								linkQuantity: '76'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Караулбазар',
								linkQuantity: '54'
							},
						]
					},
					{
						title: 'Джизакская область',
						list: [
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Гагарин',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Джизак',
								linkQuantity: '23'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Галляарал',
								linkQuantity: '16'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Дустлик',
								linkQuantity: '1'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Пахтакор',
								linkQuantity: '76'
							},
						]
					},
					{
						title: 'Кашкадарьинская область',
						list: [
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Бешкент',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Карши',
								linkQuantity: '23'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Мубарек',
								linkQuantity: '16'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Шахрисабз',
								linkQuantity: '1'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Гузар',
								linkQuantity: '76'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Касан',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Талимарджан',
								linkQuantity: '16'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Яккабаг',
								linkQuantity: '16'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Камаши',
								linkQuantity: '16'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Китаб',
								linkQuantity: '23'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Чиракчи',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Янги-Нишан',
								linkQuantity: '16'
							},
						]
					},
					{
						title: 'Навоийская область',
						list: [
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Зарафшан',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Нурата',
								linkQuantity: '16'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Кызылтепа',
								linkQuantity: '23'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Учкудук',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Навои',
								linkQuantity: '16'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Янгирабад',
								linkQuantity: '23'
							},
						]
					},
					{
						title: 'Наманганская область',
						list: [
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Касансай',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Туракурган',
								linkQuantity: '16'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Чартак',
								linkQuantity: '23'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Наманган',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Учкурган',
								linkQuantity: '16'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Талимарджан',
								linkQuantity: '23'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Пап',
								linkQuantity: '23'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Хаккулабад',
								linkQuantity: '16'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Хаккулабад',
								linkQuantity: '123'
							},
						]
					},
					{
						title: 'Самаркандская область',
						list: [
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Акташ',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Джума',
								linkQuantity: '16'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Нурабад',
								linkQuantity: '23'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Ургут',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Булунгур',
								linkQuantity: '16'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Иштыхан',
								linkQuantity: '23'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Пайарык',
								linkQuantity: '23'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Челек',
								linkQuantity: '16'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Джамбай',
								linkQuantity: '16'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Каттакурган',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Самарканд',
								linkQuantity: '1'
							},
						]
					},
					{
						title: 'Сурхандарьинская область',
						list: [
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Байсун',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Кумкурган',
								linkQuantity: '16'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Шерабад',
								linkQuantity: '23'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Термез',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Шурчи',
								linkQuantity: '16'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Джаркурган',
								linkQuantity: '23'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Шаргунь',
								linkQuantity: '23'
							},
						]
					},
					{
						title: 'Сырдарьинская область',
						list: [
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Бахт',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Ширин',
								linkQuantity: '16'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Гулистан',
								linkQuantity: '23'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Янгиер',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Сырдарья',
								linkQuantity: '16'
							},
						]
					},
					{
						title: 'Ташкентская область',
						list: [
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Аккурган',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Ахангаран',
								linkQuantity: '16'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Газалкент',
								linkQuantity: '23'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Нурафшон',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Ташкент',
								linkQuantity: '56'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Янгиабад',
								linkQuantity: '11'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Алмалык',
								linkQuantity: '54'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Бекабад',
								linkQuantity: '43'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Дустабад',
								linkQuantity: '1'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Паркент',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Чиназ',
								linkQuantity: '78'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Янгиюль',
								linkQuantity: '55'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Ангрен',
								linkQuantity: '32'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Бука',
								linkQuantity: '45'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Келес',
								linkQuantity: '23'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Пскент',
								linkQuantity: '1'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Чирчик',
								linkQuantity: '123'
							},
						]
					},
					{
						title: 'Ферганская область',
						list: [
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Бешарык',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Кувасай',
								linkQuantity: '16'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Тинчлик',
								linkQuantity: '23'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Коканд',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Маргилан',
								linkQuantity: '56'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Фергана',
								linkQuantity: '11'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Кува',
								linkQuantity: '54'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Риштан',
								linkQuantity: '43'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Яйпан',
								linkQuantity: '1'
							},
						]
					},
					{
						title: 'Хорезмская область',
						list: [
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Питнак',
								linkQuantity: '123'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Ургенч',
								linkQuantity: '16'
							},
							{
								linkHref: 'vacancy-category-inside',
								linkName: 'Хива',
								linkQuantity: '23'
							},
						]
					},
				],
				categorys: [
					{
						href: 'vacancy-city',
						imgSrc: require('../assets/images/category-2.svg'),
						imgWidth: '61px',
						txt: 'Вакансии по городам'
					},
					{
						href: 'vacancys-by-company',
						imgSrc: require('../assets/images/category-company.svg'),
						imgWidth: '61px',
						txt: 'Вакансии по компаниям'
					},
					{
						href: 'vacancy-category',
						imgSrc: require('../assets/images/category-employee.svg'),
						imgWidth: '61px',
						txt: 'Работа по должностям'
					},
				],
			}
		},
		components: {
			subCategoryLink,
			cardCategory,
			svgIcon
		}
	}
</script>

<style lang="css" scoped>
</style>