<template>
	<div class="vacancy-page position-relative">
		<div class="container-fluid">
			<div class="pb-2 negative-margins">
				<router-link class="text-h4 text-lg-white mb-2 d-inline-block" :to="{name: 'Home'}">
					<svg-icon class="svg-icon_reverse_90_negative font-size-8" name="angle" />
					<span class="ml-2 align-middle">На главную</span>
				</router-link>
			</div>
			<div class="row align-items-center justify-content-between text-lg-white mb-4 pb-3">
				<div class="column">
					<div class="row row_indents_m align-items-center">
						<div class="column">
							<h1 class="mb-0">Senior Front End Developer</h1>
						</div>
						<div class="column mt-1">
							<tooltip>
								<template v-slot:tooltipToggle>
									<div class="tag tag_green">PRO</div>
								</template>
								<template v-slot:tooltipContent>
									<div class="pt-2 pb-2 pl-3 pr-3">
										<div class="pl-1 pr-1">
											<div class="mb-3">Профессиональное резюме — это резюме, в котором соискатель указал опыт работы, образование и подтвердил свою эл. почту.</div>
											<router-link :to="{name: 'Home'}">Подробнее »</router-link>
										</div>
									</div>
								</template>
							</tooltip>
						</div>
					</div>
				</div>
				<div class="column"><div class="text-h4">Вакансия от 12 апреля 2020</div></div>
			</div>
			<div class="row">
				<div class="col-lg-8">
					<div class="wrap p-4 mb-4">
						<div class="pl-sm-3 pr-sm-3">
							<div class="row justify-content-between align-items-center pb-3">
								<div class="column">
									<h3 class="mb-2">О вакансии</h3>
								</div>
								<div class="column">
									<favourite-btn
										class="mb-2"
										:text="'В избранное'" />
								</div>
							</div>
							<div class="wrap wrap_gray pt-4 pb-2 pr-4 pl-4">
								<div class="row">
									<div class="col-sm-6 mb-3">
										<div class="mb-2">
											<svg-icon class="color-gray-fill" name="moneybag" />
											<span class="text-h3 color-blue-dark ml-2 pl-1 align-middle">от 1 230 000 сум </span>
										</div>
										<div class="mb-2">
											<svg-icon class="color-gray-fill" name="building-house" />
											<span class="text-h5 ml-2 pl-1 align-middle">Лукойл</span>
										</div>
										<div class="mb-2">
											<svg-icon class="color-gray-fill" name="clock-circle" />
											<span class="text-h5 ml-2 pl-1 align-middle">Полная занятость, с 10:00 до 19:00, Пн-Сб</span>
										</div>
										<div class="mb-2">
											<svg-icon class="color-gray-fill" name="badge-check" />
											<span class="text-h5 ml-2 pl-1 align-middle">Возможно трудоустройство без опыта работы</span>
										</div>
									</div>
									<div class="col-sm-6 mb-3">
										<div class="content">
											<h3>Ключевые навыки</h3>
											<ul>
												<li>Английский — A1 — Начальный</li>
												<li>Финансовый анализ</li>
												<li>Анализ текущих финансовых показателей</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<hr class="devider">
							<div class="content">
								<h2>Описание вакансии</h2>
								<strong>IQ Consultancy</strong> — лидер рынка в сфере образования за рубежом. Мы помогаем выбрать школу, вуз или языковой курс за границей, подготовиться и поступить. Среди наших партнеров — более 600 учебных заведений в 20 странах. Офисы компании расположены в России, Украине, Чехии, Казахстане. <br><br>
								Мы поощряем рост сотрудников и обеспечиваем для этого все условия. Члены нашей команды несут личную ответственность на своем участке работы, открыты и честны, всегда могут рассчитывать на поддержку коллег и в любой момент готовы оказать ее сами.
								<br><br>
								<h3>Мы ожидаем, что вы: </h3>
								— Получили высшее образование;
								— Свободно владеете английским языком (уровень от Upper-Intermediate и выше);
								— Любите учиться и с легкостью запоминаете большой объем информации, постоянно развиваетесь;
								— Плюсом будет наличие опыта работы с визами
								<br><br>
								<h3>Что нужно делать: </h3>
								1) Поддерживать жизнеобеспечение офиса;
								2) Сопровождать и курировать студентов руководителя;
								3) Заниматься организацией промо- мероприятий компании;
								4) Составлять аналитику для руководителя;
								5) Работать с партнерами компании и контрагентами.
								<br><br>
								<h3>Условия, которые мы Вам предлагаем:</h3>
								Работу в постоянно развивающейся команде единомышленников, любящих свое дело, уважающих себя и других. У вас будет уникальная возможность работать вместе с ведущими экспертами в сфере Образования за рубежом, которые вот уже на протяжении 18 лет в команде IQ Consultancy.Новым членам команды мы предоставляем 3х месячную программу адаптации и обучения, мы постоянно делимся опытом, меняемся и развиваемся. <br><br>
								<ul>
									<li>Заработная плата 12 000 гривен на испытательном сроке;</li>
									<li>Обучение по развитию навыков и знанию продукта;</li>
									<li>Возможность участия в социальных проектах компании;</li>
									<li>Возможность роста внутри компании;</li>
									<li>Испытательный срок — 3 месяца ;</li>
									<li>График работы: пятидневная рабочая неделя с 10.00 до 19.00;</li>
									<li>Офис в центре Киева .</li>
								</ul>
							</div>
							<hr class="devider">
							<div class="row row_indents_s align-items-center justify-content-between">
								<div class="column">
									<a class="button button_blue" href="#">Откликнуться</a>
								</div>
								<div class="column">
									<div class="row row_indents_s">
										<div class="column">Поделиться</div>
										<div class="column">
											<a href="#"><img src="../assets/images/tg.svg" width="20" alt=""></a>
										</div>
										<div class="column">
											<a href="#"><img src="../assets/images/fb.svg" width="20" alt=""></a>
										</div>
										<div class="column">
											<a href="#"><img src="../assets/images/vk.svg" width="20" alt=""></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="wrap p-4 mb-4">
						<div class="pl-2 pr-2 pt-3">
							<div class="mb-4">
								<img v-lazy="require('../assets/images/lukoil-logo.png')" width="340" height="80" alt="">
							</div>
							<div class="font-weight-500 mb-1">
								<a class="link-dashed" href="#">Нефтяная компания «Лукойл»</a>
							</div>
							<div>Оптовая торговля, дистрибуция, импорт, экспорт · 10–50 сотрудников</div>
							<hr class="devider">
							<div class="mb-3">
								<svg-icon class="color-gray-fill" name="loc" />
								<span class="text-h5 ml-2 pl-1 align-middle">Ташкент, Ташкентская область, <br> Чиланзарский район <br> <span class="color-gray-dark text-decoration-underline">6 км от центра</span> · <router-link :to="{name: 'Home'}">Показать на карте</router-link></span>
							</div>
							<div class="mb-3">
								<svg-icon class="color-gray-fill" name="envelope" />
								<span class="text-h5 ml-2 pl-1 align-middle"><a class="color-dark-main" href="mailto:mail@mail.com">mail@mail.com</a></span>
							</div>
							<div class="mb-3">
								<svg-icon class="color-gray-fill" name="earth" />
								<span class="text-h5 ml-2 pl-1 align-middle"><a class="color-dark-main" href="https://lukoil-international.uz/">lukoil-international.uz</a></span>
							</div>
							<div class="row row_indents_s pt-4">
								<div class="column mb-2">
									<a class="button button_blue" href="#" @click.prevent="showModal('respondToVacancy')">Откликнуться</a>
								</div>
								<div class="column mb-2">
									<router-link class="button button_blue button_transparent-blue" :to="{name: 'vacancy-category-inside'}">Все объявления автора</router-link>
								</div>
							</div>
						</div>
					</div>
					<div class="wrap mb-4">
						<div class="pl-4 pt-4 pr-4">
							<h3>Горячие вакансии</h3>
							<hr class="devider mb-0">
						</div>
						<card-vacancy-small
							class="vacancy-card-small_sidebar"
							v-for="(item, itemKey) in vacancyPreviews"
							:key="itemKey"
							:obj="item" />
						<div class="p-4 text-right">
							<router-link :to="{name: 'Home'}">Все горячие вакансии »</router-link>
						</div>
					</div>
				</div>
			</div>
			<div class="wrap p-4 mb-4">
				<div class="row">
					<div class="col-xl-4">
						<div class="regular-title pb-1 mb-3">
							<h3>Похожие вакансии</h3>
						</div>
					</div>
				</div>
				<vacancy-carousel :obj="vacancyPreviews" />
			</div>
			<div class="row">
				<div class="col-lg-4 mb-4">
					<h3>Похожие резюме в Ташкенте</h3>
					<div class="content content_style_two">
						<ul>
							<li><a href="#">Химик</a></li>
							<li><a href="#">Учитель химии</a></li>
							<li><a href="#">Преподаватель химии</a></li>
							<li><a href="#">Технолог</a></li>
							<li><a href="#">Помощник технолога</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 mb-4">
					<h3>Резюме в категориях</h3>
					<div class="content content_style_two">
						<ul>
							<li><a href="#">Медицина, фармацевтика</a></li>
							<li><a href="#">Образование, наука</a></li>
							<li><a href="#">Рабочие специальности, производство</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 mb-4">
					<h3>Статистика</h3>
					<div class="content content_style_two">
						<ul>
							<li><a href="#">Сколько получает IT-специалист в Узбекистане?</a></li>
							<li><a href="#">Какая средняя ЗП в Узбекистане?</a></li>
							<li><a href="#">Статистика критериев к IT-специалисту в Узбекистане</a></li>
						</ul>
					</div>
				</div>
			</div>
			<subscribe-wrap>
				<h2>Подпишитесь на интересные Вам вакансии</h2>
				<ul class="list-unstyled d-flex flex-wrap">
					<li>
						<a href="#">IT, компьютеры, интернет</a>
					</li>
					<li>
						<a href="#">полная занятость</a>
					</li>
					<li>
						<a href="#">мужчины</a>
					</li>
				</ul>
				<form>
					<div class="row align-items-sm-center flex-column flex-sm-row">
						<div class="column flex-grow-1 mb-3 mb-lg-2">
							<input class="form-control" type="email" placeholder="Ваш email">
						</div>
						<div class="column flex-shrink-0 mb-3 mb-lg-2">
							<a class="button button_blue w-100" href="#">Подписаться на вакансии</a>
						</div>
						<div class="column flex-shrink-0 mb-3 mb-lg-2">
							<a href="#">
								<img v-lazy="require('../assets/images/tg.svg')" width="30" alt="">
								<span class="ml-2">Отправлять мне в Telegram</span>
							</a>
						</div>
					</div>
				</form>
			</subscribe-wrap>
		</div>
		<modal
			class="modal-box"
			name="respondToVacancy"
			:adaptive="true"
			:width="'100%'"
			:minWidth="280"
			:maxWidth="752"
			:height="'auto'"
			:scrollable="true">
			<div class="modal-box__in pl-3 pr-3 pt-4 pb-4 pl-sm-4 pr-sm-4 position-relative">
				<div class="pt-1 pb-1 pl-sm-4 pr-sm-4">
					<div class="modal-box__body">
						<button class="modal-box__close button-clr" type="button" @click="hideModal('respondToVacancy')">
							<svg-icon name="close" />
						</button>
						<h2 class="mb-4">Выберите резюме для отклика</h2>
						<form>
							<card-resume-feedback
								class="mb-4"
								v-for="(resumeFeedback, rfIdx) in resumes"
								:key="rfIdx"
								:obj="resumeFeedback" />
							<div class="wrap wrap-border-gray pt-3 pb-4 pl-4 pr-4 pl-md-5 pr-md-5 mb-4">
								<div class="pt-1 pb-1">
									<h2 class="mb-3">Дополните свое резюме</h2>
									<div class="text-h5 color-gray-dark mb-4">Если у вас возник вопрос или предложение, напишите работодателю. Расскажите подробнее о вашем опыте работы. Обратите его внимание на Ваши положительные качества</div>
									<textarea class="form-control" rows="3" placeholder="Ваше сообщение ..."></textarea>
								</div>
							</div>
							<div class="row align-items-center justify-content-end pt-3">
								<div class="column mb-2">
									<button class="button button_blue button-clr" type="button" @click="hideModal('respondToVacancy'), showModal('thnx-dialog')">Отправить</button>
								</div>
								<div class="column mb-2">
									<a class="color-gray-fill text-decoration-none" href="#" @click="hideModal('respondToVacancy')">Отмена</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</modal>
	</div>
</template>

<script>
	import tooltip from '../components/Tooltip.vue'
	import favouriteBtn from '../components/Favourite-toggle.vue'
	import svgIcon from '../components/SvgIcon.vue'
	import cardVacancySmall from '../components/Card-vacancy-small.vue'
	import cardResumeFeedback from '../components/Card-resume-feedback.vue'
	import vacancyCarousel from '../components/Vacancy-carousel.vue'
	import subscribeWrap from '../components/Subscribe-wrap.vue'
	import '../assets/styles/common/_modal.scss'
	export default {

		name: 'Vacancy-page',
		meta: { title: 'IT, компьютеры, интернет' },
		data () {
			return {
				vacancyPreviews: [
					{
						vacancyHref: 'Home',
						title: 'Финансовый аналитик',
						price: 'от 2 500 000 сум/мес.',
						companyName: 'Darwin Global',
						companyHref: 'company-page',
						companyLoc: 'Ташкент',
						companyLocHref: 'Home',
						companyImgSrc: require('../assets/images/vacancy-card-large.png'),
						companyImgWidth: '115'
					},
					{
						vacancyHref: 'Home',
						title: 'Финансовый аналитик',
						price: 'от 2 500 000 сум/мес.',
						companyName: 'Darwin Global',
						companyHref: 'company-page',
						companyLoc: 'Ташкент',
						companyLocHref: 'Home',
						companyImgSrc: require('../assets/images/vacancy-card-large.png'),
						companyImgWidth: '115'
					},
					{
						vacancyHref: 'Home',
						title: 'Финансовый аналитик',
						price: 'от 2 500 000 сум/мес.',
						companyName: 'Darwin Global',
						companyHref: 'company-page',
						companyLoc: 'Ташкент',
						companyLocHref: 'Home',
						companyImgSrc: require('../assets/images/vacancy-card-large.png'),
						companyImgWidth: '115'
					},
					{
						vacancyHref: 'Home',
						title: 'Финансовый аналитик',
						price: 'от 2 500 000 сум/мес.',
						companyName: 'Darwin Global',
						companyHref: 'company-page',
						companyLoc: 'Ташкент',
						companyLocHref: 'Home',
						companyImgSrc: require('../assets/images/vacancy-card-large.png'),
						companyImgWidth: '115'
					}
				],
				resumes: [
					{
						title: 'Контент-менеджер (реклама, SMM)',
						formCheckboxName: 'resume-feedback-list',
						formCheckboxId: 'resume-feedback[0]',
						pro: true,
						jobSeekerHref: 'Home',
						jobSeekerName: 'Валерия Валериевна',
						jobSeekerAge: '32 года',
						jobSeekerLocationHref: 'Home',
						jobSeekerLocationCity: 'Ташкент',
						jobSeekerAbout: {
							education: 'Высшее образование',
							typeJob: 'Неполная занятость, удаленная работа',
							experience: [
								'SMM специалист в Dental Center, Одесса',
								'2 года 2 месяца · Project Coordinator, Whaleapp LTD · 1 год 6 месяцев'
							]
						},
					},
					{
						title: 'Контент-менеджер (реклама, SMM)',
						formCheckboxName: 'resume-feedback-list',
						formCheckboxId: 'resume-feedback[1]',
						pro: true,
						jobSeekerHref: 'Home',
						jobSeekerName: 'Валерия Валериевна',
						jobSeekerAge: '32 года',
						jobSeekerLocationHref: 'Home',
						jobSeekerLocationCity: 'Ташкент',
						jobSeekerAbout: {
							education: 'Высшее образование',
							typeJob: 'Неполная занятость, удаленная работа',
							experience: [
								'SMM специалист в Dental Center, Одесса',
								'2 года 2 месяца · Project Coordinator, Whaleapp LTD · 1 год 6 месяцев'
							]
						},
					},
				],
			}
		},
		methods: {
			showModal(modalName) {
				this.$modal.show(modalName)
			},
			hideModal(modalName) {
				this.$modal.hide(modalName)
			},
		},
		components: {
			tooltip,
			svgIcon,
			favouriteBtn,
			cardVacancySmall,
			cardResumeFeedback,
			vacancyCarousel,
			subscribeWrap
		}
	}
</script>

<style lang="scss" scoped>
	.vacancy-page {
		margin-top: -10px;
	}
</style>