<template>
	<div class="vacancy-category">
		<div class="container-fluid">
			<div class="pb-2">
				<router-link class="text-h4 mb-3 d-inline-block" :to="{name: 'Home'}">
					<svg-icon class="svg-icon_reverse_90_negative font-size-8" name="angle" />
					<span class="ml-2 align-middle">На главную</span>
				</router-link>
			</div>
			<div class="wrap pt-4 pl-3 pr-3 pl-sm-4 pr-sm-4 pb-1 mb-4">
				<div class="wrap__border-bottom pl-sm-3 pr-sm-3 pb-2 mb-4">
					<div class="row align-items-center">
						<div class="column mb-3"><h4 class="mb-0">Фильтр по городу</h4></div>
						<div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 mb-3">
							<multiselect
								class="multiselect_simple"
								v-model="citys.value"
								:options="citys.options"
								:searchable="true"
								:close-on-select="true"
								:preselect-first="true"
								:show-labels="false"
								:max-height="140"
								placeholder="Выберите город" />
						</div>
						<div class="column mb-3">
							<checkbox 
								class="checkbox-label-indents-0"
								:type="'checkbox'"
								:name="'type'"
								:id="'quizId'"
								:checked="true"
								:content="'Возможна удаленная работа'" />
						</div>
					</div>
				</div>
				<div class="row">
					<div
						class="column ml-sm-3 mr-lg-5"
						v-for="(column, idx) in subCategoryData"
						:key="idx">
						<div
							class="mb-4 pb-2"
							v-for="(subcategoryGroup, keyIdx) in column.subCategory"
							:key="keyIdx">
							<template v-if="subcategoryGroup.title"><h4 class="pl-3 ml-1 mb-1 color-gray">{{ subcategoryGroup.title }}</h4></template>
							<nav>
								<div
									v-for="(link, linkIdx) in subcategoryGroup.list"
									:key="linkIdx">
									<sub-category-link
										:link-prop="link" />
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="categrys-section mb-2">
				<div class="row">
					<div
						class="col-sm-6 col-lg-4 mb-4 d-flex flex-column"
						v-for="(category, idx) in categorys"
						:key="idx">
						<card-category :obj="category" />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import checkbox from '../components/Checkbox.vue'
	import subCategoryLink from '../components/Subcategory-link.vue'
	import cardCategory from '../components/Card-category.vue'
	import svgIcon from '../components/SvgIcon.vue'
	import Multiselect from 'vue-multiselect'
	import 'simplebar';
	import 'simplebar/dist/simplebar.css';
	import '../assets/styles/common/_simplebar.scss';
	export default {

		name: 'Vacancy-category',
		meta: { title: 'Вакансии по категориям'},

		data () {
			return {
				categorys: [
					{
						href: 'vacancy-city',
						imgSrc: require('../assets/images/category-2.svg'),
						imgWidth: '61px',
						txt: 'Вакансии по городам'
					},
					{
						href: 'vacancys-by-company',
						imgSrc: require('../assets/images/category-company.svg'),
						imgWidth: '61px',
						txt: 'Вакансии по компаниям'
					},
					{
						href: '/',
						imgSrc: require('../assets/images/category-employee.svg'),
						imgWidth: '61px',
						txt: 'Работа по должностям'
					},
				],
				subCategoryData: [
					{
						subCategory: [
							{
								title: '',
								list: [
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'IT, компьютеры, интернет',
										linkQuantity: '123'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Администрация, руководство среднего звена',
										linkQuantity: '23'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Бухгалтерия, аудит',
										linkQuantity: '16'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Гостинично-ресторанный бизнес, туризм',
										linkQuantity: '1'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Дизайн, творчество',
										linkQuantity: '76'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Красота, фитнес, спорт',
										linkQuantity: '84'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Культура, музыка, шоу-бизнес',
										linkQuantity: '64'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Логистика, склад, ВЭД',
										linkQuantity: '24'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Маркетинг, реклама, PR',
										linkQuantity: '54'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Медицина, фармацевтика',
										linkQuantity: '76'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Недвижимость',
										linkQuantity: '54'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Образование, наука',
										linkQuantity: '34'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Охрана, безопасность',
										linkQuantity: '54'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Продажи, закупки',
										linkQuantity: '65'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Рабочие специальности, производство',
										linkQuantity: '76'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Розничная торговля',
										linkQuantity: '65'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Секретариат, делопроизводство, АХО',
										linkQuantity: '43'
									},
								]
							}
						]
					},
					{
						subCategory: [
							{
								title: '',
								list: [
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Сельское хозяйство, агробизнес',
										linkQuantity: '53'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'СМИ, издательство, полиграфия',
										linkQuantity: '17'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Страхование',
										linkQuantity: '5'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Строительство, архитектура',
										linkQuantity: '3'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Сфера обслуживания',
										linkQuantity: '65'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Телекоммуникации и связь',
										linkQuantity: '76'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Топ-менеджмент, руководство высшего звена',
										linkQuantity: '12'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Транспорт, автобизнес ',
										linkQuantity: '54'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Управление персоналом, HR ',
										linkQuantity: '76'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Финансы, банк ',
										linkQuantity: '87'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Юриспруденция',
										linkQuantity: '56'
									},

								]
							},
							{
								title: 'Категории по условиям трудоустройства',
								list: [
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Работа для студентов',
										linkQuantity: '43'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Работа на дому',
										linkQuantity: '87'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Работа без резюме',
										linkQuantity: '24'
									},
									{
										linkHref: 'vacancy-category-inside',
										linkName: 'Работа для людей с инвалидностью',
										linkQuantity: '12'
									},

								]
							}
						]
					},
				],
				citys: {
					value: [],
					options: [
						'Все города',
						'Ташкент',
						'Бухара',
						'Самарканд',
						'Коканд',
						'Хива',
						'Андижан',
					]
				}
			}
		},
		mounted () {
			let dropdowns = document.querySelectorAll('.multiselect__content-wrapper')
			dropdowns.forEach(function(item) {
				item.setAttribute('data-simplebar', '')
			})
		},
		components: {
			Multiselect,
			checkbox,
			subCategoryLink,
			cardCategory,
			svgIcon,
		}
	}
</script>

<style lang="scss" scoped>
</style>