<template>
	<div class="banner position-relative">
		<div class="banner__bg" v-lazy:background-image="img"></div>
		<slot></slot>
	</div>
</template>

<script>
	export default {

		name: 'Banner',

		props: ['img'],
		data () {
			return {

			}
		}
	}
</script>

<style lang="scss" scoped>
	.banner {
		padding: 20px;
		box-shadow: 0px 1px 2px rgba(61, 58, 194, 0.12);
		border-radius: 5px;
		// overflow: hidden;
		@media only screen and (min-width: 576px) {
			padding: 30px;
		}
		@media only screen and (min-width: 992px) {
			min-height: 265px;
			padding: 40px;
		}
		p {
			font-size: 17px;
			line-height: 140%;
			color: #686E7D;
			margin: 0 0 25px;
		}
		&.text-white {
			p {
				color: #fff;
			}
		}
	}
	.banner__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background-repeat: no-repeat;
		background-position: 10% 50%;
		background-size: cover;
		border-radius: 5px;
		@media only screen and (max-width: 991px) {
			background-position: 100% 0;
		}
	}
	.banner_bg-correction {
		.banner__bg {
			width: auto;
			right: 0;
			margin-left: -13px;
			background-position: 1% 50%;
			// margin-right: -23px;
			@media only screen and (max-width: 991px) {
				background-position: 100% 0;
				margin-left: 0;
			}
		}
	}
</style>