<template>
	<ul class="breadcrumbs d-flex flex-wrap list-unstyled mb-0">
		<li
			v-for="(breadcrumb, idx) of breadcrumbs"
			:key="idx">
			<router-link :to="breadcrumb.path">{{ breadcrumb.title }}</router-link>
		</li>
	</ul>
</template>

<script>
	export default {
		name: 'breadcrumbs',
		data () {
			return {

			}
		},
		computed: {
			breadcrumbs () {
				return this.$route.matched.map(r => ({
					title: r.components.default.meta.title,
					path: r.path || '/'
				}))
			}
		}
	}
</script>

<style lang="scss" scoped>
	.breadcrumbs {
		li {
			a {
				font-size: 17px;
				color: #1D3B95;
			}
			&:after {
				content: '»';
				display: inline-block;
				margin-left: 5px;
				margin-right: 5px;
			}
			&:last-child {
				a {
					display: inline-block;
					vertical-align: middle;
					cursor: default;
					color: #686E7D;
					text-decoration: none;
				}
				&:after {
					display: none;
				}
			}
		}
	}
</style>