<template>
	<div class="card-vacancy card-vacancy_feedback wrap pl-3 pr-3 pt-4 pb-3" @click.stop="changeState">
		<div class="row row_indents_m justify-content-between flex-nowrap">
			<div class="column">
				<div class="row align-items-center">
					<div class="column mb-1">
						<h3 class="mb-0">{{ obj.title }}</h3>
					</div>
					<div class="column mb-1" v-show="obj.pro">
						<div class="card-vacancy__tag tag tag_green">Pro</div>
					</div>
				</div>
			</div>
			<div class="column mb-1">
				<checkbox
					:class="'checkbox-circle'"
					:type="'radio'"
					:name="obj.formCheckboxName"
					:id="obj.formCheckboxId"
					:checked="checkboxCheck">
				</checkbox>
			</div>
		</div>
		<ul class="card-vacancy__company-data list-unstyled row align-items-center">
			<li class="column mb-2">
				<router-link
					class="color-gray-fill text-decoration-underline text-decoration-underline_hover_none text-h3 font-weight-normal d-block"
					:to="{name: obj.companyHref}"
					@click.stop.native="">
					{{ obj.companyName }}
				</router-link>
			</li>
			<li class="column mb-2">
				<router-link
					class="card-vacancy__company-loc d-flex flex-nowrap align-items-center text-decoration_hover_underline"
					:to="{name: obj.companyLocationHref}">
					<svg-icon class="flex-shrink-0" name="loc" />
					<div class="ml-1">{{ obj.companyLocationCity }}</div>
				</router-link>
			</li>
		</ul>
		<div class="card-vacancy__price mb-2 pb-1">{{ obj.price }}</div>
		<p>{{ obj.content }}</p>
	</div>
</template>

<script>
	import svgIcon from '../components/SvgIcon.vue'
	import checkbox from '../components/Checkbox.vue'
	export default {

		name: 'Card-resume-feedback',
		props: {
			obj: {
				type: Object
			}
		},
		data () {
			return {
				checkboxCheck: false
			}
		},
		methods: {
			changeState (e) {
				let resumeFeedback = e.currentTarget
				let checkbox = resumeFeedback.querySelector('.checkbox-input')
				checkbox.checked = true
			},
		},
		components: {
			svgIcon,
			checkbox
		}
	}
</script>

<style lang="scss" scoped>
	.card-vacancy {
		position: relative;
		font-size: 15px;
		line-height: 140%;
		color: #686E7D;
		cursor: pointer;
		&:hover {
			box-shadow: 0px 12px 20px rgba(61, 58, 194, 0.08);
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 5px;
			color: #383B49;
		}
		&_feedback {
			cursor: default;
		}
	}
	.card-vacancy__company-data {
		// margin-bottom: 5px;
		li {
			position: relative;
			&:last-child {
				&:after {
					display: none;
				}
			}
			&:after {
				content: '·';

				position: absolute;
				top: 0;
				left: 100%;
				margin-left: -2px;
				margin-top: -1px;
				transform: transform(0, -50%);

				font-size: 18px;
				color: #BFBFBF;
			}
		}
		a {
			// text-decoration: none !important;
		}
	}
	.card-vacancy__company {
		font-size: 18px;
		text-decoration-line: underline;
		color: #BFBFBF;
		&:hover {
			text-decoration: none;
		}
	}
	.card-vacancy__company-loc {
		font-size: 17px;
		line-height: 140%;
		color: #686E7D;
		.svg-icon {
			color: #BFBFBF;
			font-size: 14px;
		}
		&:hover {

		}
	}
	.card-vacancy__price {
		font-weight: bold;
		font-size: 18px;
		line-height: 23px;
		color: #7D7AFF;
	}
	.card-vacancy__foot {
		padding-top: 10px;
		border-top: 1px solid #E9E9E9;
	}
	.card-vacancy__tag {
		background: #71A862;
		color: #fff;
	}
	.card-vacancy_large {
		padding: 0 !important;
		box-shadow: none;
	}


	.card-vacancy__job-seeker-name {
		font-weight: 500;
		font-size: 18px;
		line-height: 23px;
		color: #7D7AFF;
		&:hover {
			text-decoration: underline !important;
		}
	}

	.card-vacancy__delete {
		position: absolute;
		top: 20px;
		right: 30px;
		@media only screen and (max-width: 991px) {
			top: 17px;
			right: 15px;
		}
	}
</style>