<template>
	<div class="card-resume wrap pl-4 pr-4 pt-4 pb-3"
		@click.stop="checkRouteAndGoToPage(obj.vacancyHref)">
		<button
			class="card-resume__delete button-close-gray button-clr"
			v-show="deleteBtn"
			type="button">
			<svg-icon name="close" />
		</button>
		<div class="row row_indents_m justify-content-between">
			<div class="column mb-2"
				:class="{'pr-5 mr-5': deleteBtn}">
				<h3 class="mb-0">{{ obj.title }}</h3>
			</div>
			<div class="column mb-2" v-show="favourBtn">
				<favourite-toggle :favourBtnTxt="favourBtnTxt" :text="'Сохранить отклик'" />
			</div>
		</div>
		<ul class="card-resume__company-data list-unstyled row align-items-center">
			<li class="column mb-2">
				<div class="row row_indents_s">
					<div
						class="column mb-1"
						v-show="obj.pro">
						<div class="card-vacancy__tag tag tag_green">Pro</div>
					</div>
					<div
						class="column mb-1"
						v-show="obj.hot">
							<img v-lazy="require('../assets/images/fire.svg')" alt="">
					</div>
					<div class="column">
						<router-link
							class="d-block"
							:to="{name: obj.jobSeekerHref}"
							@click.stop.native="">
							<div class="card-resume__job-seeker-name">{{ obj.jobSeekerName }}</div>
						</router-link>
					</div>
				</div>
			</li>
			<li class="column mb-2">
				<router-link
					class="card-resume__company-loc text-decoration_hover_underline d-flex flex-nowrap align-items-center"
					:to="{name: obj.jobSeekerLocationHref}"
					@click.stop.native="">
					<svg-icon class="flex-shrink-0" name="loc" />
					<div class="ml-1">{{ obj.jobSeekerLocationCity }}</div>
				</router-link>
			</li>
			<li class="column mb-2">
				<div class="card-resume__company-loc d-flex flex-nowrap align-items-center">
					<div>{{ obj.jobSeekerAge }}</div>
				</div>
			</li>
		</ul>
		<ul class="card-resume__company-data list-unstyled row align-items-center">
			<li class="column mb-2">
				<div class="card-resume__company-loc d-flex flex-nowrap align-items-center">
					<div>{{ obj.jobSeekerAbout.education }}</div>
				</div>
			</li>
			<li class="column mb-2">
				<div class="card-resume__company-loc d-flex flex-nowrap align-items-center">
					<div>{{ obj.jobSeekerAbout.typeJob }}</div>
				</div>
			</li>
		</ul>
		<div class="content text-h4 color-dark-main pt-2">
			<ul>
				<li
					v-for="(item, itemKey) in obj.jobSeekerAbout.experience"
					:key="itemKey">
					{{ item }}
				</li>
			</ul>
		</div>
		<div class="card-resume__foot mt-auto">
			<div class="row justify-content-between">
				<div class="column color-gray">{{ obj.postDate }}</div>
				<div class="column">
					<router-link
						class="color-blue-dark"
						:to="{name: obj.vacancyHref}"
						@click.stop.native="">{{ obj.vacancyHrefDescr }}</router-link>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import svgIcon from './SvgIcon.vue'
	import favouriteToggle from './Favourite-toggle.vue'
	export default {

		name: 'Card-vacancy',
		// props: ['obj', 'favourSetting': {type: Boolean, default: true}],
		props: {
			obj: {
				type: Object
			},
			favourBtn: {
				type: Boolean,
				default: true
			},
			deleteBtn: {
				type: Boolean,
				default: false
			},
			favourBtnTxt: {
				type: Boolean
			}
		},
		data () {
			return {

			}
		},
		methods: {
			checkRouteAndGoToPage (href) {
				if ( !(this.$route.name == href) ) {
					this.$router.push({name: href})
				}
			}
		},
		components: {
			svgIcon,
			favouriteToggle
		}
	}
</script>

<style lang="scss" scoped>
	.card-resume {
		position: relative;
		font-size: 15px;
		line-height: 140%;
		color: #686E7D;
		cursor: pointer;
		&:hover {
			box-shadow: 0px 12px 20px rgba(61, 58, 194, 0.08);
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 5px;
			color: #383B49;
		}
	}
	.card-resume__company-data {
		// margin-bottom: 5px;
		li {
			position: relative;
			&:last-child {
				&:after {
					display: none;
				}
			}
			&:after {
				content: '·';

				position: absolute;
				top: 0;
				left: 100%;
				margin-left: -2px;
				margin-top: -1px;
				transform: transform(0, -50%);

				font-size: 18px;
				color: #BFBFBF;
			}
		}
		a {
			// text-decoration: none !important;
		}
	}
	.card-resume__company {
		font-size: 18px;
		text-decoration-line: underline;
		color: #BFBFBF;
		&:hover {
			text-decoration: none;
		}
	}
	.card-resume__company-loc {
		font-size: 17px;
		line-height: 140%;
		color: #686E7D;
		.svg-icon {
			color: #BFBFBF;
			font-size: 14px;
		}
		&:hover {

		}
	}
	.card-resume__price {
		font-weight: bold;
		font-size: 18px;
		line-height: 23px;
		color: #7D7AFF;
	}
	.card-resume__foot {
		padding-top: 10px;
		border-top: 1px solid #E9E9E9;
	}
	.card-resume__tag {
		background: #71A862;
		color: #fff;
	}
	.card-resume_large {
		padding: 0 !important;
		box-shadow: none;
	}


	.card-resume__job-seeker-name {
		font-weight: 500;
		font-size: 18px;
		line-height: 23px;
		color: #7D7AFF;
		&:hover {
			text-decoration: underline !important;
		}
	}

	.card-resume__delete {
		position: absolute;
		top: 20px;
		right: 30px;
		@media only screen and (max-width: 991px) {
			top: 17px;
			right: 15px;
		}
	}
</style>