<template>
	<div class="card-resume-large wrap pt-4 pl-4 pr-3" @click.stop="checkRouteAndGoToPage(obj.vacancyHref)">
		<div class="pl-lg-3 pr-lg-3">
			<div class="row flex-nowrap flex-column flex-md-row">
				<div class="column flex-shrink-0 mb-3">
					<div class="card-resume-large__company-img-wrap">
						<img class="card-resume-large__company-img" v-lazy="obj.jobSeekerLogoSrc" style="width: 195px; height: 196px;">
					</div>
				</div>
				<div class="column flex-grow-1 d-flex flex-column mb-3">
					<card-resume
						class="card-resume_large flex-grow-1 d-flex flex-column"
						:obj="obj"
						:favourBtnTxt="favourBtnTxt" />
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import cardResume from '../components/Card-resume.vue'
	export default {

		name: 'Vacancy-card-large',
		props: ['obj', 'favourBtnTxt'],
		data () {
			return {
			}
		},
		methods: {
			checkRouteAndGoToPage (href) {
				if ( !(this.$route.name == href) ) {
					this.$router.push({name: href})
				}
			}
		},
		components: {
			cardResume
		}
	}
</script>

<style lang="scss" scoped>
	.card-resume-large {
		cursor: pointer;
		.card-resume {
			padding: 0 !important;
			box-shadow: none;
		}
		&:hover {
			box-shadow: 0px 12px 20px rgba(61, 58, 194, 0.08);
			.card-resume {
				// box-shadow: none;
			}
		}
		&_favourite-btn-txt {
			.button-favourite__txt {
				display: none;
			}
		}
	}
	.card-resume-large__company-img-wrap {
		display: inline-block;
		box-shadow: 0px 1px 2px rgba(61, 58, 194, 0.12);
		border-radius: 3px;
		font-size: 0;
		@media only screen and (max-width: 450px) {
			display: block;
		}
	}
	.card-resume-large__company-img {
		// margin-bottom: 10px;
		object-fit: cover;
		@media only screen and (max-width: 450px) {
			width: 100% !important;
			height: auto !important;
		}
		
	}
	.card-resume-large__company-title {

	}
</style>