<template>
	<div class="card-vacancy-large wrap pt-4 pl-4 pr-3" @click.stop="checkRouteAndGoToPage(obj.vacancyHref)">
		<div class="pl-lg-3 pr-lg-3">
			<div class="row flex-nowrap flex-column flex-md-row">
				<div class="column flex-shrink-0 mb-3">
					<img class="card-vacancy-large__company-img mb-2" v-lazy="obj.companyLogoSrc" style="width: 195px; height: 117px;">
					<div class="text-md-center">
						<div class="card-vacancy-large__company-title"><h3 class="mb-1">{{ obj.companyName }}</h3></div>
						<router-link
							class="color-blue text-decoration-none text-decoration_hover_underline"
							:to="{name: obj.companyVacancy}"
							@click.stop.native>Вакансии компании »</router-link>
					</div>
				</div>
				<div class="column flex-grow-1 d-flex flex-column mb-3">
					<card-vacancy
					class="card_large-vacancy flex-grow-1 d-flex flex-column"
					:obj="obj"
					:favouriteBtn="favouriteBtn" />
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import cardVacancy from '../components/Card-vacancy.vue'
	export default {

		name: 'Vacancy-card-large',
		props: ['obj', 'favouriteBtn'],
		data () {
			return {
			}
		},
		methods: {
			checkRouteAndGoToPage (href) {
				if ( !(this.$route.name == href) ) {
					this.$router.push({name: href})
				}
			}
		},
		components: {
			cardVacancy
		}
	}
</script>

<style lang="scss" scoped>
	.card-vacancy-large {
		cursor: pointer;
		.card-vacancy {
			padding: 0 !important;
			box-shadow: none;
		}
		&:hover {
			box-shadow: 0px 12px 20px rgba(61, 58, 194, 0.08);
			.card-vacancy {
				// box-shadow: none;
			}
		}
	}
	.card-vacancy-large__company-img {
		margin-bottom: 10px;
		object-fit: cover;
		
	}
	.card-vacancy-large__company-title {

	}
</style>