<template>
	<div
		class="card-vacancy wrap pl-4 pr-4 pt-4 pb-3"
		@click.stop="checkRouteAndGoToPage(obj.vacancyHref)">
		<div class="row flex-md-nowrap flex-column flex-md-row">
			<div class="column flex-grow-md-1 mb-2 order-2 order-md-1">
				<div class="row row_indents_s">
					<div class="column">
						<h3>{{ obj.title }}</h3>
					</div>
					<div class="column mb-1" v-show="obj.pro">
						<div class="card-vacancy__tag tag tag_green">Pro</div>
					</div>
					<div class="column mb-1" v-show="obj.hot">
						<img v-lazy="require('../assets/images/fire.svg')" width="22" alt="">
					</div>
					<div class="column ml-lg-auto mb-1" v-if="obj.cardLarge">
						<favourite-toggle :text="'В избранное'" />
					</div>
				</div>
				<ul class="card-vacancy__company-data list-unstyled row align-items-center">
					<li class="column mb-1">
						<router-link
							class="color-gray-fill text-decoration-underline text-decoration-underline_hover_none text-h3 font-weight-normal d-block"
							:to="{name: obj.companyHref}"
							@click.stop.native="">
							{{ obj.companyName }}
						</router-link>
					</li>
					<li class="column mb-1">
						<router-link
							class="card-vacancy__company-loc d-flex flex-nowrap align-items-center text-decoration_hover_underline"
							:to="{name: obj.companyLocationHref}">
							<svg-icon class="flex-shrink-0" name="loc" />
							<div class="ml-1">{{ obj.companyLocationCity }}</div>
						</router-link>
					</li>
				</ul>
				<div class="card-vacancy__price">{{ obj.price }}</div>
			</div>
			<div class="column flex-shrink-0 mb-3 order-1 order-md-2" v-if="!obj.cardLarge">
				<img v-lazy="obj.companyLogoSrc" width="82" />
			</div>
		</div>
		<p>{{ obj.content }}</p>
		<div class="card-vacancy__foot mt-auto">
			<div class="row justify-content-between">
				<div class="column color-gray">{{ obj.postDate }}</div>
				<div class="column">
					<div class="color-blue text-decoration-underline text-decoration-underline_hover_none">Откликнуться »</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import svgIcon from './SvgIcon.vue'
	import favouriteToggle from './Favourite-toggle.vue'
	export default {

		name: 'Card-vacancy',
		props: {
			obj: {
				type: Object
			},
		},
		data () {
			return {

			}
		},
		methods: {
			checkRouteAndGoToPage (href) {
				if ( !(this.$route.name == href) ) {
					this.$router.push({name: href})
				}
			}
		},
		components: {
			svgIcon,
			favouriteToggle
		}
	}
</script>

<style lang="scss" scoped>
	.card-vacancy {
		font-size: 15px;
		line-height: 140%;
		color: #686E7D;
		cursor: pointer;
		&:hover {
			box-shadow: 0px 12px 20px rgba(61, 58, 194, 0.08);
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 5px;
			color: #383B49;
		}
	}
	.card-vacancy__company-data {
		// margin-bottom: 5px;
		li {
			position: relative;
			&:last-child {
				&:after {
					display: none;
				}
			}
			&:after {
				content: '·';

				position: absolute;
				top: 0;
				left: 100%;
				margin-left: -2px;
				margin-top: -1px;
				transform: transform(0, -50%);

				font-size: 18px;
				color: #BFBFBF;
			}
		}
		a {
			text-decoration: none;
		}
	}
	.card-vacancy__company {
		font-size: 18px;
		text-decoration-line: underline;
		color: #BFBFBF;
		&:hover {
			text-decoration: none;
		}
	}
	.card-vacancy__company-loc {
		font-size: 17px;
		line-height: 140%;
		color: #686E7D;
		.svg-icon {
			color: #BFBFBF;
			font-size: 14px;
		}
		&:hover {

		}
	}
	.card-vacancy__price {
		font-weight: bold;
		font-size: 18px;
		line-height: 23px;
		color: #7D7AFF;
	}
	.card-vacancy__foot {
		padding-top: 10px;	
		border-top: 1px solid #E9E9E9;
	}
	.card-vacancy__tag {
		// background: #71A862;
		// color: #fff;
	}
	.card-vacancy_large {
		padding: 0 !important;
		box-shadow: none;
	}
</style>