<template>
	<router-link class="card-category d-flex flex-grow-1" :to="{name: obj.href}">
		<div class="row flex-nowrap align-items-center">
			<div class="column flex-shrink-0">
				<img class="card-category__img" v-lazy="obj.imgSrc" :width="obj.imgWidth">
			</div>
			<div class="column">
				<div class="card-category__txt">{{ obj.txt }}</div>
			</div>
		</div>
	</router-link>
</template>

<script>
	export default {

		name: 'Card-category',
		props: ['obj'],
		data () {
			return {

			}
		}
	}
</script>

<style lang="scss" scoped>
	.card-category {
		padding: 20px 25px;
		background: #FFFFFF;
		box-shadow: 0px 1px 2px rgba(61, 58, 194, 0.12);
		border-radius: 5px;

		font-size: 17px;
		line-height: 140%;
		color: #283157 !important;
		text-decoration: none !important;
		transition: linear .1s;
		&:hover {
			box-shadow: 0px 1px 2px rgba(61, 58, 194, 0.5);
		}
	}
	.card-category__txt {
		max-width: 170px;
	}
</style>