<template>
	<div class="card-vacancy-small text-decoration-none d-block" @click.stop="checkRouteAndGoToPage(obj.vacancyHref)">
		<div class="card-vacancy-small__row row row_indents_s flex-nowrap">
			<div class="column flex-shrink-0">
				<div class="card-vacancy-small__img-wrap">
					<img v-lazy="obj.companyImgSrc" width="115" height="70" alt="">
				</div>
			</div>
			<div class="column flex-grow-1">
				<div class="text-h3 color-dark-main">
					<div>{{obj.title}}</div>
					<div class="color-blue">{{obj.price}}</div>
				</div>
				<router-link
					class="text-h3 color-gray font-weight-normal text-decoration-underline text-decoration-underline_hover_none d-inline-block align-middle"
					:to="{name: obj.companyHref}"
					@click.stop.native="">{{obj.companyName}}</router-link>
				<span class="color-gray ml-2 mr-2 d-inline-block align-middle">·</span>
				<router-link
					class="color-gray-dark text-h4 d-inlick-block align-middle text-decoration_hover_underline"
					:to="{name: obj.companyLocHref}"
					@click.stop.native="">
					<svg-icon class="color-gray-fill mr-1 font-size-14" name="loc" />
					<span class="align-middle">{{obj.companyLoc}}</span>
				</router-link>
			</div>
		</div>
	</div>
</template>

<script>
	import svgIcon from './SvgIcon.vue'
	export default {

		name: 'Card-vacancy-small',
		props: ['obj'],
		data () {
			return {

			}
		},
		methods: {
			checkRouteAndGoToPage (href) {
				if ( !(this.$route.name == href) ) {
					this.$router.push({name: href})
				}
			}
		},
		components: {
			svgIcon
		}
	}
</script>

<style lang="scss" scoped>
	.card-vacancy-small {
		position: relative;
		padding: 20px;
		border: 1px solid #E9E9E9;
		border-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		cursor: pointer;
		& + .card-vacancy-small {
			border-top-color: #E9E9E9;
			margin-top: -1px;
		}
		&:hover {
			background: #FFFFFF;
			box-shadow: 0px 12px 20px rgba(61, 58, 194, 0.08);
			z-index: 3;
		}
		.card-vacancy-small__row {
			@media only screen and (max-width: 1199px) {
				flex-wrap: wrap !important;
			}
		}
		.card-vacancy-small__img-wrap {
			@media only screen and (max-width: 1199px) {
				margin-bottom: 5px;
			}
		}
		&_sidebar {
		}
	}
</style>