<template>
	<div class="checkbox">
		<input class="checkbox-input input-hidden" v-if="check" :type="type" :name="name" :id="id" :checked="checked" @change="changeCheckbox">
		<label class="checkbox-label align-items-start" :for="id">
			<span class="checkbox-pseudo">
				<app-svg-icon name="check"/>
			</span>
			<span class="checkbox-txt ml-2" :class="{'d-none': !content}" v-if="content">{{ content }}</span>
			<template v-if="hasSlotData">
				<span class="checkbox-txt ml-2 flex-grow-1"><slot></slot></span>
			</template>
		</label>
	</div>
</template>
<script>
	import SvgIcon from '../components/SvgIcon.vue'
	export default {
		name: 'Checkbox',
		props: {
			type: {
				type: String,
			},
			name: {
				type: String
			},
			id: {
				type: String
			},
			content: {
				type: String,
				default: ''
			},
			checked: {
				type: Boolean
			},
			check: {
				type: Boolean,
				default: true
			}
		},
		data () {
			return {

			}
		},
		methods: {
			changeCheckbox (e) {
				this.$emit('changeCheckbox', e)
			}
		},
		computed: {
			hasSlotData() {
				return this.$slots.default;
			}
		},
		components: {
			appSvgIcon: SvgIcon
		}
	}
</script>
<style lang="scss" scoped>
	.checkbox {
		position: relative;
		display: inline-block;
		&-background-white {
			.checkbox-pseudo {
				background-color: #fff;
			}
		}
		&-label-indents-0 {
			.checkbox-label {
				margin: 0;
			}
		}
	}
	.checkbox-input {
		&:checked {
			& + .checkbox-label {
				.checkbox-pseudo {
					background: #fff !important;
					border-color: #E4E4E4 !important;
					.svg-icon {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
	.checkbox-label {
		display: flex;
		flex-wrap: nowrap;
	}
	.checkbox-pseudo {
		position: relative;
		border: 1px solid rgba(40, 47, 54, 0.15);
		flex-shrink: 0;

		width: 18px;
		height: 18px;
		border: 1px solid #E4E4E4;

		background: linear-gradient(180deg, #FFFFFF 0%, #F7F7F7 52.6%, #FFFFFF 100%) !important;
		border-radius: 3px;
		.svg-icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			font-size: 10px;
			color: #7D7AFF;
			opacity: 0;
			visibility: hidden;
		}
	}
	.checkbox-txt {
		color: rgba(40, 47, 54, 0.8);
		a {
			text-decoration: underline;
		}
	}
	.checkbox-link {
		color: rgba(40, 47, 54, 0.8) !important;
	}

	.checkbox-circle {
		.checkbox-input {
			&:checked + .checkbox-label {
				.checkbox-pseudo {
					// border: 6px solid #4592FF;
					border-color: #E4E4E4;
					background-color: transparent;
				}
			}
		}
		.checkbox-pseudo {
			border-radius: 50%;
			background: linear-gradient(180deg, #FFFFFF 0%, #F7F7F7 52.6%, #FFFFFF 100%);
			border: 1px solid #E4E4E4;
		}
		.svg-icon_check {
			// display: none;
			color: #7D7AFF;
		}
		&_color {
			padding-bottom: 0 !important;
			font-size: 0;
			.checkbox-label {
				margin: 0 0 5px;
				font-size: 0;
			}
			.checkbox-txt {
				display: none;
			}
			.checkbox-pseudo {
				border: none !important;
				&:before {
					content: '';

					position: absolute;
					top: 4px;
					left: 4px;
					right: 4px;
					bottom: 4px;

					border-radius: 50%;
				}
			}
		}
	}


	.checkbox__row {
		&_top_2 {
			position: relative;
			top: -2px;
		}
	}
</style>