<template>
	<div class="collapse-box">
		<a
			class="collapse-box__toggle"
			:class="{'collapse-box__toggle_collapsed': !this.toggle}"
			href="#"
			@click.prevent="collapse">
			<slot name="collapseToggle"></slot>
		</a>
		<div
			class="collapse-content"
			ref="collapseContent"
			:class="{'show': toggle}">
			<slot name="collapseContent"></slot>
		</div>
	</div>
</template>

<script>
	export default {

		name: 'Collapse',
		props: {
			collapseContentShow: {
				type: Boolean,
				default: false
			}
		},
		data () {
			return {
				toggle: this.collapseContentShow,

			}
		},
		methods: {
			collapse (e) {
				let toggle = e.currentTarget
				let content = toggle.nextElementSibling
				toggle.classList.toggle('collapsed')
				this.toggle = !this.toggle
				if ( this.toggle ) {
					content.style.maxHeight = content.scrollHeight + "px";
				} else {
					content.style.maxHeight = null;
				}
			},
			handlerResize () {
				let content = this.$refs.collapseContent
				if ( content ) {
					this.setMaxheightFunc(content)
				}
			},
			setMaxheightFunc (elem) {
				if ( this.toggle ) {
					elem.style.maxHeight = elem.scrollHeight + "px";
				} else {
					elem.style.maxHeight = null;
				}
			}
		},
		mounted () {
			window.addEventListener("resize", this.handlerResize);
			let content = this.$refs.collapseContent
			if ( content ) {
				this.setMaxheightFunc(content)
			}
		},
		beforeDestroyed () {
			window.removeEventListener("resize", this.handlerResize);
		}
	}
</script>

<style lang="scss" scoped>
	.collapse-box {
		&.visible {
			.collapse-content {
				&.show {
					overflow: visible;
				}
			}
		}
	}
	.collapse-content {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
		&.show {
			// overflow: visible;
		}
	}
	.collapse-box__toggle {
		display: block;
		text-decoration: none !important;
		&_collapsed {
			.svg-icon_angle {
				transform: rotate(180deg);
			}
		}
	}
	.collapse-box__toggle-btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;

		width: 42px;
		height: 42px;

		font-size: 15px;
		line-height: 1;
		color: #969FA9;
		background-color: #F5F5F5;
		border-radius: 50%;
	}
</style>