<template>
	<div class="count-control form-group mb-0 position-relative">
		<input class="form-control" v-model="count" type="number">
		<button class="count-control__btn count-control__btn-plus button-clr" type="button" @click="count++">
			<svg-icon name="carret" />
		</button>
		<button class="count-control__btn count-control__btn-minus button-clr" type="button" @click="count > 1 ? count-- : count = 1">
			<svg-icon name="carret" />
		</button>
	</div>
</template>

<script>
	import svgIcon from './SvgIcon.vue'
	export default {
		name: 'count-control',
		props: {
			value: {
				type: Number,
				default: 1
			}
		},
		data () {
			return {
				count: this.value
			}
		},
		components: {
			svgIcon
		}
	}
</script>

<style lang="scss" scoped>
	.count-control {
		width: 80px;
		.form-control {
			padding-right: 30px;
			padding-left: 15px;
		}
	}
	.count-control__btn {
		position: absolute;
		right: 12px;
		font-size: 10px;
		line-height: 1;
		height: 10px;
		color: #c4c4c4;
	}
	.count-control__btn-plus {
		top: 30%;
		transform: rotate(180deg);
	}
	.count-control__btn-minus {
		bottom: 25%;
	}
</style>