<template>
	<div class="row">
		<div class="col-lg-6 mb-4">
			<div class="map-container">
				<svg width="508" height="334" viewBox="0 0 508 334" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g id="districts">
						<path
							v-for="(path, pathKey) in data.arrayCountry"
							:key="pathKey"
							:d="path.map.path"
							:fill="path.map.fill"
							:stroke="path.map.stroke"
							:data-href="path.map.mapHref"
							:id="path.map.id"
							@click="clickOnDistrict" />
					</g>
					<defs>
						<filter id="filter0_d" x="148.889" y="69.7275" width="191.459" height="205.696" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
							<feFlood flood-opacity="0" result="BackgroundImageFix"/>
							<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
							<feOffset dy="12"/>
							<feGaussianBlur stdDeviation="10"/>
							<feColorMatrix type="matrix" values="0 0 0 0 0.2625 0 0 0 0 0.2625 0 0 0 0 0.2625 0 0 0 0.3 0"/>
							<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
							<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
						</filter>
					</defs>
				</svg>
			</div>
		</div>
		<div class="col-lg-6 mb-4">
			<sub-category-link
				v-for="(mapLink, mapLinkKey) in data.arrayCountry"
				:key="mapLinkKey"
				:link-prop="mapLink.link"
				@linkWithMapConnectionOnHover="hoverTrigger"
				@linkWithMapConnectionOnHoverOut="hoverTrigger"/>
			<router-link class="text-h4 pl-1" :to="{name: data.allCitiesHref}">Полный  список городов »</router-link>
		</div>
	</div>
</template>

<script>
	import subCategoryLink from './Subcategory-link.vue'
	export default {

		name: 'Uzbekistan-map',
		props: ['data'],

		data () {
			return {

			}
		},
		methods: {
			clickOnDistrict (e) {
				this.$router.push({name: e.currentTarget.getAttribute('data-href')})
			},
			hoverTrigger (e) {
				let path = document.getElementById(e.currentTarget.firstElementChild.getAttribute('href').slice(1))
				if ( path ) {
					path.classList.toggle('active')
				}
			}
		},
		computed: {
		},
		components: {
			subCategoryLink
		}
	}
</script>

<style lang="scss" scoped>
	.map-container {

	}
	path {
		opacity: .5;
		&.active {
			opacity: 1;
		}
	}
	path[id]:hover, path[id]:focus {
		// stroke: red !important;
		opacity: 1;
		cursor: pointer;
		outline: none;
	}
	svg {
		width: 100%;
	}
</style>