<template>
	<div class="dropdown-simple" v-click-outside="closeDrop">
		<a class="dropdown-simple__toggle d-inline-block" href="#" @click.prevent="active = !active">
			<slot name="toggle-content"></slot>
		</a>
		<div class="dropdown-simple__dropdown" :class="{'show': active}">
			<slot name="content"></slot>
		</div>
	</div>
</template>

<script>
	export default {

		name: 'Dropdown-simple',

		data () {
			return {
				active: false,
			}
		},
		methods: {
			closeDrop: function() {
				this.active = false
			},
		}
	}
</script>

<style lang="scss">
	.dropdown-simple {
		position: relative;
		&_status {
			.dropdown-simple__toggle {
				font-size: 12px;
				color: #fff;
				line-height: 1;
				text-transform: none;
				padding: 3px 10px 4px 5px;
				border-radius: 3px;
			}
			.simple-dropdown__toggle-icon {
				font-size: 8px;
			}
			.dropdown-simple__dropdown {
				border-radius: 3px;
				padding: 0;
			}
		}
		&_status_green {
			.dropdown-simple__toggle {
				background-color: #71A862;
			}
		}
		&_status_red {
			.dropdown-simple__toggle {
				background-color: #D76060;
			}
		}
		&_more {
			.dropdown-simple__toggle {
				padding: 0;
				font-size: 15px;
				line-height: 1;
				color: #1D3B95;
				&:hover {
					color: #1D3B95;
				}
			}
		}
	}
	.dropdown-simple__toggle-icon-wrap {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		vertical-align: middle;
		background-color: #F5F5F5;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		color: #969FA9;
	}
	.dropdown-simple__toggle {
		text-decoration: none !important;
		font-size: 14px;
		color: #fff;
		text-transform: uppercase;
		&:hover {
			color: #fff;
		}
		&:not(.dropdown-simple__toggle_status_green),
		&:not(.dropdown-simple__toggle_status_red),
		&:not(.dropdown-simple__toggle_status_more) {
			&:hover {
				.dropdown-simple__toggle-flag {
					transform: scale(1.1, 1.1);
				}
			}
		}
	}
	.dropdown-simple__toggle-flag {
		width: 16px;
		transition: linear .1s;
	}
	.dropdown-simple__toggle-txt {
		vertical-align: middle;
	}
	.dropdown-simple__toggle-icon {
		font-size: 8px;
	}

	.dropdown-simple__dropdown {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, 0);
		z-index: 99;
		padding: 8px 16px;
		border: 1px solid #fff;
		min-width: 80px;
		margin-top: 20px;

		opacity: 0;
		visibility: hidden;
		transition: linear .1s;
		border-radius: 4px;
		background-color: #fff;
		
		border: 1px solid #F5F5F5;
		box-shadow: 0px 1px 2px rgba(61, 58, 194, 0.12);
		border-radius: 5px;
		&:before {
			content: '';

			position: absolute;
			bottom: 100%;
			left: 50%;
			transform: translate(-50%, 0) rotate(45deg);

			width: 16px;
			height: 16px;
			margin-bottom: -7px;

			background-color: #f5f5f5;
		}
		&:after {
			content: '';


			position: absolute;
			bottom: 100%;
			left: 50%;
			transform: translate(-50%, 0) rotate(45deg);

			width: 15px;
			height: 15px;
			margin-bottom: -7px;

			background-color: #fff;
		}
		&.show {
			opacity: 1;
			visibility: visible;
		}
		li {
			&:last-child {
				margin: 0 !important;
			}
		}
		.dropdown-simple__toggle {
			color: #283157 !important;
			text-decoration: none !important;
		}
	}

	.dropdown-simple__status-li {
		display: flex;
		flex-direction: column;
		& + .dropdown-simple__status-li {
			border-top: 1px solid #f5f5f5;
		}
	}
	.dropdown-simple__status-link {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 15px;

		min-height: 31px;

		font-size: 17px;
		line-height: 1;
		color: #383B49;
		text-decoration: none !important;
		&:hover {
			// background-color: rgba(125, 122, 255, 0.3);
			color: #1D3B95;
		}
	}

	.dropdown-simple_footer {
		display: inline-block;
		flex-grow: 0;
		@media only screen and (min-width: 1200px) {
			margin-left: auto;
		}
		.dropdown-simple__toggle {
			color: #383B49;
			text-align: right;
		}
		.dropdown-simple__toggle-txt {

		}
		.dropdown-simple__toggle-icon {
			color: #383B49 !important;
		}
		.dropdown-simple__dropdown {
			top: auto;
			bottom: 100%;
			margin-top: 0;
			margin-bottom: 20px;
			&:before {
				bottom: auto;
				top: 100%;
				margin-top: -8px;
			}
		}
	}
</style>