<template>
	<Dropdown-simple>
		<template v-slot:toggle-content>
			<span class="dropdown-simple__toggle-in-wrap" ref="linkIn">
				<span class="dropdown-simple__toggle-in">
					<img class="dropdown-simple__toggle-flag" :src="data.img" alt="">
					<span class="dropdown-simple__toggle-txt ml-2 mr-2">{{ data.text }}</span>
				</span>
			</span>
			<svg-icon class="dropdown-simple__toggle-icon" name="carret" />
		</template>
		<template v-slot:content>
			<ul class="list-unstyled mb-0">
				<router-link
					tag="li"
					class="mb-2"
					v-for="(link, idx) in data.options"
					:key="idx"
					@click.native="changeContent"
					:to="{name: link.href}">
					<a class="dropdown-simple__toggle text-nowrap d-block">
						<span class="dropdown-simple__toggle-in">
							<img class="dropdown-simple__toggle-flag" :src="link.img" alt="">
							<span class="dropdown-simple__toggle-txt ml-2 mr-2">{{ link.text }}</span>
						</span>
					</a>
				</router-link>
			</ul>
		</template>
	</Dropdown-simple>
</template>

<script>
	import svgIcon from './SvgIcon.vue'
	import DropdownSimple from './Dropdown-simple.vue'
	export default {

		name: 'Dropdown-lang',
		props: {
			data: {
				type: Object
			}
		},
		data () {
			return {

			}
		},
		methods: {
			changeContent (e) {
				let elem = e.currentTarget.querySelector('.dropdown-simple__toggle-in')
				let clonedElem = elem.cloneNode(true)
				this.$refs.linkIn.insertAdjacentElement('afterbegin', clonedElem)
				this.$refs.linkIn.firstChild.nextElementSibling.remove()
			}
		},
		components: {
			svgIcon,
			DropdownSimple,
		}
	}
</script>

<style lang="css" scoped>
</style>