<template>
	<button class="button-favourite button-clr d-flex flex-nowrap align-items-center" type="button" @click.stop="toggle = !toggle">
		<span v-show="!toggle"><svg-icon name="bookmark" /></span>
		<span v-show="toggle"><svg-icon name="bookmark-fill" /></span>
		<span v-show="favourBtnTxt" class="button-favourite__txt ml-2">{{ text }}</span>
	</button>
</template>

<script>
	import svgIcon from '../components/SvgIcon.vue'
	export default {

		name: 'Favourite-toggle',
		props: {
			text: {
				type: String
			},
			favourBtnTxt: {
				type: Boolean,
				default: true
			}
		},
		data () {
			return {
				toggle: false
			}
		},
		components: {
			svgIcon
		}
	}
</script>

<style lang="scss" scoped>
	.button-favourite {
		color: #D76060;
		font-size: 15px;
		.svg-icon {
			position: relative;
			top: -1px;
			transition: linear .1s;
		}
		&:hover {
			.svg-icon {
				transform: scale(1.2, 1.2);
			}
		}
	}
</style>