<template>
	<footer class="footer">
		<div class="container-fluid">
			<div class="row align-items-center justify-content-xl-between">
				<div class="col-xl-2 mb-4">
					<router-link :to="{path: '/'}">
						<img src="../assets/images/footer-logo.svg" alt="">
					</router-link>
					<div>© 2020 Upwork. <br> uzСервис для поиска работы.</div>
				</div>
				<div class="col-xl-8 mb-4">
					<div class="row">
						<div class="column ml-xl-auto mr-xl-auto">
							<div class="row row_indents_m">
								<div class="column mb-2">
									<a class="font-weight-bold color-main" href="#">Найти вакансии</a>
								</div>
								<div class="column mb-2">
									<a class="font-weight-bold color-main" href="#">Разместить вакансию</a>
								</div>
							</div>
							<ul class="list-dots list-unstyled row align-items-center">
								<li class="column mb-1">
									<a class="d-block" href="#">Ресурсы</a>
								</li>
								<li class="column mb-1">
									<a class="d-block" href="#">Контакты</a>
								</li>
								<li class="column mb-1">
									<a class="d-block" href="#">О нас</a>
								</li>
								<li class="column mb-1">
									<a class="d-block" href="#">Новости</a>
								</li>
								<li class="column mb-1">
									<a class="d-block" href="#">Помощь</a>
								</li>
								<li class="column mb-1">
									<a class="d-block" href="#">Условия использования</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-2 mb-4">
					<div class="text-xl-right">
						<Dropdown-simple class="dropdown-simple_footer mb-2">
							<template v-slot:toggle-content>
								<img class="simple-dropdown__toggle-flag" src="../assets/images/ru.svg" alt="">
								<span class="simple-dropdown__toggle-txt ml-2 mr-2">RU</span>
								<svg-icon class="simple-dropdown__toggle-icon" name="carret" />
							</template>
							<template v-slot:content>
								<ul class="list-unstyled mb-0">
									<router-link
										class="mb-2"
										:to="{path: '/'}"
										v-for="(link, idx) in 3"
										:key="idx"
										tag="li">
										<a class="simple-dropdown__toggle text-nowrap d-block">
											<img class="simple-dropdown__toggle-flag" src="../assets/images/ru.svg" alt="">
											<span class="simple-dropdown__toggle-txt ml-2 mr-2">RU</span>
										</a>
									</router-link>
								</ul>
							</template>
						</Dropdown-simple>
						<a class="link-employer color-blue-dark flex-grow-1 d-flex flex-column justify-content-center pl-0" href="#">
							<span>
								<span>Работадателю</span>
								<svg-icon class="ml-2" name="arrow" />
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
</template>

<script>
	import svgIcon from '@/components/SvgIcon.vue'
	import DropdownSimple from '@/components/Dropdown-simple.vue'
	export default {

		name: 'Footer',

		data () {
			return {

			}
		},
		components: {
			svgIcon,
			DropdownSimple
		}
	}
</script>

<style lang="scss" scoped>
	// .link-employer {
	// 	display: inline-block;
	// 	border-left: 1px solid rgba(#fff,.2);
	// 	font-size: 15px;
	// 	color: #fff;
	// 	text-decoration: none;
	// 	.svg-icon {
	// 		position: relative;
	// 		font-size: 9px;
	// 		transition: linear .1s;
	// 		left: 0;
	// 	}
	// 	&:hover {
	// 		.svg-icon {
	// 			left: 2px;
	// 		}
	// 	}
	// }
</style>