<template>
	<div class="header">
		<div class="container-fluid position-relative">
			<div class="header__in">
				<div class="row align-items-center justify-content-between flex-nowrap">
					<div class="header-logo-wrap col-lg-2">
						<router-link
							class="logo"
							:to="{path: '/'}">
							<img src="../assets/images/logo.svg" alt="">
						</router-link>
					</div>
					<div class="col-lg-10">
						<div class="row align-items-center justify-content-end justify-content-lg-between">
							<ul class="header-nav d-flex flex-wrap list-unstyled mb-0 ml-lg-5 pl-lg-5">
								<router-link
									class="column"
									:active-class="'active'"
									:to="{name: 'vacancy-category-inside'}"
									tag="li">
									<a class="text-center text-lg-left">
										<svg-icon class="d-lg-none" name="zoom" />
										<span class="d-block"><span class="d-none d-lg-inline">Найти</span> вакансии</span>
									</a>
								</router-link>
								<router-link
									class="column"
									:active-class="'active'"
									:to="{name: 'post-vacancy'}"
									tag="li">
									<a class="text-center text-lg-left">
										<svg-icon class="d-lg-none" name="add-vacancy" />
										<span class="d-block"><span class="d-none d-lg-inline">Разместить</span> резюме</span>
									</a>
								</router-link>
							</ul>
							<div class="column">
								<div class="row">
									<div class="header-dropdown-wrap column d-flex flex-column justify-content-center">
										<dropdown-lang :data="langs" />
									</div>
									<div class="column d-flex flex-column">
										<a class="header-button-enter button button_enter" href="#" @click.prevent="showModal('enter-main-modal')">
											<svg-icon class="d-lg-none" name="lock" />
											<span class="d-block">Войти</span>
										</a>
									</div>
									<div class="link-employer-wrap column d-flex flex-column">
										<router-link class="link-employer flex-grow-1 d-flex flex-column justify-content-center" :to="{name: 'employers-speciality'}">
											<span>
												<span>Работадателю</span>
												<svg-icon class="ml-3" name="arrow" />
											</span>
										</router-link>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="col d-lg-none">
						<button class="header__button-call-mobile-menu button-clr" type="button">
							<svg-icon name="menu" />
						</button>
					</div> -->
				</div>
			</div>
		</div>
		<modal
			class="modal-box"
			name="enter-main-modal"
			:adaptive="true"
			:width="'100%'"
			:minWidth="280"
			:maxWidth="380"
			:height="'auto'"
			:scrollable="true">
			<div class="modal-box__in position-relative">
				<div class="modal-box__body">
					<button class="modal-box__close button-clr" type="button" @click="hideModal('enter-main-modal')">
						<svg-icon name="close" />
					</button>
					<form>
						<div class="pt-4 pl-4 pr-4">
							<div class="pt-3">
								<h3>Вход</h3>
								<div class="row align-items-center mb-3">
									<div class="column mb-2">Войти с помощью</div>
									<div class="column flex-shrink-0">
										<div class="row row_indents_s">
											<div class="column mb-2">
												<a class="d-block hover-scale" href="#">
													<img v-lazy="require('../assets/images/fb.svg')" width="28" alt="">
												</a>
											</div>
											<div class="column mb-2">
												<a class="d-block hover-scale" href="#">
													<img v-lazy="require('../assets/images/vk.svg')" width="28" alt="">
												</a>
											</div>
											<div class="column mb-2">
												<a class="d-block hover-scale" href="#">
													<img v-lazy="require('../assets/images/g-plus.svg')" width="28" alt="">
												</a>
											</div>
											<div class="column mb-2">
												<a class="d-block hover-scale" href="#">
													<img v-lazy="require('../assets/images/Linkedin.svg')" width="28" alt="">
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<input class="form-control form-control_simple" type="text" placeholder="Email или логин ">
								</div>
								<div class="form-group">
									<div class="position-relative">
										<input class="form-control form-control_simple" type="password" placeholder="Пароль ">
										<button
											class="form-group__btn-change-type button-clr"
											type="button"
											@click="$event.currentTarget.previousElementSibling.type == 'password' ?
													$event.currentTarget.previousElementSibling.type = 'text' :
													$event.currentTarget.previousElementSibling.type = 'password'">
											<svg-icon class="color-gray-fill" name="eye" />
										</button>
									</div>
								</div>
								<div class="row row_indents_m align-items-center">
									<div class="column mb-2">
										<a class="button button_blue pl-4 pr-4" href="#"><span class="pl-2 pr-2">Войти</span></a>
									</div>
									<div class="column mb-2">
										<a class="color-gray-fill text-decoration-underline text-decoration-underline_hover_none" href="#" @click.prevent="hideModal('enter-main-modal'), showModal('restore-password-modal')">Забыли пароль?</a>
									</div>
								</div>
							</div>
						</div>
						<hr class="devider mt-4 mb-4">
						<div class="pl-4 pr-4 pb-4">
							<div>Нет аккаунта? <a class="ml-2" href="#" @click.prevent="hideModal('enter-main-modal'), showModal('register-modal')">Зарегистрируйтесь</a></div>
						</div>
					</form>
				</div>
			</div>
		</modal>
		<modal
			class="modal-box"
			name="restore-password-modal"
			:adaptive="true"
			:width="'100%'"
			:minWidth="280"
			:maxWidth="380"
			:height="'auto'"
			:scrollable="true">
			<div class="modal-box__in p-4 position-relative">
				<div class="pt-2 pb-2">
					<div class="modal-box__body">
						<button class="modal-box__close button-clr" type="button" @click="hideModal('restore-password-modal')">
							<svg-icon name="close" />
						</button>
						<form>
							<h3>Восстановление пароля</h3>
							<div class="mb-3">Введите email, на который зарегистрирован Ваш аккаунт</div>
							<div class="form-group">
								<input class="form-control form-control_simple" type="email" placeholder="Email">
							</div>
							<button class="button button_blue button-clr" type="button" @click="hideModal('restore-password-modal'), showModal('check-email-modal')">Далее</button>
						</form>
					</div>
				</div>
			</div>
		</modal>
		<modal
			class="modal-box"
			name="check-email-modal"
			:adaptive="true"
			:width="'100%'"
			:minWidth="280"
			:maxWidth="380"
			:height="'auto'"
			:scrollable="true"
			@closed="checkEmailModalForRegistration = false">
			<div class="modal-box__in p-4 position-relative">
				<div class="pt-2 pb-2">
					<div class="modal-box__body">
						<button class="modal-box__close button-clr" type="button" @click="hideModal('check-email-modal')">
							<svg-icon name="close" />
						</button>
						<form>
							<h3 class="mb-4">Проверьте почту</h3>
							<div class="mb-3">На почту <strong>mail@mail.ru</strong> отправлена инструкция по сбросу пароля</div>
							<button
								class="button button_blue button-clr mb-3"
								type="button"
								@click="hideModal('check-email-modal'), chooseNextModal()">
									Перейти на почту
							</button>
							<div class="mt-3" v-show="checkEmailModalForRegistration">
								<a href="#">Получить новый код</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</modal>
		<modal
			class="modal-box"
			name="end-register-modal"
			:adaptive="true"
			:width="'100%'"
			:minWidth="280"
			:maxWidth="380"
			:height="'auto'"
			:scrollable="true"
			@closed="checkEmailModalForRegistration = false">
			<div class="modal-box__in p-4 position-relative">
				<div class="pt-2 pb-2">
					<div class="modal-box__body">
						<button class="modal-box__close button-clr" type="button" @click="hideModal('end-register-modal')">
							<svg-icon name="close" />
						</button>
						<form>
							<h3 class="mb-4">Вы зарегистрировались</h3>
							<div class="mb-3">Регистрация окончена, теперь Вы можете войти на сайт используя свой логин/email и пароль</div>
							<button class="button button_blue button-clr mb-3" type="button" @click="hideModal('end-register-modal'), showModal('enter-main-modal')">Перейти ко входу</button>
						</form>
					</div>
				</div>
			</div>
		</modal>
		<modal
			class="modal-box"
			name="set-password-modal"
			:adaptive="true"
			:width="'100%'"
			:minWidth="280"
			:maxWidth="380"
			:height="'auto'"
			:scrollable="true">
			<div class="modal-box__in p-4 position-relative">
				<div class="pt-2 pb-2">
					<div class="modal-box__body">
						<button class="modal-box__close button-clr" type="button" @click="hideModal('set-password-modal')">
							<svg-icon name="close" />
						</button>
						<form>
							<h3>Новый пароль</h3>
							<div class="mb-3">Введите новый желаемый пароль для вашего аккаунта</div>
							<div class="form-group">
								<div class="position-relative">
									<input class="form-control form-control_simple" type="password" placeholder="Пароль (не менее 8 символов)">
									<button
										class="form-group__btn-change-type button-clr"
										type="button"
										@click="$event.currentTarget.previousElementSibling.type == 'password' ?
												$event.currentTarget.previousElementSibling.type = 'text' :
												$event.currentTarget.previousElementSibling.type = 'password'">
										<svg-icon class="color-gray-fill" name="eye" />
									</button>
								</div>
							</div>
							<button class="button button_blue button-clr" type="button" @click="hideModal('set-password-modal')">Сохранить и войти</button>
						</form>
					</div>
				</div>
			</div>
		</modal>
		<modal
			class="modal-box"
			name="register-modal"
			:adaptive="true"
			:width="'100%'"
			:minWidth="280"
			:maxWidth="380"
			:height="'auto'"
			:scrollable="true">
			<div class="modal-box__in position-relative">
				<div class="modal-box__body">
					<button class="modal-box__close button-clr" type="button" @click="hideModal('register-modal')">
						<svg-icon name="close" />
					</button>
					<form>
						<div class="pt-4 pl-4 pr-4">
							<div class="pt-3">
								<h3>Регистрация</h3>
								<div class="row align-items-center mb-3">
									<div class="column mb-2">Войти с помощью</div>
									<div class="column flex-shrink-0">
										<div class="row row_indents_s">
											<div class="column mb-2">
												<a class="d-block hover-scale" href="#">
													<img v-lazy="require('../assets/images/fb.svg')" width="28" alt="">
												</a>
											</div>
											<div class="column mb-2">
												<a class="d-block hover-scale" href="#">
													<img v-lazy="require('../assets/images/vk.svg')" width="28" alt="">
												</a>
											</div>
											<div class="column mb-2">
												<a class="d-block hover-scale" href="#">
													<img v-lazy="require('../assets/images/g-plus.svg')" width="28" alt="">
												</a>
											</div>
											<div class="column mb-2">
												<a class="d-block hover-scale" href="#">
													<img v-lazy="require('../assets/images/Linkedin.svg')" width="28" alt="">
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<input class="form-control form-control_simple" type="text" placeholder="Имя">
								</div>
								<div class="form-group">
									<input class="form-control form-control_simple" type="Email" placeholder="Email ">
								</div>
								<div class="form-group">
									<div class="position-relative">
										<input class="form-control form-control_simple" type="password" placeholder="Пароль (не менее 8 символов)">
										<button
											class="form-group__btn-change-type button-clr"
											type="button"
											@click="$event.currentTarget.previousElementSibling.type == 'password' ?
													$event.currentTarget.previousElementSibling.type = 'text' :
													$event.currentTarget.previousElementSibling.type = 'password'">
											<svg-icon class="color-gray-fill" name="eye" />
										</button>
									</div>
								</div>
								<div class="form-group">
									<div class="position-relative">
										<input class="form-control form-control_simple" type="password" placeholder="Подтвердите пароль">
										<button
											class="form-group__btn-change-type button-clr"
											type="button"
											@click="$event.currentTarget.previousElementSibling.type == 'password' ?
													$event.currentTarget.previousElementSibling.type = 'text' :
													$event.currentTarget.previousElementSibling.type = 'password'">
											<svg-icon class="color-gray-fill" name="eye" />
										</button>
									</div>
								</div>
								<div class="form-group">
									<checkbox
										:type="'checkbox'"
										:name="'conditions'"
										:id="'conditions'"
										:checked="false">
										<div class="text-h6">
											Я согласен с <a href="#">условиями обработки персональных данных</a>
										</div>
									</checkbox>
								</div>
								<div class="row row_indents_m align-items-center">
									<div class="column mb-2">
										<a
											class="button button_blue pl-4 pr-4"
											href="#"
											@click.prevent="hideModal('register-modal'),
															showModal('check-email-modal'),
															checkEmailModalForRegistration = true">
											<span class="pl-2 pr-2">Зарегистрироваться</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<hr class="devider mt-4 mb-4">
						<div class="pl-4 pr-4 pb-4">
							<div>Есть аккаунт? <a class="ml-2" href="#" @click.prevent="hideModal('register-modal'), showModal('enter-main-modal')">Войдите</a></div>
						</div>
					</form>
				</div>
			</div>
		</modal>
	</div>
</template>

<script>
	import svgIcon from './SvgIcon.vue'
	import checkbox from './Checkbox.vue'
	// import DropdownSimple from './Dropdown-simple.vue'
	import DropdownLang from './Dropdown-lang.vue'
	export default {

		name: 'Header',

		data () {
			return {
				checkEmailModalForRegistration: false,
				langs: {
					img: require('../assets/images/ru.svg'),
					text: 'ru',
					options: [
						{
							img: require('../assets/images/ru.svg'),
							text: 'ru',
						},
						{
							img: require('../assets/images/uz.svg'),
							text: 'uz',
						}
					]
				}
			}
		},
		methods: {
			showModal (modalName) {
				this.$modal.show(modalName)
			},
			hideModal (modalName) {
				this.$modal.hide(modalName)
			},
			chooseNextModal () {
				if ( this.checkEmailModalForRegistration ) {
					this.showModal('end-register-modal')
				} else {
					this.showModal('set-password-modal')
				}
			}
		},
		components: {
			svgIcon,
			// DropdownSimple,
			checkbox,
			DropdownLang
		},
	}
</script>

<style lang="scss" scoped>
	.header {
		position: relative;
		z-index: 99;
		border-bottom: 1px solid transparent;
		&:before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(155.61deg, #605FE8 3.91%, #807FFB 53.85%), #C4C4C4;;

			opacity: 0;
			visibility: hidden;
			transition: linear .1s;
		}
		&.blue-light {
			background: linear-gradient(155.61deg, #605FE8 3.91%, #807FFB 53.85%), #C4C4C4;
		}
	}
	.header__in {
		padding: 15px 0 10px;
		border-bottom: 1px solid rgba(#fff, .2);
		@media only screen and (max-width: 991px) {
			padding: 50px 0 10px;
		}
	}
	.header-nav {
		li {
			padding-left: 45px;
			padding-right: 45px;
			@media only screen and (max-width: 1199px) {
				padding-left: 20px;
				padding-right: 20px;
			}
			@media only screen and (max-width: 991px) {
				padding-left: 10px;
				padding-right: 10px;
			}
			&.active {
				a {
					&:after {
						opacity: 1;
						visibility: visible;
					}
				}
			}
			&:hover {
				a {
					&:after {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
		a {
			position: relative;
			display: block;
			font-size: 15px;
			color: #fff;
			text-decoration: none !important;
			@media only screen and (max-width: 991px) {
				font-size: 10px;
				.svg-icon {
					font-size: 25px;
					margin-bottom: 5px;
				}
			}
			&:after {
				content: '';

				position: absolute;
				top: 100%;
				left: 0;
				margin-top: 18px;

				height: 2px;
				width: 100%;
				background-image: url('../assets/images/menu-item-active.png');
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: cover;

				opacity: 0;
				visibility: hidden;
				transition: linear .1s;
				@media only screen and (max-width: 991px) {
					margin-top: 10px;
				}
			}
		}
	}
	.header__button-call-mobile-menu {
		color: #fff;
		font-size: 20px;
	}


	.header-dropdown-wrap {
		@media only screen and (max-width: 991px) {
			position: absolute;
			top: -40px;
			right: 160px;
		}
	}

	.header-button-enter {
		@media only screen and (max-width: 991px) {
			position: relative;
			border: none;
			padding: 0;
			font-size: 10px;
			.svg-icon {
				font-size: 25px;
				margin-bottom: 8px;
			}
			&:after {
				content: '';

				position: absolute;
				top: 100%;
				left: 0;
				margin-top: 18px;

				height: 2px;
				width: 100%;
				background-image: url('../assets/images/menu-item-active.png');
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: cover;

				opacity: 0;
				visibility: hidden;
				transition: linear .1s;
				@media only screen and (max-width: 991px) {
					margin-top: 10px;
				}
			}
			&:hover {
				box-shadow: none;
				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	.header-logo-wrap {
		@media only screen and (max-width: 991px) {
			width: auto;
			position: absolute;
			top: 10px;
		}
		@media only screen and (max-width: 576px) {
			top: auto;
			bottom: 30px;
			z-index: 9;
			width: 120px;
		}
	}

</style>