<template>
	<div class="pagination">
		<ul class="list-unstyled d-flex flex-wrap ml-auto mr-auto">
			<li><a href="#">1</a></li>
			<li><span>2</span></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li>...</li>
			<li><a href="#">133</a></li>
		</ul>
	</div>
</template>

<script>
	export default {

		name: 'Pagination',

		data () {
			return {

			}
		}
	}
</script>

<style lang="scss" scoped>
	.pagination {
		overflow: hidden;
		ul {
			position: relative;
			&:before {
				content: '';

				position: absolute;
				right: 100%;
				left: -9999px;
				top: 50%;
				transform: translate(0, -50%);
				margin-right: 20px;
				border-bottom: 1px solid rgba(#000, .1);
			}
			&:after {
				content: '';
				position: absolute;
				left: 100%;
				right: -9999px;
				top: 50%;
				transform: translate(0, -50%);
				margin-left: 20px;
				border-bottom: 1px solid rgba(#000, .1);
			}
		}
		li {
			font-size: 12px;
			color: #1D3B95;
			padding-left: 3px;
			padding-right: 3px;
			a {
				color: inherit;
				&:hover {
					background: #1D3B95;
					color: #fff;
				}
			}
			a, span {
				display: block;
				background-color: #fff;
				padding: 4px 9px;
				text-decoration: none;
			}
			span {
				color: #969FA9;
			}
		}
		&_on_background_white {
			li {
				a, span {
					background: linear-gradient(180deg, #FFFFFF 0%, #F7F7F7 52.6%, #FFFFFF 100%);
				}
				a {
					&:hover {
						// background-color: #f9f9f9;
					}
				}
			}
		}
	}
</style>