<template>
	<div class="personal-card-vacancy wrap pt-4 pb-4 pl-3 pr-3 p-md-4">
		<div class="row justify-content-between flex-column flex-md-row flex-md-nowrap">
			<div class="column mb-3">
				<div class="row row_indents_s flex-sm-nowrap">
					<div class="column mb-1">
						<!-- <h3 class="mb-0">Senior Front End Developer</h3> -->
						<h3 class="mb-0">{{ data.title }}</h3>
					</div>
					<div class="column flex-shrink-0 mb-1">
						<dropdown-simple class="dropdown-simple_status" :class="{'dropdown-simple_status_green': vacancyStatus, 'dropdown-simple_status_red': !vacancyStatus}">
							<template v-slot:toggle-content>
								<div class="text-white">
									<span v-show="vacancyStatus" class="dropdown-simple__toggle-txt ml-2 mr-2">{{ data.statusActiveTxt }}</span>
									<span v-show="!vacancyStatus" class="dropdown-simple__toggle-txt ml-2 mr-2">{{ data.statusUnActiveTxt }}</span>
									<svg-icon class="dropdown-simple__toggle-icon" name="carret" />
								</div>
							</template>
							<template v-slot:content>
								<ul class="list-unstyled mb-0">
									<li>
										<a class="dropdown-simple__status-link text-nowrap d-block" href="#" @click.prevent="vacancyStatus = true">
											<span>{{ data.statusActiveTxt }}</span>
										</a>
									</li>
									<li>
										<a class="dropdown-simple__status-link text-nowrap d-block" href="#" @click.prevent="vacancyStatus = false">
											<span>{{ data.statusUnActiveTxt }}</span>
										</a>
									</li>
								</ul>
							</template>
						</dropdown-simple>
					</div>
				</div>
				<div class="text-h3 color-blue mb-1">{{ data.payment }}</div>
				<div class="mb-2">
					<svg-icon class="color-gray-fill" name="loc" />
					<span class="ml-2 pl-1 align-middle">{{ data.location }}</span>
				</div>
				<div class="mt-3">
					<a class="color-blue-dark text-decoration-underline text-decoration-underline_hover_none" href="#">Подобрать резюме</a>
				</div>
			</div>
			<div class="column d-flex flex-column justify-content-between flex-shrink-0 mb-3">
				<router-link class="text-md-center color-blue-dark mb-2" :to="{name: data.feedbackLink}">
					<div class="text-h2">{{ data.feedback }}</div>
					<div class="text-h3">откликов</div>
				</router-link>
				<dropdown-simple class="dropdown-simple_status dropdown-simple_more">
					<template v-slot:toggle-content>
						<span class="dropdown-simple__toggle-txt mr-2">Ещё</span>
						<span class="dropdown-simple__toggle-icon-wrap">
							<svg-icon class="dropdown-simple__toggle-icon svg-icon_reverse" name="angle" />
						</span>
					</template>
					<template v-slot:content>
						<ul class="list-unstyled mb-0">
							<li>
								<a class="dropdown-simple__status-link text-nowrap d-block" href="#" @click.prevent="emitEvent">
									<span>Удалить</span>
								</a>
							</li>
						</ul>
					</template>
				</dropdown-simple>
			</div>
		</div>
	</div>
</template>

<script>
	import dropdownSimple from './Dropdown-simple.vue'
	import svgIcon from './SvgIcon.vue'
	export default {

		name: 'Personal-card-vacancy',
		props: ['data'],
		data () {
			return {
				vacancyStatus: this.data.status,
			}
		},
		methods: {
			emitEvent () {
				this.$emit('callModal')
			}
		},
		components: {
			dropdownSimple,
			svgIcon
		}
	}
</script>

<style lang="scss" scoped>
</style>