<template>
	<div class="card-resume-large">
		<div class="row flex-nowrap flex-column flex-md-row">
			<div class="column flex-shrink-0 mb-3">
				<div class="card-resume-large__company-img-wrap">
					<img class="card-resume-large__company-img" v-lazy="obj.jobSeekerLogoSrc" width="115" height="153">
				</div>
			</div>
			<div class="column flex-grow-1 d-flex flex-column mb-3">
				<div class="card-resume">
					<button class="card-resume__delete button button_red_light button-clr" type="button">Удалить</button>
					<div class="pr-md-5 mr-md-5">
						<div class="pr-md-5">
							<div class="row row_indents_m">
								<div class="column mb-1">
									<router-link
										class="card-resume__job-seeker-name d-block"
										:to="{name: obj.jobSeekerHref}"
										@click.stop.native="">
										<div>{{ obj.jobSeekerName }}</div>
									</router-link>
								</div>
								<div
									class="column mb-1"
									v-show="obj.hot">
										<img v-lazy="require('../assets/images/fire.svg')" alt="">
								</div>
								<div
									class="column mb-1"
									v-show="obj.pro">
									<div class="card-vacancy__tag tag tag_green">Pro</div>
								</div>
							</div>
							<ul class="card-resume__company-data list-unstyled row align-items-center">
								<li class="column mb-1">
									<div class="row row_indents_s">
										<div class="column mb-1">
											<h3 class="mb-0">{{ obj.title }}</h3>
										</div>
									</div>
								</li>
								<li class="column mb-1">
									<router-link
										class="card-resume__company-loc text-decoration_hover_underline d-flex flex-nowrap align-items-center"
										:to="{name: obj.jobSeekerLocationHref}"
										@click.stop.native="">
										<svg-icon class="flex-shrink-0" name="loc" />
										<div class="ml-1">{{ obj.jobSeekerLocationCity }}</div>
									</router-link>
								</li>
								<li class="column mb-1">
									<div class="card-resume__company-loc d-flex flex-nowrap align-items-center">
										<div>{{ obj.jobSeekerAge }}</div>
									</div>
								</li>
							</ul>
							<ul class="card-resume__company-data list-unstyled mb-3">
								<li
									class="mb-1"
									v-for="(itemAbout, idx) in obj.jobSeekerAbout"
									:key="idx">
									<div class="card-resume__company-loc d-flex flex-nowrap align-items-center">{{ itemAbout.txt }}</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="card-resume__foot mt-auto">
						<div class="row justify-content-between">
							<div class="column color-gray">{{ obj.postDate }}</div>
							<div class="column">
								<router-link
									class="color-blue-dark"
									:to="{name: obj.vacancyHref}"
									@click.stop.native="">{{ obj.vacancyHrefDescr }}</router-link>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import svgIcon from '../components/SvgIcon.vue'
	export default {

		name: 'Resume-feedback',
		props: {
			obj: {
				type: Object
			}
		},
		data () {
			return {

			}
		},
		methods: {
			checkRouteAndGoToPage (href) {
				if ( !(this.$route.name == href) ) {
					this.$router.push({name: href})
				}
			}
		},
		components: {
			svgIcon
		}
	}
</script>

<style lang="scss" scoped>
	
	.card-resume {
		// position: relative;
		font-size: 15px;
		line-height: 140%;
		color: #686E7D;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 5px;
			color: #383B49;
		}
	}
	.card-resume__company-data {
		// margin-bottom: 5px;
		li {
			position: relative;
			&:last-child {
				&:after {
					display: none;
				}
			}
			&:after {
				content: '·';

				position: absolute;
				top: 0;
				left: 100%;
				margin-left: -2px;
				margin-top: -1px;
				transform: transform(0, -50%);

				font-size: 18px;
				color: #BFBFBF;
			}
		}
		a {
			// text-decoration: none !important;
		}
	}
	.card-resume__company {
		font-size: 18px;
		text-decoration-line: underline;
		color: #BFBFBF;
		&:hover {
			text-decoration: none;
		}
	}
	.card-resume__company-loc {
		font-size: 17px;
		line-height: 140%;
		color: #686E7D;
		.svg-icon {
			color: #BFBFBF;
			font-size: 14px;
		}
		&:hover {

		}
	}
	.card-resume__price {
		font-weight: bold;
		font-size: 18px;
		line-height: 23px;
		color: #7D7AFF;
	}
	.card-resume__foot {
		padding-top: 10px;
		border-top: 1px solid #E9E9E9;
	}
	.card-resume__tag {
		background: #71A862;
		color: #fff;
	}
	.card-resume_large {
		padding: 0 !important;
		box-shadow: none;
	}


	.card-resume__job-seeker-name {
		font-weight: 500;
		font-size: 18px;
		line-height: 23px;
		color: #7D7AFF;
		text-decoration: underline;
		&:hover {
			text-decoration: none !important;
		}
	}

	.card-resume__delete {
		margin-bottom: 10px;
		@media only screen and (min-width: 576px) {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	.card-resume-large {
		position: relative;
	}
	.card-resume-large__company-img-wrap {
		display: inline-block;
		box-shadow: 0px 1px 2px rgba(61, 58, 194, 0.12);
		border-radius: 3px;
		font-size: 0;
		@media only screen and (max-width: 450px) {
			display: block;
		}
	}
	.card-resume-large__company-img {
		// margin-bottom: 10px;
		object-fit: cover;
		@media only screen and (max-width: 450px) {
			width: 100% !important;
			height: auto !important;
		}
		
	}
	.card-resume-large__company-title {

	}

</style>