<template>
	<div class="subcategory-link-wrap" v-if="!linkProp.hideLink">
		<router-link
			v-if="itsLink"
			class="subcategory-link d-inline-block"
			:to="{name: linkProp.linkHref}"
			@mouseover.native="emitMouseover"
			@mouseout.native="emitMouseout"
			tag="span">
			<a class="subcategory-link__link d-inline-block">
				{{ linkProp.linkName }}
				<span class="subcategory-link__label d-inline-block align-middle ml-1">{{ linkProp.linkQuantity }}</span>
			</a>
		</router-link>
		<div
			v-else
			class="subcategory-link d-inline-block"
			tag="span">
			<span class="subcategory-link__link d-inline-block color-dark-main">
				{{ linkProp.linkName }}
				<span class="d-inline-block align-middle">
					<span v-show="linkProp.linkQuantity" class="subcategory-link__label ml-1">{{ linkProp.linkQuantity }}</span>
				</span>
			</span>
		</div>
	</div>
</template>

<script>
	export default {

		name: 'Subcategory-link',
		props: {
			linkProp: Object,
			itsLink: {type: Boolean, default: true},
			hideLink: {type: Boolean, default: false},
		},
		data () {
			return {

			}
		},
		methods: {
			emitMouseover (e) {
				this.$emit('linkWithMapConnectionOnHover', e)
			},
			emitMouseout (e) {
				this.$emit('linkWithMapConnectionOnHoverOut', e)
			}
		},
		mounted () {

		}
	}
</script>

<style lang="scss" scoped>
	.subcategory-link-wrap {
		&:not(.subcategory-link-wrap_one-list) {
			position: relative;
			top: -2px;
			padding-left: 5px;
		}
		&_checkbox {
			.subcategory-link {
				padding-left: 0;
				margin-bottom: 0;
				&:before {
					display: none;
				}
			}
		}
		&_style_link {
			.subcategory-link {
				padding-left: 0;
				&:before {
					display: none;
				}
			}
			.subcategory-link__link {
				color: #7D7AFF !important;
			}
		}
	}
	.subcategory-link {
		position: relative;
		margin-bottom: 5px;
		padding-left: 20px;
		&:before {
			content: '—';
			display: inline-block;
			color: #BFBFBF;

			position: absolute;
			top: 1px;
			left: 0;
		}
	}
	.subcategory-link__link {
		font-size: 17px;
		color: #7D7AFF;
		&:hover {
			color: #7D7AFF;
		}
	}
	.subcategory-link__label {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;

		// height: 22px;
		padding: 4px;
		border: 1px solid #BFBFBF;
		border-radius: 4px;

		font-size: 12px;
		line-height: 1;

		color: #BFBFBF;
	}
</style>