<template>
	<div class="subscribe-wrap wrap wrap-border-gray pt-4 pb-4 pl-4 pr-4 pl-lg-5 pr-lg-5 mb-4">
		<slot></slot>
	</div>
</template>

<script>
	export default {

		name: 'Subscribe-wrap',

		data () {
			return {

			}
		}
	}
</script>

<style lang="scss" scoped>
	.subscribe-wrap {
		ul {
			margin-bottom: 15px;
			li {
				font-size: 17px;
				line-height: 1.4;
				color: #7D7AFF;
				margin-bottom: 5px;
				&:after {
					content: '·';
					display: inline-block;
					margin-left: 4px;
					margin-right: 4px;
				}
				&:last-child {
					&:after {
						display: none;
					}
				}
				a {
					color: inherit;
				}
			}
		}
	}
</style>