<template>
	<svg :class="className" xmlns="http://www.w3.org/2000/svg">
		<title v-if="title">{{ title }}</title>
		<use :xlink:href="iconPath" xmlns:xlink="http://www.w3.org/1999/xlink"/>
	</svg>
</template>

<script>
	export default {
		name: 'SvgIcon',

		props: {
			name: {
				type: String,
				required: true
			},

			title: {
				type: String,
				default: null
			},

			icon: {
				type: String,
				default: null
			}
		},

		computed: {
			iconPath() {
				let icon = require(`@/assets/icons/${this.name}.svg`);
				if (Object.prototype.hasOwnProperty.call(icon, 'default')) {
					icon = icon.default;
				}

				return icon.url;
			},

			className() {
				return 'svg-icon svg-icon_' + this.name;
			}
		}
	};
</script>

<style lang="scss">
	.svg-icon {
		display: inline-block;
		width: 1em;
		height: 1em;
		fill: currentColor;
		&_reverse {
			transform: rotate(180deg);
		}
		&_reverse_45 {
			transform: rotate(45deg);
		}
		&_reverse_90 {
			transform: rotate(90deg);
		}
		&_reverse_90_negative {
			transform: rotate(-90deg);
		}
	}
</style>
