<template>
	<div
		class="tooltip-box"
		@mouseover="toggle = true"
		@mouseleave="toggle = false">
		<a
			class="tooltip-box__toggle"
			href="#"
			@click.prevent>
			<slot name="tooltipToggle"></slot>
		</a>
		<div
			class="tooltip-box__content"
			:class="{'show': toggle}">
			<div class="tooltip-box__content-in">
				<div class="tooltip-box__relative">
					<slot name="tooltipContent"></slot>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {

		name: 'Tooltip',

		data () {
			return {
				toggle: false
			}
		}
	}
</script>

<style lang="scss" scoped>
	.tooltip-box {
		position: relative;
	}
	.tooltip-box__toggle {

	}
	.tooltip-box__content {
		position: absolute;
		bottom: 100%;
		left: 50%;
		transform: translate(-50%, 0);
		padding-bottom: 10px;
		min-width: 250px;

		font-size: 12px;
		line-height: 16px;
		color: #383B49;

		opacity: 0;
		visibility: hidden;
		&.show {
			opacity: 1;
			visibility: visible;
		}
	}
	.tooltip-box__content-in {
		position: relative;
		// background: #fff;
		// border-radius: 5px;

		// box-shadow: 0px 1px 2px rgba(61, 58, 194, 0.12);
		box-shadow: 0px 1px 2px rgba(61, 58, 194, 0.12);

		&:after {
			content: '';

			width: 10px;
			height: 10px;

			position: absolute;
			top: 100%;
			left: 50%;
			z-index: 1;
			transform: translate(-50%, 0) rotate(45deg);
			margin-top: -5px;

			background-color: rgba(61, 58, 194, 0.12);
		}
		&:before {
			content: '';

			width: 9px;
			height: 9px;

			position: absolute;
			top: 100%;
			left: 50%;
			z-index: 2;
			transform: translate(-50%, 0) rotate(45deg);
			margin-top: -5px;

			background-color: #fff;
		}
	}
	.tooltip-box__relative {
		position: relative;
		z-index: 3;
		background: #fff;
		border-radius: 5px;
	}
</style>