<template>
	<div class="carousel">
		<hooper
			ref="carousel"
			:trimWhiteSpace="true"
			:settings="hooperSettings">
			<slide
				v-for="(slide, slideKey) in obj"
				:key="slideKey">
					<card-vacancy-small class="carousel__card-vacancy" :obj="slide" />
			</slide>
			<hooper-navigation class="carousel__nav" slot="hooper-addons">
			</hooper-navigation>
		</hooper>
		<!-- <div class="carousel__nav">
			<button class="carousel-nav__btn-nav carousel-nav__btn-nav_prev button-clr" @click.prevent="slidePrev">«</button>
			<button class="carousel-nav__btn-nav carousel-nav__btn-nav_next button-clr" @click.prevent="slideNext">»</button>
		</div> -->
	</div>
</template>

<script>
	import {
		Hooper,
		Slide,
		Navigation as HooperNavigation
	} from 'hooper';
	import cardVacancySmall from '../components/Card-vacancy-small.vue'
	import '../../node_modules/hooper/dist/hooper.css';
	import '../assets/styles/common/_carousel.scss'
	export default {

		name: 'Vacancy-carousel',
		props: ['obj'],
		data () {
			return {
				hooperSettings: {
					breakpoints: {
						0: {
							itemsToShow: 1
						},
						640: {
							itemsToShow: 1.5
						},
						840: {
							itemsToShow: 2
						},
						992: {
							itemsToShow: 2.5
						},
					}
				}
			}
		},
		methods: {
		},
		components: {
			Hooper,
			Slide,
			HooperNavigation,
			cardVacancySmall
		}
	}
</script>

<style lang="scss">
</style>