.accordion {
	&_style_two {
		.accordion-toggle {
			&.active {
				color: #7D7AFF;
				.accordion-toggle-btn {
					transform: rotate(180deg);
				}
			}
		}
		.accordion-collapse-content {
			transition: none !important;
			transition: max-height 0.2s ease-out !important;
			&.show {
				overflow: hidden !important;
			}
		}
	}
}
.accordion-toggle {
	cursor: pointer;
}
.accordion-collapse-content {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
	transition: max-height 0.2s ease-out;
	&.show {
		overflow: visible;
		visibility: visible;
		opacity: 1;
		transition: opacity .05s linear .1s,
					visibility .05s linear .1s;
	}
}