.button-clr {
	padding: 0;
	background-color: transparent;
	border: none;
	&:focus {
		outline: none;
	}
}

.button {
	display: inline-block;
	padding: 10px 15px;

	font-size: 15px;
	line-height: 1;
	font-weight: 600;
	text-align: center;
	text-decoration: none !important;
	color: #fff !important;
	border-radius: 4px;
	transition: linear .1s;
	&:hover, &:focus {
		outline: none;
	}
	&_enter {
		padding: 10px 16px 9px;
		border: 1px solid #fff;

		&:hover, &:focus {
			box-shadow: 0px 12px 10px rgba(255, 255, 255, 0.13);
		}
	}
	&_blue {
		padding: 14px 15px 13px;
		font-weight: 600;
		font-size: 15px;
		line-height: 1;

		background: #7D7AFF;
		box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.07);
		border-radius: 4px;
		&:hover {
			box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
		}
		&:focus {
			box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
		}
	}
	&_gray {
		padding: 16px 15px 14px;
		font-size: 12px;
		font-weight: 400;
		line-height: 1;
		color: #1D3B95 !important;

		background: linear-gradient(180deg, #FFFFFF 0%, #F7F7F7 52.6%, #FFFFFF 100%);
		border-radius: 2px;
		&:hover {
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		}
	}
	&_red {
		padding: 14px 15px 13px;
		font-weight: 600;
		font-size: 15px;
		line-height: 1;
		color: #fff;

		background: #D76060;
		box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.07);
		border-radius: 4px;
		&:hover {
			box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
		}
	}
	&_red_light {
		padding: 8px 15px 7px;
		font-size: 15px;
		line-height: 1;
		color: #D76060 !important;
		font-weight: 400 !important;

		background: rgba(215, 96, 96, 0.1);
		border-radius: 4px;
		&:hover {
			box-shadow: 0px 2px 4px rgba(#D76060, .3);
		}
	}
	&_green {
		padding: 14px 15px 13px;
		font-weight: 600;
		font-size: 15px;
		line-height: 1;
		color: #fff;

		background: #71A862;
		box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.07);
		border-radius: 4px;
		&:hover {
			box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
		}
	}
	&_gray_dark {
		padding: 14px 15px 13px;
		font-weight: 600;
		font-size: 15px;
		line-height: 1;
		color: #969FA9 !important;

		background: #E9E9E9;
		border-color: #F5F5F5;
		box-shadow: none;
		border-radius: 4px;
		&:hover, &:focus {
			box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.15);
		}
	}
	&_transparent-blue {
		padding: 13px 14px 12px;
		background-color: transparent;
		border: 1px solid #7D7AFF;
		color: #7D7AFF !important;
		&:hover {
			// color: #fff !important;
			background-color: transparent;
			border-color: #514FE0;
			color: #514FE0 !important;
			box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
		}
	}
	&_transparent_blue_light {
		padding: 14px 15px 13px;
		font-weight: 400;
		font-size: 12px;
		line-height: 1;
		color: #7D7AFF !important;

		background: none;
		border: 1px solid #7D7AFF;
		box-shadow: none;
		border-radius: 2px;
		&:hover {
			background-color: #7D7AFF;
			color: #fff !important;
		}
	}
	&_transparent_red_light {
		padding: 14px 15px 13px;
		font-weight: 400;
		font-size: 12px;
		line-height: 1;
		color: #D76060 !important;

		background: none;
		border: 1px solid #D76060;
		box-shadow: none;
		border-radius: 2px;
		&:hover {
			background: #D76060;
			color: #fff !important;
		}
	}
	&_transparent-blue_dark {
		border-color: #1D3B95;
		color: #1D3B95 !important;
		&:hover {
			color: #1D3B95 !important;
		}
	}
	&_transparent-gray {
		padding: 13px 14px 12px;
		background-color: transparent;
		border: 1px solid #969FA9;
		color: #969FA9 !important;
		&:hover {
			// color: #fff !important;
			box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.07);
			background-color: transparent;
			border-color: #969FA9;
			color: #969FA9 !important;
		}
	}
	[disabled] {

	}
}


.button-tag {
	display: inline-block;
	padding: 7px 10px;
	border: 1px solid #969FA9;
	border-radius: 3px;

	line-height: 1;
	font-size: 15px;
	color: #7D7AFF;
}
.button-tag__close {
	display: inline-block;
	width: 10px;
	height: 10px;
	position: relative;
	top: 1px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-size: 6px;
	color: #fff;

	background: #969FA9;
	border-radius: 2px;
}

.button-close-gray {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: 30px;
	height: 30px;

	font-size: 12px;
	color: #969FA9;

	background-color: rgba(#E9E9E9, .3);
	border-radius: 50%;
	&:hover {
		color: #7D7AFF;
	}
	&_border {
		border: 1px solid #969FA9;
	}
}


.button-gradient {
	padding-top: 16px;
	padding-bottom: 15px;

	font-size: 15px;
	line-height: 1;
	color: #1D3B95 !important;
	font-weight: 400;

	background: linear-gradient(180deg, #FFFFFF 0%, #F7F7F7 52.6%, #FFFFFF 100%);
	border-radius: 6px;
}

.button-gradient-wrap {
	position: relative;
	&:before {
		content: '';

		position: absolute;
		top: 50%;
		right: 100%;
		left: -99999px;

		border-bottom: 1px solid #E9E9E9;
	}
	&:after {
		content: '';

		position: absolute;
		top: 50%;
		right: -99999px;
		left: 100%;

		border-bottom: 1px solid #E9E9E9;
	}
}

.button-regular-padding {
	padding-top: 14px;
	padding-bottom: 13px;
}