.carousel {
	position: relative;
	.hooper {
		height: auto;
		padding-bottom: 60px;
		&:focus {
			outline: none;
		}
	}
	.hooper-list {
		// position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 60px;
			right: 0;
			width: 30%;

			background: linear-gradient(88.92deg, rgba(255, 255, 255, 0) 30%, #FFFFFF 100.67%);

		}
	}
	.hooper-slide {
		// margin-right: 100px;
	}
	.carousel__card-vacancy {
		border-top-color: transparent;
		display: inline-block !important;
		&:hover {
			border-color: transparent;
			border-bottom-color: #7D7AFF;
		}
	}
}
.carousel__nav {
	text-align: center;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	margin-top: -15px;
	.hooper-next, .hooper-prev {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 25px;
		height: 25px;
		margin-left: 8px;
		margin-right: 8px;

		font-size: 12px;
		line-height: 1;
		color: #1D3B95;

		border-radius: 2px;
		background: linear-gradient(180deg, #FFFFFF 0%, #F7F7F7 52.6%, #FFFFFF 100%);
		cursor: pointer;
		svg {
			display: none;
		}
		&:before {
			content: '';

		}
		&:focus {
			outline: none;
		}
		&.is-disabled {
			background: linear-gradient(180deg, #F7F7F7 52.6%, #FFFFFF 100%);
			opacity: 1;
			color: #969FA9;
		}
	}
	.hooper-prev {
		left: auto;
		right: 50%;
		&:before {
			content: '«';
		}
	}
	.hooper-next {
		right: auto;
		left: 50%;
		&:before {
			content: '»';
		}
	}
}

.carousel-hooper {
	.hooper-list {
		&:after {
			display: none;
		}
	}
}