.circle-price {
	display: inline-flex;
	flex-direction: column;
}
.circle-price__in {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	min-height: 90px;
	padding-left: 20px;
	padding-right: 20px;

	background-color: rgba(#7D7AFF, .1);
	border-radius: 50%;
}