h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 10px;
}
h1, .text-h1 {
	font-weight: bold;
	font-size: 30px;
	line-height: 39px;
	@media only screen and (max-width: 991px) {
		font-size: 25px;
		line-height: 34px;
	}
}
h2, .text-h2 {
	font-weight: 500;
	font-size: 25px;
	line-height: 32px;
	@media only screen and (max-width: 991px) {
		font-size: 22px;
		line-height: 24px;
	}
}
h3, .text-h3 {
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
	@media only screen and (max-width: 991px) {
		font-size: 16px;
		line-height: 20px;
	}
}
h4, .text-h4 {
	font-weight: normal;
	font-size: 17px;
	line-height: 140%;
}
h5, .text-h5 {
	font-weight: normal;
	font-size: 15px;
	line-height: 19px;
}
h6, .text-h6 {
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
}


.font-size-8 {
	font-size: 8px !important;
}
.font-size-10 {
	font-size: 10px !important;
}
.font-size-14 {
	font-size: 14px !important;
}
.font-size-12 {
	font-size: 12px !important;
}
.font-size-15 {
	font-size: 15px !important;
}
.font-size-20 {
	font-size: 20px !important;
}

.line-height-1 {
	line-height: 1 !important;
}

.color-gray {
	color: #BFBFBF !important;
}
.color-gray-light {
	color: #E9E9E9 !important;
}
.color-gray-dark {
	color: #686E7D !important;
}
.color-gray-fill {
	color: #969FA9 !important;
}
.color-blue {
	color: #7D7AFF !important;
}
.color-red {
	color: #D76060 !important;
}
.color-blue-dark {
	color: #1D3B95 !important;
}
.color-main, .color-dark-main {
	color: #383B49 !important;
}
.color-hover-blue {
	&:hover {
		color: #7D7AFF !important;
	}
}
.text-lg-white {
	@include lg() {
		color: #fff !important;
	}
}

.font-weight-medium {
	font-weight: 500 !important;
}
.font-weight-semi {
	font-weight: 600 !important;
	& > * {
		font-weight: inherit;
	}
}
.font-weight-bold {
	font-weight: 700 !important;
	& > * {
		font-weight: inherit;
	}
}


.text-transform-normal {
	text-transform: none !important;
}



.regular-title {
	border-bottom: 1px solid #E9E9E9;
	&_on_background_gray {
		border-bottom: 1px solid #d9d9d9;
	}
}
.info-card {
	font-size: 17px;
	line-height: 1.4;
}


.list-dots {
	margin-bottom: 5px;

	li {
		position: relative;
		color: #383B49;
		&:last-child {
			&:after {
				display: none;
			}
		}
		&:after {
			content: '·';

			position: absolute;
			top: 0;
			left: 100%;
			margin-left: -2px;
			margin-top: 1px;
			transform: transform(0, -50%);

			// font-size: 18px;
		}
	}
	a {
		color: #383B49 !important;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}


.content {
	ul {
		padding-left: 0;
		list-style: none;
		li {
			position: relative;
			line-height: 1.45;
			margin-bottom: 4px;
			&:before {
				content: '·';
				margin-right: 4px;
			}
		}
	}
	strong {
		font-size: 18px;
		font-weight: 500;
	}
	&_style_two {
		ul {
			li {
				color: #969FA9;
				margin-bottom: 0;
				a {
					text-decoration: underline;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}

.devider {
	border: none;
	border-bottom: 1px solid #E9E9E9;
	&_on_background_gray {
		border-bottom-color: #cdcdcd;
	}
}

.text-decoration-underline {
	text-decoration: underline !important;
	&_hover_none {
		&:hover {
			text-decoration: none !important;
		}
	}
}
.text-decoration-none {
	text-decoration: none !important;
}
.text-decoration_hover_underline {
	&:hover {
		text-decoration: underline !important;
	}
}


.line-height-1 {
	line-height: 1;
}

.text-nowrap {
	white-space: nowrap;
}

blockquote {
	position: relative;
	font-style: italic;
	text-align: center;
	padding: 40px 30px;
	&:before, &:after {
		content: '“';
		font-size: 117px;
		color: #E9E9E9;
	}
	&:before {

		position: absolute;
		top: 50px;
		left: -10px;
	}
	&:after {
		position: absolute;
		bottom: 15px;
		right: -10px;
	}
}

figure {
	padding: 25px 0;
	margin: 15px 0;

	font-size: 15px;
	color: #969FA9;
	text-align: center;
	figcaption {
		margin-top: 15px;
	}
}

.news-content {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		counter-reset: li;
	}
	li {
		position: relative;
		padding-left: 40px;
		margin-bottom: 24px;
		&:before {
			counter-increment: li;
			content: '' counter(li);

			position: absolute;
			top: 0;
			left: 16px;
			
			font-size: 18px;
			font-weight: 500;
			color: #7D7AFF;
		}
		&:after {
			content: '';

			position: absolute;
			top: -6px;
			left: 0;
			width: 15px;
			height: 15px;

			background-color: rgba(#7D7AFF, .3);
		}
	}
}