.footer {
	border-top: 1px solid rgba(#1D3B95, .3);
	padding: 25px 0;
	background-image: url('../images/footer-bg.jpg');
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}