.form-group {
	&__btn-change-type {
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translate(0, -50%);
	}
	&_error {
		.label {
			color: #7D7AFF;
		}
		.form-control, .multiselect__tags, .multiselect__content-wrapper {
			border: 1px solid #7D7AFF !important;
			box-shadow: 0px 1px 2px rgba(61, 58, 194, 0.12) !important;
			@include iph() {
				color: #7D7AFF;
			}
		}
		.multiselect__select:before {
			border-color: #7D7AFF transparent;
		}
		.form-control {
			& + .form-group__btn-change-type {
				color: #7D7AFF;
			}
		}
		.multiselect__content-wrapper {
			border-top-color: transparent !important;
		}
		.multiselect__placeholder {
			color: #7D7AFF;
		}
		.multiselect__input {
			@include iph() {
				color: #7D7AFF;
			}
		}
		& + .form-group__error {
			display: block;
		}
		
	}
}

.form-control {
	height: auto;
	min-height: none;
	padding: 11px 16px 10px;
	border: 1px solid #F5F5F5;


	font-size: 15px;
	line-height: 1;
	color: $document-color;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	background-color: #fff;
	resize: none;
	@include iph() {
		font-size: 15px;
		line-height: 1;
		color: #BFBFBF;
	}
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&:hover, &:focus {
		outline: none;
		border-color: #E9E9E9;
		box-shadow: 0px 1px 2px rgba(61, 58, 194, 0.12);
	}
	&[disabled] {
		background: #E9E9E9;
		border-color: #969FA9;
		box-shadow: none;
	}
	&:focus {
		& + .form-group__btn-change-type {
			color: #7D7AFF;
		}
	}
}
textarea {
	&.form-control {
		@include iph() {
			line-height: 1.3;
		}
	}
}
.form-group__error {
	position: relative;
	margin-top: -15px;
	display: none;
}
.form-group__link-wrap {
	position: relative;
	margin-top: -10px;
}
.form-group__btn-change-type {
	padding: 5px;
	color: #969FA9;
}

.sort-input-box {
	.form-control {
		@include sm() {
			min-width: 300px;
		}
	}
}

.date-selects {
	.multiselect {
		width: 120px;
	}
}