.header-search {
	position: relative;
	margin-top: -105px;
	// min-height: 63px;
	min-height: 400px;
	padding-top: 126px;
	padding-bottom: 40px;
	.form-control {
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12), inset 0px 4px 4px rgba(0, 0, 0, 0.1);
		&:focus {
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), inset 0px 4px 4px rgba(0, 0, 0, 0.1);
		}
	}
	&_small {
		min-height: auto;
	}
	&_for-inner-pages {
		@include mlg() {
			min-height: 105px;
			padding: 0;
		}
	}
}
.header-search__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	// background-image: url('../images/header-bg.jpg');
}
.header-search__example {
	color: #BFBFBF;
	a {
		position: relative;
		display: inline-block;
		color: inherit;
		text-decoration: none !important;
		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			border-bottom: 1px dashed #BFBFBF;
		}
		&:hover {
			&:after {
				display: none;
			}
		}
	}
}

.header-search__advanced-search {
	color: #fff !important;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

.header-search__close-btn {
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translate(0, -50%);
	

	display: none;
	padding: 10px;

	&:focus {
		outline: none;
	}
}

.header-search__close-btn-in {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	padding: 0;
	width: 10px;
	height: 10px;

	color: #fff;
	font-size: 6px;

	background-color: #969FA9;
	border-radius: 2px;

}

.header-search__control {
	padding-right: 30px;
}