.link {

}
.link-employer-wrap {
	@media only screen and (max-width: 991px) {
		position: absolute;
		top: -40px;
		right: 0;
	}
}
.link-employer {
	display: inline-block;
	padding-left: 20px;
	border-left: 1px solid rgba(#fff,.2);
	font-size: 15px;
	color: #fff;
	text-decoration: none !important;
	.svg-icon {
		position: relative;
		font-size: 9px;
		transition: linear .1s;
		left: 0;
	}
	&:hover {
		color: #fff;
		.svg-icon {
			left: 2px;
		}
	}
}

.sort-link {
	font-size: 15px;
	color: #7D7AFF !important;
	.svg-icon {
		font-size: 8px;
	}
}

.link-dashed {
	display: inline-block;
	// border-bottom: 1px dashed #7D7AFF;
	// text-decoration: none !important;
	// text-decoration: underline !important;
	// text-decoration-style: dashed;
}