.logo {
	position: relative;
	display: inline-block;
	@include lg() {
		&:after {
			content: '';

			position: absolute;
			top: 100%;
			left: 0;
			margin-top: 9px;

			height: 2px;
			width: 100%;
			background-image: url('../images/menu-item-active.png');
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;

			opacity: 0;
			visibility: hidden;
			transition: linear .1s;
		}
		&:hover {
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}