// .menu {

// }
// .menu-wrap {
// 	@include mlg() {
// 		position: fixed;
// 		top: 0;
// 		left: 0;
// 		width: 100%;
// 		z-index: 9999;
// 		height: 100%;

// 		padding: 30px;
// 		overflow-y: auto;

// 		background-color: $document-background;
// 		.header-nav {
// 			flex-direction: column !important;
// 			li {
// 				margin-bottom: 30px;
// 				a {
// 					font-size: 20px;
// 				}
// 			}
// 		}
// 	}
// }

// .menu-wrap__close {
// 	position: absolute;
// 	top: 30px;
// 	right: 30px;
// }