.modal-box {
	.v--modal {
		background-color: transparent;
		box-shadow: none;
	}
}
.modal-box__in {
	margin: 15px;
	border: 1px solid #F5F5F5;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0px 1px 2px rgba(61, 58, 194, 0.12);
}
.modal-box__body {

}
.modal-box__close {
	position: absolute;
	top: 5px;
	right: 10px;
	padding: 10px;

	color: #E9E9E9;
	&:hover {
		color: #000;
	}
}
.modal-box__title {

}
.modal-box__socials {

}
.modal-box__input {

}
.modal-box__foot {

}