.multiselect {
	.multiselect__option--highlight {
		background-color: #F5F5F5;
		color: #383B49;
	}
	.multiselect__option--selected.multiselect__option--highlight {
		background-color: #F5F5F5;
	}
	.multiselect__option--selected {
		background-color: transparent;
	}
	&:focus {
		.multiselect__tags {
			border-color: #E9E9E9;
			box-shadow: 0px 1px 2px rgba(61, 58, 194, 0.12);
		}
	}
	&_width_175 {
		width: 175px;
	}
	&.multiselect--active {
		.multiselect__select {
			// transform: rotate(180deg) translate(-50%, -50%);
			&:before {
				border-color: $document-color transparent;
				margin-top: 0 !important;
			}
		}
	}
	&.multiselect--disabled {
		.multiselect__tags {
			border: 1px solid rgba(40, 47, 54, 0.15);
			background: #E9E9E9;
		}
		.multiselect__select {
			background: #E9E9E9;
		}
	}
}
.multiselect__tags {
	padding-top: 11px;
	padding-bottom: 2px;
	padding-left: 16px;
	
	background: #fff;
	border: 1px solid #F5F5F5;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
}
.multiselect__placeholder {
	font-size: 15px;
	line-height: 1;
	color: #BFBFBF;
}
.multiselect__select {
	bottom: 1px;
	height: auto;
	transition: none;
	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		right: auto;
		transform: translate(-50%, -50%);
		margin-top: 2px !important;
	}
}
.multiselect__select:before {
	border-color: #969FA9 transparent;
}
.multiselect__single {
	margin-bottom: 10px;
	margin-top: 2px;
	font-size: 15px;
	line-height: 1;
	height: auto;
	min-height: auto;
	padding-left: 0;
	// margin-top: 1px;
}

.multiselect__input {
	margin-bottom: 7px;
	padding-left: 0;
	font-size: 15px;
	color: $document-color;
	@include iph() {
		font-size: 15px;
		line-height: 1;
		color: #BFBFBF;
	}
}

.multiselect__content-wrapper {
	// overflow: visible;
	overflow: visible;
}

.multiselect__element {
	border-bottom: 1px solid #F5F6FA;
	margin-right: 9px;
	&:last-child {
		border-bottom: none;
	}
}
.multiselect__option {
	white-space: normal;
	line-height: 1.4;
	color: #686E7D;
}