.news-preview {
	display: block;
	margin-bottom: 15px;
	font-size: 15px;
	line-height: 19px;
	color: #212B36 !important;

	text-decoration: none !important;
	&:last-child {
		// margin-bottom: 0;
	}
	& + .news-preview {
		padding-top: 16px;
		border-top: 1px solid #E9E9E9;
	}
	&:hover {
		.news-preview__data {
			background-color: #1D3B95;
			color: #fff;
		}
	}
}

.news-preview__data {
	padding: 5px 10px;
	border: 1px solid #1D3B95;
	border-radius: 2px;
	text-align: center;

	font-size: 16px;
	color: #1D3B95;
}