.news-preview-column {
	width: 100%;

	display: flex;
	flex-direction: column;
	@media only screen and (min-width: 575px) {
		max-width: 50%;
		flex: 0 0 50%;
		&:nth-child(5n-4) {
			max-width: 100%;
			flex: 0 0 100%;
		}
	}
	@media only screen and (min-width: 992px) {
		max-width: 33.3%;
		flex: 0 0 33.3%;
		&:nth-child(5n-4) {
			max-width: 66.6%;
			flex: 0 0 66.6%;
		}
	}
}
.news-preview-card {
	flex-grow: 1;
	display: block;
	text-decoration: none !important;
	padding: 10px;
	border: 1px solid #E9E9E9;

	color: #383B49 !important;
	h3 {
		color: #7D7AFF;
	}
	&_line {
		padding: 0;
		border: none;
		.news-preview-card__img {
			// width: 100%;
			@media only screen and (min-width: 576px) {
				width: 170px;
				height: 140px;
			}
		}
		& + .news-preview-card {
			border-top: 1px solid #e9e9e9;
			padding-top: 25px;
			margin-top: 25px;
		}
	}
}
.news-preview-card__img-wrap {
	width: 100%;
	@media only screen and (min-width: 768px) {
		width: auto;
	}
}
.news-preview-card__img {
	width: 100%;
	@media only screen and (min-width: 576px) {
		height: 170px;
	}
	@media only screen and (min-width: 768px) {
		height: 200px;
	}
	@media only screen and (min-width: 992px) {
		height: 230px;
	}
}

.news-preview-card__body {
	padding: 0 10px;
	line-height: 1.4;
}