.news-tag {
	display: inline-block;
	vertical-align: middle;
	padding: 5px 15px;
	border: 1px solid #BFBFBF;

	font-size: 12px;
	line-height: 1;
	color: #BFBFBF !important;
	text-decoration: none !important;

	border-radius: 6px;
	&:hover {
		box-shadow: 0px 12px 20px rgba(61, 58, 194, 0.08);
	}
	&_large {
		padding: 21px 30px 20px;

		font-size: 15px;
		font-weight: 600;
		@include mlg() {
			padding: 15px;
		}
	}
	&_red {
		background-color: rgba(231, 60, 60, 0.2);
		border-color: transparent;
		color: #E73C3C !important;
	}
	&_blue {
		background-color: rgba(60, 98, 231, 0.2);
		border-color: transparent;
		color: #3C62E7 !important;
	}
	&_blue_light {
		background-color: rgba(60, 190, 231, 0.2);
		border-color: transparent;
		color: #3CBEE7 !important;
	}
}