.payment-item {
	display: inline-flex;
	flex-direction: column;
	padding-top: 10px;
	padding-bottom: 10px;
	&:hover {
		.payment-item__in {
			background-color: rgba(#969FA9, .2);
			@media only screen and (min-width: 1200px) {
				border-left-color: transparent !important;
			}
		}
		& + .payment-item {
			@media only screen and (min-width: 1200px) {
				.payment-item__in {
					border-left-color: transparent !important;
				}
			}
		}
	}
	& + .payment-item {
		@media only screen and (min-width: 1200px) {
			position: relative;
			margin-left: -2px;
			.payment-item__in {
				border-left: 1px solid #E9E9E9;
			}
		}
	}
}
.payment-item__in {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	min-height: 51px;
	padding-left: 30px;
	padding-right: 30px;

	border-radius: 4px;
}