.personal-nav-wrap {
	position: sticky;
	top: 20px;
	left: 0;
}
.personal-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	border-radius: 5px;
	li {
		display: flex;
		flex-direction: column;
		& + li {
			border-top: 1px solid #F5F5F5;
		}
		&.router-link-exact-active, &.router-link-active {
			a {
				font-size: 17px;
				color: #1D3B95;
				font-weight: 700;
				background-color: rgba(125, 122, 255, 0.3);
				&:before {
					opacity: 1;
					visibility: visible;
				}
				@media only screen and (max-width: 991px) {
					font-size: 15px;
				}
			}
		}
	}
	a {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		min-height: 61px;
		padding: 20px;

		font-size: 15px;
		line-height: 1;
		color: #383B49;
		text-decoration: none;

		transition: linear .1s;
		@media only screen and (max-width: 991px) {
			padding: 15px;
			min-height: 51px;
		}
		&:before {
			content: '';

			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);

			border-left: 1px solid #7D7AFF;
			height: 37px;

			opacity: 0;
			visibility: hidden;
			transition: linear .1s;
		}
		&:hover {
			background-color: rgba(125, 122, 255, 0.3);
			color: #1D3B95;
		}
		&.active {
			font-size: 17px;
			color: #1D3B95;
			font-weight: 700;
			background-color: rgba(125, 122, 255, 0.3);
			&:before {
				opacity: 1;
				visibility: visible;
			}
			@media only screen and (max-width: 991px) {
				font-size: 15px;
			}
		}
	}
	&:hover {
		li {
			&.router-link-exact-active {
				a {
					background-color: transparent;
					// font-size: 15px;
					// font-weight: 400;
					color: #383B49;
					&:hover {
						color: #1D3B95;
						background-color: rgba(125, 122, 255, 0.3);
					}
				}
			}
		}
	}
}


.personal-nav-button {
	@media only screen and (min-width: 992px) {
		display: none;
	}
	display: inline-block;
	padding: 10px 15px;
	border: 1px solid rgba(40, 47, 54, 0.15);

	background: #FFFFFF;
	border-radius: 5px;
	cursor: pointer;
	transition: linear .1s;
	.svg-icon {
		position: relative;
		font-size: 10px;
		margin-left: 10px;
		color: #C4C4C4;
	}
	&:hover {
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
	}
	&.active {
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
		.svg-icon {
			top: -1px;
			color: #383B49;
			transform: rotate(180deg);
		}
	}
}

.personal-nav-wrap {
	// overflow: hidden;
	@media only screen and (max-width: 991px) {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 999;
		margin-top: 10px;
		min-width: 210px;

		opacity: 0;
		visibility: hidden;
		box-shadow: 0px 12px 20px rgba(61, 58, 194, 0.08) !important;

		transition: linear .1s;
		&:before {
			content: '';
			position: absolute;
			bottom: 100%;
			left: 15px;

			border-bottom: 7px solid #fff;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
		}
		&.opened {
			opacity: 1;
			visibility: visible;
		}
	}
}


.personal-nav-select {
	&_sticky {
		@include lg() {
			position: sticky;
			top: 20px;
		}
	}
	@media only screen and (max-width: 991px) {
		display: inline-block;
		// min-width: 100px;
	}
}