[data-simplebar] {
	position: absolute;
}
.simplebar {

}
.simplebar-track.simplebar-vertical {
	// background: #F5F5F5;
	// border: 1px solid #E9E9E9;
	border-radius: 5px;
	right: 3px;
	bottom: 2px;
	top: 2px;

	width: 6px;
}
.simplebar-scrollbar {
	&:before {
		content: '';

		background: #E9E9E9;
		// border: 1px solid #686E7D;
		border-radius: 2px;
		width: 100%;
		box-shadow: none;
	}
}