.tabs-component {
}
.tabs-component-tabs {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0 -15px;

	display: flex;
	flex-wrap: wrap;
	&:before {
		content: '';

		position: absolute;
		bottom: 0;
		left: 15px;
		right: 15px;
		z-index: 1;

		border-bottom: 1px solid #e9e9e9;
	}
}
.tabs-component-tab {
	padding-left: 15px;
	padding-right: 15px;

	display: flex;
	flex-direction: column;
	// margin-bottom: -2px;
	&.is-active {
		.tabs-component-tab-a {
			border-bottom-color: #7D7AFF;
			color: #7D7AFF;
			font-weight: 600;
		}
	}
}
.tabs-component-tab-a {
	position: relative;
	z-index: 2;

	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	flex-grow: 1;

	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid transparent;

	font-size: 15px;
	line-height: 1;
	color: #383B49;
	text-decoration: none !important;
}
.tabs-component-panels {

}
.tabs-component-panel {

}

.tabs-component-suffix {
	display: inline-block;
	vertical-align: middle;
	padding: 3px 6px;
	margin-left: 13px;

	font-size: 12px;
	line-height: 1;
	color: #1D3B95;

	background: rgba(125, 122, 255, 0.3);
	border-radius: 5px;
}