.tabs {
	&_style-small {
		.tab {
			// text-align: center;
			@media only screen and (min-width: 768px) {
				// text-align: left;
			}
			@media only screen and (min-width: 1200px) {
				margin-right: 30px;
			}
		}
		.tabs__link {
			padding: 15px 0;
			display: inline-block;
			@media only screen and (min-width: 767px) {
				padding: 10px 0;
			}
			&:after {
				opacity: 0;
				visibility: hidden;
			}
			&.active_tab {
				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	&_style_steps {
		position: relative;
		.nav-tabs {
			border: none;
			@media only screen and (min-width: 576px) {
				justify-content: center;
			}
			@media only screen and (max-width: 767px) {
				@media only screen and (min-width: 576px) {
					position: absolute;
					top: 0;
					left: 0;

					flex-direction: column;
				}
			}
		}
		.tabs__link {
			display: inline-flex;
			align-items: center;
			justify-content: center;

			width: 64px;
			height: 64px;
			padding: 0;

			background: rgba(#1D3B95, .05);
			border-radius: 50%;

			font-size: 36px;
			line-height: 1;
			color: #1D3B95 !important;

			opacity: .3;
			@media only screen and (max-width: 767px) {
				width: 40px;
				height: 40px;

				font-size: 20px;
			}
			@media only screen and (max-width: 576px) {
				display: none;
			}
			&:after {
				// display: none;
				top: 50%;
				left: 100%;
				margin-left: 20px;
				@media only screen and (max-width: 767px) {
					display: none;
				}
			}
			&.active_tab {
				opacity: 1;
				@media only screen and (max-width: 575px) {
					display: inline-flex;
				}
			}
		}
		.tab {
			margin-right: 0 !important;
			padding-left: 45px;
			padding-right: 45px;
			&:last-child {
				.tabs__link {
					&:after {
						display: none;
					}
				}
			}
			@media only screen and (max-width: 767px) {
				margin-bottom: 20px;
				padding: 0;
				display: inline-block;
				width: auto;
			}
		}
		.tab-content {
			@media only screen and (max-width: 767px) {
				@media only screen and (min-width: 576px) {
					padding-left: 60px;
				}
			}
		}
	}
}
.nav-tabs {
	border-bottom: 1px solid #E9E9E9;

}
.tab {
	width: 100%;
	@media only screen and (min-width: 768px) {
		margin-right: 30px;
		width: auto;
	}
	@media only screen and (min-width: 1200px) {
		margin-right: 70px;
	}
}
.tabs__link {
	position: relative;
	display: block;
	padding: 30px 20px;
	font-weight: 500;

	font-size: 18px;
	line-height: 1;
	text-decoration: none !important;
	color: #383B49 !important;
	text-align: center;
	&.active_tab  {
		&:after {
			border-bottom-color: #7D7AFF;
		}
	}
	&:after {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		border-bottom: 1px solid #686E7D;
	}
}