.table {
	min-width: 759px;
	&_min_width_450 {
		min-width: 450px;
	}
	td, th {
		padding: 20px;
		vertical-align: middle;
	}
	th {
		border-top-color: transparent !important;
		border-bottom-color: transparent !important;
		font-size: 18px;
		font-weight: 500;
	}
	tr {
	}
	td {
		padding: 20px;
		border-top-color: transparent;
		border-bottom: 1px solid #E9E9E9;
	}
	&_side-paddings_none {
		th, td {
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
	}
}

.table-tag {
	display: inline-block;
	padding: 7px 12px 6px;

	font-size: 15px;
	line-height: 1;
	font-weight: 600;
	color: #7D7AFF;


	background: rgba(125, 122, 255, 0.3);
	border-radius: 5px;
}

.table-label {
	display: inline-block;
	vertical-align: middle;
	padding: 3px;
	font-size: 8px;
	line-height: 1;
	color: #fff;

	background-color: #D76060;
	border-radius: 4px;
}
.table-del {
	position: relative;
	display: inline-block;
	color: #969FA9;
	&:after {
		content: '';

		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		border-bottom: 1px solid #969FA9;

		transform: rotate(-7deg);
	}
}