.tag {
	padding: 3px 10px;
	border-radius: 3px;
	font-size: 12px;
	line-height: 16px;
	color: #1D3B95;
	text-transform: uppercase;
	&_green {
		background-color: #71A862;
		color: #fff;
	}
	&_violet {
		background: rgba(125, 122, 255, 0.3);
		color: #7D7AFF;
		font-weight: 600;
	}
	&_red {
		color: #fff;
		background-color: #D76060;
	}
}