.variant-card {
}
.variant-card-label {

}
.variant-card-input {
	&:checked {
		& + .variant-card-body {
			background-color: #7D7AFF;
			color: #fff;
			.variant-card-img {
				background-color: rgba(#fff, .1);
				color: #fff;
			}
			.variant-card-check {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.variant-card-check {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(30%, -30%);

	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: 15px;
	height: 15px;

	font-size: 7px;
	color: #fff;

	background-color: #7D7AFF;
	border-radius: 50%;

	opacity: 0;
	visibility: hidden;
	// transition: linear .1s;
}
.variant-card-check-icon {

}
.variant-card-img {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: 50px;
	height: 50px;

	font-size: 30px;
	color: #7D7AFF;

	background-color: rgba(#7D7AFF, .1);
	border-radius: 50%;
}
.variant-card-body {
	position: relative;
	background: rgba(#686E7D, .1);
	border-radius: 4px;
	
	// transition: linear .1s;
}