.wrap {
	background: #fff;
	box-shadow: 0px 1px 2px rgba(61, 58, 194, 0.12);
	border-radius: 5px;
	&_gray {
		background-color: #f5f5f5;
		box-shadow: none;
	}
	&-border-gray {
		border: 1px solid #F5F5F5;
		// border-radius: 5px;
		background-color: transparent;
	}
	&-border-gray-dark {
		border: 1px solid #969FA9;
		border-radius: 4px;
		background-color: #fff;
	}
}

.wrap__border-bottom {
	border-bottom: 1px solid #E9E9E9;
}