<template>
	<div class="wrapper" id="app">
		<div class="wrapper__in">
			<!-- <div class="header-wrap">
				<Header :class="{'blue-light': checkRoute(['vacancy-category',
															'vacancy-city',
															'vacancys-by-company'])}" /> -->
			<div class="header-wrap">
				<Header :class="{'blue-light': $route.meta.simpleHeader}" />
				<!-- <div
					class="header-search"
					v-if="!checkRoute(['vacancy-category',
									'vacancy-city',
									'vacancys-by-company'])"
					:class="{'header-search_small': checkRoute(['vacancy-category-inside',
																'resume-category-inside']),
							'header-search_inside': checkRoute(['vacancy-page',
																'resume-page',
																'personal-company-card',
																'personal-vacancys-feedback',
																'personal-authenticate',
																'personal-event-log',
																'personal-mailing-list',
																'personal-settings',
																'post-resume-vacancy'])}"> -->
				<div
					class="header-search"
					v-show="!$route.meta.simpleHeader"
					:class="{'header-search_small': $route.meta.headerSeachSmall,
							'header-search_for-inner-pages': $route.meta.innerPage}">
					<div
						class="header-search__bg"
						v-show="$route.meta.headerBackgroundDark"
						:style="'background-image: url('+headerBackgroundDark+')'">&nbsp;</div>
					<div
						class="header-search__bg"
						v-show="$route.meta.headerBackgroundImgPersonal"
						:style="'background-image: url('+headerBackgroundImgPersonal+')'">&nbsp;</div>
					<div
						class="header-search__bg"
						v-show="$route.meta.headerBackgroundDefault"
						:style="'background-image: url('+headerBackgroundDefault+')'">&nbsp;</div>
					<div
						class="container-fluid position-relative">
						<div
							class="main-title-wrap"
							v-show="$route.meta.frontMainTitle">
							<div class="text-center text-white mb-5">
								<h1 class="mb-3">Поиск работы в Узбекистане</h1>
								<h4>Сейчас у нас <strong>54356</strong> актуальных вакансий.</h4>
							</div>
						</div>
						<div
							class="main-search-form"
							v-show="$route.meta.frontSearchVacancyForm">
							<div class="row row_indents_s">
								<div class="col-md-10 col-lg-8 ml-auto mr-auto">
									<div class="row row_indents_s">
										<div class="col-md mb-2">
											<div class="position-relative">
												<input class="header-search__control form-control" v-model="searchRequest" placeholder="Запрос..." type="text">
												<div class="header-search__close-btn-wrap">
													<button class="header-search__close-btn button-clr" type="buttton" :class="{'d-inline-flex': searchRequest}" @click="searchRequest = ''">
														<span class="header-search__close-btn-in">
															<svg-icon name="close" />
														</span>
													</button>
												</div>
											</div>
										</div>
										<div class="col-md-4 mb-2">
											<multiselect
												v-model="citys.value"
												:options="citys.options"
												:searchable="true"
												:close-on-select="true"
												:show-labels="false"
												:maxHeight="140"
												@close="citys.isTouched = true"
												placeholder="Выберите город" />
										</div>
										<div class="column flex-grow-1 flex-grow-md-0 mb-2">
											<button class="button button_blue button-clr w-100" type="button">Найти вакансии</button>
										</div>
									</div>
									<div class="row row_indents_s justify-content-between d-none d-md-flex">
										<div class="column">
											<div class="header-search__example">
												Например: <a href="#" @click.prevent="searchRequest = $event.currentTarget.innerText">бухгалтер</a>, <a href="#" @click.prevent="searchRequest = $event.currentTarget.innerText">программист</a>
											</div>
										</div>
										<div class="column">
											<a class="header-search__advanced-search" href="#">Расширенный поиск</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="wrapper__content">
				<router-view/>
			</div>
			<footer-section class="mt-auto" />
		</div>
	</div>
</template>
<script>
	import Header from '@/components/Header.vue'
	import svgIcon from '@/components/SvgIcon.vue'
	import footerSection from '@/components/Footer.vue'
	import Multiselect from 'vue-multiselect'
	import 'simplebar'
	import 'simplebar/dist/simplebar.css'
	import './assets/styles/common/_simplebar.scss'
	export default {
		data () {
			return {
				searchRequest: '',
				headerBackgroundDefault: require('./assets/images/header-bg.jpg'),
				headerBackgroundImgPersonal: require('./assets/images/header-bg-personal.jpg'),
				headerBackgroundDark: require('./assets/images/header-bg-employer.jpg'),
				citys: {
					value: [],
					isTouched: false,
					options: [
						'Ташкент',
						'Бухара',
						'Самарканд',
						'Коканд',
						'Хива',
						'Андижан',
					]
				}
			}
		},
		methods: {
		},
		mounted () {
			let dropdowns = document.querySelectorAll('.multiselect__content-wrapper')
			dropdowns.forEach(function(item) {
				item.setAttribute('data-simplebar', '')
			})
		},
		components: {
			Header,
			Multiselect,
			svgIcon,
			footerSection
		}
	}
</script>
<style lang="scss" scoped></style>
